SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PortletPreferences](
	[portletPreferencesId] [bigint] NOT NULL,
	[ownerId] [bigint] NULL,
	[ownerType] [int] NULL,
	[plid] [bigint] NULL,
	[portletId] [nvarchar](200) NULL,
	[preferences] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[portletPreferencesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[PortletPreferences] ([portletPreferencesId], [ownerId], [ownerType], [plid], [portletId], [preferences]) VALUES (10330, 0, 3, 10323, N'148_INSTANCE_pCfpp5FuQKNb', N'<portlet-preferences><preference><name>showAssetCount</name><value>true</value></preference><preference><name>showZeroAssetCount</name><value>false</value></preference><preference><name>classNameId</name><value>10007</value></preference><preference><name>displayStyle</name><value>cloud</value></preference><preference><name>maxAssetTags</name><value>10</value></preference></portlet-preferences>')
INSERT [dbo].[PortletPreferences] ([portletPreferencesId], [ownerId], [ownerType], [plid], [portletId], [preferences]) VALUES (10351, 0, 3, 10345, N'141_INSTANCE_XbFjxvVEnw7t', N'<portlet-preferences><preference><name>showAssetCount</name><value>true</value></preference><preference><name>classNameId</name><value>10016</value></preference></portlet-preferences>')
INSERT [dbo].[PortletPreferences] ([portletPreferencesId], [ownerId], [ownerType], [plid], [portletId], [preferences]) VALUES (10370, 0, 3, 10364, N'3', N'<portlet-preferences><preference><name>portletSetupShowBorders</name><value>false</value></preference></portlet-preferences>')
GO
