SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetEntry](
	[entryId] [bigint] NOT NULL,
	[groupId] [bigint] NULL,
	[companyId] [bigint] NULL,
	[userId] [bigint] NULL,
	[userName] [nvarchar](75) NULL,
	[createDate] [datetime] NULL,
	[modifiedDate] [datetime] NULL,
	[classNameId] [bigint] NULL,
	[classPK] [bigint] NULL,
	[classUuid] [nvarchar](75) NULL,
	[classTypeId] [bigint] NULL,
	[visible] [bit] NULL,
	[startDate] [datetime] NULL,
	[endDate] [datetime] NULL,
	[publishDate] [datetime] NULL,
	[expirationDate] [datetime] NULL,
	[mimeType] [nvarchar](75) NULL,
	[title] [nvarchar](2000) NULL,
	[description] [nvarchar](2000) NULL,
	[summary] [nvarchar](2000) NULL,
	[url] [nvarchar](2000) NULL,
	[layoutUuid] [nvarchar](75) NULL,
	[height] [int] NULL,
	[width] [int] NULL,
	[priority] [float] NULL,
	[viewCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[entryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
