SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MBMessage](
	[uuid_] [nvarchar](75) NULL,
	[messageId] [bigint] NOT NULL,
	[groupId] [bigint] NULL,
	[companyId] [bigint] NULL,
	[userId] [bigint] NULL,
	[userName] [nvarchar](75) NULL,
	[createDate] [datetime] NULL,
	[modifiedDate] [datetime] NULL,
	[classNameId] [bigint] NULL,
	[classPK] [bigint] NULL,
	[categoryId] [bigint] NULL,
	[threadId] [bigint] NULL,
	[rootMessageId] [bigint] NULL,
	[parentMessageId] [bigint] NULL,
	[subject] [nvarchar](75) NULL,
	[body] [nvarchar](max) NULL,
	[format] [nvarchar](75) NULL,
	[anonymous] [bit] NULL,
	[priority] [float] NULL,
	[allowPingbacks] [bit] NULL,
	[answer] [bit] NULL,
	[status] [int] NULL,
	[statusByUserId] [bigint] NULL,
	[statusByUserName] [nvarchar](75) NULL,
	[statusDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[messageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
