SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MBDiscussion](
	[uuid_] [nvarchar](75) NULL,
	[discussionId] [bigint] NOT NULL,
	[groupId] [bigint] NULL,
	[companyId] [bigint] NULL,
	[userId] [bigint] NULL,
	[userName] [nvarchar](75) NULL,
	[createDate] [datetime] NULL,
	[modifiedDate] [datetime] NULL,
	[classNameId] [bigint] NULL,
	[classPK] [bigint] NULL,
	[threadId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[discussionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[MBDiscussion] ([uuid_], [discussionId], [groupId], [companyId], [userId], [userName], [createDate], [modifiedDate], [classNameId], [classPK], [threadId]) VALUES (N'ccf4b9ab-3997-4b0c-8950-a58ff0e9e41a', 10183, 0, 0, 10161, N'', CAST(N'2017-05-12 00:54:30.420' AS DateTime), CAST(N'2017-05-12 00:54:30.420' AS DateTime), 10002, 10178, 10181)
INSERT [dbo].[MBDiscussion] ([uuid_], [discussionId], [groupId], [companyId], [userId], [userName], [createDate], [modifiedDate], [classNameId], [classPK], [threadId]) VALUES (N'82a2bef3-fe84-46cf-a043-fceaa91c53bf', 10192, 0, 0, 10161, N'', CAST(N'2017-05-12 00:54:30.713' AS DateTime), CAST(N'2017-05-12 00:54:30.713' AS DateTime), 10002, 10187, 10190)
INSERT [dbo].[MBDiscussion] ([uuid_], [discussionId], [groupId], [companyId], [userId], [userName], [createDate], [modifiedDate], [classNameId], [classPK], [threadId]) VALUES (N'1ef4c6ab-6020-4c9a-b2b0-79c42e54159e', 10329, 0, 0, 10161, N'', CAST(N'2017-05-12 00:54:34.183' AS DateTime), CAST(N'2017-05-12 00:54:34.183' AS DateTime), 10002, 10323, 10326)
