SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassName_](
	[classNameId] [bigint] NOT NULL,
	[value] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[classNameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ClassName_] ([classNameId], [value]) VALUES (10001, N'com.stpl.portal.model.Group')
INSERT [dbo].[ClassName_] ([classNameId], [value]) VALUES (10002, N'com.stpl.portal.model.Layout')
INSERT [dbo].[ClassName_] ([classNameId], [value]) VALUES (10003, N'com.stpl.portal.model.Organization')
GO
