SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MBThread](
	[uuid_] [nvarchar](75) NULL,
	[threadId] [bigint] NOT NULL,
	[groupId] [bigint] NULL,
	[companyId] [bigint] NULL,
	[userId] [bigint] NULL,
	[userName] [nvarchar](75) NULL,
	[createDate] [datetime] NULL,
	[modifiedDate] [datetime] NULL,
	[categoryId] [bigint] NULL,
	[rootMessageId] [bigint] NULL,
	[rootMessageUserId] [bigint] NULL,
	[messageCount] [int] NULL,
	[viewCount] [int] NULL,
	[lastPostByUserId] [bigint] NULL,
	[lastPostDate] [datetime] NULL,
	[priority] [float] NULL,
	[question] [bit] NULL,
	[status] [int] NULL,
	[statusByUserId] [bigint] NULL,
	[statusByUserName] [nvarchar](75) NULL,
	[statusDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[threadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
