SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[regionId] [bigint] NOT NULL,
	[countryId] [bigint] NULL,
	[regionCode] [nvarchar](75) NULL,
	[name] [nvarchar](75) NULL,
	[active_] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[regionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Region] ([regionId], [countryId], [regionCode], [name], [active_]) VALUES (1001, 1, N'AB', N'Alberta', 1)
INSERT [dbo].[Region] ([regionId], [countryId], [regionCode], [name], [active_]) VALUES (1002, 1, N'BC', N'British Columbia', 1)
INSERT [dbo].[Region] ([regionId], [countryId], [regionCode], [name], [active_]) VALUES (1003, 1, N'MB', N'Manitoba', 1)
GO
