SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[countryId] [bigint] NOT NULL,
	[name] [nvarchar](75) NULL,
	[a2] [nvarchar](75) NULL,
	[a3] [nvarchar](75) NULL,
	[number_] [nvarchar](75) NULL,
	[idd_] [nvarchar](75) NULL,
	[zipRequired] [bit] NULL,
	[active_] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[countryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Country] ([countryId], [name], [a2], [a3], [number_], [idd_], [zipRequired], [active_]) VALUES (1, N'canada', N'CA', N'CAN', N'124', N'001', 1, 1)
INSERT [dbo].[Country] ([countryId], [name], [a2], [a3], [number_], [idd_], [zipRequired], [active_]) VALUES (2, N'china', N'CN', N'CHN', N'156', N'086', 1, 1)
INSERT [dbo].[Country] ([countryId], [name], [a2], [a3], [number_], [idd_], [zipRequired], [active_]) VALUES (3, N'france', N'FR', N'FRA', N'250', N'033', 1, 1)
GO
