SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEM_MASTER](
	[ItemSystemId] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [nvarchar](75) NULL,
	[ItemNo] [nvarchar](75) NULL,
	[ItemCode] [nvarchar](75) NULL,
	[ItemName] [nvarchar](75) NULL,
	[ItemDesc] [nvarchar](75) NULL,
	[PackageSize] [int] NULL,
	[PackageSizeIntroDate] [datetime] NULL,
	[Upps] [nvarchar](75) NULL,
	[ItemStartDate] [datetime] NULL,
	[ItemEndDate] [datetime] NULL,
	[ItemStatus] [int] NULL,
	[ManufacturerId] [int] NULL,
	[LabelerCode] [nvarchar](75) NULL,
	[OrganizationKey] [nvarchar](75) NULL,
	[AcquisitionDate] [datetime] NULL,
	[AuthorizedGeneric] [nvarchar](75) NULL,
	[AuthorizedGenericStartDate] [datetime] NULL,
	[AuthorizedGenericEndDate] [datetime] NULL,
	[Form] [int] NULL,
	[Brand] [nvarchar](75) NULL,
	[Strength] [int] NULL,
	[TherapeuticClass] [nvarchar](75) NULL,
	[FirstSaleDate] [datetime] NULL,
	[ItemTypeIndication] [nvarchar](75) NULL,
	[ItemClass] [int] NULL,
	[ItemType] [int] NULL,
	[MarketTerminationDate] [datetime] NULL,
	[NewFormulationIndicator] [nvarchar](75) NULL,
	[NewFormulation] [nvarchar](75) NULL,
	[NewFormulationStartDate] [datetime] NULL,
	[NewFormulationEndDate] [datetime] NULL,
	[PediatricExclusiveIndicator] [nvarchar](75) NULL,
	[PediatricExclusiveStartDate] [datetime] NULL,
	[PediatricExclusiveEndDate] [datetime] NULL,
	[ClottingFactorIndicator] [nvarchar](75) NULL,
	[ClottingFactorStartDate] [datetime] NULL,
	[ClottingFactorEndDate] [datetime] NULL,
	[PrimaryUom] [int] NULL,
	[SecondaryUom] [int] NULL,
	[ShelfLife] [nvarchar](75) NULL,
	[ShelfLifeType] [nvarchar](75) NULL,
	[DualPricingIndicator] [nvarchar](75) NULL,
	[ItemFamilyId] [int] NULL,
	[Udc1] [int] NULL,
	[Udc2] [int] NULL,
	[Udc3] [int] NULL,
	[Udc4] [int] NULL,
	[Udc5] [int] NULL,
	[Udc6] [int] NULL,
	[AcquiredAmp] [int] NULL,
	[AcquiredBamp] [int] NULL,
	[ObraBamp] [int] NULL,
	[Dra] [int] NULL,
	[CreatedBy] [nvarchar](75) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](75) NULL,
	[ModifiedDate] [datetime] NULL,
	[BatchId] [nvarchar](75) NULL,
	[DoesPerUnit] [nvarchar](75) NULL,
	[InBoundStatus] [nvarchar](75) NULL,
	[RecordLockStatus] [nvarchar](75) NULL,
	[DiscontinuationDate] [datetime] NULL,
	[LastLotExpirationDate] [datetime] NULL,
	[DivestitureDate] [datetime] NULL,
	[NonFedaralExpirationDate] [datetime] NULL,
	[Ndc9] [nvarchar](75) NULL,
	[Ndc8] [nvarchar](75) NULL,
	[DisplayBrand] [nvarchar](75) NULL,
	[BrandId] [nvarchar](75) NULL,
	[ItemCategory] [nvarchar](75) NULL,
	[BaselineAmp] [nvarchar](75) NULL,
	[BasecpiPeriod] [nvarchar](75) NULL,
	[Basecpi] [nvarchar](75) NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemSystemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
