SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Portlet](
	[id_] [bigint] NOT NULL,
	[companyId] [bigint] NULL,
	[portletId] [nvarchar](200) NULL,
	[roles] [nvarchar](2000) NULL,
	[active_] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Portlet] ([id_], [companyId], [portletId], [roles], [active_]) VALUES (10208, 10157, N'98', N'', 0)
INSERT [dbo].[Portlet] ([id_], [companyId], [portletId], [roles], [active_]) VALUES (10209, 10157, N'183', N'', 0)
INSERT [dbo].[Portlet] ([id_], [companyId], [portletId], [roles], [active_]) VALUES (10210, 10157, N'66', N'', 1)
