SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourcePermission](
	[resourcePermissionId] [bigint] NOT NULL,
	[companyId] [bigint] NULL,
	[name] [nvarchar](255) NULL,
	[scope] [int] NULL,
	[primKey] [nvarchar](255) NULL,
	[roleId] [bigint] NULL,
	[ownerId] [bigint] NULL,
	[actionIds] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[resourcePermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ResourcePermission] ([resourcePermissionId], [companyId], [name], [scope], [primKey], [roleId], [ownerId], [actionIds]) VALUES (1, 10157, N'2', 1, N'10157', 10168, 0, 2)
INSERT [dbo].[ResourcePermission] ([resourcePermissionId], [companyId], [name], [scope], [primKey], [roleId], [ownerId], [actionIds]) VALUES (2, 10157, N'140', 1, N'10157', 10168, 0, 2)
INSERT [dbo].[ResourcePermission] ([resourcePermissionId], [companyId], [name], [scope], [primKey], [roleId], [ownerId], [actionIds]) VALUES (3, 10157, N'158', 1, N'10157', 10168, 0, 6)
GO
