SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceAction](
	[resourceActionId] [bigint] NOT NULL,
	[name] [nvarchar](255) NULL,
	[actionId] [nvarchar](75) NULL,
	[bitwiseValue] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[resourceActionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ResourceAction] ([resourceActionId], [name], [actionId], [bitwiseValue]) VALUES (1, N'com.stpl.portal.model.UserGroup', N'ASSIGN_MEMBERS', 2)
INSERT [dbo].[ResourceAction] ([resourceActionId], [name], [actionId], [bitwiseValue]) VALUES (2, N'com.stpl.portal.model.UserGroup', N'DELETE', 4)
INSERT [dbo].[ResourceAction] ([resourceActionId], [name], [actionId], [bitwiseValue]) VALUES (3, N'com.stpl.portal.model.UserGroup', N'MANAGE_ANNOUNCEMENTS', 8)
GO
