SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BrowserTracker](
	[browserTrackerId] [bigint] NOT NULL,
	[userId] [bigint] NULL,
	[browserKey] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[browserTrackerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
