SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Layout](
	[uuid_] [nvarchar](75) NULL,
	[plid] [bigint] NOT NULL,
	[groupId] [bigint] NULL,
	[companyId] [bigint] NULL,
	[userId] [bigint] NULL,
	[userName] [nvarchar](75) NULL,
	[createDate] [datetime] NULL,
	[modifiedDate] [datetime] NULL,
	[privateLayout] [bit] NULL,
	[layoutId] [bigint] NULL,
	[parentLayoutId] [bigint] NULL,
	[name] [nvarchar](2000) NULL,
	[title] [nvarchar](2000) NULL,
	[description] [nvarchar](2000) NULL,
	[keywords] [nvarchar](2000) NULL,
	[robots] [nvarchar](2000) NULL,
	[type_] [nvarchar](75) NULL,
	[typeSettings] [nvarchar](max) NULL,
	[hidden_] [bit] NULL,
	[friendlyURL] [nvarchar](255) NULL,
	[iconImage] [bit] NULL,
	[iconImageId] [bigint] NULL,
	[themeId] [nvarchar](75) NULL,
	[colorSchemeId] [nvarchar](75) NULL,
	[wapThemeId] [nvarchar](75) NULL,
	[wapColorSchemeId] [nvarchar](75) NULL,
	[css] [nvarchar](max) NULL,
	[priority] [int] NULL,
	[layoutPrototypeUuid] [nvarchar](75) NULL,
	[layoutPrototypeLinkEnabled] [bit] NULL,
	[sourcePrototypeLayoutUuid] [nvarchar](75) NULL,
PRIMARY KEY CLUSTERED 
(
	[plid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
