SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClusterGroup](
	[clusterGroupId] [bigint] NOT NULL,
	[name] [nvarchar](75) NULL,
	[clusterNodeIds] [nvarchar](75) NULL,
	[wholeCluster] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[clusterGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
