SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group_](
	[uuid_] [nvarchar](75) NULL,
	[groupId] [bigint] NOT NULL,
	[companyId] [bigint] NULL,
	[creatorUserId] [bigint] NULL,
	[classNameId] [bigint] NULL,
	[classPK] [bigint] NULL,
	[parentGroupId] [bigint] NULL,
	[liveGroupId] [bigint] NULL,
	[treePath] [nvarchar](2000) NULL,
	[name] [nvarchar](150) NULL,
	[description] [nvarchar](2000) NULL,
	[type_] [int] NULL,
	[typeSettings] [nvarchar](max) NULL,
	[manualMembership] [bit] NULL,
	[membershipRestriction] [int] NULL,
	[friendlyURL] [nvarchar](255) NULL,
	[site] [bit] NULL,
	[remoteStagingGroupCount] [int] NULL,
	[active_] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[groupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Group_] ([uuid_], [groupId], [companyId], [creatorUserId], [classNameId], [classPK], [parentGroupId], [liveGroupId], [treePath], [name], [description], [type_], [typeSettings], [manualMembership], [membershipRestriction], [friendlyURL], [site], [remoteStagingGroupCount], [active_]) VALUES (N'915f4cfd-b134-4633-8da0-3cb371112e9a', 10175, 10157, 10161, 10001, 10175, 0, 0, N'/10175/', N'Control Panel', N'', 3, N'', 1, 0, N'/control_panel', 0, 0, 1)
INSERT [dbo].[Group_] ([uuid_], [groupId], [companyId], [creatorUserId], [classNameId], [classPK], [parentGroupId], [liveGroupId], [treePath], [name], [description], [type_], [typeSettings], [manualMembership], [membershipRestriction], [friendlyURL], [site], [remoteStagingGroupCount], [active_]) VALUES (N'3ad07ab0-2e70-4cbc-90b3-dec49fed3400', 10184, 10157, 10161, 10001, 10184, 0, 0, N'/10184/', N'Guest', N'', 1, N'mergeGuestPublicPages=false
', 1, 0, N'/guest', 1, 0, 1)
INSERT [dbo].[Group_] ([uuid_], [groupId], [companyId], [creatorUserId], [classNameId], [classPK], [parentGroupId], [liveGroupId], [treePath], [name], [description], [type_], [typeSettings], [manualMembership], [membershipRestriction], [friendlyURL], [site], [remoteStagingGroupCount], [active_]) VALUES (N'a0a94d5a-bf74-4dfd-aa9d-77bb590fd83e', 10194, 10157, 10161, 10193, 10161, 0, 0, N'/10194/', N'User Personal Site', N'', 3, N'', 1, 0, N'/personal_site', 0, 0, 1)
