IF EXISTS (SELECT 1
           FROM   INFORMATION_SCHEMA.ROUTINES
           WHERE  ROUTINE_NAME = 'UDF_APPROVED_CCP_DETAILS')
  BEGIN
      DROP FUNCTION [DBO].[UDF_APPROVED_CCP_DETAILS]
  END

GO

CREATE  FUNCTION [dbo].[UDF_APPROVED_CCP_DETAILS](@PROJECTION_MASTER_SID INT,
                                         @FORECASTING_TYPE      VARCHAR(50))
RETURNS TABLE
AS
    RETURN (
      WITH CTE
     AS (SELECT PD.PROJECTION_MASTER_SID,
                PD.CCP_DETAILS_SID,
                ROW_NUMBER()
                     OVER(
                       PARTITION BY CCP_DETAILS_SID
                       ORDER BY wm.MODIFIED_DATE DESC) AS RN,
                PD.PROJECTION_DETAILS_SID
         FROM   WORKFLOW_MASTER WM
                INNER JOIN HELPER_TABLE HT
                        ON WM.WORKFLOW_STATUS_ID = HT.HELPER_TABLE_SID
                INNER JOIN PROJECTION_DETAILS PD
                        ON PD.PROJECTION_MASTER_SID = WM.PROJECTION_MASTER_SID
         WHERE  HT.DESCRIPTION = 'APPROVED'
		  AND EXISTS (SELECT 1
                            FROM   PROJECTION_DETAILS PD1
                            WHERE  PD1.PROJECTION_MASTER_SID = @PROJECTION_MASTER_SID
                                   AND PD1.CCP_DETAILS_SID = PD.CCP_DETAILS_SID)
                AND EXISTS (SELECT 1
                            FROM   PROJECTION_MASTER PM
                            WHERE  PM.PROJECTION_MASTER_SID = PD.PROJECTION_MASTER_SID
                                   AND FORECASTING_TYPE = @FORECASTING_TYPE)
               )
SELECT PROJECTION_MASTER_SID,
       PROJECTION_DETAILS_SID,
       CCP_DETAILS_SID
FROM   CTE
WHERE  RN = 1 
) 

GO
