IF EXISTS (SELECT 1
           FROM   INFORMATION_SCHEMA.ROUTINES
           WHERE  ROUTINE_NAME = 'INSTR')
  BEGIN
      DROP FUNCTION [DBO].[INSTR]
  END

GO

CREATE FUNCTION [DBO].[INSTR] (@STR VARCHAR(8000), @SUBSTR VARCHAR(255), @START INT, @OCCURRENCE INT)
  RETURNS INT
  AS
  BEGIN
	DECLARE @FOUND INT = @OCCURRENCE,
			@POS INT = @START;
 
	WHILE 1=1 
	BEGIN
		-- FIND THE NEXT OCCURRENCE
		SET @POS = CHARINDEX(@SUBSTR, @STR, @POS);
 
		-- NOTHING FOUND
		IF @POS IS NULL OR @POS = 0
			RETURN @POS;
 
		-- THE REQUIRED OCCURRENCE FOUND
		IF @FOUND = 1
			BREAK;
 
		-- PREPARE TO FIND ANOTHER ONE OCCURRENCE
		SET @FOUND = @FOUND - 1;
		SET @POS = @POS + 1;
	END
 
	RETURN @POS;
  END
  GO
