IF EXISTS (SELECT 'X'
           FROM   INFORMATION_SCHEMA.ROUTINES
           WHERE  ROUTINE_NAME = 'PRC_CFF_VIEWS_POPULATION'
                  AND ROUTINE_SCHEMA = 'DBO')
  BEGIN
      DROP PROCEDURE [DBO].[PRC_CFF_VIEWS_POPULATION]
  END

GO

CREATE PROCEDURE [dbo].[PRC_CFF_VIEWS_POPULATION] (
											  @CFF_MASTER_SID  VARCHAR(100),
                                              @USER_ID                INT,
                                              @SESSION_ID             VARCHAR(50),
                                              @FLAG                   CHAR(3),
                                              @FREQUENCY              CHAR(1),
											  @CUSTOM_VIEW_MASTER     INT,
											  @SCREEN_NAME            VARCHAR(10),
											  @PROGRAM                VARCHAR(100)=NULL,
											  @VIEW                   CHAR(1),
											  @UOM_CODE                VARCHAR(100)='EACH',
											  @DISCOUNT                VARCHAR(MAX)=NULL									
)
AS
BEGIN 
SET NOCOUNT ON 

BEGIN TRY 

 DECLARE @CCP_HIERARCHY VARCHAR(200) = CONCAT('ST_CCP_HIERARCHY_', @USER_ID, '_', @SESSION_ID, '_', REPLACE(CONVERT(VARCHAR(50), GETDATE(), 2), '.', '')),
         @DEDUCTION_TABLE  VARCHAR(200)= CONCAT('ST_CCP_DEDUCTION_HIERARCHY_', @USER_ID, '_', @SESSION_ID, '_', REPLACE(CONVERT(VARCHAR(50), GETDATE(), 2), '.', ''))
          DECLARE @CUSTOMER_TABLE_SALES VARCHAR(200) = CONCAT('ST_CUSTOMER_CFF_SALES_', @USER_ID, '_', @SESSION_ID, '_', REPLACE(CONVERT(VARCHAR(50), GETDATE(), 2), '.', ''))
          DECLARE @PRODUCT_TABLE_SALES VARCHAR(200) = CONCAT ('ST_PRODUCT_CFF_SALES_', @USER_ID, '_', @SESSION_ID, '_', REPLACE(CONVERT(VARCHAR(50), GETDATE(), 2), '.', '')),
                  @CUSTOM_TABLE_SALES  VARCHAR(200) = CONCAT ('ST_CUSTOM_CFF_SALES_', @USER_ID, '_', @SESSION_ID, '_', REPLACE(CONVERT(VARCHAR(50), GETDATE(), 2), '.', ''))
          DECLARE @CUSTOMER_TABLE_DISCOUNT VARCHAR(200) = CONCAT('ST_CUSTOMER_CFF_DISCOUNT_', @USER_ID, '_', @SESSION_ID, '_', REPLACE(CONVERT(VARCHAR(50), GETDATE(), 2), '.', ''))
          DECLARE @PRODUCT_TABLE_DISCOUNT VARCHAR(200) = CONCAT ('ST_PRODUCT_CFF_DISCOUNT_', @USER_ID, '_', @SESSION_ID, '_', REPLACE(CONVERT(VARCHAR(50), GETDATE(), 2), '.', '')),
                  @CUSTOM_TABLE_DISCOUNT  VARCHAR(200) = CONCAT ('ST_CUSTOM_CFF_DISCOUNT_', @USER_ID, '_', @SESSION_ID, '_', REPLACE(CONVERT(VARCHAR(50), GETDATE(), 2), '.', '')),
				  @ITEM_UOM_TABLE   VARCHAR(200) = CONCAT ('ST_ITEM_UOM_DETAILS_', @USER_ID, '_', @SESSION_ID, '_', REPLACE(CONVERT(VARCHAR(50), GETDATE(), 2), '.', '')),
				  @CUSTOM_CCP_SALES VARCHAR(200) = CONCAT ('CUSTOM_CCP_SALES_',@CUSTOM_VIEW_MASTER),
				  @PRODUCT_FILE   VARCHAR(200)=CONCAT ('ST_CFF_PRODUCT_LEVEL_FILES_DATA_', @USER_ID, '_', @SESSION_ID, '_', REPLACE(CONVERT(VARCHAR(50), GETDATE(), 2), '.', '')),
				  @STATUS_TABLE       VARCHAR(200) = CONCAT ('ST_STATUS_TABLE_', @USER_ID, '_', @SESSION_ID, '_', REPLACE(CONVERT(VARCHAR(50), GETDATE(), 2), '.', ''))

				  
DECLARE @SP INT
	,@SP_PROJ_SID INT
	,@TEMP_PROJ_SID VARCHAR(500),@STAT_SALES_SID INT,@END_SALES_SID INT,@PROJ_START_SID INT,@PROJ_END_SID INT,@SQL NVARCHAR(MAX)
          IF OBJECT_ID('TEMPDB..#CFF_PROJECTION_MASTER') IS NOT NULL
	TRUNCATE TABLE #CFF_PROJECTION_MASTER
ELSE

	CREATE TABLE #CFF_PROJECTION_MASTER (
		ID INT IDENTITY(1, 1)
		,CFF_MASTER_SID INT
		)

SET @TEMP_PROJ_SID = REPLACE(@CFF_MASTER_SID + ',', ',,', ',')

WHILE PATINDEX('%,%', @TEMP_PROJ_SID) <> 0
BEGIN
	SELECT @SP = PATINDEX('%,%', @TEMP_PROJ_SID)

	SELECT @SP_PROJ_SID = LEFT(@TEMP_PROJ_SID, @SP - 1)

	SELECT @TEMP_PROJ_SID = STUFF(@TEMP_PROJ_SID, 1, @SP, '')

	INSERT INTO #CFF_PROJECTION_MASTER (CFF_MASTER_SID)
	SELECT @SP_PROJ_SID
END
DECLARE @CUSTOM_LEVEL_NO INT

 SET @SQL='SELECT @CUSTOM_LEVEL_NO =MAX(LEVEL_NO) FROM   CUST_VIEW_DETAILS WHERE  CUSTOM_VIEW_MASTER_SID = @CUSTOM_VIEW_MASTER'

		 EXECUTE  SP_EXECUTESQL @SQL,N'@CUSTOM_VIEW_MASTER INT ,@CUSTOM_LEVEL_NO INT OUTPUT',@CUSTOM_VIEW_MASTER=@CUSTOM_VIEW_MASTER,@CUSTOM_LEVEL_NO=@CUSTOM_LEVEL_NO OUTPUT

				   DECLARE @ACTUAL_START_DATE DATETIME = CAST(YEAR(GETDATE()) - 3 AS VARCHAR(4)) + '-01-01'
	,@ACTUAL_END_DATE DATETIME = DATEADD(MM, - 3, DATEADD(QQ, DATEDIFF(QQ, 0, GETDATE()), 0))
	,@PROJ_START_PERIOD_DATE DATETIME
	,@PROJ_END_PERIOD_DATE DATETIME	
        
		SELECT TOP 1 @PROJ_START_PERIOD_DATE = DATEADD(DD, 1, EOMONTH(FROM_DATE, - 1))
	,@PROJ_END_PERIOD_DATE = DATEADD(DD, 1, EOMONTH(TO_DATE, - 1))
FROM FORECAST_CONFIG FA
LEFT JOIN HELPER_TABLE HT ON HT.HELPER_TABLE_SID = FA.BUSINESS_PROCESS_TYPE
WHERE [DESCRIPTION] = 'CONSOLIDATED FINANCIAL FORECAST'
ORDER BY VERSION_NO DESC



SET @STAT_SALES_SID  = (
		SELECT PERIOD_SID
		FROM PERIOD
		WHERE PERIOD_DATE = @ACTUAL_START_DATE
		)
SET @END_SALES_SID = (
		SELECT PERIOD_SID
		FROM PERIOD
		WHERE PERIOD_DATE = @ACTUAL_END_DATE
		)
SET @PROJ_START_SID  = (
		SELECT PERIOD_SID
		FROM PERIOD
		WHERE PERIOD_DATE = @PROJ_START_PERIOD_DATE
		)
SET @PROJ_END_SID  = (
		SELECT PERIOD_SID
		FROM PERIOD
		WHERE PERIOD_DATE = @PROJ_END_PERIOD_DATE
		)



		  
		 IF OBJECT_ID('TEMPDB.DBO.#PERIOD', 'U') IS NOT NULL
            DROP TABLE #PERIOD;

          SELECT PERIOD_SID,
                 PERIOD_DATE,
                 MONTH,
                 QUARTER,
                 SEMI_ANNUAL,
                 YEAR,
                 PERIOD = CASE
                            WHEN LEFT(@FREQUENCY, 1) = 'M' THEN MONTH
                            WHEN LEFT(@FREQUENCY, 1) = 'Q' THEN QUARTER
                            WHEN LEFT(@FREQUENCY, 1) = 'S' THEN SEMI_ANNUAL
                            ELSE 1
                          END
          INTO   #PERIOD
          FROM   PERIOD
          WHERE  PERIOD_SID BETWEEN @STAT_SALES_SID AND @PROJ_END_SID
    
      IF OBJECT_ID('TEMPDB..#TEMP_INPUT','U') IS NOT NULL
				DROP TABLE #TEMP_INPUT
			CREATE TABLE  #TEMP_INPUT
			(
			CFF_MASTER_SID     INT,
			PROJECTION_MASTER_SID INT,
			CCP_DETAILS_SID  INT
			)

			INSERT INTO #TEMP_INPUT
			SELECT CD.CFF_MASTER_SID,CD.PROJECTION_MASTER_SID,CCP_DETAILS_SID FROM CFF_DETAILS CD JOIN #CFF_PROJECTION_MASTER CP ON  CP.CFF_MASTER_SID=CD.CFF_MASTER_SID



DECLARE @ITEMID UDT_ITEM

INSERT INTO @ITEMID
/*SELECT IM.ITEM_MASTER_SID
FROM ITEM_MASTER IM
WHERE EXISTS (
		SELECT 1
		FROM #TEMP_CCP A
		WHERE CFF_MASTER_SID = @FIRST_PROJ_SID
			AND IM.ITEM_MASTER_SID = A.ITEM_MASTER_SID
		)*/
SELECT DISTINCT ITEM_MASTER_SID
		FROM  #TEMP_INPUT A JOIN CCP_DETAILS CCP ON A.CCP_DETAILS_SID=CCP.CCP_DETAILS_SID



			IF OBJECT_ID('TEMPDB..#ITEM_PRICING') IS NOT NULL
	DROP TABLE #ITEM_PRICING

CREATE TABLE #ITEM_PRICING (
	CCP_DETAILS_SID INT
	,PERIOD_SID INT
	,ITEM_PRICE NUMERIC(33, 8)
	,PRIMARY KEY (
		CCP_DETAILS_SID
		,PERIOD_SID
		)
	)

	

INSERT INTO #ITEM_PRICING (
	CCP_DETAILS_SID
	,PERIOD_SID
	,ITEM_PRICE
	)
SELECT CCP_DETAILS_SID
	,PERIOD_SID
	,ITEM_PRICE
FROM [DBO].[UDF_ITEM_PRICING](@ITEMID, 'COGS', @STAT_SALES_SID, @PROJ_END_SID,'EACH') A
JOIN CCP_DETAILS CCP ON CCP.ITEM_MASTER_SID=A.ITEM_MASTER_SID  

			
	
			   IF OBJECT_ID('TEMPDB..#RS_INFO') IS NOT NULL
            DROP TABLE #RS_INFO

          CREATE TABLE #RS_INFO
            (
               CCP_DETAILS_SID INT,
               RS_CONTRACT_SID INT,
               SELECTED_LEVEL  INT
            )

          SET @SQL=CONCAT('SELECT CCP_DETAILS_SID,R.RS_CONTRACT_SID,
            CASE @PROGRAM
              WHEN ''SCHEDULE ID'' THEN R.RS_CONTRACT_SID
              WHEN ''PROGRAM'' THEN R.RS_CONTRACT_SID
              --WHEN ''SCHEDULE TYPE'' THEN R_TYPE.DESCRIPTION
              --WHEN ''PROGRAM CATEGORY'' THEN RPT.DESCRIPTION
              --WHEN ''PROGRAM TYPE'' THEN RPT.DESCRIPTION
              --WHEN ''SCHEDULE CATEGORY'' THEN RC.DESCRIPTION                                  
              WHEN ''SCHEDULE TYPE'' THEN RS_TYPE
              WHEN ''PROGRAM CATEGORY'' THEN REBATE_PROGRAM_TYPE
              WHEN ''PROGRAM TYPE'' THEN REBATE_PROGRAM_TYPE
              WHEN ''SCHEDULE CATEGORY'' THEN RS_CATEGORY
              WHEN ''UDC1'' THEN UD.UDC1
              WHEN ''UDC2'' THEN UD.UDC2
              WHEN ''UDC3'' THEN UD.UDC3
              WHEN ''UDC4'' THEN UD.UDC4
              WHEN ''UDC5'' THEN UD.UDC5
              WHEN ''UDC6'' THEN UD.UDC6
            END SELECTED_LEVEL
     FROM   RS_CONTRACT R
            --LEFT JOIN HELPER_TABLE R_TYPE
            --       ON R_TYPE.HELPER_TABLE_SID = R.RS_TYPE
            --LEFT JOIN HELPER_TABLE RPT
            --       ON RPT.HELPER_TABLE_SID = R.REBATE_PROGRAM_TYPE
            --LEFT JOIN HELPER_TABLE RC
            --       ON RC.HELPER_TABLE_SID = R.RS_CATEGORY
            --LEFT JOIN (SELECT U.MASTER_SID,
            --                  U1.DESCRIPTION AS UDC1,
            --                  U2.DESCRIPTION AS UDC2,
            --                  U3.DESCRIPTION AS UDC3,
            --                  U4.DESCRIPTION AS UDC4,
            --                  U5.DESCRIPTION AS UDC5,
            --                  U6.DESCRIPTION UDC6
            --           FROM   UDCS U
            --                  LEFT JOIN HELPER_TABLE U1
            --                         ON U1.HELPER_TABLE_SID = U.UDC1
            --                  LEFT JOIN HELPER_TABLE U2
           --                         ON U2.HELPER_TABLE_SID = U.UDC2
            --                  LEFT JOIN HELPER_TABLE U3
            --                         ON U3.HELPER_TABLE_SID = U.UDC3
            --                  LEFT JOIN HELPER_TABLE U4
            --                         ON U4.HELPER_TABLE_SID = U.UDC4
            --                  LEFT JOIN HELPER_TABLE U5
            --                         ON U5.HELPER_TABLE_SID = U.UDC5
            --                  LEFT JOIN HELPER_TABLE U6
            --                         ON U6.HELPER_TABLE_SID = U.UDC6
            --           WHERE  MASTER_TYPE = ''RS_CONTRACT'') UD
                                                INNER JOIN ', @DEDUCTION_TABLE, ' D
                    ON  R.RS_CONTRACT_SID = D.RS_CONTRACT_SID 
                                                LEFT JOIN UDCS UD
                   ON UD.MASTER_SID = R.RS_CONTRACT_SID
                                                                   AND MASTER_TYPE = ''RS_CONTRACT''    
                                                WHERE EXISTS (SELECT 1 FROM [UDF_SPLITSTRING](@DISCOUNT, '','') HD WHERE HD.TOKEN=R.RS_CONTRACT_SID
                                                ) OR NULLIF(@DISCOUNT,'''') IS NULL')

          INSERT INTO #RS_INFO
          EXEC SP_EXECUTESQL
            @SQL,
            N'@DISCOUNT VARCHAR(MAX),@PROGRAM VARCHAR(100)',
            @DISCOUNT=@DISCOUNT,
            @PROGRAM=@PROGRAM

		
			IF OBJECT_ID('TEMPDB..#ACCRUAL_DISCOUNT') IS NOT NULL
	           DROP TABLE #ACCRUAL_DISCOUNT;

WITH CTE
AS (
	SELECT COMPANY_MASTER_SID
		,CONTRACT_MASTER_SID
		,ITEM_MASTER_SID
		,A.CCP_DETAILS_SID
		,PERIOD_SID
		,PERIOD_DATE
		,PERIOD
		,YEAR
		,A.RS_CONTRACT_SID
	FROM #RS_INFO A
	JOIN CCP_DETAILS CCP ON CCP.CCP_DETAILS_SID=A.CCP_DETAILS_SID
	JOIN #PERIOD P ON P.PERIOD_SID BETWEEN @STAT_SALES_SID AND @PROJ_END_SID
	)
SELECT
	YEAR
	,PERIOD
	,PERIOD_SID
	,RC.RS_CONTRACT_SID
	,SUM(DEDUCTION_AMOUNT) / (DATEDIFF(MM, A1.ACCRUAL_PERIOD_START_DATE, A1.ACCRUAL_PERIOD_END_DATE) + 1) DISCOUNT_AMOUNT,
	CCP_DETAILS_SID
INTO #ACCRUAL_DISCOUNT
FROM ACCRUAL_MASTER A1
JOIN RS_CONTRACT RC ON RC.RS_MODEL_SID = A1.RS_MODEL_SID
	AND RC.CONTRACT_MASTER_SID = A1.CONTRACT_MASTER_SID
JOIN CTE A2 ON A2.PERIOD_DATE BETWEEN CONVERT(DATETIME, DATEADD(MM, - 1, DATEADD(DD, 1, EOMONTH(A1.ACCRUAL_PERIOD_START_DATE, 0))))
		AND CONVERT(DATETIME, DATEADD(MM, - 1, DATEADD(DD, 1, EOMONTH(A1.ACCRUAL_PERIOD_END_DATE, 0))))
	AND A1.CONTRACT_MASTER_SID = A2.CONTRACT_MASTER_SID
	AND A1.COMPANY_MASTER_SID = A2.COMPANY_MASTER_SID
	AND A1.ITEM_MASTER_SID = A2.ITEM_MASTER_SID
	AND A2.RS_CONTRACT_SID = RC.RS_CONTRACT_SID
	AND DATEADD(DD, 1, EOMONTH(A1.ACCRUAL_PERIOD_START_DATE, - 1)) >= @ACTUAL_START_DATE
	AND A1.ACCRUAL_PERIOD_END_DATE <= @PROJ_END_PERIOD_DATE
GROUP BY CCP_DETAILS_SID
	,YEAR
	,PERIOD
	,PERIOD_SID
	,RC.RS_CONTRACT_SID
	,ACCRUAL_PERIOD_START_DATE
	,ACCRUAL_PERIOD_END_DATE

			 IF OBJECT_ID('TEMPDB..#ITEM_UOM_DETAILS', 'U') IS NOT NULL
            DROP TABLE #ITEM_UOM_DETAILS;

          CREATE TABLE #ITEM_UOM_DETAILS
            (
               CCP_DETAILS_SID INT NOT NULL,
               UOM_VALUE       NUMERIC(22, 6)
            )

          SET @SQL = CONCAT (' INSERT INTO  #ITEM_UOM_DETAILS
         SELECT DISTINCT A.CCP_DETAILS_SID,UOM_VALUE 
         FROM ', @CCP_HIERARCHY, ' A JOIN CCP_DETAILS CD ON CD.CCP_DETAILS_SID=A.CCP_DETAILS_SID 
         JOIN  ', @ITEM_UOM_TABLE, ' B ON CD.ITEM_MASTER_SID=B.ITEM_MASTER_SID
         WHERE  UOM_CODE=@UOM_CODE 
         ')
	

          EXEC SP_EXECUTESQL
            @SQL,
            N'@UOM_CODE NVARCHAR(50)',
            @UOM_CODE = @UOM_CODE
			


         


    IF @FLAG = 'G'
             AND @SCREEN_NAME = 'SALES'
             AND @VIEW IN ( 'C' )
            BEGIN
                SET @SQL =CONCAT('

       INSERT INTO ', @CUSTOMER_TABLE_SALES, '(HIERARCHY_NO,PERIOD,YEAR,SALES,UNITS,SALES_INCLUSION,INDICATOR,FILTER_CCP,CFF_MASTER_SID,COGS_VALUE)        
       SELECT C.CUST_HIERARCHY_NO AS HIERARCHY_NO,-- THOUGH COLUMN NAME IS PROJECTION_DETAILS_SID IT WILL CONTAIN CCP_DETAILS_SID
             A.PERIOD,
             A.YEAR,
             SUM(( ACTUAL_SALES ))    SALES,
             SUM(( ACTUAL_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1))) ACTUAL_UNITS,
			  
             ISNULL(C.SALES_INCLUSION,0) AS SALES_INCLUSION,
             0    INDICATOR,
                                                1  FILTER_CCP,
												TI.CFF_MASTER_SID,
												SUM( ACTUAL_SALES *  ISNULL(IP.ITEM_PRICE,0)) AS COGS 

      FROM   ', @CCP_HIERARCHY, ' C
            JOIN #TEMP_INPUT TI ON TI.CCP_DETAILS_SID=C.CCP_DETAILS_SID
             CROSS JOIN (SELECT PERIOD_SID,
                                PERIOD,
                                YEAR
                         FROM   #PERIOD
                          WHERE  PERIOD_SID BETWEEN ', @STAT_SALES_SID, ' AND ', @END_SALES_SID, ')A
             LEFT JOIN NM_ACTUAL_SALES AD
                    ON A.PERIOD_SID = AD.PERIOD_SID
                       AND AD.CCP_DETAILS_SID = C.CCP_DETAILS_SID AND TI.PROJECTION_MASTER_SID=AD.PROJECTION_MASTER_SID
                     LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
					 LEFT JOIN #ITEM_PRICING IP ON IP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID AND IP.PERIOD_SID=A.PERIOD_SID
			WHERE EXISTS(SELECT 1 FROM #TEMP_INPUT TI JOIN #CFF_PROJECTION_MASTER CP ON CP.CFF_MASTER_SID=TI.CFF_MASTER_SID AND CP.ID=1 AND AD.CCP_DETAILS_SID=TI.CCP_DETAILS_SID)
      GROUP  BY C.CUST_HIERARCHY_NO,
                PERIOD,
                YEAR,
				TI.CFF_MASTER_SID,
                C.SALES_INCLUSION
      UNION ALL
      SELECT C.CUST_HIERARCHY_NO,
             PERIOD,
             YEAR,
             SUM(PROJECTION_SALES),
             SUM(PROJECTION_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1)),
              ISNULL(C.SALES_INCLUSION,0) AS SALES_INCLUSION,
             1 INDICATOR,
                                                1  FILTER_CCP,
												TI.CFF_MASTER_SID,
			SUM( PROJECTION_SALES *  ISNULL(IP.ITEM_PRICE,0)) AS COGS 
      FROM    ', @CCP_HIERARCHY, ' C
	  JOIN #TEMP_INPUT TI ON C.CCP_DETAILS_SID=TI.CCP_DETAILS_SID
             
             CROSS JOIN (SELECT PERIOD_SID,
                                PERIOD,
                                YEAR
                         FROM    #PERIOD
                          WHERE  PERIOD_SID BETWEEN ', @PROJ_START_SID, ' AND ', @PROJ_END_SID, ')B
             LEFT JOIN NM_SALES_PROJECTION A
                    ON C.CCP_DETAILS_SID = A.CCP_DETAILS_SID
                       AND B.PERIOD_SID = A.PERIOD_SID AND A.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
                                     LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
			 LEFT JOIN #ITEM_PRICING IP ON IP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID AND IP.PERIOD_SID=A.PERIOD_SID
			 WHERE EXISTS(SELECT 1 FROM #TEMP_INPUT TI JOIN #CFF_PROJECTION_MASTER CP ON CP.CFF_MASTER_SID=TI.CFF_MASTER_SID AND CP.ID=1 AND A.CCP_DETAILS_SID=TI.CCP_DETAILS_SID)
      GROUP  BY C.CUST_HIERARCHY_NO,
                PERIOD,
                YEAR,
				TI.CFF_MASTER_SID,
                C.SALES_INCLUSION
                           ')
						  

                EXEC SP_EXECUTESQL
                  @SQL
            END 




                           
                           
      IF @FLAG = 'G'
             AND @SCREEN_NAME = 'SALES'
             AND @VIEW IN ( 'P' )
            BEGIN
                SET @SQL =CONCAT('

       INSERT INTO ', @PRODUCT_TABLE_SALES, '(HIERARCHY_NO,PERIOD,YEAR,SALES,UNITS,SALES_INCLUSION,INDICATOR,FILTER_CCP,CFF_MASTER_SID,COGS_VALUE)        
       SELECT C.PROD_HIERARCHY_NO AS HIERARCHY_NO,-- THOUGH COLUMN NAME IS PROJECTION_DETAILS_SID IT WILL CONTAIN CCP_DETAILS_SID
             A.PERIOD,
             A.YEAR,
             SUM(( ACTUAL_SALES ))    SALES,
             SUM(( ACTUAL_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1))) ACTUAL_UNITS,
			  
               ISNULL(C.SALES_INCLUSION,0) AS SALES_INCLUSION,
             0    INDICATOR,
                                                1  FILTER_CCP,
												TI.CFF_MASTER_SID,
												SUM( ACTUAL_SALES *  ISNULL(IP.ITEM_PRICE,0)) AS COGS 

      FROM   ', @CCP_HIERARCHY, ' C
            JOIN #TEMP_INPUT TI ON TI.CCP_DETAILS_SID=C.CCP_DETAILS_SID
             CROSS JOIN (SELECT PERIOD_SID,
                                PERIOD,
                                YEAR
                         FROM   #PERIOD
                          WHERE  PERIOD_SID BETWEEN ', @STAT_SALES_SID, ' AND ', @END_SALES_SID, ')A
             LEFT JOIN NM_ACTUAL_SALES AD
                    ON A.PERIOD_SID = AD.PERIOD_SID
                       AND AD.CCP_DETAILS_SID = C.CCP_DETAILS_SID AND TI.PROJECTION_MASTER_SID=AD.PROJECTION_MASTER_SID
                     LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
					 LEFT JOIN #ITEM_PRICING IP ON IP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID AND IP.PERIOD_SID=A.PERIOD_SID
					  WHERE EXISTS(SELECT 1 FROM #TEMP_INPUT TI JOIN #CFF_PROJECTION_MASTER CP ON CP.CFF_MASTER_SID=TI.CFF_MASTER_SID AND CP.ID=1 AND AD.CCP_DETAILS_SID=TI.CCP_DETAILS_SID)
      GROUP  BY C.PROD_HIERARCHY_NO,
                PERIOD,
                YEAR,
				TI.CFF_MASTER_SID,
                C.SALES_INCLUSION
      UNION ALL
      SELECT C.PROD_HIERARCHY_NO,
             PERIOD,
             YEAR,
             SUM(PROJECTION_SALES),
             SUM(PROJECTION_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1)),
            ISNULL(C.SALES_INCLUSION,0) AS SALES_INCLUSION,
             1 INDICATOR,
                                                1  FILTER_CCP,
												TI.CFF_MASTER_SID,
			SUM( PROJECTION_SALES *  ISNULL(IP.ITEM_PRICE,0)) AS COGS 
      FROM    ', @CCP_HIERARCHY, ' C
	  JOIN #TEMP_INPUT TI ON C.CCP_DETAILS_SID=TI.CCP_DETAILS_SID
             
             CROSS JOIN (SELECT PERIOD_SID,
                                PERIOD,
                                YEAR
                         FROM    #PERIOD
                          WHERE  PERIOD_SID BETWEEN ', @PROJ_START_SID, ' AND ', @PROJ_END_SID, ')B
             LEFT JOIN NM_SALES_PROJECTION A
                    ON C.CCP_DETAILS_SID = A.CCP_DETAILS_SID
                       AND B.PERIOD_SID = A.PERIOD_SID AND A.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
                                     LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
			 LEFT JOIN #ITEM_PRICING IP ON IP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID AND IP.PERIOD_SID=A.PERIOD_SID
			  WHERE EXISTS(SELECT 1 FROM #TEMP_INPUT TI JOIN #CFF_PROJECTION_MASTER CP ON CP.CFF_MASTER_SID=TI.CFF_MASTER_SID AND CP.ID=1 AND A.CCP_DETAILS_SID=TI.CCP_DETAILS_SID)
      GROUP  BY C.PROD_HIERARCHY_NO,
                PERIOD,
                YEAR,
				TI.CFF_MASTER_SID,
                C.SALES_INCLUSION
                           ')

                EXEC SP_EXECUTESQL
                  @SQL
            END 




      IF @FLAG = 'G'
             AND @SCREEN_NAME = 'SALES'
             AND @VIEW NOT IN ('C', 'P' )
            BEGIN
                SET @SQL =CONCAT('

       INSERT INTO ', @CUSTOM_TABLE_SALES, '(HIERARCHY_NO,PERIOD,YEAR,SALES,UNITS,SALES_INCLUSION,INDICATOR,FILTER_CCP,CFF_MASTER_SID,COGS_VALUE)        
       SELECT CUS.ROWID AS HIERARCHY_NO,-- THOUGH COLUMN NAME IS PROJECTION_DETAILS_SID IT WILL CONTAIN CCP_DETAILS_SID
             A.PERIOD,
             A.YEAR,
             SUM(( ACTUAL_SALES ))    SALES,
             SUM(( ACTUAL_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1))) ACTUAL_UNITS,
			  
              ISNULL(C.SALES_INCLUSION,0) AS SALES_INCLUSION,
             0    INDICATOR,
                                                1  FILTER_CCP,
												TI.CFF_MASTER_SID,
												SUM( ACTUAL_SALES *  ISNULL(IP.ITEM_PRICE,0)) AS COGS 

      FROM   ', @CCP_HIERARCHY, ' C  
	  JOIN (SELECT DISTINCT ROWID,CCP_DETAILS_SID FROM ',@CUSTOM_CCP_SALES,' ) CUS ON CUS.CCP_DETAILS_SID=C.CCP_DETAILS_SID 
            JOIN #TEMP_INPUT TI ON TI.CCP_DETAILS_SID=C.CCP_DETAILS_SID
             CROSS JOIN (SELECT PERIOD_SID,
                                PERIOD,
                                YEAR
                         FROM   #PERIOD
                          WHERE  PERIOD_SID BETWEEN ', @STAT_SALES_SID, ' AND ', @END_SALES_SID, ')A
             LEFT JOIN NM_ACTUAL_SALES AD
                    ON A.PERIOD_SID = AD.PERIOD_SID
                       AND AD.CCP_DETAILS_SID = C.CCP_DETAILS_SID AND TI.PROJECTION_MASTER_SID=AD.PROJECTION_MASTER_SID
                     LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
					 LEFT JOIN #ITEM_PRICING IP ON IP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID AND IP.PERIOD_SID=A.PERIOD_SID
					  WHERE EXISTS(SELECT 1 FROM #TEMP_INPUT TI JOIN #CFF_PROJECTION_MASTER CP ON CP.CFF_MASTER_SID=TI.CFF_MASTER_SID AND CP.ID=1 AND AD.CCP_DETAILS_SID=TI.CCP_DETAILS_SID)
      GROUP  BY CUS.ROWID,
                PERIOD,
                YEAR,
				TI.CFF_MASTER_SID,
                C.SALES_INCLUSION
      UNION ALL
      SELECT CUS.ROWID AS HIERARCHY_NO,
             PERIOD,
             YEAR,
             SUM(PROJECTION_SALES),
             SUM(PROJECTION_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1)),
              ISNULL(C.SALES_INCLUSION,0) AS SALES_INCLUSION,
             1 INDICATOR,
                                                1  FILTER_CCP,
												TI.CFF_MASTER_SID,
			SUM( PROJECTION_SALES *  ISNULL(IP.ITEM_PRICE,0)) AS COGS 
      FROM    ', @CCP_HIERARCHY, ' C  JOIN
	 (SELECT DISTINCT ROWID,CCP_DETAILS_SID FROM ',@CUSTOM_CCP_SALES,' WHERE LEVEL_NO=',@CUSTOM_LEVEL_NO,') CUS ON CUS.CCP_DETAILS_SID=C.CCP_DETAILS_SID 
	  JOIN #TEMP_INPUT TI ON C.CCP_DETAILS_SID=TI.CCP_DETAILS_SID
             
             CROSS JOIN (SELECT PERIOD_SID,
                                PERIOD,
                                YEAR
                         FROM    #PERIOD
                          WHERE  PERIOD_SID BETWEEN ', @PROJ_START_SID, ' AND ', @PROJ_END_SID, ')B
             LEFT JOIN NM_SALES_PROJECTION A
                    ON C.CCP_DETAILS_SID = A.CCP_DETAILS_SID
                       AND B.PERIOD_SID = A.PERIOD_SID AND A.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
                                     LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
			 LEFT JOIN #ITEM_PRICING IP ON IP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID AND IP.PERIOD_SID=A.PERIOD_SID
			  WHERE EXISTS(SELECT 1 FROM #TEMP_INPUT TI JOIN #CFF_PROJECTION_MASTER CP ON CP.CFF_MASTER_SID=TI.CFF_MASTER_SID AND CP.ID=1 AND A.CCP_DETAILS_SID=TI.CCP_DETAILS_SID)
      GROUP  BY CUS.ROWID,
                PERIOD,
                YEAR,
				TI.CFF_MASTER_SID,
                C.SALES_INCLUSION
                           ')

                EXEC SP_EXECUTESQL
                  @SQL
            END 
			


 IF @FLAG = 'G'
             AND @SCREEN_NAME = 'DISCOUNT'
             AND @VIEW IN ( 'C' )
            BEGIN
                SET @SQL =CONCAT('

       INSERT INTO ', @CUSTOMER_TABLE_DISCOUNT, ' (
       HIERARCHY_NO,
       RS_CONTRACT_SID,
       PERIOD,
       YEAR,
       DISCOUNT,
       SALES,
       UNITS,
       DEDUCTION_INCLUSION,
       INDICATOR,
	   FILTER_CCP,
	   EXFACTORY_ACTUAL_SALES,
	   EXFACTORY_FORECAST_SALES,
	   ACCRUALS,
	   CFF_MASTER_SID,
	   DISCOUNT_TYPE
       )
SELECT SCCP.CUST_HIERARCHY_NO AS HIERARCHY_NO, -- THOUGH COLUMN NAME IS PROJECTION_DETAILS_SID IT WILL CONTAIN CCP_DETAILS_SID
       --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       ISNULL(SUM(ND.ACTUAL_SALES), 0) DISCOUNT,
       SUM((SPT.ACTUAL_SALES)) SALES,
       SUM((SPT.ACTUAL_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1))) UNITS,
         ISNULL(C.DEDUCTION_INCLUSION,0) AS DEDUCTION_INCLUSION,
       0 INDICATOR,
	   1  FILTER_CCP,
	   SUM(EX_FACTORY_SALES_ACTUALS) AS EXFACTORY_ACTUAL_SALES,
	   SUM(EX_FACTORY_SALES_PROJ) AS EX_FACTORY_SALES_PROJ,
	   SUM(DISCOUNT_AMOUNT) AS ACCRUALS,
	   TI.CFF_MASTER_SID,
	   0 AS DISCOUNT_TYPE
FROM ', @DEDUCTION_TABLE, ' C
INNER JOIN ',@CCP_HIERARCHY,' SCCP ON SCCP.CCP_DETAILS_SID=C.CCP_DETAILS_SID
INNER JOIN #RS_INFO RI ON RI.RS_CONTRACT_SID=C.RS_CONTRACT_SID
AND C.CCP_DETAILS_SID = RI.CCP_DETAILS_SID
INNER JOIN #TEMP_INPUT TI ON TI.CCP_DETAILS_SID=C.CCP_DETAILS_SID
INNER JOIN CCP_DETAILS CCP ON CCP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID


CROSS JOIN (
       SELECT PERIOD_SID,
              PERIOD,
              YEAR
       FROM #PERIOD
       WHERE PERIOD_SID BETWEEN ', @STAT_SALES_SID, '
                     AND ', @END_SALES_SID, '
       ) A
LEFT JOIN ',@PRODUCT_FILE,' PF ON PF.ITEM_MASTER_SID=CCP.ITEM_MASTER_SID AND PF.PERIOD_SID=A.PERIOD_SID
LEFT JOIN #ACCRUAL_DISCOUNT AD ON AD.CCP_DETAILS_SID=C.CCP_DETAILS_SID AND AD.PERIOD_SID=A.PERIOD_SID AND AD.RS_CONTRACT_SID=C.RS_CONTRACT_SID
LEFT JOIN NM_ACTUAL_DISCOUNT ND
       ON A.PERIOD_SID = ND.PERIOD_SID
              AND ND.RS_CONTRACT_SID = C.RS_CONTRACT_SID
              AND ND.CCP_DETAILS_SID = C.CCP_DETAILS_SID AND ND.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
LEFT JOIN NM_ACTUAL_SALES SPT  
ON C.CCP_DETAILS_SID = SPT.CCP_DETAILS_SID
              AND A.PERIOD_SID = SPT.PERIOD_SID  AND SPT.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID

GROUP BY SCCP.CUST_HIERARCHY_NO,
       --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       C.DEDUCTION_INCLUSION,
	   TI.CFF_MASTER_SID

UNION ALL

SELECT SCCP.CUST_HIERARCHY_NO AS HIERARCHY_NO, -- THOUGH COLUMN NAME IS PROJECTION_DETAILS_SID IT WILL CONTAIN CCP_DETAILS_SID
      --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       SUM(PTD.PROJECTION_SALES) DISCOUNT,
       SUM(SPT.PROJECTION_SALES) SALES,
       SUM(SPT.PROJECTION_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1)) UNITS,
        ISNULL(C.DEDUCTION_INCLUSION,0) AS DEDUCTION_INCLUSION,
       1 INDICATOR,
      
	   1  FILTER_CCP,SUM(EX_FACTORY_SALES_ACTUALS) AS EXFACTORY_ACTUAL_SALES,
	   SUM(EX_FACTORY_SALES_PROJ) AS EX_FACTORY_SALES_PROJ,
	   SUM(DISCOUNT_AMOUNT) AS ACCRUALS,
	   TI.CFF_MASTER_SID,
	   0 AS DISCOUNT_TYPE
FROM ', @DEDUCTION_TABLE, ' C
INNER JOIN ',@CCP_HIERARCHY,' SCCP ON SCCP.CCP_DETAILS_SID=C.CCP_DETAILS_SID
INNER JOIN #RS_INFO RI ON RI.RS_CONTRACT_SID=C.RS_CONTRACT_SID
AND C.CCP_DETAILS_SID = RI.CCP_DETAILS_SID
INNER JOIN #TEMP_INPUT TI ON TI.CCP_DETAILS_SID=C.CCP_DETAILS_SID
INNER JOIN CCP_DETAILS CCP ON CCP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID


CROSS JOIN (
       SELECT PERIOD_SID,
              PERIOD,
              YEAR
       FROM #PERIOD
       WHERE PERIOD_SID BETWEEN ', @PROJ_START_SID, '
                     AND ', @PROJ_END_SID, '
       ) A
LEFT JOIN ',@PRODUCT_FILE,' PF ON PF.ITEM_MASTER_SID=CCP.ITEM_MASTER_SID AND PF.PERIOD_SID=A.PERIOD_SID
LEFT JOIN #ACCRUAL_DISCOUNT AD ON AD.CCP_DETAILS_SID=C.CCP_DETAILS_SID AND AD.PERIOD_SID=A.PERIOD_SID AND AD.RS_CONTRACT_SID=C.RS_CONTRACT_SID
LEFT JOIN NM_DISCOUNT_PROJECTION PTD  
       ON C.CCP_DETAILS_SID = PTD.CCP_DETAILS_SID
              AND C.RS_CONTRACT_SID = PTD.RS_CONTRACT_SID
              AND A.PERIOD_SID = PTD.PERIOD_SID AND PTD.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
LEFT JOIN NM_SALES_PROJECTION SPT  
ON C.CCP_DETAILS_SID = SPT.CCP_DETAILS_SID
              AND A.PERIOD_SID = SPT.PERIOD_SID  AND SPT.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
GROUP BY SCCP.CUST_HIERARCHY_NO,
      --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       C.DEDUCTION_INCLUSION,
	   TI.CFF_MASTER_SID
')

                EXEC SP_EXECUTESQL
                  @SQL
           

END









  IF @FLAG = 'G'
             AND @SCREEN_NAME = 'DISCOUNT'
             AND @VIEW IN ( 'P' )
            BEGIN
                SET @SQL =CONCAT('

       INSERT INTO ', @PRODUCT_TABLE_DISCOUNT, ' (
       HIERARCHY_NO,
       RS_CONTRACT_SID,
       PERIOD,
       YEAR,
       DISCOUNT,
       SALES,
       UNITS,
       DEDUCTION_INCLUSION,
       INDICATOR,
	   FILTER_CCP,
	   EXFACTORY_ACTUAL_SALES,
	   EXFACTORY_FORECAST_SALES,
	   ACCRUALS,
	   CFF_MASTER_SID,
	   DISCOUNT_TYPE
       )
SELECT SCCP.PROD_HIERARCHY_NO AS HIERARCHY_NO, -- THOUGH COLUMN NAME IS PROJECTION_DETAILS_SID IT WILL CONTAIN CCP_DETAILS_SID
       --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       ISNULL(SUM(ND.ACTUAL_SALES), 0) DISCOUNT,
       SUM((SPT.ACTUAL_SALES)) SALES,
       SUM((SPT.ACTUAL_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1))) UNITS,
        ISNULL(C.DEDUCTION_INCLUSION,0) AS DEDUCTION_INCLUSION,
       0 INDICATOR,
	   1  FILTER_CCP,
	   SUM(EX_FACTORY_SALES_ACTUALS) AS EXFACTORY_ACTUAL_SALES,
	   SUM(EX_FACTORY_SALES_PROJ) AS EX_FACTORY_SALES_PROJ,
	   SUM(DISCOUNT_AMOUNT) AS ACCRUALS,
	   TI.CFF_MASTER_SID,
	   0 AS DISCOUNT_TYPE
FROM ', @DEDUCTION_TABLE, ' C
INNER JOIN ',@CCP_HIERARCHY,' SCCP ON SCCP.CCP_DETAILS_SID=C.CCP_DETAILS_SID
INNER JOIN #RS_INFO RI ON RI.RS_CONTRACT_SID=C.RS_CONTRACT_SID
AND C.CCP_DETAILS_SID = RI.CCP_DETAILS_SID
INNER JOIN #TEMP_INPUT TI ON TI.CCP_DETAILS_SID=C.CCP_DETAILS_SID
INNER JOIN CCP_DETAILS CCP ON CCP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID


CROSS JOIN (
       SELECT PERIOD_SID,
              PERIOD,
              YEAR
       FROM #PERIOD
       WHERE PERIOD_SID BETWEEN ', @STAT_SALES_SID, '
                     AND ', @END_SALES_SID, '
       ) A
LEFT JOIN ',@PRODUCT_FILE,' PF ON PF.ITEM_MASTER_SID=CCP.ITEM_MASTER_SID AND PF.PERIOD_SID=A.PERIOD_SID
LEFT JOIN #ACCRUAL_DISCOUNT AD ON AD.CCP_DETAILS_SID=C.CCP_DETAILS_SID AND AD.PERIOD_SID=A.PERIOD_SID AND AD.RS_CONTRACT_SID=C.RS_CONTRACT_SID
LEFT JOIN NM_ACTUAL_DISCOUNT ND
       ON A.PERIOD_SID = ND.PERIOD_SID
              AND ND.RS_CONTRACT_SID = C.RS_CONTRACT_SID
              AND ND.CCP_DETAILS_SID = C.CCP_DETAILS_SID AND ND.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
LEFT JOIN NM_ACTUAL_SALES SPT  
ON C.CCP_DETAILS_SID = SPT.CCP_DETAILS_SID
              AND A.PERIOD_SID = SPT.PERIOD_SID  AND SPT.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID

GROUP BY SCCP.PROD_HIERARCHY_NO,
       --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       C.DEDUCTION_INCLUSION,
	   TI.CFF_MASTER_SID

UNION ALL

SELECT SCCP.PROD_HIERARCHY_NO AS HIERARCHY_NO, -- THOUGH COLUMN NAME IS PROJECTION_DETAILS_SID IT WILL CONTAIN CCP_DETAILS_SID
      --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       SUM(PTD.PROJECTION_SALES) DISCOUNT,
       SUM(SPT.PROJECTION_SALES) SALES,
       SUM(SPT.PROJECTION_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1)) UNITS,
         ISNULL(C.DEDUCTION_INCLUSION,0) AS DEDUCTION_INCLUSION,
       1 INDICATOR,
      
	   1  FILTER_CCP,SUM(EX_FACTORY_SALES_ACTUALS) AS EXFACTORY_ACTUAL_SALES,
	   SUM(EX_FACTORY_SALES_PROJ) AS EX_FACTORY_SALES_PROJ,
	   SUM(DISCOUNT_AMOUNT) AS ACCRUALS,
	   TI.CFF_MASTER_SID,
	    0 AS DISCOUNT_TYPE
FROM ', @DEDUCTION_TABLE, ' C
INNER JOIN ',@CCP_HIERARCHY,' SCCP ON SCCP.CCP_DETAILS_SID=C.CCP_DETAILS_SID
INNER JOIN #RS_INFO RI ON RI.RS_CONTRACT_SID=C.RS_CONTRACT_SID
AND C.CCP_DETAILS_SID = RI.CCP_DETAILS_SID
INNER JOIN #TEMP_INPUT TI ON TI.CCP_DETAILS_SID=C.CCP_DETAILS_SID
INNER JOIN CCP_DETAILS CCP ON CCP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID


CROSS JOIN (
       SELECT PERIOD_SID,
              PERIOD,
              YEAR
       FROM #PERIOD
       WHERE PERIOD_SID BETWEEN ', @PROJ_START_SID, '
                     AND ', @PROJ_END_SID, '
       ) A
LEFT JOIN ',@PRODUCT_FILE,' PF ON PF.ITEM_MASTER_SID=CCP.ITEM_MASTER_SID AND PF.PERIOD_SID=A.PERIOD_SID
LEFT JOIN #ACCRUAL_DISCOUNT AD ON AD.CCP_DETAILS_SID=C.CCP_DETAILS_SID AND AD.PERIOD_SID=A.PERIOD_SID AND AD.RS_CONTRACT_SID=C.RS_CONTRACT_SID
LEFT JOIN NM_DISCOUNT_PROJECTION PTD  
       ON C.CCP_DETAILS_SID = PTD.CCP_DETAILS_SID
              AND C.RS_CONTRACT_SID = PTD.RS_CONTRACT_SID
              AND A.PERIOD_SID = PTD.PERIOD_SID AND PTD.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
LEFT JOIN NM_SALES_PROJECTION SPT  
ON C.CCP_DETAILS_SID = SPT.CCP_DETAILS_SID
              AND A.PERIOD_SID = SPT.PERIOD_SID  AND SPT.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
GROUP BY SCCP.PROD_HIERARCHY_NO,
      --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       C.DEDUCTION_INCLUSION,
	   TI.CFF_MASTER_SID
')

                EXEC SP_EXECUTESQL
                  @SQL
           

END

 IF @FLAG = 'G'
             AND @SCREEN_NAME = 'DISCOUNT'
             AND @VIEW NOT IN ( 'C','P' )
            BEGIN
                SET @SQL =CONCAT('

       INSERT INTO ', @CUSTOM_TABLE_DISCOUNT, ' (
       HIERARCHY_NO,
       RS_CONTRACT_SID,
       PERIOD,
       YEAR,
       DISCOUNT,
       SALES,
       UNITS,
       DEDUCTION_INCLUSION,
       INDICATOR,
	   FILTER_CCP,
	   EXFACTORY_ACTUAL_SALES,
	   EXFACTORY_FORECAST_SALES,
	   ACCRUALS,
	   CFF_MASTER_SID,
	   DISCOUNT_TYPE
       )
SELECT CCP.ROWID AS HIERARCHY_NO, -- THOUGH COLUMN NAME IS PROJECTION_DETAILS_SID IT WILL CONTAIN CCP_DETAILS_SID
       --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       ISNULL(SUM(ND.ACTUAL_SALES), 0) DISCOUNT,
       SUM((SPT.ACTUAL_SALES)) SALES,
       SUM((ACTUAL_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1))) UNITS,
         ISNULL(C.DEDUCTION_INCLUSION,0) AS DEDUCTION_INCLUSION,
       0 INDICATOR,
	   1  FILTER_CCP,
	   SUM(EX_FACTORY_SALES_ACTUALS) AS EXFACTORY_ACTUAL_SALES,
	   SUM(EX_FACTORY_SALES_PROJ) AS EX_FACTORY_SALES_PROJ,
	   SUM(DISCOUNT_AMOUNT) AS ACCRUALS,
	   TI.CFF_MASTER_SID,
	    0 AS DISCOUNT_TYPE
FROM ', @DEDUCTION_TABLE, ' C
JOIN ',@CUSTOM_CCP_SALES,' CCP ON C.CCP_DETAILS_SID=CCP.CCP_DETAILS_SID AND (C.RS_CONTRACT_SID=CCP.RS_CONTRACT_SID  OR CCP.RS_CONTRACT_SID=0)
INNER JOIN #RS_INFO RI ON RI.RS_CONTRACT_SID=C.RS_CONTRACT_SID
AND C.CCP_DETAILS_SID = RI.CCP_DETAILS_SID
INNER JOIN #TEMP_INPUT TI ON TI.CCP_DETAILS_SID=C.CCP_DETAILS_SID
INNER JOIN CCP_DETAILS CCP1 ON CCP1.CCP_DETAILS_SID=TI.CCP_DETAILS_SID
CROSS JOIN (
       SELECT PERIOD_SID,
              PERIOD,
              YEAR
       FROM #PERIOD
       WHERE PERIOD_SID BETWEEN ', @STAT_SALES_SID, '
                     AND ', @END_SALES_SID, '
       ) A
 LEFT JOIN ',@PRODUCT_FILE,' PF ON PF.ITEM_MASTER_SID=CCP1.ITEM_MASTER_SID AND PF.PERIOD_SID=A.PERIOD_SID
LEFT JOIN #ACCRUAL_DISCOUNT AD ON AD.CCP_DETAILS_SID=C.CCP_DETAILS_SID AND AD.PERIOD_SID=A.PERIOD_SID AND AD.RS_CONTRACT_SID=C.RS_CONTRACT_SID
LEFT JOIN NM_ACTUAL_DISCOUNT ND
       ON A.PERIOD_SID = ND.PERIOD_SID
              AND ND.RS_CONTRACT_SID = C.RS_CONTRACT_SID
              AND ND.CCP_DETAILS_SID = C.CCP_DETAILS_SID AND ND.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
LEFT JOIN NM_ACTUAL_SALES SPT  
ON C.CCP_DETAILS_SID = SPT.CCP_DETAILS_SID
              AND A.PERIOD_SID = SPT.PERIOD_SID  AND SPT.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID

GROUP BY CCP.ROWID,
       --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       C.DEDUCTION_INCLUSION,
	   TI.CFF_MASTER_SID

UNION ALL

SELECT CCP.ROWID AS HIERARCHY_NO, -- THOUGH COLUMN NAME IS PROJECTION_DETAILS_SID IT WILL CONTAIN CCP_DETAILS_SID
      --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       SUM(PTD.PROJECTION_SALES) DISCOUNT,
       SUM(SPT.PROJECTION_SALES) SALES,
       SUM(SPT.PROJECTION_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1)) UNITS,
         ISNULL(C.DEDUCTION_INCLUSION,0) AS DEDUCTION_INCLUSION,
       1 INDICATOR,
      
	   1  FILTER_CCP,SUM(EX_FACTORY_SALES_ACTUALS) AS EXFACTORY_ACTUAL_SALES,
	   SUM(EX_FACTORY_SALES_PROJ) AS EX_FACTORY_SALES_PROJ,
	   SUM(DISCOUNT_AMOUNT) AS ACCRUALS,
	   TI.CFF_MASTER_SID,
	   0 AS DISCOUNT_TYPE
FROM ', @DEDUCTION_TABLE, ' C
JOIN ',@CUSTOM_CCP_SALES,' CCP ON C.CCP_DETAILS_SID=CCP.CCP_DETAILS_SID AND (C.RS_CONTRACT_SID=CCP.RS_CONTRACT_SID OR CCP.RS_CONTRACT_SID=0)
INNER JOIN #RS_INFO RI ON RI.RS_CONTRACT_SID=C.RS_CONTRACT_SID
AND C.CCP_DETAILS_SID = RI.CCP_DETAILS_SID
INNER JOIN #TEMP_INPUT TI ON TI.CCP_DETAILS_SID=C.CCP_DETAILS_SID
INNER JOIN CCP_DETAILS CCP1 ON CCP1.CCP_DETAILS_SID=TI.CCP_DETAILS_SID

CROSS JOIN (
       SELECT PERIOD_SID,
              PERIOD,
              YEAR
       FROM #PERIOD
       WHERE PERIOD_SID BETWEEN ', @PROJ_START_SID, '
                     AND ', @PROJ_END_SID, '
       ) A
 LEFT JOIN ',@PRODUCT_FILE,' PF ON PF.ITEM_MASTER_SID=CCP1.ITEM_MASTER_SID AND PF.PERIOD_SID=A.PERIOD_SID
LEFT JOIN #ACCRUAL_DISCOUNT AD ON AD.CCP_DETAILS_SID=C.CCP_DETAILS_SID AND AD.PERIOD_SID=A.PERIOD_SID AND AD.RS_CONTRACT_SID=C.RS_CONTRACT_SID
LEFT JOIN NM_DISCOUNT_PROJECTION PTD  
       ON C.CCP_DETAILS_SID = PTD.CCP_DETAILS_SID
              AND C.RS_CONTRACT_SID = PTD.RS_CONTRACT_SID
              AND A.PERIOD_SID = PTD.PERIOD_SID AND PTD.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
LEFT JOIN NM_SALES_PROJECTION SPT  
ON C.CCP_DETAILS_SID = SPT.CCP_DETAILS_SID
              AND A.PERIOD_SID = SPT.PERIOD_SID  AND SPT.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
GROUP BY CCP.ROWID,
      --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       C.DEDUCTION_INCLUSION,
	   TI.CFF_MASTER_SID
')


                EXEC SP_EXECUTESQL
                  @SQL
            END

    IF @FLAG = 'UOM'
             AND @SCREEN_NAME = 'SALES'
             AND @VIEW IN ( 'C' )
            BEGIN
                SET @SQL =CONCAT('

      UPDATE A SET A.UNITS=B.ACTUAL_UNITS FROM ',@CUSTOMER_TABLE_SALES,' A JOIN 
	  (
       SELECT C.CUST_HIERARCHY_NO AS HIERARCHY_NO,-- THOUGH COLUMN NAME IS PROJECTION_DETAILS_SID IT WILL CONTAIN CCP_DETAILS_SID
             A.PERIOD,
             A.YEAR,
            
             SUM(( ACTUAL_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1))) ACTUAL_UNITS,
			  
             C.SALES_INCLUSION,
             0    INDICATOR,
                                        	TI.CFF_MASTER_SID
												

      FROM   ', @CCP_HIERARCHY, ' C
            JOIN #TEMP_INPUT TI ON TI.CCP_DETAILS_SID=C.CCP_DETAILS_SID
             CROSS JOIN (SELECT PERIOD_SID,
                                PERIOD,
                                YEAR
                         FROM   #PERIOD
                          WHERE  PERIOD_SID BETWEEN ', @STAT_SALES_SID, ' AND ', @END_SALES_SID, ')A
             LEFT JOIN NM_ACTUAL_SALES AD
                    ON A.PERIOD_SID = AD.PERIOD_SID
                       AND AD.CCP_DETAILS_SID = C.CCP_DETAILS_SID AND TI.PROJECTION_MASTER_SID=AD.PROJECTION_MASTER_SID
                     LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
					 LEFT JOIN #ITEM_PRICING IP ON IP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID AND IP.PERIOD_SID=A.PERIOD_SID
			WHERE EXISTS(SELECT 1 FROM #TEMP_INPUT TI JOIN #CFF_PROJECTION_MASTER CP ON CP.CFF_MASTER_SID=TI.CFF_MASTER_SID AND CP.ID=1 AND AD.CCP_DETAILS_SID=TI.CCP_DETAILS_SID)
      GROUP  BY C.CUST_HIERARCHY_NO,
                PERIOD,
                YEAR,
				TI.CFF_MASTER_SID,
                C.SALES_INCLUSION
      UNION ALL
      SELECT C.CUST_HIERARCHY_NO,
             PERIOD,
             YEAR,
            
             SUM(PROJECTION_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1)),
             C.SALES_INCLUSION,
             1 INDICATOR,
                                             
												TI.CFF_MASTER_SID 
      FROM    ', @CCP_HIERARCHY, ' C
	  JOIN #TEMP_INPUT TI ON C.CCP_DETAILS_SID=TI.CCP_DETAILS_SID
             
             CROSS JOIN (SELECT PERIOD_SID,
                                PERIOD,
                                YEAR
                         FROM    #PERIOD
                          WHERE  PERIOD_SID BETWEEN ', @PROJ_START_SID, ' AND ', @PROJ_END_SID, ')B
             LEFT JOIN NM_SALES_PROJECTION A
                    ON C.CCP_DETAILS_SID = A.CCP_DETAILS_SID
                       AND B.PERIOD_SID = A.PERIOD_SID AND A.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
                                     LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
			 LEFT JOIN #ITEM_PRICING IP ON IP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID AND IP.PERIOD_SID=A.PERIOD_SID
			 WHERE EXISTS(SELECT 1 FROM #TEMP_INPUT TI JOIN #CFF_PROJECTION_MASTER CP ON CP.CFF_MASTER_SID=TI.CFF_MASTER_SID AND CP.ID=1 AND A.CCP_DETAILS_SID=TI.CCP_DETAILS_SID)
      GROUP  BY C.CUST_HIERARCHY_NO,
                PERIOD,
                YEAR,
				TI.CFF_MASTER_SID,
                C.SALES_INCLUSION)B  ON A.HIERARCHY_NO=B.HIERARCHY_NO AND A.PERIOD=B.PERIOD AND A.YEAR=B.YEAR 
				AND A.INDICATOR=B.INDICATOR AND A.SALES_INCLUSION=B.SALES_INCLUSION AND A.CFF_MASTER_SID=B.CFF_MASTER_SID
                           ')

                EXEC SP_EXECUTESQL
                  @SQL
				
            END 
			

			


                           
    IF @FLAG = 'UOM'
             AND @SCREEN_NAME = 'SALES'
             AND @VIEW IN ( 'P' )
            BEGIN
                SET @SQL =CONCAT('

      UPDATE A SET A.UNITS=B.ACTUAL_UNITS FROM ',@PRODUCT_TABLE_SALES,' A JOIN 
	  (
       SELECT C.PROD_HIERARCHY_NO AS HIERARCHY_NO,-- THOUGH COLUMN NAME IS PROJECTION_DETAILS_SID IT WILL CONTAIN CCP_DETAILS_SID
             A.PERIOD,
             A.YEAR,
            
             SUM(( ACTUAL_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1))) ACTUAL_UNITS,
			  
             C.SALES_INCLUSION,
             0    INDICATOR,
                                        	TI.CFF_MASTER_SID
												

      FROM   ', @CCP_HIERARCHY, ' C
            JOIN #TEMP_INPUT TI ON TI.CCP_DETAILS_SID=C.CCP_DETAILS_SID
             CROSS JOIN (SELECT PERIOD_SID,
                                PERIOD,
                                YEAR
                         FROM   #PERIOD
                          WHERE  PERIOD_SID BETWEEN ', @STAT_SALES_SID, ' AND ', @END_SALES_SID, ')A
             LEFT JOIN NM_ACTUAL_SALES AD
                    ON A.PERIOD_SID = AD.PERIOD_SID
                       AND AD.CCP_DETAILS_SID = C.CCP_DETAILS_SID AND TI.PROJECTION_MASTER_SID=AD.PROJECTION_MASTER_SID
                     LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
					 LEFT JOIN #ITEM_PRICING IP ON IP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID AND IP.PERIOD_SID=A.PERIOD_SID
			WHERE EXISTS(SELECT 1 FROM #TEMP_INPUT TI JOIN #CFF_PROJECTION_MASTER CP ON CP.CFF_MASTER_SID=TI.CFF_MASTER_SID AND CP.ID=1 AND AD.CCP_DETAILS_SID=TI.CCP_DETAILS_SID)
      GROUP  BY C.PROD_HIERARCHY_NO,
                PERIOD,
                YEAR,
				TI.CFF_MASTER_SID,
                C.SALES_INCLUSION
      UNION ALL
      SELECT C.PROD_HIERARCHY_NO,
             PERIOD,
             YEAR,
            
             SUM(PROJECTION_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1)),
             C.SALES_INCLUSION,
             1 INDICATOR,
                                             
												TI.CFF_MASTER_SID 
      FROM    ', @CCP_HIERARCHY, ' C
	  JOIN #TEMP_INPUT TI ON C.CCP_DETAILS_SID=TI.CCP_DETAILS_SID
             
             CROSS JOIN (SELECT PERIOD_SID,
                                PERIOD,
                                YEAR
                         FROM    #PERIOD
                          WHERE  PERIOD_SID BETWEEN ', @PROJ_START_SID, ' AND ', @PROJ_END_SID, ')B
             LEFT JOIN NM_SALES_PROJECTION A
                    ON C.CCP_DETAILS_SID = A.CCP_DETAILS_SID
                       AND B.PERIOD_SID = A.PERIOD_SID AND A.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
                                     LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
			 LEFT JOIN #ITEM_PRICING IP ON IP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID AND IP.PERIOD_SID=A.PERIOD_SID
			 WHERE EXISTS(SELECT 1 FROM #TEMP_INPUT TI JOIN #CFF_PROJECTION_MASTER CP ON CP.CFF_MASTER_SID=TI.CFF_MASTER_SID AND CP.ID=1 AND A.CCP_DETAILS_SID=TI.CCP_DETAILS_SID)
      GROUP  BY C.PROD_HIERARCHY_NO,
                PERIOD,
                YEAR,
				TI.CFF_MASTER_SID,
                C.SALES_INCLUSION)B  ON A.HIERARCHY_NO=B.HIERARCHY_NO AND A.PERIOD=B.PERIOD AND A.YEAR=B.YEAR 
				AND A.INDICATOR=B.INDICATOR AND A.SALES_INCLUSION=B.SALES_INCLUSION  AND A.CFF_MASTER_SID=B.CFF_MASTER_SID
                           ')

                EXEC SP_EXECUTESQL
                  @SQL
            END 
			
    IF @FLAG = 'UOM'
             AND @SCREEN_NAME = 'SALES'
             AND @VIEW NOT IN ( 'C','P' )
            BEGIN
                SET @SQL =CONCAT('

      UPDATE A SET A.UNITS=B.ACTUAL_UNITS FROM ',@CUSTOM_TABLE_SALES,' A JOIN 
	  (
       SELECT CUS.ROWID AS HIERARCHY_NO,-- THOUGH COLUMN NAME IS PROJECTION_DETAILS_SID IT WILL CONTAIN CCP_DETAILS_SID
             A.PERIOD,
             A.YEAR,
            
             SUM(( ACTUAL_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1))) ACTUAL_UNITS,
			  
             C.SALES_INCLUSION,
             0    INDICATOR,
                                        	TI.CFF_MASTER_SID
												

      FROM   ', @CCP_HIERARCHY, ' C JOIN
	         (SELECT DISTINCT ROWID,CCP_DETAILS_SID FROM ',@CUSTOM_CCP_SALES,' ) CUS ON CUS.CCP_DETAILS_SID=C.CCP_DETAILS_SID 
            JOIN #TEMP_INPUT TI ON TI.CCP_DETAILS_SID=C.CCP_DETAILS_SID
             CROSS JOIN (SELECT PERIOD_SID,
                                PERIOD,
                                YEAR
                         FROM   #PERIOD
                          WHERE  PERIOD_SID BETWEEN ', @STAT_SALES_SID, ' AND ', @END_SALES_SID, ')A
             LEFT JOIN NM_ACTUAL_SALES AD
                    ON A.PERIOD_SID = AD.PERIOD_SID
                       AND AD.CCP_DETAILS_SID = C.CCP_DETAILS_SID AND TI.PROJECTION_MASTER_SID=AD.PROJECTION_MASTER_SID
                     LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
					 LEFT JOIN #ITEM_PRICING IP ON IP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID AND IP.PERIOD_SID=A.PERIOD_SID
			WHERE EXISTS(SELECT 1 FROM #TEMP_INPUT TI JOIN #CFF_PROJECTION_MASTER CP ON CP.CFF_MASTER_SID=TI.CFF_MASTER_SID AND CP.ID=1 AND AD.CCP_DETAILS_SID=TI.CCP_DETAILS_SID)
      GROUP  BY CUS.ROWID,
                PERIOD,
                YEAR,
				TI.CFF_MASTER_SID,
                C.SALES_INCLUSION
      UNION ALL
      SELECT CUS.ROWID,
             PERIOD,
             YEAR,
            
             SUM(PROJECTION_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1)),
             C.SALES_INCLUSION,
             1 INDICATOR,
                                             
												TI.CFF_MASTER_SID 
      FROM    ', @CCP_HIERARCHY, ' C  JOIN
	  (SELECT DISTINCT ROWID,CCP_DETAILS_SID FROM ',@CUSTOM_CCP_SALES,' WHERE LEVEL_NO=',@CUSTOM_LEVEL_NO,') CUS ON CUS.CCP_DETAILS_SID=C.CCP_DETAILS_SID 
	  JOIN #TEMP_INPUT TI ON C.CCP_DETAILS_SID=TI.CCP_DETAILS_SID
             
             CROSS JOIN (SELECT PERIOD_SID,
                                PERIOD,
                                YEAR
                         FROM    #PERIOD
                          WHERE  PERIOD_SID BETWEEN ', @PROJ_START_SID, ' AND ', @PROJ_END_SID, ')B
             LEFT JOIN NM_SALES_PROJECTION A
                    ON C.CCP_DETAILS_SID = A.CCP_DETAILS_SID
                       AND B.PERIOD_SID = A.PERIOD_SID AND A.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
                                     LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
			 LEFT JOIN #ITEM_PRICING IP ON IP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID AND IP.PERIOD_SID=A.PERIOD_SID
			 WHERE EXISTS(SELECT 1 FROM #TEMP_INPUT TI JOIN #CFF_PROJECTION_MASTER CP ON CP.CFF_MASTER_SID=TI.CFF_MASTER_SID AND CP.ID=1 AND A.CCP_DETAILS_SID=TI.CCP_DETAILS_SID)
      GROUP  BY CUS.ROWID,
                PERIOD,
                YEAR,
				TI.CFF_MASTER_SID,
                C.SALES_INCLUSION)B  ON A.HIERARCHY_NO=B.HIERARCHY_NO AND A.PERIOD=B.PERIOD AND A.YEAR=B.YEAR 
				AND A.INDICATOR=B.INDICATOR AND A.SALES_INCLUSION=B.SALES_INCLUSION  AND A.CFF_MASTER_SID=B.CFF_MASTER_SID
                           ')

                EXEC SP_EXECUTESQL
                  @SQL
            END 
			
	



                           
IF @FLAG = 'UOM'
             AND @SCREEN_NAME = 'DISCOUNT'
             AND @VIEW IN ( 'C' )
            BEGIN
                SET @SQL =CONCAT('

       UPDATE A SET A.UNITS=B.UNITS FROM ',@CUSTOMER_TABLE_DISCOUNT,' A JOIN 
	  ( 
SELECT SCCP.CUST_HIERARCHY_NO AS HIERARCHY_NO, -- THOUGH COLUMN NAME IS PROJECTION_DETAILS_SID IT WILL CONTAIN CCP_DETAILS_SID
       --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       
       SUM((ACTUAL_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1))) UNITS,
       C.DEDUCTION_INCLUSION,
       0 INDICATOR,
	   TI.CFF_MASTER_SID
FROM ', @DEDUCTION_TABLE, ' C
INNER JOIN ',@CCP_HIERARCHY,' SCCP ON SCCP.CCP_DETAILS_SID=C.CCP_DETAILS_SID
INNER JOIN #RS_INFO RI ON RI.RS_CONTRACT_SID=C.RS_CONTRACT_SID
AND C.CCP_DETAILS_SID = RI.CCP_DETAILS_SID
INNER JOIN #TEMP_INPUT TI ON TI.CCP_DETAILS_SID=C.CCP_DETAILS_SID
INNER JOIN CCP_DETAILS CCP ON CCP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID


CROSS JOIN (
       SELECT PERIOD_SID,
              PERIOD,
              YEAR
       FROM #PERIOD
       WHERE PERIOD_SID BETWEEN ', @STAT_SALES_SID, '
                     AND ', @END_SALES_SID, '
       ) A
LEFT JOIN NM_ACTUAL_DISCOUNT AD
       ON A.PERIOD_SID = AD.PERIOD_SID
              AND AD.RS_CONTRACT_SID = C.RS_CONTRACT_SID
              AND AD.CCP_DETAILS_SID = C.CCP_DETAILS_SID AND AD.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
LEFT JOIN NM_ACTUAL_SALES SPT  
ON C.CCP_DETAILS_SID = SPT.CCP_DETAILS_SID
              AND A.PERIOD_SID = SPT.PERIOD_SID  AND SPT.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID

GROUP BY SCCP.CUST_HIERARCHY_NO,
       --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       C.DEDUCTION_INCLUSION,
	   TI.CFF_MASTER_SID

UNION ALL

SELECT SCCP.CUST_HIERARCHY_NO AS HIERARCHY_NO, -- THOUGH COLUMN NAME IS PROJECTION_DETAILS_SID IT WILL CONTAIN CCP_DETAILS_SID
      --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
      
       SUM(SPT.PROJECTION_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1)) UNITS,
       C.DEDUCTION_INCLUSION,
       1 INDICATOR,
	  
	   TI.CFF_MASTER_SID
FROM ', @DEDUCTION_TABLE, ' C
INNER JOIN ',@CCP_HIERARCHY,' SCCP ON SCCP.CCP_DETAILS_SID=C.CCP_DETAILS_SID
INNER JOIN #RS_INFO RI ON RI.RS_CONTRACT_SID=C.RS_CONTRACT_SID
AND C.CCP_DETAILS_SID = RI.CCP_DETAILS_SID
INNER JOIN #TEMP_INPUT TI ON TI.CCP_DETAILS_SID=C.CCP_DETAILS_SID
INNER JOIN CCP_DETAILS CCP ON CCP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID


CROSS JOIN (
       SELECT PERIOD_SID,
              PERIOD,
              YEAR
       FROM #PERIOD
       WHERE PERIOD_SID BETWEEN ', @PROJ_START_SID, '
                     AND ', @PROJ_END_SID, '
       ) A
LEFT JOIN NM_DISCOUNT_PROJECTION PTD  
       ON C.CCP_DETAILS_SID = PTD.CCP_DETAILS_SID
              AND C.RS_CONTRACT_SID = PTD.RS_CONTRACT_SID
              AND A.PERIOD_SID = PTD.PERIOD_SID AND PTD.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
LEFT JOIN NM_SALES_PROJECTION SPT  
ON C.CCP_DETAILS_SID = SPT.CCP_DETAILS_SID
              AND A.PERIOD_SID = SPT.PERIOD_SID  AND SPT.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
GROUP BY SCCP.CUST_HIERARCHY_NO,
      --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       C.DEDUCTION_INCLUSION,TI.CFF_MASTER_SID)B ON A.HIERARCHY_NO=B.HIERARCHY_NO AND A.PERIOD=B.PERIOD AND A.YEAR=B.YEAR AND A.DEDUCTION_INCLUSION=B.DEDUCTION_INCLUSION
	   AND A.INDICATOR=B.INDICATOR AND A.RS_CONTRACT_SID=B.SELECTED_LEVEL AND A.CFF_MASTER_SID=B.CFF_MASTER_SID
	    
')

                EXEC SP_EXECUTESQL
                  @SQL
           

END







IF @FLAG = 'UOM'
             AND @SCREEN_NAME = 'DISCOUNT'
             AND @VIEW IN ( 'P' )
            BEGIN
                SET @SQL =CONCAT('

       UPDATE A SET A.UNITS=B.UNITS FROM ',@PRODUCT_TABLE_DISCOUNT,' A JOIN 
	  ( 
SELECT SCCP.PROD_HIERARCHY_NO AS HIERARCHY_NO, -- THOUGH COLUMN NAME IS PROJECTION_DETAILS_SID IT WILL CONTAIN CCP_DETAILS_SID
       --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       
       SUM((ACTUAL_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1))) UNITS,
       C.DEDUCTION_INCLUSION,
       0 INDICATOR,
	   TI.CFF_MASTER_SID
FROM ', @DEDUCTION_TABLE, ' C
INNER JOIN ',@CCP_HIERARCHY,' SCCP ON SCCP.CCP_DETAILS_SID=C.CCP_DETAILS_SID
INNER JOIN #RS_INFO RI ON RI.RS_CONTRACT_SID=C.RS_CONTRACT_SID
AND C.CCP_DETAILS_SID = RI.CCP_DETAILS_SID
INNER JOIN #TEMP_INPUT TI ON TI.CCP_DETAILS_SID=C.CCP_DETAILS_SID
INNER JOIN CCP_DETAILS CCP ON CCP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID


CROSS JOIN (
       SELECT PERIOD_SID,
              PERIOD,
              YEAR
       FROM #PERIOD
       WHERE PERIOD_SID BETWEEN ', @STAT_SALES_SID, '
                     AND ', @END_SALES_SID, '
       ) A
LEFT JOIN NM_ACTUAL_DISCOUNT AD
       ON A.PERIOD_SID = AD.PERIOD_SID
              AND AD.RS_CONTRACT_SID = C.RS_CONTRACT_SID
              AND AD.CCP_DETAILS_SID = C.CCP_DETAILS_SID AND AD.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
LEFT JOIN NM_ACTUAL_SALES SPT  
ON C.CCP_DETAILS_SID = SPT.CCP_DETAILS_SID
              AND A.PERIOD_SID = SPT.PERIOD_SID  AND SPT.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID

GROUP BY SCCP.PROD_HIERARCHY_NO,
       --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       C.DEDUCTION_INCLUSION,
	   TI.CFF_MASTER_SID

UNION ALL

SELECT SCCP.PROD_HIERARCHY_NO AS HIERARCHY_NO, -- THOUGH COLUMN NAME IS PROJECTION_DETAILS_SID IT WILL CONTAIN CCP_DETAILS_SID
      --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
      
       SUM(SPT.PROJECTION_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1)) UNITS,
       C.DEDUCTION_INCLUSION,
       1 INDICATOR,
	  
	   TI.CFF_MASTER_SID
FROM ', @DEDUCTION_TABLE, ' C
INNER JOIN ',@CCP_HIERARCHY,' SCCP ON SCCP.CCP_DETAILS_SID=C.CCP_DETAILS_SID
INNER JOIN #RS_INFO RI ON RI.RS_CONTRACT_SID=C.RS_CONTRACT_SID
AND C.CCP_DETAILS_SID = RI.CCP_DETAILS_SID
INNER JOIN #TEMP_INPUT TI ON TI.CCP_DETAILS_SID=C.CCP_DETAILS_SID
INNER JOIN CCP_DETAILS CCP ON CCP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID


CROSS JOIN (
       SELECT PERIOD_SID,
              PERIOD,
              YEAR
       FROM #PERIOD
       WHERE PERIOD_SID BETWEEN ', @PROJ_START_SID, '
                     AND ', @PROJ_END_SID, '
       ) A
LEFT JOIN NM_DISCOUNT_PROJECTION PTD  
       ON C.CCP_DETAILS_SID = PTD.CCP_DETAILS_SID
              AND C.RS_CONTRACT_SID = PTD.RS_CONTRACT_SID
              AND A.PERIOD_SID = PTD.PERIOD_SID AND PTD.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
LEFT JOIN NM_SALES_PROJECTION SPT  
ON C.CCP_DETAILS_SID = SPT.CCP_DETAILS_SID
              AND A.PERIOD_SID = SPT.PERIOD_SID  AND SPT.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
GROUP BY SCCP.PROD_HIERARCHY_NO,
      --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       C.DEDUCTION_INCLUSION,TI.CFF_MASTER_SID)B ON A.HIERARCHY_NO=B.HIERARCHY_NO AND A.PERIOD=B.PERIOD AND A.YEAR=B.YEAR AND A.DEDUCTION_INCLUSION=B.DEDUCTION_INCLUSION
	   AND A.INDICATOR=B.INDICATOR AND A.RS_CONTRACT_SID=B.SELECTED_LEVEL AND A.CFF_MASTER_SID=B.CFF_MASTER_SID
	    
')

                EXEC SP_EXECUTESQL
                  @SQL
           

END



IF @FLAG = 'UOM'
             AND @SCREEN_NAME = 'DISCOUNT'
             AND @VIEW NOT IN ('C' ,'P' )
            BEGIN
                SET @SQL =CONCAT('

       UPDATE A SET A.UNITS=B.UNITS FROM ',@CUSTOM_TABLE_DISCOUNT,' A JOIN 
	  ( 
SELECT CCP.ROWID AS HIERARCHY_NO, -- THOUGH COLUMN NAME IS PROJECTION_DETAILS_SID IT WILL CONTAIN CCP_DETAILS_SID
       --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       
       SUM((ACTUAL_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1))) UNITS,
       C.DEDUCTION_INCLUSION,
       0 INDICATOR,
	   TI.CFF_MASTER_SID
FROM ', @DEDUCTION_TABLE, ' C
JOIN ',@CUSTOM_CCP_SALES,' CCP ON CCP.CCP_DETAILS_SID=C.CCP_DETAILS_SID AND (C.RS_CONTRACT_SID=CCP.RS_CONTRACT_SID OR CCP.RS_CONTRACT_SID=0) 
INNER JOIN #RS_INFO RI ON RI.RS_CONTRACT_SID=C.RS_CONTRACT_SID
AND C.CCP_DETAILS_SID = RI.CCP_DETAILS_SID
INNER JOIN #TEMP_INPUT TI ON TI.CCP_DETAILS_SID=C.CCP_DETAILS_SID



CROSS JOIN (
       SELECT PERIOD_SID,
              PERIOD,
              YEAR
       FROM #PERIOD
       WHERE PERIOD_SID BETWEEN ', @STAT_SALES_SID, '
                     AND ', @END_SALES_SID, '
       ) A
LEFT JOIN NM_ACTUAL_DISCOUNT AD
       ON A.PERIOD_SID = AD.PERIOD_SID
              AND AD.RS_CONTRACT_SID = C.RS_CONTRACT_SID
              AND AD.CCP_DETAILS_SID = C.CCP_DETAILS_SID AND AD.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
LEFT JOIN NM_ACTUAL_SALES SPT  
ON C.CCP_DETAILS_SID = SPT.CCP_DETAILS_SID
              AND A.PERIOD_SID = SPT.PERIOD_SID  AND SPT.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID

GROUP BY CCP.ROWID,
       --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       C.DEDUCTION_INCLUSION,
	   TI.CFF_MASTER_SID

UNION ALL

SELECT CCP.ROWID AS HIERARCHY_NO, -- THOUGH COLUMN NAME IS PROJECTION_DETAILS_SID IT WILL CONTAIN CCP_DETAILS_SID
      --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
      
       SUM(SPT.PROJECTION_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1)) UNITS,
       C.DEDUCTION_INCLUSION,
       1 INDICATOR,
	  
	   TI.CFF_MASTER_SID
FROM ', @DEDUCTION_TABLE, ' C
JOIN ',@CUSTOM_CCP_SALES,' CCP ON CCP.CCP_DETAILS_SID=C.CCP_DETAILS_SID AND (C.RS_CONTRACT_SID=CCP.RS_CONTRACT_SID OR CCP.RS_CONTRACT_SID=0) AND CCP.LEVEL_NO=',@CUSTOM_LEVEL_NO,'
INNER JOIN #RS_INFO RI ON RI.RS_CONTRACT_SID=C.RS_CONTRACT_SID
AND C.CCP_DETAILS_SID = RI.CCP_DETAILS_SID
INNER JOIN #TEMP_INPUT TI ON TI.CCP_DETAILS_SID=C.CCP_DETAILS_SID



CROSS JOIN (
       SELECT PERIOD_SID,
              PERIOD,
              YEAR
       FROM #PERIOD
       WHERE PERIOD_SID BETWEEN ', @PROJ_START_SID, '
                     AND ', @PROJ_END_SID, '
       ) A
LEFT JOIN NM_DISCOUNT_PROJECTION PTD  
       ON C.CCP_DETAILS_SID = PTD.CCP_DETAILS_SID
              AND C.RS_CONTRACT_SID = PTD.RS_CONTRACT_SID
              AND A.PERIOD_SID = PTD.PERIOD_SID AND PTD.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
LEFT JOIN NM_SALES_PROJECTION SPT  
ON C.CCP_DETAILS_SID = SPT.CCP_DETAILS_SID
              AND A.PERIOD_SID = SPT.PERIOD_SID  AND PTD.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
GROUP BY CCP.ROWID,
      --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       C.DEDUCTION_INCLUSION,TI.CFF_MASTER_SID)B ON A.HIERARCHY_NO=B.HIERARCHY_NO AND A.PERIOD=B.PERIOD AND A.YEAR=B.YEAR AND A.DEDUCTION_INCLUSION=B.DEDUCTION_INCLUSION
	   AND A.INDICATOR=B.INDICATOR AND A.RS_CONTRACT_SID=B.SELECTED_LEVEL AND A.CFF_MASTER_SID=B.CFF_MASTER_SID
	    
')

                EXEC SP_EXECUTESQL
                  @SQL
           
END

 IF @FLAG = 'F'
             AND @SCREEN_NAME = 'SALES'
             AND @VIEW IN ( 'C' )
            BEGIN
			SET @SQL=CONCAT('UPDATE ',@CUSTOMER_TABLE_SALES,' SET FILTER_CCP=0')
			EXEC(@SQL) 

                SET @SQL =CONCAT('

            UPDATE A SET A.UNITS=B.ACTUAL_UNITS,A.SALES=B.SALES,A.FILTER_CCP=B.FILTER_CCPD,A.COGS_VALUE=B.COGS FROM ',@CUSTOMER_TABLE_SALES,' A JOIN 
	  (
       SELECT C.CUST_HIERARCHY_NO AS HIERARCHY_NO,-- THOUGH COLUMN NAME IS PROJECTION_DETAILS_SID IT WILL CONTAIN CCP_DETAILS_SID
             A.PERIOD,
             A.YEAR,
             SUM(( ACTUAL_SALES ))    SALES,
             SUM(( ACTUAL_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1))) ACTUAL_UNITS,
			  
             C.SALES_INCLUSION,
             0    INDICATOR,
                                               
												TI.CFF_MASTER_SID,
												
												MAX(CONVERT(TINYINT,FCCP.FILTER_CCPD)) AS FILTER_CCPD,
												SUM( ACTUAL_SALES *  ISNULL(IP.ITEM_PRICE,0)) AS COGS 

      FROM   ', @CCP_HIERARCHY, ' C
            JOIN #TEMP_INPUT TI ON TI.CCP_DETAILS_SID=C.CCP_DETAILS_SID 
			JOIN (SELECT DISTINCT CCP_DETAILS_SID,FILTER_CCPD FROM  ',@DEDUCTION_TABLE,' WHERE FILTER_CCPD=1) FCCP ON FCCP.CCP_DETAILS_SID=C.CCP_DETAILS_SID
             CROSS JOIN (SELECT PERIOD_SID,
                                PERIOD,
                                YEAR
                         FROM   #PERIOD
                          WHERE  PERIOD_SID BETWEEN ', @STAT_SALES_SID, ' AND ', @END_SALES_SID, ')A
             LEFT JOIN NM_ACTUAL_SALES AD
                    ON A.PERIOD_SID = AD.PERIOD_SID
                       AND AD.CCP_DETAILS_SID = C.CCP_DETAILS_SID AND TI.PROJECTION_MASTER_SID=AD.PROJECTION_MASTER_SID
                     LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
					 LEFT JOIN #ITEM_PRICING IP ON IP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID AND IP.PERIOD_SID=A.PERIOD_SID
			WHERE EXISTS(SELECT 1 FROM #TEMP_INPUT TI JOIN #CFF_PROJECTION_MASTER CP ON CP.CFF_MASTER_SID=TI.CFF_MASTER_SID AND CP.ID=1 AND AD.CCP_DETAILS_SID=TI.CCP_DETAILS_SID)
      GROUP  BY C.CUST_HIERARCHY_NO,
                PERIOD,
                YEAR,
				TI.CFF_MASTER_SID,
                C.SALES_INCLUSION
      UNION ALL
      SELECT C.CUST_HIERARCHY_NO,
             PERIOD,
             YEAR,
             SUM(PROJECTION_SALES),
             SUM(PROJECTION_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1)),
             C.SALES_INCLUSION,
             1 INDICATOR,
                                                
												TI.CFF_MASTER_SID,
			MAX(CONVERT(TINYINT,FCCP.FILTER_CCPD)) AS FILTER_CCPD,
			SUM( PROJECTION_SALES *  ISNULL(IP.ITEM_PRICE,0)) AS COGS 
      FROM    ', @CCP_HIERARCHY, ' C
	  JOIN #TEMP_INPUT TI ON C.CCP_DETAILS_SID=TI.CCP_DETAILS_SID
      JOIN (SELECT DISTINCT CCP_DETAILS_SID,FILTER_CCPD FROM  ',@DEDUCTION_TABLE,' WHERE FILTER_CCPD=1) FCCP ON FCCP.CCP_DETAILS_SID=C.CCP_DETAILS_SID    
             CROSS JOIN (SELECT PERIOD_SID,
                                PERIOD,
                                YEAR
                         FROM    #PERIOD
                          WHERE  PERIOD_SID BETWEEN ', @PROJ_START_SID, ' AND ', @PROJ_END_SID, ')B
             LEFT JOIN NM_SALES_PROJECTION A
                    ON C.CCP_DETAILS_SID = A.CCP_DETAILS_SID
                       AND B.PERIOD_SID = A.PERIOD_SID AND A.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
                                     LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
			 LEFT JOIN #ITEM_PRICING IP ON IP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID AND IP.PERIOD_SID=A.PERIOD_SID
			 WHERE EXISTS(SELECT 1 FROM #TEMP_INPUT TI JOIN #CFF_PROJECTION_MASTER CP ON CP.CFF_MASTER_SID=TI.CFF_MASTER_SID AND CP.ID=1 AND A.CCP_DETAILS_SID=TI.CCP_DETAILS_SID)
      GROUP  BY C.CUST_HIERARCHY_NO,
                PERIOD,
                YEAR,
				TI.CFF_MASTER_SID,
                C.SALES_INCLUSION)B  ON A.HIERARCHY_NO=B.HIERARCHY_NO AND A.PERIOD=B.PERIOD AND A.YEAR=B.YEAR AND A.SALES_INCLUSION=B.SALES_INCLUSION AND A.INDICATOR=B.INDICATOR AND A.CFF_MASTER_SID=B.CFF_MASTER_SID
                           ')

                EXEC SP_EXECUTESQL
                  @SQL
            END 
			



                           
			

   

 IF @FLAG = 'F'
             AND @SCREEN_NAME = 'SALES'
             AND @VIEW IN ( 'P' )
            BEGIN
			SET @SQL=CONCAT('UPDATE ',@PRODUCT_TABLE_SALES,' SET FILTER_CCP=0')
			EXEC(@SQL) 

                SET @SQL =CONCAT('

            UPDATE A SET A.UNITS=B.ACTUAL_UNITS,A.SALES=B.SALES,A.FILTER_CCP=B.FILTER_CCPD,A.COGS_VALUE=B.COGS FROM ',@PRODUCT_TABLE_SALES,' A JOIN 
	  (
       SELECT C.PROD_HIERARCHY_NO AS HIERARCHY_NO,-- THOUGH COLUMN NAME IS PROJECTION_DETAILS_SID IT WILL CONTAIN CCP_DETAILS_SID
             A.PERIOD,
             A.YEAR,
             SUM(( ACTUAL_SALES ))    SALES,
             SUM(( ACTUAL_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1))) ACTUAL_UNITS,
			  
             C.SALES_INCLUSION,
             0    INDICATOR,
                                               
												TI.CFF_MASTER_SID,
												
												MAX(CONVERT(TINYINT,FCCP.FILTER_CCPD)) AS FILTER_CCPD,
												SUM( ACTUAL_SALES *  ISNULL(IP.ITEM_PRICE,0)) AS COGS 

      FROM   ', @CCP_HIERARCHY, ' C
            JOIN #TEMP_INPUT TI ON TI.CCP_DETAILS_SID=C.CCP_DETAILS_SID 
			JOIN (SELECT DISTINCT CCP_DETAILS_SID,FILTER_CCPD FROM  ',@DEDUCTION_TABLE,' WHERE FILTER_CCPD=1) FCCP ON FCCP.CCP_DETAILS_SID=C.CCP_DETAILS_SID
             CROSS JOIN (SELECT PERIOD_SID,
                                PERIOD,
                                YEAR
                         FROM   #PERIOD
                          WHERE  PERIOD_SID BETWEEN ', @STAT_SALES_SID, ' AND ', @END_SALES_SID, ')A
             LEFT JOIN NM_ACTUAL_SALES AD
                    ON A.PERIOD_SID = AD.PERIOD_SID
                       AND AD.CCP_DETAILS_SID = C.CCP_DETAILS_SID AND TI.PROJECTION_MASTER_SID=AD.PROJECTION_MASTER_SID
                     LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
					 LEFT JOIN #ITEM_PRICING IP ON IP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID AND IP.PERIOD_SID=A.PERIOD_SID
			WHERE EXISTS(SELECT 1 FROM #TEMP_INPUT TI JOIN #CFF_PROJECTION_MASTER CP ON CP.CFF_MASTER_SID=TI.CFF_MASTER_SID AND CP.ID=1 AND AD.CCP_DETAILS_SID=TI.CCP_DETAILS_SID)
      GROUP  BY C.PROD_HIERARCHY_NO,
                PERIOD,
                YEAR,
				TI.CFF_MASTER_SID,
                C.SALES_INCLUSION
      UNION ALL
      SELECT C.PROD_HIERARCHY_NO,
             PERIOD,
             YEAR,
             SUM(PROJECTION_SALES),
             SUM(PROJECTION_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1)),
             C.SALES_INCLUSION,
             1 INDICATOR,
                                                
												TI.CFF_MASTER_SID,
			MAX(CONVERT(TINYINT,FCCP.FILTER_CCPD)),
			SUM( PROJECTION_SALES *  ISNULL(IP.ITEM_PRICE,0)) AS COGS 
      FROM    ', @CCP_HIERARCHY, ' C
	  JOIN #TEMP_INPUT TI ON C.CCP_DETAILS_SID=TI.CCP_DETAILS_SID
      JOIN (SELECT DISTINCT CCP_DETAILS_SID,FILTER_CCPD FROM  ',@DEDUCTION_TABLE,' WHERE FILTER_CCPD=1) FCCP ON FCCP.CCP_DETAILS_SID=C.CCP_DETAILS_SID    
             CROSS JOIN (SELECT PERIOD_SID,
                                PERIOD,
                                YEAR
                         FROM    #PERIOD
                          WHERE  PERIOD_SID BETWEEN ', @PROJ_START_SID, ' AND ', @PROJ_END_SID, ')B
             LEFT JOIN NM_SALES_PROJECTION A
                    ON C.CCP_DETAILS_SID = A.CCP_DETAILS_SID
                       AND B.PERIOD_SID = A.PERIOD_SID AND A.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
                                     LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
			 LEFT JOIN #ITEM_PRICING IP ON IP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID AND IP.PERIOD_SID=A.PERIOD_SID
			 WHERE EXISTS(SELECT 1 FROM #TEMP_INPUT TI JOIN #CFF_PROJECTION_MASTER CP ON CP.CFF_MASTER_SID=TI.CFF_MASTER_SID AND CP.ID=1 AND A.CCP_DETAILS_SID=TI.CCP_DETAILS_SID)
      GROUP  BY C.PROD_HIERARCHY_NO,
                PERIOD,
                YEAR,
				TI.CFF_MASTER_SID,
                C.SALES_INCLUSION)B  ON A.HIERARCHY_NO=B.HIERARCHY_NO AND A.PERIOD=B.PERIOD AND A.YEAR=B.YEAR AND A.SALES_INCLUSION=B.SALES_INCLUSION AND A.INDICATOR=B.INDICATOR AND A.CFF_MASTER_SID=B.CFF_MASTER_SID
                           ')

                EXEC SP_EXECUTESQL
                  @SQL
             
			END

			IF @FLAG = 'F'
             AND @SCREEN_NAME = 'SALES'
             AND @VIEW NOT IN ( 'C','P' )
            BEGIN
			SET @SQL=CONCAT('UPDATE ',@CUSTOM_TABLE_SALES,' SET FILTER_CCP=0')
			EXEC(@SQL) 

                SET @SQL =CONCAT('

            UPDATE A SET A.UNITS=B.ACTUAL_UNITS,A.SALES=B.SALES,A.FILTER_CCP=B.FILTER_CCPD,A.COGS_VALUE=B.COGS FROM ',@CUSTOM_TABLE_SALES,' A JOIN 
	  (
       SELECT CUS.ROWID AS HIERARCHY_NO,-- THOUGH COLUMN NAME IS PROJECTION_DETAILS_SID IT WILL CONTAIN CCP_DETAILS_SID
             A.PERIOD,
             A.YEAR,
             SUM(( ACTUAL_SALES ))    SALES,
             SUM(( ACTUAL_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1))) ACTUAL_UNITS,
			  
             C.SALES_INCLUSION,
             0    INDICATOR,
                                               
												TI.CFF_MASTER_SID,
												
												MAX(CONVERT(TINYINT,FCCP.FILTER_CCPD)) AS FILTER_CCPD,
												SUM( ACTUAL_SALES *  ISNULL(IP.ITEM_PRICE,0)) AS COGS 

      FROM   ', @CCP_HIERARCHY, ' C
            JOIN #TEMP_INPUT TI ON TI.CCP_DETAILS_SID=C.CCP_DETAILS_SID 
			  JOIN (SELECT DISTINCT ROWID,CCP_DETAILS_SID FROM ',@CUSTOM_CCP_SALES,' ) CUS ON CUS.CCP_DETAILS_SID=C.CCP_DETAILS_SID 
			JOIN (SELECT DISTINCT CCP_DETAILS_SID,FILTER_CCPD FROM  ',@DEDUCTION_TABLE,' WHERE FILTER_CCPD=1) FCCP ON FCCP.CCP_DETAILS_SID=C.CCP_DETAILS_SID
             CROSS JOIN (SELECT PERIOD_SID,
                                PERIOD,
                                YEAR
                         FROM   #PERIOD
                          WHERE  PERIOD_SID BETWEEN ', @STAT_SALES_SID, ' AND ', @END_SALES_SID, ')A
             LEFT JOIN NM_ACTUAL_SALES AD
                    ON A.PERIOD_SID = AD.PERIOD_SID
                       AND AD.CCP_DETAILS_SID = C.CCP_DETAILS_SID AND TI.PROJECTION_MASTER_SID=AD.PROJECTION_MASTER_SID
                     LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
					 LEFT JOIN #ITEM_PRICING IP ON IP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID AND IP.PERIOD_SID=A.PERIOD_SID
			WHERE EXISTS(SELECT 1 FROM #TEMP_INPUT TI JOIN #CFF_PROJECTION_MASTER CP ON CP.CFF_MASTER_SID=TI.CFF_MASTER_SID AND CP.ID=1 AND AD.CCP_DETAILS_SID=TI.CCP_DETAILS_SID)
      GROUP  BY  CUS.ROWID ,
                PERIOD,
                YEAR,
				TI.CFF_MASTER_SID,
                C.SALES_INCLUSION
      UNION ALL
      SELECT  CUS.ROWID ,
             PERIOD,
             YEAR,
             SUM(PROJECTION_SALES),
             SUM(PROJECTION_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1)),
             C.SALES_INCLUSION,
             1 INDICATOR,
                                                
												TI.CFF_MASTER_SID,
			MAX(CONVERT(TINYINT,FCCP.FILTER_CCPD)) AS FILTER_CCPD,
			SUM( PROJECTION_SALES *  ISNULL(IP.ITEM_PRICE,0)) AS COGS 
      FROM    ', @CCP_HIERARCHY, ' C
	  JOIN #TEMP_INPUT TI ON C.CCP_DETAILS_SID=TI.CCP_DETAILS_SID
	   JOIN (SELECT DISTINCT ROWID,CCP_DETAILS_SID FROM ',@CUSTOM_CCP_SALES,' WHERE LEVEL_NO=',@CUSTOM_LEVEL_NO,') CUS ON CUS.CCP_DETAILS_SID=C.CCP_DETAILS_SID
      JOIN (SELECT DISTINCT CCP_DETAILS_SID,FILTER_CCPD FROM  ',@DEDUCTION_TABLE,' WHERE FILTER_CCPD=1) FCCP ON FCCP.CCP_DETAILS_SID=C.CCP_DETAILS_SID    
             CROSS JOIN (SELECT PERIOD_SID,
                                PERIOD,
                                YEAR
                         FROM    #PERIOD
                          WHERE  PERIOD_SID BETWEEN ', @PROJ_START_SID, ' AND ', @PROJ_END_SID, ')B
             LEFT JOIN NM_SALES_PROJECTION A
                    ON C.CCP_DETAILS_SID = A.CCP_DETAILS_SID
                       AND B.PERIOD_SID = A.PERIOD_SID AND A.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
                                     LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
			 LEFT JOIN #ITEM_PRICING IP ON IP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID AND IP.PERIOD_SID=A.PERIOD_SID
			 WHERE EXISTS(SELECT 1 FROM #TEMP_INPUT TI JOIN #CFF_PROJECTION_MASTER CP ON CP.CFF_MASTER_SID=TI.CFF_MASTER_SID AND CP.ID=1 AND A.CCP_DETAILS_SID=TI.CCP_DETAILS_SID)
      GROUP  BY  CUS.ROWID ,
                PERIOD,
                YEAR,
				TI.CFF_MASTER_SID,
                C.SALES_INCLUSION)B  ON A.HIERARCHY_NO=B.HIERARCHY_NO AND A.PERIOD=B.PERIOD AND A.YEAR=B.YEAR AND A.SALES_INCLUSION=B.SALES_INCLUSION AND A.INDICATOR=B.INDICATOR AND A.CFF_MASTER_SID=B.CFF_MASTER_SID
                           ')

                EXEC SP_EXECUTESQL
                  @SQL
            END
			 

	IF @FLAG = 'F'
             AND @SCREEN_NAME = 'DISCOUNT'
             AND @VIEW IN ( 'C' )
            BEGIN
			SET @SQL=CONCAT('UPDATE ',@CUSTOMER_TABLE_DISCOUNT,' SET FILTER_CCP=0')
			EXEC(@SQL) 

                SET @SQL =CONCAT('

       UPDATE A SET A.UNITS=B.UNITS,A.SALES=B.SALES,A.DISCOUNT=B.DISCOUNT,A.EXFACTORY_ACTUAL_SALES=B.EXFACTORY_ACTUAL_SALES,
	   A.EXFACTORY_FORECAST_SALES=B.EX_FACTORY_SALES_PROJ,A.ACCRUALS=B.ACCRUALS,A.FILTER_CCP=B.FILTER_CCP FROM ',@CUSTOMER_TABLE_DISCOUNT,' A JOIN 
	  ( SELECT SCCP.CUST_HIERARCHY_NO AS HIERARCHY_NO, -- THOUGH COLUMN NAME IS PROJECTION_DETAILS_SID IT WILL CONTAIN CCP_DETAILS_SID
       --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       ISNULL(SUM(ND.ACTUAL_SALES), 0) DISCOUNT,
       SUM((SPT.ACTUAL_SALES)) SALES,
       SUM((SPT.ACTUAL_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1))) UNITS,
       C.DEDUCTION_INCLUSION,
       0 INDICATOR,
	    MAX(  CONVERT(INT,FILTER_CCPD))  FILTER_CCP,
	   SUM(EX_FACTORY_SALES_ACTUALS) AS EXFACTORY_ACTUAL_SALES,
	   SUM(EX_FACTORY_SALES_PROJ) AS EX_FACTORY_SALES_PROJ,
	   SUM(DISCOUNT_AMOUNT) AS ACCRUALS,
	   TI.CFF_MASTER_SID
FROM ', @DEDUCTION_TABLE, ' C
INNER JOIN ',@CCP_HIERARCHY,' SCCP ON SCCP.CCP_DETAILS_SID=C.CCP_DETAILS_SID AND C.FILTER_CCPd=1
INNER JOIN #RS_INFO RI ON RI.RS_CONTRACT_SID=C.RS_CONTRACT_SID
AND C.CCP_DETAILS_SID = RI.CCP_DETAILS_SID
INNER JOIN #TEMP_INPUT TI ON TI.CCP_DETAILS_SID=C.CCP_DETAILS_SID
INNER JOIN CCP_DETAILS CCP ON CCP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID


CROSS JOIN (
       SELECT PERIOD_SID,
              PERIOD,
              YEAR
       FROM #PERIOD
       WHERE PERIOD_SID BETWEEN ', @STAT_SALES_SID, '
                     AND ', @END_SALES_SID, '
       ) A
LEFT JOIN ',@PRODUCT_FILE,' PF ON PF.ITEM_MASTER_SID=CCP.ITEM_MASTER_SID AND PF.PERIOD_SID=A.PERIOD_SID
LEFT JOIN #ACCRUAL_DISCOUNT AD ON AD.CCP_DETAILS_SID=C.CCP_DETAILS_SID AND AD.PERIOD_SID=A.PERIOD_SID AND AD.RS_CONTRACT_SID=C.RS_CONTRACT_SID
LEFT JOIN NM_ACTUAL_DISCOUNT ND
       ON A.PERIOD_SID = ND.PERIOD_SID
              AND ND.RS_CONTRACT_SID = C.RS_CONTRACT_SID
              AND ND.CCP_DETAILS_SID = C.CCP_DETAILS_SID AND ND.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
LEFT JOIN NM_ACTUAL_SALES SPT  
ON C.CCP_DETAILS_SID = SPT.CCP_DETAILS_SID
              AND A.PERIOD_SID = SPT.PERIOD_SID  AND SPT.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID

GROUP BY SCCP.CUST_HIERARCHY_NO,
       --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       C.DEDUCTION_INCLUSION,
	   TI.CFF_MASTER_SID

UNION ALL

SELECT SCCP.CUST_HIERARCHY_NO AS HIERARCHY_NO, -- THOUGH COLUMN NAME IS PROJECTION_DETAILS_SID IT WILL CONTAIN CCP_DETAILS_SID
      --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       SUM(PTD.PROJECTION_SALES) DISCOUNT,
       SUM(SPT.PROJECTION_SALES) SALES,
       SUM(SPT.PROJECTION_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1)) UNITS,
       C.DEDUCTION_INCLUSION,
       1 INDICATOR,
      
	   MAX(  CONVERT(INT,FILTER_CCPD))   FILTER_CCP,SUM(EX_FACTORY_SALES_ACTUALS) AS EXFACTORY_ACTUAL_SALES,
	   SUM(EX_FACTORY_SALES_PROJ) AS EX_FACTORY_SALES_PROJ,
	   SUM(DISCOUNT_AMOUNT) AS ACCRUALS,
	   TI.CFF_MASTER_SID
FROM ', @DEDUCTION_TABLE, ' C
INNER JOIN ',@CCP_HIERARCHY,' SCCP ON SCCP.CCP_DETAILS_SID=C.CCP_DETAILS_SID  AND C.FILTER_CCPd=1
INNER JOIN #RS_INFO RI ON RI.RS_CONTRACT_SID=C.RS_CONTRACT_SID
AND C.CCP_DETAILS_SID = RI.CCP_DETAILS_SID
INNER JOIN #TEMP_INPUT TI ON TI.CCP_DETAILS_SID=C.CCP_DETAILS_SID
INNER JOIN CCP_DETAILS CCP ON CCP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID


CROSS JOIN (
       SELECT PERIOD_SID,
              PERIOD,
              YEAR
       FROM #PERIOD
       WHERE PERIOD_SID BETWEEN ', @PROJ_START_SID, '
                     AND ', @PROJ_END_SID, '
       ) A
LEFT JOIN ',@PRODUCT_FILE,' PF ON PF.ITEM_MASTER_SID=CCP.ITEM_MASTER_SID AND PF.PERIOD_SID=A.PERIOD_SID
LEFT JOIN #ACCRUAL_DISCOUNT AD ON AD.CCP_DETAILS_SID=C.CCP_DETAILS_SID AND AD.PERIOD_SID=A.PERIOD_SID AND AD.RS_CONTRACT_SID=C.RS_CONTRACT_SID
LEFT JOIN NM_DISCOUNT_PROJECTION PTD  
       ON C.CCP_DETAILS_SID = PTD.CCP_DETAILS_SID
              AND C.RS_CONTRACT_SID = PTD.RS_CONTRACT_SID
              AND A.PERIOD_SID = PTD.PERIOD_SID AND PTD.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
LEFT JOIN NM_SALES_PROJECTION SPT  
ON C.CCP_DETAILS_SID = SPT.CCP_DETAILS_SID
              AND A.PERIOD_SID = SPT.PERIOD_SID  AND SPT.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
GROUP BY SCCP.CUST_HIERARCHY_NO,
      --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       C.DEDUCTION_INCLUSION,
	   TI.CFF_MASTER_SID
)B ON A.HIERARCHY_NO=B.HIERARCHY_NO AND A.PERIOD=B.PERIOD AND A.YEAR=B.YEAR AND A.DEDUCTION_INCLUSION=B.DEDUCTION_INCLUSION
	   AND A.INDICATOR=B.INDICATOR AND A.RS_CONTRACT_SID=B.SELECTED_LEVEL AND A.CFF_MASTER_SID=B.CFF_MASTER_SID
	    
')





	    


                EXEC SP_EXECUTESQL
                  @SQL
  END

				IF @FLAG = 'F'
             AND @SCREEN_NAME = 'DISCOUNT'
             AND @VIEW IN ( 'P' )
            BEGIN
			SET @SQL=CONCAT('UPDATE ',@PRODUCT_TABLE_DISCOUNT,' SET FILTER_CCP=0')
			EXEC(@SQL) 

                SET @SQL =CONCAT('

       UPDATE A SET A.UNITS=B.UNITS,A.SALES=B.SALES,A.DISCOUNT=B.DISCOUNT,A.EXFACTORY_ACTUAL_SALES=B.EXFACTORY_ACTUAL_SALES,
	   A.EXFACTORY_FORECAST_SALES=B.EX_FACTORY_SALES_PROJ,A.ACCRUALS=B.ACCRUALS,A.FILTER_CCP=B.FILTER_CCP FROM ',@PRODUCT_TABLE_DISCOUNT,' A JOIN 
	  ( SELECT SCCP.PROD_HIERARCHY_NO AS HIERARCHY_NO, -- THOUGH COLUMN NAME IS PROJECTION_DETAILS_SID IT WILL CONTAIN CCP_DETAILS_SID
       --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       ISNULL(SUM(ND.ACTUAL_SALES), 0) DISCOUNT,
       SUM((SPT.ACTUAL_SALES)) SALES,
       SUM((SPT.ACTUAL_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1))) UNITS,
       C.DEDUCTION_INCLUSION,
       0 INDICATOR,
	    MAX(  CONVERT(INT,FILTER_CCPD))  FILTER_CCP,
	   SUM(EX_FACTORY_SALES_ACTUALS) AS EXFACTORY_ACTUAL_SALES,
	   SUM(EX_FACTORY_SALES_PROJ) AS EX_FACTORY_SALES_PROJ,
	   SUM(DISCOUNT_AMOUNT) AS ACCRUALS,
	   TI.CFF_MASTER_SID
FROM ', @DEDUCTION_TABLE, ' C
INNER JOIN ',@CCP_HIERARCHY,' SCCP ON SCCP.CCP_DETAILS_SID=C.CCP_DETAILS_SID  AND C.FILTER_CCPd=1
INNER JOIN #RS_INFO RI ON RI.RS_CONTRACT_SID=C.RS_CONTRACT_SID
AND C.CCP_DETAILS_SID = RI.CCP_DETAILS_SID
INNER JOIN #TEMP_INPUT TI ON TI.CCP_DETAILS_SID=C.CCP_DETAILS_SID
INNER JOIN CCP_DETAILS CCP ON CCP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID


CROSS JOIN (
       SELECT PERIOD_SID,
              PERIOD,
              YEAR
       FROM #PERIOD
       WHERE PERIOD_SID BETWEEN ', @STAT_SALES_SID, '
                     AND ', @END_SALES_SID, '
       ) A
LEFT JOIN ',@PRODUCT_FILE,' PF ON PF.ITEM_MASTER_SID=CCP.ITEM_MASTER_SID AND PF.PERIOD_SID=A.PERIOD_SID
LEFT JOIN #ACCRUAL_DISCOUNT AD ON AD.CCP_DETAILS_SID=C.CCP_DETAILS_SID AND AD.PERIOD_SID=A.PERIOD_SID AND AD.RS_CONTRACT_SID=C.RS_CONTRACT_SID
LEFT JOIN NM_ACTUAL_DISCOUNT ND
       ON A.PERIOD_SID = ND.PERIOD_SID
              AND ND.RS_CONTRACT_SID = C.RS_CONTRACT_SID
              AND ND.CCP_DETAILS_SID = C.CCP_DETAILS_SID AND ND.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
LEFT JOIN NM_ACTUAL_SALES SPT  
ON C.CCP_DETAILS_SID = SPT.CCP_DETAILS_SID
              AND A.PERIOD_SID = SPT.PERIOD_SID  AND SPT.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID

GROUP BY SCCP.PROD_HIERARCHY_NO,
       --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       C.DEDUCTION_INCLUSION,
	   TI.CFF_MASTER_SID

UNION ALL

SELECT SCCP.PROD_HIERARCHY_NO AS HIERARCHY_NO, -- THOUGH COLUMN NAME IS PROJECTION_DETAILS_SID IT WILL CONTAIN CCP_DETAILS_SID
      --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       SUM(PTD.PROJECTION_SALES) DISCOUNT,
       SUM(SPT.PROJECTION_SALES) SALES,
       SUM(SPT.PROJECTION_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1)) UNITS,
       C.DEDUCTION_INCLUSION,
       1 INDICATOR,
      
	   MAX(  CONVERT(INT,FILTER_CCPD))   FILTER_CCP   ,SUM(EX_FACTORY_SALES_ACTUALS) AS EXFACTORY_ACTUAL_SALES,
	   SUM(EX_FACTORY_SALES_PROJ) AS EX_FACTORY_SALES_PROJ,
	   SUM(DISCOUNT_AMOUNT) AS ACCRUALS,
	   TI.CFF_MASTER_SID
FROM ', @DEDUCTION_TABLE, ' C
INNER JOIN ',@CCP_HIERARCHY,' SCCP ON SCCP.CCP_DETAILS_SID=C.CCP_DETAILS_SID  AND C.FILTER_CCPd=1
INNER JOIN #RS_INFO RI ON RI.RS_CONTRACT_SID=C.RS_CONTRACT_SID
AND C.CCP_DETAILS_SID = RI.CCP_DETAILS_SID
INNER JOIN #TEMP_INPUT TI ON TI.CCP_DETAILS_SID=C.CCP_DETAILS_SID
INNER JOIN CCP_DETAILS CCP ON CCP.CCP_DETAILS_SID=TI.CCP_DETAILS_SID


CROSS JOIN (
       SELECT PERIOD_SID,
              PERIOD,
              YEAR
       FROM #PERIOD
       WHERE PERIOD_SID BETWEEN ', @PROJ_START_SID, '
                     AND ', @PROJ_END_SID, '
       ) A
LEFT JOIN ',@PRODUCT_FILE,' PF ON PF.ITEM_MASTER_SID=CCP.ITEM_MASTER_SID AND PF.PERIOD_SID=A.PERIOD_SID
LEFT JOIN #ACCRUAL_DISCOUNT AD ON AD.CCP_DETAILS_SID=C.CCP_DETAILS_SID AND AD.PERIOD_SID=A.PERIOD_SID AND AD.RS_CONTRACT_SID=C.RS_CONTRACT_SID
LEFT JOIN NM_DISCOUNT_PROJECTION PTD  
       ON C.CCP_DETAILS_SID = PTD.CCP_DETAILS_SID
              AND C.RS_CONTRACT_SID = PTD.RS_CONTRACT_SID
              AND A.PERIOD_SID = PTD.PERIOD_SID AND PTD.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
LEFT JOIN NM_SALES_PROJECTION SPT  
ON C.CCP_DETAILS_SID = SPT.CCP_DETAILS_SID
              AND A.PERIOD_SID = SPT.PERIOD_SID  AND SPT.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
GROUP BY SCCP.PROD_HIERARCHY_NO,
      --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       C.DEDUCTION_INCLUSION,
	   TI.CFF_MASTER_SID
)B ON A.HIERARCHY_NO=B.HIERARCHY_NO AND A.PERIOD=B.PERIOD AND A.YEAR=B.YEAR AND A.DEDUCTION_INCLUSION=B.DEDUCTION_INCLUSION
	   AND A.INDICATOR=B.INDICATOR AND A.RS_CONTRACT_SID=B.SELECTED_LEVEL AND A.CFF_MASTER_SID=B.CFF_MASTER_SID
	    
')







	   

     
	    



                EXEC SP_EXECUTESQL
                  @SQL
  END
		IF @FLAG = 'F'
             AND @SCREEN_NAME = 'DISCOUNT'
             AND @VIEW NOT IN ( 'C','P' )
            BEGIN
			SET @SQL=CONCAT('UPDATE ',@CUSTOM_TABLE_DISCOUNT,' SET FILTER_CCP=0')
			EXEC(@SQL) 

                SET @SQL =CONCAT('

       UPDATE A SET A.UNITS=B.UNITS,A.SALES=B.SALES,A.DISCOUNT=B.DISCOUNT,A.EXFACTORY_ACTUAL_SALES=B.EXFACTORY_ACTUAL_SALES,
	   A.EXFACTORY_FORECAST_SALES=B.EX_FACTORY_SALES_PROJ,A.ACCRUALS=B.ACCRUALS,A.FILTER_CCP=B.FILTER_CCP FROM ',@CUSTOM_TABLE_DISCOUNT,' A JOIN 
	  ( 
SELECT CCP.ROWID AS HIERARCHY_NO, -- THOUGH COLUMN NAME IS PROJECTION_DETAILS_SID IT WILL CONTAIN CCP_DETAILS_SID
       --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       ISNULL(SUM(ND.ACTUAL_SALES), 0) DISCOUNT,
       SUM((SPT.ACTUAL_SALES)) SALES,
       SUM((ACTUAL_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1))) UNITS,
       C.DEDUCTION_INCLUSION,
       0 INDICATOR,
	     MAX(  CONVERT(INT,FILTER_CCPD))  FILTER_CCP,
	   SUM(EX_FACTORY_SALES_ACTUALS) AS EXFACTORY_ACTUAL_SALES,
	   SUM(EX_FACTORY_SALES_PROJ) AS EX_FACTORY_SALES_PROJ,
	   SUM(DISCOUNT_AMOUNT) AS ACCRUALS,
	   TI.CFF_MASTER_SID
FROM ', @DEDUCTION_TABLE, ' C
JOIN ',@CUSTOM_CCP_SALES,' CCP ON C.CCP_DETAILS_SID=CCP.CCP_DETAILS_SID AND (C.RS_CONTRACT_SID=CCP.RS_CONTRACT_SID  OR CCP.RS_CONTRACT_SID=0)  AND C.FILTER_CCPd=1
INNER JOIN #RS_INFO RI ON RI.RS_CONTRACT_SID=C.RS_CONTRACT_SID
AND C.CCP_DETAILS_SID = RI.CCP_DETAILS_SID
INNER JOIN #TEMP_INPUT TI ON TI.CCP_DETAILS_SID=C.CCP_DETAILS_SID
INNER JOIN CCP_DETAILS CCP1 ON CCP1.CCP_DETAILS_SID=TI.CCP_DETAILS_SID
CROSS JOIN (
       SELECT PERIOD_SID,
              PERIOD,
              YEAR
       FROM #PERIOD
       WHERE PERIOD_SID BETWEEN ', @STAT_SALES_SID, '
                     AND ', @END_SALES_SID, '
       ) A
 LEFT JOIN ',@PRODUCT_FILE,' PF ON PF.ITEM_MASTER_SID=CCP1.ITEM_MASTER_SID AND PF.PERIOD_SID=A.PERIOD_SID
LEFT JOIN #ACCRUAL_DISCOUNT AD ON AD.CCP_DETAILS_SID=C.CCP_DETAILS_SID AND AD.PERIOD_SID=A.PERIOD_SID AND AD.RS_CONTRACT_SID=C.RS_CONTRACT_SID
LEFT JOIN NM_ACTUAL_DISCOUNT ND
       ON A.PERIOD_SID = ND.PERIOD_SID
              AND ND.RS_CONTRACT_SID = C.RS_CONTRACT_SID
              AND ND.CCP_DETAILS_SID = C.CCP_DETAILS_SID AND ND.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
LEFT JOIN NM_ACTUAL_SALES SPT  
ON C.CCP_DETAILS_SID = SPT.CCP_DETAILS_SID
              AND A.PERIOD_SID = SPT.PERIOD_SID  AND SPT.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID

GROUP BY CCP.ROWID,
       --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       C.DEDUCTION_INCLUSION,
	   TI.CFF_MASTER_SID

UNION ALL

SELECT CCP.ROWID AS HIERARCHY_NO, -- THOUGH COLUMN NAME IS PROJECTION_DETAILS_SID IT WILL CONTAIN CCP_DETAILS_SID
      --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       SUM(PTD.PROJECTION_SALES) DISCOUNT,
       SUM(SPT.PROJECTION_SALES) SALES,
       SUM(SPT.PROJECTION_UNITS * COALESCE(NULLIF(UOM_VALUE, 0),1)) UNITS,
       C.DEDUCTION_INCLUSION,
       1 INDICATOR,
      
	    MAX(  CONVERT(INT,FILTER_CCPD))  FILTER_CCP,SUM(EX_FACTORY_SALES_ACTUALS) AS EXFACTORY_ACTUAL_SALES,
	   SUM(EX_FACTORY_SALES_PROJ) AS EX_FACTORY_SALES_PROJ,
	   SUM(DISCOUNT_AMOUNT) AS ACCRUALS,
	   TI.CFF_MASTER_SID
FROM ', @DEDUCTION_TABLE, ' C
JOIN ',@CUSTOM_CCP_SALES,' CCP ON C.CCP_DETAILS_SID=CCP.CCP_DETAILS_SID AND (C.RS_CONTRACT_SID=CCP.RS_CONTRACT_SID OR CCP.RS_CONTRACT_SID=0)  AND C.FILTER_CCPd=1
INNER JOIN #RS_INFO RI ON RI.RS_CONTRACT_SID=C.RS_CONTRACT_SID
AND C.CCP_DETAILS_SID = RI.CCP_DETAILS_SID
INNER JOIN #TEMP_INPUT TI ON TI.CCP_DETAILS_SID=C.CCP_DETAILS_SID
INNER JOIN CCP_DETAILS CCP1 ON CCP1.CCP_DETAILS_SID=TI.CCP_DETAILS_SID

CROSS JOIN (
       SELECT PERIOD_SID,
              PERIOD,
              YEAR
       FROM #PERIOD
       WHERE PERIOD_SID BETWEEN ', @PROJ_START_SID, '
                     AND ', @PROJ_END_SID, '
       ) A
 LEFT JOIN ',@PRODUCT_FILE,' PF ON PF.ITEM_MASTER_SID=CCP1.ITEM_MASTER_SID AND PF.PERIOD_SID=A.PERIOD_SID
LEFT JOIN #ACCRUAL_DISCOUNT AD ON AD.CCP_DETAILS_SID=C.CCP_DETAILS_SID AND AD.PERIOD_SID=A.PERIOD_SID AND AD.RS_CONTRACT_SID=C.RS_CONTRACT_SID
LEFT JOIN NM_DISCOUNT_PROJECTION PTD  
       ON C.CCP_DETAILS_SID = PTD.CCP_DETAILS_SID
              AND C.RS_CONTRACT_SID = PTD.RS_CONTRACT_SID
              AND A.PERIOD_SID = PTD.PERIOD_SID AND PTD.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
LEFT JOIN NM_SALES_PROJECTION SPT  
ON C.CCP_DETAILS_SID = SPT.CCP_DETAILS_SID
              AND A.PERIOD_SID = SPT.PERIOD_SID  AND SPT.PROJECTION_MASTER_SID=TI.PROJECTION_MASTER_SID
LEFT JOIN #ITEM_UOM_DETAILS UOM ON UOM.CCP_DETAILS_SID=C.CCP_DETAILS_SID
GROUP BY CCP.ROWID,
      --DM.RS_CONTRACT_SID,
                   RI.SELECTED_LEVEL,
       A.PERIOD,
       A.YEAR,
       C.DEDUCTION_INCLUSION,
	   TI.CFF_MASTER_SID)B ON A.HIERARCHY_NO=B.HIERARCHY_NO AND A.PERIOD=B.PERIOD AND A.YEAR=B.YEAR AND A.DEDUCTION_INCLUSION=B.DEDUCTION_INCLUSION
	   AND A.INDICATOR=B.INDICATOR AND A.RS_CONTRACT_SID=B.SELECTED_LEVEL AND A.CFF_MASTER_SID=B.CFF_MASTER_SID
	    
')

                EXEC SP_EXECUTESQL
                  @SQL
END
DECLARE @VAR1 VARCHAR(20)
SET @VAR1=(CASE WHEN @VIEW='C' THEN 'CUSTOMER' WHEN @VIEW='P' THEN 'PRODUCT' WHEN @VIEW NOT IN ('C','P') THEN 'CUSTOM' END )



SET @SQL=CONCAT('UPDATE ',@STATUS_TABLE,' SET FLAG=''C''',' WHERE SCREEN_NAME=''',@SCREEN_NAME,''' AND VIEW_NAME=''',@VAR1,'''')
EXEC(@SQL)

END TRY 

      BEGIN CATCH 
          DECLARE @ERRORMESSAGE NVARCHAR(4000); 
          DECLARE @ERRORSEVERITY INT; 
          DECLARE @ERRORSTATE INT; 
          DECLARE @ERRORNUMBER INT; 
          DECLARE @ERRORPROCEDURE VARCHAR(200); 
          DECLARE @ERRORLINE INT; 

          EXEC USPERRORCOLLECTOR 

          SELECT @ERRORMESSAGE = ERROR_MESSAGE(), 
                 @ERRORSEVERITY = ERROR_SEVERITY(), 
                 @ERRORSTATE = ERROR_STATE(), 
                 @ERRORPROCEDURE = ERROR_PROCEDURE(), 
                 @ERRORLINE = ERROR_LINE(), 
                 @ERRORNUMBER = ERROR_NUMBER() 

          RAISERROR ( @ERRORMESSAGE,-- MESSAGE TEXT. 
                      @ERRORSEVERITY,-- SEVERITY. 
                      @ERRORSTATE,-- STATE. 
                      @ERRORPROCEDURE,-- PROCEDURE_NAME. 
                      @ERRORNUMBER,-- ERRORNUMBER 
                      @ERRORLINE -- ERRORLINE 
          ) 
      END CATCH 
  END 
GO



