IF EXISTS (SELECT 'X'
           FROM   INFORMATION_SCHEMA.ROUTINES
           WHERE  ROUTINE_NAME = 'PRC_FILES_DATA'
                  AND ROUTINE_SCHEMA = 'DBO')
  BEGIN
      DROP PROCEDURE [DBO].[PRC_FILES_DATA]
  END

  go



create  PROCEDURE [dbo].[PRC_FILES_DATA](@PROJECTION_SID INT,
                                       @FILE_UDT       UDT_FILE READONLY,
                                       @USER_ID        INT,
                                       @SESSION_ID     VARCHAR(100))
AS
    SET NOCOUNT ON

  BEGIN
      BEGIN TRY
          DECLARE @SQL NVARCHAR(MAX)
          DECLARE @HIERARCHY_TABLE                VARCHAR(100)=Concat('ST_CCP_HIERARCHY_', @USER_ID, '_', @SESSION_ID, '_', Replace(CONVERT(VARCHAR(50), Getdate(), 2), '.', '')),
                  @PRODUCT_FILE                   VARCHAR(100)=Concat('ST_PRODUCT_FILE_', @USER_ID, '_', @SESSION_ID, '_', Replace(CONVERT(VARCHAR(50), Getdate(), 2), '.', '')),
			 @UOM_TABLE                   VARCHAR(100)=Concat('ST_ITEM_UOM_DETAILS_', @USER_ID, '_', @SESSION_ID, '_', Replace(CONVERT(VARCHAR(50), Getdate(), 2), '.', '')),
                  @FORECAST_NAME_GTS_CUST_PROD    VARCHAR(50),
                  @FORECAST_VERSION_GTS_CUST_PROD VARCHAR(50),
                  @FORECAST_NAME_DEMAND           VARCHAR(50),
                  @FORECAST_VERSION_DEMAND        VARCHAR(50),
                  @FORECAST_NAME_ADJ_DEMAND       VARCHAR(50),
                  @FORECAST_VERSION_ADJ_DEMAND    VARCHAR(50),
                  @FORECAST_NAME_EXFACTORY        VARCHAR(50),
                  @FORECAST_VERSION_EXFACTORY     VARCHAR(50),
                  @FORECAST_NAME_INV_CUST_PROD    VARCHAR(50),
                  @FORECAST_VERSION_INV_CUST_PROD VARCHAR(50),
                  @FORECAST_NAME_INV              VARCHAR(50),
                  @FORECAST_VERSION_INV           VARCHAR(50),
                  @ACTUAL_PERIOD                  INT,
                  @PROJECTION_END_PERIOD          INT,
                  @PRICING_QUALIFIER              VARCHAR(50)='WAC',
                  @ITEM_UOM                       VARCHAR(50) = 'EACH',
			  @FORECASTING_TYPE       VARCHAR(50)

SELECT 
@FORECASTING_TYPE=FORECASTING_TYPE FROM PROJECTION_MASTER WHERE PROJECTION_MASTER_SID=@PROJECTION_SID


SET @HIERARCHY_TABLE =(CASE WHEN  @FORECASTING_TYPE IN('NON MANDATED','MANDATED')THEN Concat('ST_CCP_HIERARCHY_', @USER_ID, '_', @SESSION_ID, '_', Replace(CONVERT(VARCHAR(50), Getdate(), 2), '.', ''))
                         WHEN  @FORECASTING_TYPE='AccrualRateProjection' THEN Concat('ST_ACCRUAL_PROJ_DETAILS_', @USER_ID, '_', @SESSION_ID, '_', Replace(CONVERT(VARCHAR(50), Getdate(), 2), '.', ''))
                                    END)


	IF @FORECASTING_TYPE IN ( 'NON MANDATED', 'MANDATED' )
	  BEGIN
		  SELECT @ACTUAL_PERIOD = PERIOD_SID
		  FROM   PERIOD
		  WHERE  PERIOD_DATE = Dateadd(YY, Datediff(YY, 0, Getdate()) - 3, 0)

		  SELECT @PROJECTION_END_PERIOD = PERIOD_SID
		  FROM   PERIOD P1
		  WHERE  EXISTS (SELECT Dateadd(DAY, 1, Eomonth(TO_DATE, -1))
								FROM   PROJECTION_MASTER P2
								WHERE  PROJECTION_MASTER_SID = @PROJECTION_SID
								AND Dateadd(DAY, 1, Eomonth(P2.TO_DATE, -1))=P1.PERIOD_DATE)
	  END
	ELSE IF @FORECASTING_TYPE = 'AccrualRateProjection'
	  BEGIN
		  SELECT @ACTUAL_PERIOD = PERIOD_SID
		  FROM   PERIOD
		  WHERE  PERIOD_DATE = Dateadd(QQ, Datediff(QQ, 0, (SELECT Dateadd(MM, Datediff(MM, 0, Getdate()) - 12, 0))), 0)

		  SELECT @PROJECTION_END_PERIOD = ( PERIOD_SID ) - 1
		  FROM   PERIOD
		  WHERE  PERIOD_DATE = Dateadd(QQ, Datediff(QQ, 0, (SELECT Dateadd(M, Datediff(M, 0, Dateadd(DAY, -1, Dateadd(MM, Datediff(MM, 0, Getdate()) + 36, 0))), 0)))
										   + 2, 0)
	  END 

          

         

          DECLARE @ITEM_UDT UDT_ITEM
          DECLARE @CUST_ITEM_UDT UDT_CUST_ITEM

          SET @SQL=Concat('

SELECT DISTINCT ITEM_MASTER_SID 
	FROM CCP_DETAILS CCP
	 JOIN ', @HIERARCHY_TABLE, ' STH 
	 ON STH.CCP_DETAILS_SID=CCP.CCP_DETAILS_SID where not exists (select 1 from ', @PRODUCT_FILE, ' pf where pf.item_master_sid = CCP.item_master_sid )')

          INSERT INTO @ITEM_UDT
                      (ITEM_MASTER_SID)
          EXEC sp_executesql @SQL

          INSERT INTO @CUST_ITEM_UDT
                      (ITEM_MASTER_SID)
          SELECT ITEM_MASTER_SID
          FROM   @ITEM_UDT

          SELECT @FORECAST_NAME_GTS_CUST_PROD = Max(CASE
                                                      WHEN FILE_TYPE = 'CUSTOMER SALES' THEN FILE_NAME
                                                    END),
                 @FORECAST_VERSION_GTS_CUST_PROD = Max(CASE
                                                         WHEN FILE_TYPE = 'CUSTOMER SALES' THEN FILE_VERSION
                                                       END),
                 @FORECAST_NAME_DEMAND = Max(CASE
                                               WHEN FILE_TYPE = 'DEMAND' THEN FILE_NAME
                                             END),
                 @FORECAST_VERSION_DEMAND = Max(CASE
                                                  WHEN FILE_TYPE = 'DEMAND' THEN FILE_VERSION
                                                END),
                 @FORECAST_NAME_ADJ_DEMAND = Max(CASE
                                                   WHEN FILE_TYPE = 'Adjusted Demand' THEN FILE_NAME
                                                 END),
                 @FORECAST_VERSION_ADJ_DEMAND = Max(CASE
                                                      WHEN FILE_TYPE = 'Adjusted Demand' THEN FILE_VERSION
                                                    END),
                 @FORECAST_NAME_EXFACTORY = Max(CASE
                                                  WHEN FILE_TYPE = 'EX-FACTORY SALES' THEN FILE_NAME
                                                END),
                 @FORECAST_VERSION_EXFACTORY = Max(CASE
                                                     WHEN FILE_TYPE = 'EX-FACTORY SALES' THEN FILE_VERSION
                                                   END),
                 @FORECAST_NAME_INV = Max(CASE
                                            WHEN FILE_TYPE = 'Inventory Withdrawal - Forecast Summary' THEN FILE_NAME
                                          END),
                 @FORECAST_VERSION_INV = Max(CASE
                                               WHEN FILE_TYPE = 'Inventory Withdrawal - Forecast Summary' THEN FILE_VERSION
                                             END),
                 @FORECAST_NAME_INV_CUST_PROD = Max(CASE
                                                      WHEN FILE_TYPE = 'Inventory Withdrawal - Forecast Detail' THEN FILE_NAME
                                                    END),
                 @FORECAST_VERSION_INV_CUST_PROD = Max(CASE
                                                         WHEN FILE_TYPE = 'Inventory Withdrawal - Forecast Detail' THEN FILE_VERSION
                                                       END)
          FROM   @FILE_UDT

	
          SET @SQL=Concat('
	  INSERT INTO ', @PRODUCT_FILE, '
            (ITEM_MASTER_SID,
             PERIOD_SID,
             EXFACTORY_ACTUAL_SALES,
             EXFACTORY_ACTUAL_UNITS,
             EXFACTORY_FORECAST_SALES,
             EXFACTORY_FORECAST_UNITS,
             DEMAND_ACTUAL_SALES,
             DEMAND_ACTUAL_UNITS,
             DEMAND_FORECAST_SALES,
             DEMAND_FORECAST_UNITS,
             ADJUSTED_DEMAND_ACTUAL_SALES,
             ADJUSTED_DEMAND_ACTUAL_UNITS,
             ADJUSTED_DEMAND_FORECAST_SALES,
             ADJUSTED_DEMAND_FORECAST_UNITS,
             INVENTORY_ACTUAL_SALES,
             INVENTORY_ACTUAL_UNITS,
             INVENTORY_FORECAST_SALES,
             INVENTORY_FORECAST_UNITS,
			 ITEM_PRICE,
			 EXFACTORY_CUST_ACTUAL_SALES,
             EXFACTORY_CUST_ACTUAL_UNITS,
             EXFACTORY_CUST_FORECAST_SALES,
             EXFACTORY_CUST_FORECAST_UNITS,
			 INVENTORY_CUST_ACTUAL_SALES,
             INVENTORY_CUST_ACTUAL_UNITS,
             INVENTORY_CUST_FORECAST_SALES,
             INVENTORY_CUST_FORECAST_UNITS)

SELECT 
ITEM_MASTER_SID,
PERIOD_SID,
ACTUAL_GTS_SALES,
ACTUAL_GTS_UNITS,
FORECAST_GTS_SALES,
FORECAST_GTS_UNITS,
ACT_GROSS_AMOUNT_D,
ACT_GROSS_UNITS_D,
FOR_GROSS_AMOUNT_D,
FOR_GROSS_UNITS_D,
ACT_GROSS_AMOUNT,
ACT_GROSS_UNITS,
FOR_GROSS_AMOUNT,
FOR_GROSS_UNITS,
ACT_AMOUNT_WITHDRAWN,
ACT_UNITS_WITHDRAWN,
FOR_AMOUNT_WITHDRAWN,
FOR_UNITS_WITHDRAWN,
ITEM_PRICE,
EXFACTORY_CUST_ACTUAL_SALES,
EXFACTORY_CUST_ACTUAL_UNITS,
EXFACTORY_CUST_FORECAST_SALES,
EXFACTORY_CUST_FORECAST_UNITS,
INVENTORY_CUST_ACTUAL_SALES,
INVENTORY_CUST_ACTUAL_UNITS,
INVENTORY_CUST_FORECAST_SALES,
INVENTORY_CUST_FORECAST_UNITS
FROM 
(
SELECT g.ITEM_MASTER_SID,
       p.PERIOD_SID,
       A.ACTUAL_GTS_SALES,
       A.ACTUAL_GTS_UNITS,
       A.FORECAST_GTS_SALES,
       A.FORECAST_GTS_UNITS,
       B.ACT_GROSS_AMOUNT ACT_GROSS_AMOUNT_D,
       B.ACT_GROSS_UNITS ACT_GROSS_UNITS_D,
       B.FOR_GROSS_AMOUNT FOR_GROSS_AMOUNT_D,
       B.FOR_GROSS_UNITS FOR_GROSS_UNITS_D,
       C.ACT_GROSS_AMOUNT,
       C.ACT_GROSS_UNITS,
       C.FOR_GROSS_AMOUNT,
       C.FOR_GROSS_UNITS,
       D.ACT_AMOUNT_WITHDRAWN,
       D.ACT_UNITS_WITHDRAWN,
       D.FOR_AMOUNT_WITHDRAWN,
       D.FOR_UNITS_WITHDRAWN,
	   E.ITEM_PRICE,
	   F.CUST_ACT_GTS_SALES AS  EXFACTORY_CUST_ACTUAL_SALES,    
	   F.CUST_ACT_GTS_UNITS AS EXFACTORY_CUST_ACTUAL_UNITS,
	   F.CUST_FORE_GTS_SALES EXFACTORY_CUST_FORECAST_SALES ,
	   F.CUST_FORE_GTS_UNITS EXFACTORY_CUST_FORECAST_UNITS,
	   h.ACT_AMOUNT_WITHDRAWN INVENTORY_CUST_ACTUAL_SALES,
	   h.ACT_UNITS_WITHDRAWN  INVENTORY_CUST_ACTUAL_UNITS,
	   h.FOR_AMOUNT_WITHDRAWN INVENTORY_CUST_FORECAST_SALES,
	   h.FOR_UNITS_WITHDRAWN INVENTORY_CUST_FORECAST_UNITS,
	   ROW_NUMBER() OVER(PARTITION BY A.ITEM_MASTER_SID,A.PERIOD_SID ORDER BY A.ITEM_MASTER_SID) RNO
FROM   
	@ITEM_UDT G 
	CROSS JOIN PERIOD P 
	LEFT JOIN 
UDF_GTS_WAC(@ITEM_UDT, @ACTUAL_PERIOD, @PROJECTION_END_PERIOD, @FORECAST_NAME_EXFACTORY, @FORECAST_VERSION_EXFACTORY) A
   ON A.ITEM_MASTER_SID=G.ITEM_MASTER_SID
   AND A.PERIOD_SID=P.PERIOD_SID
       LEFT JOIN UDF_DEMAND_WAC(@ITEM_UDT, @ACTUAL_PERIOD, @PROJECTION_END_PERIOD, @FORECAST_NAME_DEMAND, @FORECAST_VERSION_DEMAND) B
         ON A.ITEM_MASTER_SID = B.ITEM_MASTER_SID
            AND A.PERIOD_SID = B.PERIOD_SID
       LEFT JOIN UDF_ADJUSTED_DEMAND_WAC(@ITEM_UDT, @ACTUAL_PERIOD, @PROJECTION_END_PERIOD, @FORECAST_NAME_ADJ_DEMAND, @FORECAST_VERSION_ADJ_DEMAND) C
         ON C.ITEM_MASTER_SID = B.ITEM_MASTER_SID
            AND C.PERIOD_SID = B.PERIOD_SID
      LEFT  JOIN UDF_INVENTORY_WAC(@ITEM_UDT, @ACTUAL_PERIOD, @PROJECTION_END_PERIOD, @FORECAST_NAME_INV, @FORECAST_VERSION_INV) D
         ON D.ITEM_MASTER_SID = B.ITEM_MASTER_SID
            AND D.PERIOD_SID = B.PERIOD_SID
	   LEFT JOIN   DBO.UDF_ITEM_PRICING(@ITEM_UDT, @PRICING_QUALIFIER, @ACTUAL_PERIOD, @PROJECTION_END_PERIOD, @ITEM_UOM)E
	      ON E.ITEM_MASTER_SID = B.ITEM_MASTER_SID
            AND E.PERIOD_SID = B.PERIOD_SID
	  LEFT JOIN 
	  [UDF_CUST_GTS_WAC](@CUST_ITEM_UDT,@ACTUAL_PERIOD, @PROJECTION_END_PERIOD, @FORECAST_NAME_GTS_CUST_PROD, @FORECAST_VERSION_GTS_CUST_PROD) F
	  ON F.ITEM_MASTER_SID=B.ITEM_MASTER_SID
	  AND F.PERIOD_SID=B.PERIOD_SID
	 LEFT JOIN 
	 [DBO].[UDF_INVENTORY_WAC_DETAILS](@CUST_ITEM_UDT,@ACTUAL_PERIOD, @PROJECTION_END_PERIOD, @FORECAST_NAME_INV_CUST_PROD, @FORECAST_VERSION_INV_CUST_PROD) H
	 ON H.ITEM_MASTER_SID=B.ITEM_MASTER_SID
	   AND H.PERIOD_SID=B.PERIOD_SID
		WHERE P.PERIOD_SID BETWEEN @ACTUAL_PERIOD AND @PROJECTION_END_PERIOD)A WHERE RNO=1 ')

          EXEC Sp_executesql
            @sql,
            N'@ITEM_UDT UDT_ITEM READONLY,@CUST_ITEM_UDT UDT_CUST_ITEM READONLY, @ACTUAL_PERIOD INT,@PROJECTION_END_PERIOD INT, @FORECAST_NAME_DEMAND           VARCHAR(50),
        @FORECAST_VERSION_DEMAND        VARCHAR(50),
        @FORECAST_NAME_ADJ_DEMAND       VARCHAR(50),
        @FORECAST_VERSION_ADJ_DEMAND    VARCHAR(50),
        @FORECAST_NAME_EXFACTORY        VARCHAR(50),
        @FORECAST_VERSION_EXFACTORY     VARCHAR(50),
		@FORECAST_NAME_INV              VARCHAR(50),
        @FORECAST_VERSION_INV            VARCHAR(50),
		@PRICING_QUALIFIER               VARCHAR(50),
		@ITEM_UOM                         VARCHAR(50),
		@FORECAST_NAME_GTS_CUST_PROD  VARCHAR(50), @FORECAST_VERSION_GTS_CUST_PROD  VARCHAR(50),
		 @FORECAST_NAME_INV_CUST_PROD VARCHAR(50), @FORECAST_VERSION_INV_CUST_PROD VARCHAR(50)
		',
            @FORECAST_NAME_DEMAND = @FORECAST_NAME_DEMAND,
            @FORECAST_VERSION_DEMAND =@FORECAST_VERSION_DEMAND,
            @FORECAST_NAME_ADJ_DEMAND =@FORECAST_NAME_ADJ_DEMAND,
            @FORECAST_VERSION_ADJ_DEMAND =@FORECAST_VERSION_ADJ_DEMAND,
            @FORECAST_NAME_EXFACTORY =@FORECAST_NAME_EXFACTORY,
            @FORECAST_VERSION_EXFACTORY =@FORECAST_VERSION_EXFACTORY,
            @FORECAST_NAME_INV =@FORECAST_NAME_INV,
            @FORECAST_VERSION_INV =@FORECAST_VERSION_INV,
            @ACTUAL_PERIOD =@ACTUAL_PERIOD,
            @PROJECTION_END_PERIOD =@PROJECTION_END_PERIOD,
            @ITEM_UDT =@ITEM_UDT,
			@CUST_ITEM_UDT =@CUST_ITEM_UDT,
            @PRICING_QUALIFIER =@PRICING_QUALIFIER,
            @ITEM_UOM = @ITEM_UOM,
			@FORECAST_NAME_GTS_CUST_PROD=@FORECAST_NAME_GTS_CUST_PROD,
			 @FORECAST_VERSION_GTS_CUST_PROD= @FORECAST_VERSION_GTS_CUST_PROD,
			 @FORECAST_NAME_INV_CUST_PROD=@FORECAST_NAME_INV_CUST_PROD,
			 @FORECAST_VERSION_INV_CUST_PROD =@FORECAST_VERSION_INV_CUST_PROD 



	set @SQL='truncate table '+@UOM_TABLE
	exec(@SQL)


			           SET @SQL=Concat('INSERT INTO ',@UOM_TABLE,'
(ITEM_MASTER_SID,
UOM_VALUE,
UOM_CODE)

SELECT DISTINCT CCP.ITEM_MASTER_SID
	,PRIMARY_UOM_BASELINE_FACTOR
	,HT.DESCRIPTION
FROM CCP_DETAILS CCP
JOIN  ',@HIERARCHY_TABLE,' STCP ON STCP.CCP_DETAILS_SID = CCP.CCP_DETAILS_SID
LEFT JOIN ITEM_UOM IM1 ON CCP.ITEM_MASTER_SID = IM1.ITEM_MASTER_SID
LEFT JOIN HELPER_TABLE HT ON HT.HELPER_TABLE_SID = IM1.PRIMARY_UOM_CODE

UNION ALL

SELECT DISTINCT CCP.ITEM_MASTER_SID
	,SECONDARY_UOM_CONVERSION_FACTOR
	,HT.DESCRIPTION
FROM CCP_DETAILS CCP
JOIN  ',@HIERARCHY_TABLE,'  STCP ON STCP.CCP_DETAILS_SID = CCP.CCP_DETAILS_SID
LEFT JOIN ITEM_UOM IM1 ON CCP.ITEM_MASTER_SID = IM1.ITEM_MASTER_SID
LEFT JOIN HELPER_TABLE HT ON HT.HELPER_TABLE_SID = IM1.SECONDARY_UOM_CODE','')
EXEC(@SQL)





		
      --SELECT *  INTO #TEMP_INV FROM @CUST_ITEM_UDT CROSS JOIN PERIOD P WHERE p.period_sid between @ACTUAL_PERIOD and @PROJECTION_END_PERIOD
      --      SET @SQL=Concat('
      --   --INSERT INTO ', @CUSTOMER_FILE, '
      --   --(
      --   --COMPANY_MASTER_SID,
      --   --ITEM_MASTER_SID,
      --   --PERIOD_SID,
      --   --CUST_GTS_ACTUAL_SALES,
      --   --CUST_GTS_ACTUAL_UNITS,
      --   --CUST_GTS_FORECAST_SALES,
      --   --CUST_GTS_FORECAST_UNITS
      --   --)
      --   SELECT 
      --         COMPANY_MASTER_SID,
      --		 ITEM_MASTER_SID,
      --		 PERIOD_SID,
      --		 CUST_ACT_GTS_SALES,
      --		 CUST_ACT_GTS_UNITS,
      --		 CUST_FORE_GTS_SALES,
      --		 CUST_FORE_GTS_UNITS
      --FROM
      --   (
      --SELECT g.COMPANY_MASTER_SID,
      --       g.ITEM_MASTER_SID,
      --       p.PERIOD_SID,
      --       A.CUST_ACT_GTS_SALES,
      --       A.CUST_ACT_GTS_UNITS,
      --       A.CUST_FORE_GTS_SALES,
      --       A.CUST_FORE_GTS_UNITS,
      --	    ROW_NUMBER() OVER(PARTITION BY A.COMPANY_MASTER_SID,A.ITEM_MASTER_SID,A.PERIOD_SID ORDER BY A.ITEM_MASTER_SID) RNO
      --FROM   
      --@CUST_ITEM_UDT G CROSS JOIN PERIOD P
      --	left join 
      --Udf_cust_gts_wac(@CUST_ITEM_UDT, @ACTUAL_PERIOD, @PROJECTION_END_PERIOD, @FORECAST_NAME_GTS_CUST_PROD , @FORECAST_VERSION_GTS_CUST_PROD ) A
      --   ON A.ITEM_MASTER_SID=G.ITEM_MASTER_SID
      --   AND A.PERIOD_SID=p.PERIOD_SID
      --   AND A.COMPANY_MASTER_SID=G.COMPANY_MASTER_SID
      --		WHERE p.period_sid between @ACTUAL_PERIOD and @PROJECTION_END_PERIOD	)A WHERE RNO=1')
      --      EXEC Sp_executesql
      --        @sql,
      --        N' @FORECAST_NAME_GTS_CUST_PROD    VARCHAR(50),
      --						    @FORECAST_VERSION_GTS_CUST_PROD VARCHAR(50),
      --							@FORECAST_NAME_INV_CUST_PROD    VARCHAR(50),
      --						    @FORECAST_VERSION_INV_CUST_PROD VARCHAR(50),
      --							@CUST_ITEM_UDT                       UDT_CUST_ITEM READONLY,
      --							@ACTUAL_PERIOD					INT,
      --							@PROJECTION_END_PERIOD			INT',
      --        @FORECAST_NAME_GTS_CUST_PROD = @FORECAST_NAME_GTS_CUST_PROD,
      --        @FORECAST_VERSION_GTS_CUST_PROD = @FORECAST_VERSION_GTS_CUST_PROD,
      --        @FORECAST_NAME_INV_CUST_PROD = @FORECAST_NAME_INV_CUST_PROD,
      --        @FORECAST_VERSION_INV_CUST_PROD = @FORECAST_VERSION_INV_CUST_PROD,
      --        @CUST_ITEM_UDT =@CUST_ITEM_UDT,
      --        @ACTUAL_PERIOD = @ACTUAL_PERIOD,
      --        @PROJECTION_END_PERIOD =@PROJECTION_END_PERIOD
      END TRY

      BEGIN CATCH
          DECLARE @ERRORMESSAGE NVARCHAR(4000);
          DECLARE @ERRORSEVERITY INT;
          DECLARE @ERRORSTATE INT;
          DECLARE @ERRORNUMBER INT;
          DECLARE @ERRORPROCEDURE VARCHAR(200);
          DECLARE @ERRORLINE INT;

          EXEC Usperrorcollector

          SELECT @ERRORMESSAGE = Error_message(),
                 @ERRORSEVERITY = Error_severity(),
                 @ERRORSTATE = Error_state(),
                 @ERRORPROCEDURE = Error_procedure(),
                 @ERRORLINE = Error_line(),
                 @ERRORNUMBER = Error_number()

          RAISERROR ( @ERRORMESSAGE,-- MESSAGE TEXT.
                      @ERRORSEVERITY,-- SEVERITY.
                      @ERRORSTATE,-- STATE.
                      @ERRORPROCEDURE,-- PROCEDURE_NAME.
                      @ERRORNUMBER,-- ERRORNUMBER
                      @ERRORLINE -- ERRORLINE
          );
      END CATCH
  END 
