.v-inline-datefield.calendarfield, .v-inline-datefield.calendarfield .calendarfield-child {
    padding: 4px 4px;
    border-radius: 4px;
    background-color: white;
    color: #474747;
    -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.09098);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.09098);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-right: 5px !important;
    cursor: default;
    width: auto;
}
.v-inline-datefield.calendarfield .v-inline-datefield-calendarpanel-day-disabled{
   background-color: #E6E6FA; 
   cursor: default;
}
.v-inline-datefield.calendarfield .v-inline-datefield-calendarpanel-day-disabled:hover{
   background-color: #E6E6FA; 
   cursor: default;
}