.v-table-checkbox-radiobutton-container, .v-table-checkbox-container,
	.v-table-radiobutton-container, .v-table-captionspans-container {
	display: inline !important;
}

.v-table-radiobutton-container .v-header-radio {
	margin: auto;
}

.reinder-theme-extfiltertable td[class*='eicon-'] .v-table-eicon {
	width: 15px;
	height: 18px;
	float: right;
}

.reinder-theme-extfiltertable td.eicon-expanded .v-table-eicon,
	.valo-theme-extfiltertable .eicon-image-plus td.eicon-expanded .v-table-eicon
	{
	background: url('expanded.png') no-repeat right center;
}

.reinder-theme-extfiltertable td.eicon-collapsed .v-table-eicon,
	.valo-theme-extfiltertable .eicon-image-plus td.eicon-collapsed .v-table-eicon
	{
	background: url('collapsed.png') no-repeat right center;
}

.valo-theme-extfiltertable td[class*='eicon-'] .v-table-eicon {
	width: 15px;
	float: right;
	height: 15px;
	line-height: 15px;
	margin-left: -15px;
}

.valo-theme-extfiltertable div[class*='eicon-fa-'] td[class*='eicon-'] .v-table-eicon
	{
	background: transparent;
}

.v-table-eicon {
	width: 0;
}

.valo-theme-extfiltertable .eicon-fa-arrow td.eicon-expanded .v-table-eicon:before
	{
	content: "\f190";
}

.valo-theme-extfiltertable .eicon-fa-arrow td.eicon-collapsed .v-table-eicon:before
	{
	content: "\f18e";
}

.valo-theme-extfiltertable .eicon-fa-plus td.eicon-expanded .v-table-eicon:before
	{
	content: "\f147";
}

.valo-theme-extfiltertable .eicon-fa-plus td.eicon-collapsed .v-table-eicon:before
	{
	content: "\f196";
}

.valo-theme-extfiltertable td[class*='eicon-'] .v-table-eicon:before {
	display: inline-block;
}

.valo-theme-extfiltertable div[class*='eicon-fa-'] td[class*='eicon-'] .v-table-eicon:before
	{
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
}

.valo-theme-extfiltertable .v-table-caption-container {
	padding: 12px 12px 0px;
}

.valo-theme-extfiltertable .v-treetable .v-table-caption-container {
	min-height: 25px;
}

.valo-theme-extfiltertable .v-table-captionspans-container {
	width: initial !important;
	min-height: initial !important;
	float: initial !important;
	padding: 0px !important;
}

.reinder-theme-extfiltertable .v-table-header-cell.hasradio .v-table-captionspans-container
	{
	vertical-align: top;
}

.reinder-theme-extfiltertable .v-table-header-cell.hasradio .v-table-checkbox-container .v-header-checkbox
	{
	margin: -7px 0px 0px 0px;
}

.reinder-theme-extfiltertable .v-table-header-cell.hasradio .v-table-caption-container img.v-icon
	{
	margin: -8px 3px 0 0;
}

.reinder-theme-extfiltertable .v-table-header-cell.hascheckbox:not (.hasradio
	 ) .v-table-caption-container {
	padding-top: 0px;
}

.reinder-theme-extfiltertable .v-table-header-cell.hascheckbox:not (.hasradio
	 ) .v-table-caption-container img.v-icon {
	margin: 0px 3px 0 0;
}

.reinder-theme-extfiltertable .v-table-header-cell:not (.hascheckbox ):not
	 (.hasradio ) .v-table-caption-container img.v-icon {
	margin-top: -2px;
}

.v-table-freeze-spacer {
	min-height: 1px;
}