<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory name="GtnFramework">
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.password">*U6s5ZKW~C4\Mdev</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://10.4.48.18:1433;databaseName=BPIGTN_AGN_APP_UNIT</property>
    <property name="hibernate.connection.username">bpigtn_agn_unit</property>
    <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
	<mapping package="com.stpl.gtn.gtn2o.ws.entity"/>
  </session-factory>
</hibernate-configuration>
