IF NOT EXISTS (
		SELECT 'X'
		FROM INFORMATION_SCHEMA.TABLES
		WHERE TABLE_NAME = 'ETL_TABLE'
			AND TABLE_SCHEMA = 'DBO'
		)
BEGIN
CREATE TABLE [dbo].[ETL_TABLE](
	[AUDIT_INTERFACE_NAME] [varchar](max) NULL,
	[WORKFLOW_INTERFACE_NAME] [varchar](max) NULL,
	[STAG_TABLE_NAME] [varchar](max) NULL,
	[FILE_NAME] [varchar](max) NULL,
	[INTERFACE_NAME_INPUT] [varchar](max) NULL,
	[INTERFACE_NAME_ERROR] [varchar](max) NULL,
	[INTERFACE_NAME_PROCESSED] [varchar](max) NULL,
	[OUTBOUND_PROCESSED] [varchar](max) NULL
) 
END
GO

IF NOT EXISTS (SELECT 1
               FROM   INFORMATION_SCHEMA.COLUMNS
               WHERE  TABLE_NAME = 'ETL_TABLE'
                      AND COLUMN_NAME = 'SOURCE_TABLE_NAME'
                      AND TABLE_SCHEMA = 'DBO')
  BEGIN
      ALTER TABLE ETL_TABLE
        ADD SOURCE_TABLE_NAME [VARCHAR](200)
  END

GO

IF NOT EXISTS (SELECT 1
               FROM   INFORMATION_SCHEMA.COLUMNS
               WHERE  TABLE_NAME = 'ETL_TABLE'
                      AND COLUMN_NAME = 'SOURCE_TABLE_AVAILABLE'
                      AND TABLE_SCHEMA = 'DBO')
  BEGIN
      ALTER TABLE ETL_TABLE
        ADD SOURCE_TABLE_AVAILABLE [VARCHAR](10)
  END

GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Actual_Master_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ACTUAL_MASTER_INTERFACE', N'ACTUAL_MASTER_INTERFACE', N'STAG_ACTUAL_MASTER', N'Actual_Master_Intf.sh', N'ACTUAL_MASTER_INTERFACE/Input', N'ACTUAL_MASTER_INTERFACE/Error', N'ACTUAL_MASTER_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Adjusted_Demand_Actual_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ADJUSTED_DEMAND_ACTUAL_INTERFACE', N'ADJUSTED_DEMAND_ACTUAL_INTERFACE', N'STAG_ADJUSTED_DEMAND_ACTUAL', N'Adjusted_Demand_Actual_Intf.sh', N'ADJUSTED_DEMAND_ACTUAL_INTERFACE/Input', N'ADJUSTED_DEMAND_ACTUAL_INTERFACE/Error', N'ADJUSTED_DEMAND_ACTUAL_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Adjusted_Demand_Forecast_Intf.sh'
		)
BEGIN

INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ADJUSTED_DEMAND_FORECAST_INTERFACE', N'ADJUSTED_DEMAND_FORECAST_INTERFACE', N'STAG_ADJUSTED_DEMAND_FORECAST', N'Adjusted_Demand_Forecast_Intf.sh', N'ADJUSTED_DEMAND_FORECAST_INTERFACE/Input', N'ADJUSTED_DEMAND_FORECAST_INTERFACE/Error', N'ADJUSTED_DEMAND_FORECAST_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Average_Shelf_Life_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'AVERAGE_SHELF_LIFE_INTERFACE', N'AVERAGE_SHELF_LIFE_INTERFACE', N'STAG_AVERAGE_SHELF_LIFE', N'Average_Shelf_Life_Intf.sh', N'AVERAGE_SHELF_LIFE_INTERFACE/Input', N'AVERAGE_SHELF_LIFE_INTERFACE/Error', N'AVERAGE_SHELF_LIFE_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Best_Price_Intf.sh'
		)
BEGIN

INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'BESTPRICE_MASTER_INTERFACE', N'BEST_PRICE_INTERFACE', N'STAG_BEST_PRICE', N'Best_Price_Intf.sh', N'BEST_PRICE_INTERFACE/Input', N'BEST_PRICE_INTERFACE/Error', N'BEST_PRICE_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Company_Family_Plan_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'COMPANY_FAMILY_PLAN_INTERFACE', N'COMPANY_FAMILY_PLAN_INTERFACE', N'STAG_CFP', N'Company_Family_Plan_Intf.sh', N'COMPANY_FAMILY_PLAN_INTERFACE/Input', N'COMPANY_FAMILY_PLAN_INTERFACE/Error', N'COMPANY_FAMILY_PLAN_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
	 	WHERE FILE_NAME = 'Company_Identifier_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED]) 
VALUES (N'COMPANY_IDENTIFIER_INTERFACE', N'COMPANY_IDENTIFIER_INTERFACE', N'STAG_COMPANY_IDENTIFIER', N'Company_Identifier_Intf.sh', N'COMPANY_IDENTIFIER_INTERFACE/Input', N'COMPANY_IDENTIFIER_INTERFACE/Error', N'COMPANY_IDENTIFIER_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Company_Master_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'COMPANY_MASTER_INTERFACE', N'COMPANY_MASTER_INTERFACE', N'STAG_COMPANY_MASTER', N'Company_Master_Intf.sh', N'COMPANY_MASTER_INTERFACE/Input', N'COMPANY_MASTER_INTERFACE/Error', N'COMPANY_MASTER_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Company_Parent_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'COMPANY_PARENT_INTERFACE', N'COMPANY_PARENT_DETAILS_INTERFACE', N'STAG_COMPANY_PARENT', N'Company_Parent_Intf.sh', N'COMPANY_PARENT_INTERFACE/Input', N'COMPANY_PARENT_INTERFACE/Error', N'COMPANY_PARENT_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Company_Trade_Class_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'COMPANY_TRADE_CLASS_INTERFACE', N'COMPANY_TRADE_CLASS_INTERFACE', N'STAG_COMPANY_TRADE_CLASS', N'Company_Trade_Class_Intf.sh', N'COMPANY_TRADE_CLASS_INTERFACE/Input', N'COMPANY_TRADE_CLASS_INTERFACE/Error', N'COMPANY_TRADE_CLASS_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Contract_Header_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'CONTRACT_HEADER_INTERFACE', N'CONTRACT_HEADER_INTERFACE', N'STAG_CONTRACT_HEADER', N'Contract_Header_Intf.sh', N'CONTRACT_HEADER_INTERFACE/Input', N'CONTRACT_HEADER_INTERFACE/Error', N'CONTRACT_HEADER_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'CPI_Index_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'CPI_INDEX_INTERFACE', N'CPI_INTERFACE', N'STAG_CPI', N'CPI_Index_Intf.sh', N'CPI_INTERFACE/Input', N'CPI_INTERFACE/Error', N'CPI_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Customer_Gts_Actual_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'CUSTOMER_GTS_ACTUAL_INTERFACE', N'CUSTOMER_GTS_ACTUAL_INTERFACE', N'STAG_CUSTOMER_GTS_ACTUAL', N'Customer_Gts_Actual_Intf.sh', N'CUSTOMER_GTS_ACTUAL_INTERFACE/Input', N'CUSTOMER_GTS_ACTUAL_INTERFACE/Error', N'CUSTOMER_GTS_ACTUAL_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Customer_Gts_Forecast_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'CUSTOMER_GTS_FORECAST_INTERFACE', N'CUSTOMER_GTS_FORECAST_INTERFACE', N'STAG_CUSTOMER_GTS_FORECAST', N'Customer_Gts_Forecast_Intf.sh', N'CUSTOMER_GTS_FORECAST_INTERFACE/Input', N'CUSTOMER_GTS_FORECAST_INTERFACE/Error', N'CUSTOMER_GTS_FORECAST_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Demand_Actual_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'DEMAND_ACTUAL_INTERFACE', N'DEMAND_ACTUAL_INTERFACE', N'STAG_DEMAND_ACTUAL', N'Demand_Actual_Intf.sh', N'DEMAND_ACTUAL_INTERFACE/Input', N'DEMAND_ACTUAL_INTERFACE/Error', N'DEMAND_ACTUAL_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Demand_Forecast_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED]) 
VALUES (N'DEMAND_FORECAST_INTERFACE', N'DEMAND_FORECAST_INTERFACE', N'STAG_DEMAND_FORECAST', N'Demand_Forecast_Intf.sh', N'DEMAND_FORECAST_INTERFACE/Input', N'DEMAND_FORECAST_INTERFACE/Error', N'DEMAND_FORECAST_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Forecasting_Sales_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'FORECASTING_MASTER_INTERFACE', N'FORECAST_SALES_INTERFACE', N'STAG_FORECAST_SALES', N'Forecasting_Sales_Intf.sh', N'FORECAST_SALES_INTERFACE/Input', N'FORECAST_SALES_INTERFACE/Error', N'FORECAST_SALES_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Formula_Details_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'FORMULA_DETAILS_INTERFACE', N'FORMULA_DETAILS_INTERFACE', N'STAG_FORMULA_DETAILS', N'Formula_Details_Intf.sh', N'FORMULA_DETAILS_INTERFACE/Input', N'FORMULA_DETAILS_INTERFACE/Error', N'FORMULA_DETAILS_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'GL_Balance_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'GL_BALANCE_INTERFACE', N'GL_BALANCE_INTERFACE', N'STAG_GL_BALANCE', N'GL_Balance_Intf.sh', N'GL_BALANCE_INTERFACE/Input', N'GL_BALANCE_INTERFACE/Error', N'GL_BALANCE_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'GL_Cost_Center_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'GL_COST_CENTER_INTERFACE', N'GL_COST_CENTER_INTERFACE', N'STAG_GL_COST_CENTER', N'GL_Cost_Center_Intf.sh', N'GL_COST_CENTER_INTERFACE/Input', N'GL_COST_CENTER_INTERFACE/Error', N'GL_COST_CENTER_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'GL_Posting_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'GL_POSTING_INTERFACE', N'GL_POSTING_INTERFACE', N'STAG_GL_POSTING', N'GL_Posting_Intf.sh', N'GL_POSTING_INTERFACE/Input', N'GL_POSTING_INTERFACE/Error', N'GL_POSTING_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Inventory_Withdrawal_Actual_Detail_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'INVENTORY_WITHDRAWAL_ACTUAL_DETAIL_INTERFACE', N'INVENTORY_WITHDRAWAL_ACTUAL_DETAIL_INTERFACE', N'STAG_INVENTORY_WD_ACTUAL_DT', N'Inventory_Withdrawal_Actual_Detail_Intf.sh', N'INVENTORY_WITHDRAWAL_ACTUAL_DETAIL_INTERFACE/Input', N'INVENTORY_WITHDRAWAL_ACTUAL_DETAIL_INTERFACE/Error', N'INVENTORY_WITHDRAWAL_ACTUAL_DETAIL_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Inventory_Withdrawal_Actual_Summary_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'INVENTORY_WITHDRAWAL_ACTUAL_SUMMARY_INTERFACE', N'INVENTORY_WITHDRAWAL_ACTUAL_SUMMARY_INTERFACE', N'STAG_INVENTORY_WD_ACTUAL_MAS', N'Inventory_Withdrawal_Actual_Summary_Intf.sh', N'INVENTORY_WITHDRAWAL_ACTUAL_SUMMARY_INTERFACE/Input', N'INVENTORY_WITHDRAWAL_ACTUAL_SUMMARY_INTERFACE/Error', N'INVENTORY_WITHDRAWAL_ACTUAL_SUMMARY_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Inventory_Withdrawal_Projected_Detail_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'INVENTORY_WITHDRAWAL_PROJECTED_DETAIL_INTERFACE', N'INVENTORY_WITHDRAWAL_PROJECTED_DETAIL_INTERFACE', N'STAG_INVENTORY_WD_PROJ_DT', N'Inventory_Withdrawal_Projected_Detail_Intf.sh', N'INVENTORY_WITHDRAWAL_PROJECTED_DETAIL_INTERFACE/Input', N'INVENTORY_WITHDRAWAL_PROJECTED_DETAIL_INTERFACE/Error', N'INVENTORY_WITHDRAWAL_PROJECTED_DETAIL_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Inventory_Withdrawal_Projected_Summary_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'INVENTORY_WITHDRAWAL_PROJECTED_SUMMARY_INTERFACE', N'INVENTORY_WITHDRAWAL_PROJECTED_SUMMARY_INTERFACE', N'STAG_INVENTORY_WD_PROJ_MAS', N'Inventory_Withdrawal_Projected_Summary_Intf.sh', N'INVENTORY_WITHDRAWAL_PROJECTED_SUMMARY_INTERFACE/Input', N'INVENTORY_WITHDRAWAL_PROJECTED_SUMMARY_INTERFACE/Error', N'INVENTORY_WITHDRAWAL_PROJECTED_SUMMARY_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Item_Family_Plan_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED]) 
VALUES (N'ITEM_FAMILY_PLAN_INTERFACE', N'ITEM_FAMILY_PLAN_INTERFACE', N'STAG_IFP', N'Item_Family_Plan_Intf.sh', N'ITEM_FAMILY_PLAN_INTERFACE/Input', N'ITEM_FAMILY_PLAN_INTERFACE/Error', N'ITEM_FAMILY_PLAN_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Item_Hierarchy_Defn_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ITEM_HIERARCHY_DEF_INTERFACE', N'ITEM_HIERARCHY_DEFINITION_INTERFACE', N'STAG_ITEM_HIERARCHY_DEFINITION', N'Item_Hierarchy_Defn_Intf.sh', N'ITEM_HIERARCHY_DEFINATION_INTERFACE/Input', N'ITEM_HIERARCHY_DEFINATION_INTERFACE/Error', N'ITEM_HIERARCHY_DEFINATION_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Item_Hierarchy_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ITEM_HIERARCHY_INTERFACE', N'ITEM_HIERARCHY_INTERFACE', N'STAG_ITEM_HIERARCHY', N'Item_Hierarchy_Intf.sh', N'ITEM_HIERARCHY_INTERFACE/Input', N'ITEM_HIERARCHY_INTERFACE/Error', N'ITEM_HIERARCHY_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Item_Identifier_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ITEM_IDENTIFIER_INTERFACE', N'ITEM_IDENTIFIER_INTERFACE', N'STAG_ITEM_IDENTIFIER', N'Item_Identifier_Intf.sh', N'ITEM_IDENTIFIER_INTERFACE/Input', N'ITEM_IDENTIFIER_INTERFACE/Error', N'ITEM_IDENTIFIER_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Item_Master_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ITEM_MASTER_INTERFACE', N'ITEM_MASTER_INTERFACE', N'STAG_ITEM_MASTER', N'Item_Master_Intf.sh', N'ITEM_MASTER_INTERFACE/Input', N'ITEM_MASTER_INTERFACE/Error', N'ITEM_MASTER_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Item_Pricing_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ITEM_PRICING_INTERFACE', N'ITEM_PRICING_INTERFACE', N'STAG_ITEM_PRICING', N'Item_Pricing_Intf.sh', N'ITEM_PRICING_INTERFACE/Input', N'ITEM_PRICING_INTERFACE/Error', N'ITEM_PRICING_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Lot_Master_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'LOT_MASTER_INTERFACE', N'LOT_MASTER_INTERFACE', N'STAG_LOT_MASTER', N'Lot_Master_Intf.sh', N'LOT_MASTER_INTERFACE/Input', N'LOT_MASTER_INTERFACE/Error', N'LOT_MASTER_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Master_Data_Attrb_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'MASTER_DATA_ATTRIBUTE_INTERFACE', N'MASTER_DATA_ATTRIBUTE_INTERFACE', N'STAG_MASTER_DATA_ATTRIBUTE', N'Master_Data_Attrb_Intf.sh', N'MASTER_DATA_ATTRIBUTE_INTERFACE/Input', N'MASTER_DATA_ATTRIBUTE_INTERFACE/Error', N'MASTER_DATA_ATTRIBUTE_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Price_Schedule_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'PRICE_SCHEDULE_INTERFACE', N'PRICE_SCHEDULE_INTERFACE', N'STAG_PRICE_SCHEDULE', N'Price_Schedule_Intf.sh', N'PRICE_SCHEDULE_INTERFACE/Input', N'PRICE_SCHEDULE_INTERFACE/Error', N'PRICE_SCHEDULE_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT

IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Rebate_Plan_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'REBATE_PLAN_INTERFACE', N'REBATE_PLAN_INTERFACE', N'STAG_REBATE_PLAN', N'Rebate_Plan_Intf.sh', N'REBATE_PLAN_INTERFACE/Input', N'REBATE_PLAN_INTERFACE/Error', N'REBATE_PLAN_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Rebate_Schedule_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'REBATE_SCHEDULE_INTERFACE', N'REBATE_SCHEDULE_INTERFACE', N'STAG_REBATE_SCHEDULE', N'Rebate_Schedule_Intf.sh', N'REBATE_SCHEDULE_INTERFACE/Input', N'REBATE_SCHEDULE_INTERFACE/Error', N'REBATE_SCHEDULE_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Return_Reserve_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'RETURN_RESERVE_INTERFACE', N'RETURN_RESERVE_INTERFACE', N'STAG_RETURN_RESERVE', N'Return_Reserve_Intf.sh', N'RETURN_RESERVE_INTERFACE/Input', N'RETURN_RESERVE_INTERFACE/Error', N'RETURN_RESERVE_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Returns_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'RETURNS_INTERFACE', N'RETURNS_INTERFACE', N'STAG_RETURNS', N'Returns_Intf.sh', N'RETURNS_INTERFACE/Input', N'RETURNS_INTERFACE/Error', N'RETURNS_INTERFACE/Processed', N'Processed')
END
GO

------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Sales_Master_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED]) 
VALUES (N'SALES_MASTER_INTERFACE', N'SALES_MASTER_INTERFACE', N'STAG_SALES_MASTER', N'Sales_Master_Intf.sh', N'SALES_MASTER_INTERFACE/Input', N'SALES_MASTER_INTERFACE/Error', N'SALES_MASTER_INTERFACE/Processed', N'Processed')
END
GO
------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Accrual_Master_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ACCRUAL_INBOUND_INTERFACE', N'ACCRUAL_INBOUND_INTERFACE', N'STAG_ACCRUAL_INBOUND', N'Accrual_Master_Intf.sh', N'ACCRUAL_INBOUND_INTERFACE/Input', N'ACCRUAL_INBOUND_INTERFACE/Error', N'ACCRUAL_INBOUND_INTERFACE/Processed', N'Processed')
END
GO
------------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Item_Uom_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ITEM_UOM_INTERFACE', N'ITEM_UOM_INTERFACE', N'STAG_ITEM_UOM', N'Item_Uom_Intf.sh', N'ITEM_UOM_INTERFACE/Input', N'ITEM_UOM_INTERFACE/Error', N'ITEM_UOM_INTERFACE/Processed', N'Processed')
END
GO

IF NOT  EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE SOURCE_TABLE_NAME IS NOT NULL AND  SOURCE_TABLE_AVAILABLE IS NOT NULL AND AUDIT_INTERFACE_NAME='ACTUAL_MASTER_INTERFACE')
  BEGIN
UPDATE ETL_TABLE SET SOURCE_TABLE_NAME='VW_ACM_TGT',SOURCE_TABLE_AVAILABLE='Y' WHERE AUDIT_INTERFACE_NAME='ACTUAL_MASTER_INTERFACE'
  END

GO



IF NOT  EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE SOURCE_TABLE_NAME IS NOT NULL AND SOURCE_TABLE_AVAILABLE IS NOT NULL AND AUDIT_INTERFACE_NAME='COMPANY_MASTER_INTERFACE')
  BEGIN
UPDATE ETL_TABLE SET SOURCE_TABLE_NAME='VW_CMP_MST_TGT',SOURCE_TABLE_AVAILABLE='Y' WHERE AUDIT_INTERFACE_NAME='COMPANY_MASTER_INTERFACE'
  END

GO




IF NOT  EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE SOURCE_TABLE_NAME IS NOT NULL AND SOURCE_TABLE_AVAILABLE IS NOT NULL AND AUDIT_INTERFACE_NAME='COMPANY_IDENTIFIER_INTERFACE')
  BEGIN
UPDATE ETL_TABLE SET SOURCE_TABLE_NAME='VW_CMP_IDN_TGT',SOURCE_TABLE_AVAILABLE='Y' WHERE AUDIT_INTERFACE_NAME='COMPANY_IDENTIFIER_INTERFACE'
  END

GO


GO




IF NOT  EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE SOURCE_TABLE_NAME IS NOT NULL AND SOURCE_TABLE_AVAILABLE IS NOT NULL AND AUDIT_INTERFACE_NAME='COMPANY_TRADE_CLASS_INTERFACE')
  BEGIN
UPDATE ETL_TABLE SET SOURCE_TABLE_NAME='VW_CMP_TRD_TGT',SOURCE_TABLE_AVAILABLE='Y' WHERE AUDIT_INTERFACE_NAME='COMPANY_TRADE_CLASS_INTERFACE'
  END

GO


IF NOT  EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE SOURCE_TABLE_NAME IS NOT NULL AND  SOURCE_TABLE_AVAILABLE IS NOT NULL AND AUDIT_INTERFACE_NAME='CPI_INDEX_INTERFACE')
  BEGIN
UPDATE ETL_TABLE SET SOURCE_TABLE_NAME='VW_CPI_TGT',SOURCE_TABLE_AVAILABLE='Y' WHERE AUDIT_INTERFACE_NAME='CPI_INDEX_INTERFACE'
  END

GO


IF NOT  EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE SOURCE_TABLE_NAME IS NOT NULL AND SOURCE_TABLE_AVAILABLE IS NOT NULL AND AUDIT_INTERFACE_NAME='COMPANY_FAMILY_PLAN_INTERFACE')
  BEGIN
UPDATE ETL_TABLE SET SOURCE_TABLE_NAME='VW_CMP_FMP_TGT',SOURCE_TABLE_AVAILABLE='Y' WHERE AUDIT_INTERFACE_NAME='COMPANY_FAMILY_PLAN_INTERFACE'
  END

GO


IF NOT  EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE SOURCE_TABLE_NAME IS NOT NULL AND SOURCE_TABLE_AVAILABLE IS NOT NULL AND  AUDIT_INTERFACE_NAME='CONTRACT_HEADER_INTERFACE')
  BEGIN
UPDATE ETL_TABLE SET SOURCE_TABLE_NAME='VW_CNT_HDR_TGT',SOURCE_TABLE_AVAILABLE='Y' WHERE AUDIT_INTERFACE_NAME='CONTRACT_HEADER_INTERFACE'
  END

GO

IF NOT  EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE SOURCE_TABLE_NAME IS NOT NULL AND SOURCE_TABLE_AVAILABLE IS NOT NULL AND AUDIT_INTERFACE_NAME='ITEM_FAMILY_PLAN_INTERFACE')
  BEGIN
UPDATE ETL_TABLE SET SOURCE_TABLE_NAME='VW_ITM_FMP_TGT',SOURCE_TABLE_AVAILABLE='Y' WHERE AUDIT_INTERFACE_NAME='ITEM_FAMILY_PLAN_INTERFACE'
  END

GO


IF NOT  EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE SOURCE_TABLE_NAME IS NOT NULL AND SOURCE_TABLE_AVAILABLE IS NOT NULL AND AUDIT_INTERFACE_NAME='PRICE_SCHEDULE_INTERFACE')
  BEGIN
UPDATE ETL_TABLE SET SOURCE_TABLE_NAME='VW_PRC_SCH_TGT',SOURCE_TABLE_AVAILABLE='Y' WHERE AUDIT_INTERFACE_NAME='PRICE_SCHEDULE_INTERFACE'
  END

GO


IF NOT  EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE SOURCE_TABLE_NAME IS NOT NULL AND SOURCE_TABLE_AVAILABLE IS NOT NULL AND AUDIT_INTERFACE_NAME='REBATE_PLAN_INTERFACE')
  BEGIN
UPDATE ETL_TABLE SET SOURCE_TABLE_NAME='VW_RBT_PLN_TGT',SOURCE_TABLE_AVAILABLE='Y' WHERE AUDIT_INTERFACE_NAME='REBATE_PLAN_INTERFACE'
  END

GO


IF NOT  EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE SOURCE_TABLE_NAME IS NOT NULL AND SOURCE_TABLE_AVAILABLE IS NOT NULL AND AUDIT_INTERFACE_NAME='REBATE_SCHEDULE_INTERFACE')
  BEGIN
UPDATE ETL_TABLE SET SOURCE_TABLE_NAME='VW_RBT_SCH_TGT',SOURCE_TABLE_AVAILABLE='Y' WHERE AUDIT_INTERFACE_NAME='REBATE_SCHEDULE_INTERFACE'
  END

GO


IF NOT  EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE SOURCE_TABLE_NAME IS NOT NULL AND SOURCE_TABLE_AVAILABLE IS NOT NULL AND AUDIT_INTERFACE_NAME='CUSTOMER_GTS_FORECAST_INTERFACE')
  BEGIN

  UPDATE ETL_TABLE SET SOURCE_TABLE_NAME='VW_CST_GTS_FCS_TGT',SOURCE_TABLE_AVAILABLE='Y' WHERE AUDIT_INTERFACE_NAME='CUSTOMER_GTS_FORECAST_INTERFACE'

  END

GO


IF NOT  EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE SOURCE_TABLE_NAME IS NOT NULL AND SOURCE_TABLE_AVAILABLE IS NOT NULL AND AUDIT_INTERFACE_NAME='FORECASTING_MASTER_INTERFACE')
  BEGIN

UPDATE ETL_TABLE SET SOURCE_TABLE_NAME='VW_FCS_TGT',SOURCE_TABLE_AVAILABLE='Y' WHERE AUDIT_INTERFACE_NAME='FORECASTING_MASTER_INTERFACE'

  END

GO

IF NOT  EXISTS (SELECT 1
               FROM  ETL_TABLE )
  BEGIN

UPDATE ETL_TABLE SET SOURCE_TABLE_NAME=null,SOURCE_TABLE_AVAILABLE=null WHERE AUDIT_INTERFACE_NAME='GL_COST_CENTER_INTERFACE'

  END

GO


IF NOT  EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE SOURCE_TABLE_NAME IS NOT NULL AND SOURCE_TABLE_AVAILABLE IS NOT NULL AND AUDIT_INTERFACE_NAME='GL_COST_CENTER_INTERFACE')
  BEGIN

UPDATE ETL_TABLE SET SOURCE_TABLE_NAME='VW_GCC_TGT',SOURCE_TABLE_AVAILABLE='Y' WHERE AUDIT_INTERFACE_NAME='GL_COST_CENTER_INTERFACE'

  END

GO


IF NOT  EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE SOURCE_TABLE_NAME IS NOT NULL AND SOURCE_TABLE_AVAILABLE IS NOT NULL AND AUDIT_INTERFACE_NAME='ITEM_IDENTIFIER_INTERFACE')
  BEGIN

UPDATE ETL_TABLE SET SOURCE_TABLE_NAME='VW_ITM_IDN_TGT',SOURCE_TABLE_AVAILABLE='Y' WHERE AUDIT_INTERFACE_NAME='ITEM_IDENTIFIER_INTERFACE'

  END

GO


IF NOT  EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE SOURCE_TABLE_NAME IS NOT NULL AND SOURCE_TABLE_AVAILABLE IS NOT NULL AND AUDIT_INTERFACE_NAME='ITEM_MASTER_INTERFACE')
  BEGIN

UPDATE ETL_TABLE SET SOURCE_TABLE_NAME='VW_ITM_MST_TGT',SOURCE_TABLE_AVAILABLE='Y' WHERE AUDIT_INTERFACE_NAME='ITEM_MASTER_INTERFACE'

  END

GO


IF NOT  EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE SOURCE_TABLE_NAME IS NOT NULL AND SOURCE_TABLE_AVAILABLE IS NOT NULL AND AUDIT_INTERFACE_NAME='ITEM_PRICING_INTERFACE')
  BEGIN

UPDATE ETL_TABLE SET SOURCE_TABLE_NAME='VW_PRC_TGT',SOURCE_TABLE_AVAILABLE='Y' WHERE AUDIT_INTERFACE_NAME='ITEM_PRICING_INTERFACE'

  END

GO



IF NOT  EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE SOURCE_TABLE_NAME IS NOT NULL AND SOURCE_TABLE_AVAILABLE IS NOT NULL AND AUDIT_INTERFACE_NAME='SALES_MASTER_INTERFACE')
  BEGIN

UPDATE ETL_TABLE SET SOURCE_TABLE_NAME='VW_ACL_SLS_TGT',SOURCE_TABLE_AVAILABLE='Y' WHERE AUDIT_INTERFACE_NAME='SALES_MASTER_INTERFACE'

  END

GO


IF NOT  EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE SOURCE_TABLE_NAME IS NOT NULL AND SOURCE_TABLE_AVAILABLE IS NOT NULL AND AUDIT_INTERFACE_NAME='CUSTOMER_GTS_ACTUAL_INTERFACE')
  BEGIN

UPDATE ETL_TABLE SET SOURCE_TABLE_NAME='VW_CST_GTS_ACL_TGT',SOURCE_TABLE_AVAILABLE='Y' WHERE AUDIT_INTERFACE_NAME='CUSTOMER_GTS_ACTUAL_INTERFACE'

  END

GO



IF NOT  EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE SOURCE_TABLE_NAME IS NOT NULL AND SOURCE_TABLE_AVAILABLE IS NOT NULL AND AUDIT_INTERFACE_NAME='CUSTOMER_GTS_ACTUAL_INTERFACE')
  BEGIN

UPDATE ETL_TABLE SET SOURCE_TABLE_NAME='VW_CST_GTS_ACL_TGT',SOURCE_TABLE_AVAILABLE='Y' WHERE AUDIT_INTERFACE_NAME='CUSTOMER_GTS_ACTUAL_INTERFACE'

  END

GO


---------------create interface_related_table column in etl_table-----------------------------
IF NOT EXISTS(SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME='ETL_TABLE' AND TABLE_SCHEMA='DBO' AND COLUMN_NAME='INTERFACE_RELATED_TABLES')
BEGIN
 ALTER TABLE ETL_TABLE ADD INTERFACE_RELATED_TABLES VARCHAR(MAX)
END
GO


--------------UPDATE QUERY to update values in interface_related_table column----------------------
IF EXISTS (
SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME='ETL_TABLE' AND TABLE_SCHEMA='DBO' AND COLUMN_NAME= 'INTERFACE_RELATED_TABLES')
BEGIN
UPDATE ETL_TABLE SET INTERFACE_RELATED_TABLES = 'COMPANY_MASTER' WHERE AUDIT_INTERFACE_NAME ='COMPANY_MASTER_INTERFACE' 
END
GO

IF EXISTS (
SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME='ETL_TABLE' AND TABLE_SCHEMA='DBO' AND COLUMN_NAME= 'INTERFACE_RELATED_TABLES')
BEGIN
UPDATE ETL_TABLE SET INTERFACE_RELATED_TABLES= 'COMPANY_PARENT_DETAILS' WHERE AUDIT_INTERFACE_NAME='COMPANY_PARENT_INTERFACE'
END
GO

IF EXISTS (
SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME='ETL_TABLE' AND TABLE_SCHEMA='DBO' AND COLUMN_NAME= 'INTERFACE_RELATED_TABLES')
BEGIN
UPDATE ETL_TABLE SET INTERFACE_RELATED_TABLES= 'COMPANY_TRADE_CLASS' WHERE AUDIT_INTERFACE_NAME='COMPANY_TRADE_CLASS_INTERFACE'
END
GO

IF EXISTS (
SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME='ETL_TABLE' AND TABLE_SCHEMA='DBO' AND COLUMN_NAME= 'INTERFACE_RELATED_TABLES')
BEGIN
UPDATE ETL_TABLE SET INTERFACE_RELATED_TABLES= 'COMPANY_IDENTIFIER,COMPANY_QUALIFIER' WHERE AUDIT_INTERFACE_NAME='COMPANY_IDENTIFIER_INTERFACE'
END
GO

IF EXISTS (
SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME='ETL_TABLE' AND TABLE_SCHEMA='DBO' AND COLUMN_NAME= 'INTERFACE_RELATED_TABLES')
BEGIN
UPDATE ETL_TABLE SET INTERFACE_RELATED_TABLES= 'ITEM_MASTER,BRAND_MASTER' WHERE AUDIT_INTERFACE_NAME='ITEM_MASTER_INTERFACE'
END
GO

IF EXISTS (
SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME='ETL_TABLE' AND TABLE_SCHEMA='DBO' AND COLUMN_NAME= 'INTERFACE_RELATED_TABLES')
BEGIN
UPDATE ETL_TABLE SET INTERFACE_RELATED_TABLES= 'ITEM_IDENTIFIER,ITEM_QUALIFIER' WHERE AUDIT_INTERFACE_NAME='ITEM_IDENTIFIER_INTERFACE'
END
GO

IF EXISTS (
SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME='ETL_TABLE' AND TABLE_SCHEMA='DBO' AND COLUMN_NAME= 'INTERFACE_RELATED_TABLES')
BEGIN
UPDATE ETL_TABLE SET INTERFACE_RELATED_TABLES= 'ITEM_PRICING,ITEM_PRICING_QUALIFIER' WHERE AUDIT_INTERFACE_NAME='ITEM_PRICING_INTERFACE'
END
GO

IF EXISTS (
SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME='ETL_TABLE' AND TABLE_SCHEMA='DBO' AND COLUMN_NAME= 'INTERFACE_RELATED_TABLES')
BEGIN
UPDATE ETL_TABLE SET INTERFACE_RELATED_TABLES ='CONTRACT_ALIAS_MASTER,CONTRACT_MASTER' WHERE AUDIT_INTERFACE_NAME ='CONTRACT_HEADER_INTERFACE' 
END
GO

IF EXISTS (
SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME='ETL_TABLE' AND TABLE_SCHEMA='DBO' AND COLUMN_NAME= 'INTERFACE_RELATED_TABLES')
BEGIN
UPDATE ETL_TABLE SET INTERFACE_RELATED_TABLES = 'CFP_CONTRACT_DETAILS,CFP_MODEL,CFP_DETAILS,CFP_CONTRACT' WHERE AUDIT_INTERFACE_NAME ='COMPANY_FAMILY_PLAN_INTERFACE' 
END
GO


IF EXISTS (
SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME='ETL_TABLE' AND TABLE_SCHEMA='DBO' AND COLUMN_NAME= 'INTERFACE_RELATED_TABLES')
BEGIN
UPDATE ETL_TABLE SET INTERFACE_RELATED_TABLES = 'IFP_CONTRACT_DETAILS,IFP_DETAILS,IFP_CONTRACT,IFP_MODEL' WHERE AUDIT_INTERFACE_NAME ='ITEM_FAMILY_PLAN_INTERFACE' 
END
GO

IF EXISTS (
SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME='ETL_TABLE' AND TABLE_SCHEMA='DBO' AND COLUMN_NAME= 'INTERFACE_RELATED_TABLES')
BEGIN
UPDATE ETL_TABLE SET INTERFACE_RELATED_TABLES = 'PS_CONTRACT_DETAILS,PS_DETAILS,PS_CONTRACT,PS_MODEL' WHERE AUDIT_INTERFACE_NAME ='PRICE_SCHEDULE_INTERFACE' 
END
GO

IF EXISTS (
SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME='ETL_TABLE' AND TABLE_SCHEMA='DBO' AND COLUMN_NAME= 'INTERFACE_RELATED_TABLES')
BEGIN
UPDATE ETL_TABLE SET INTERFACE_RELATED_TABLES = 'REBATE_PLAN_MASTER,REBATE_PLAN_TIER,REBATE_TIER_FORMULA' WHERE AUDIT_INTERFACE_NAME ='REBATE_PLAN_INTERFACE' 
END
GO

IF EXISTS (
SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME='ETL_TABLE' AND TABLE_SCHEMA='DBO' AND COLUMN_NAME= 'INTERFACE_RELATED_TABLES')
BEGIN
UPDATE ETL_TABLE SET INTERFACE_RELATED_TABLES = 'ACTUALS_MASTER' WHERE AUDIT_INTERFACE_NAME ='ACTUAL_MASTER_INTERFACE' 
END
GO

------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Return_Rate_Forecast_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'RETURN_RATE_FORECAST_INTERFACE', N'RETURN_RATE_FORECAST_INTERFACE', N'STAG_RETURN_RATE_FORECAST', N'Return_Rate_Forecast_Intf.sh', N'RETURN_RATE_FORECAST_INTERFACE/Input', N'RETURN_RATE_FORECAST_INTERFACE/Error', N'RETURN_RATE_FORECAST_INTERFACE/Processed', N'Processed')
END
GO


------------INSERT


IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Adroit_Actual_Master_Chargeback_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[FILE_NAME],[STAG_TABLE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ADROIT_ACTUAL_MASTER_CHARGEBACK_INTERFACE', N'ADROIT_ACTUAL_MASTER_CHARGEBACK_INTERFACE', N'Adroit_Actual_Master_Chargeback_Intf.sh',N'LDE_CHARGEBACK', N'ADROIT_ACTUAL_MASTER_CHARGEBACK_INTERFACE/Input', N'ADROIT_ACTUAL_MASTER_CHARGEBACK_INTERFACE/Error', N'ADROIT_ACTUAL_MASTER_CHARGEBACK_INTERFACE/Processed', N'Processed')
END
GO
------------INSERT


IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Adroit_Actual_Master_Medicaid_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[FILE_NAME],[STAG_TABLE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ADROIT_ACTUAL_MASTER_MEDICAID_INTERFACE', N'ADROIT_ACTUAL_MASTER_MEDICAID_INTERFACE',N'Adroit_Actual_Master_Medicaid_Intf.sh',N'LDE_MEDICAID',  N'ADROIT_ACTUAL_MASTER_MEDICAID_INTERFACE/Input', N'ADROIT_ACTUAL_MASTER_MEDICAID_INTERFACE/Error', N'ADROIT_ACTUAL_MASTER_MEDICAID_INTERFACE/Processed', N'Processed')
END
GO
------------INSERT


IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Adroit_Actual_Master_Rebate_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[FILE_NAME],[STAG_TABLE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ADROIT_ACTUAL_MASTER_REBATE_INTERFACE', N'ADROIT_ACTUAL_MASTER_REBATE_INTERFACE', N'Adroit_Actual_Master_Rebate_Intf.sh',N'LDE_REBATE', N'ADROIT_ACTUAL_MASTER_REBATE_INTERFACE/Input', N'ADROIT_ACTUAL_MASTER_REBATE_INTERFACE/Error', N'ADROIT_ACTUAL_MASTER_REBATE_INTERFACE/Processed', N'Processed')
END
GO

------------INSERT

IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Adroit_Actual_Master_Coupon_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[FILE_NAME],[STAG_TABLE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ADROIT_ACTUAL_MASTER_COUPON_INTERFACE', N'ADROIT_ACTUAL_MASTER_COUPON_INTERFACE', N'Adroit_Actual_Master_Coupon_Intf.sh',N'LDE_COUPON', N'ADROIT_ACTUAL_MASTER_COUPON_INTERFACE/Input', N'ADROIT_ACTUAL_MASTER_COUPON_INTERFACE/Error', N'ADROIT_ACTUAL_MASTER_COUPON_INTERFACE/Processed', N'Processed')
END
GO


------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Adroit_Company_Master_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ADROIT_COMPANY_MASTER_INTERFACE', N'ADROIT_COMPANY_MASTER_INTERFACE',N'LDE_BUNIT', N'Adroit_Company_Master_Intf.sh', N'ADROIT_COMPANY_MASTER_INTERFACE/Input', N'ADROIT_COMPANY_MASTER_INTERFACE/Error', N'ADROIT_COMPANY_MASTER_INTERFACE/Processed', N'Processed')
END
GO
------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Adroit_Company_Identifier_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ADROIT_COMPANY_IDENTIFIER_INTERFACE', N'ADROIT_COMPANY_IDENTIFIER_INTERFACE',N'LDE_BUID', N'Adroit_Company_Identifier_Intf.sh', N'ADROIT_COMPANY_IDENTIFIER_INTERFACE/Input', N'ADROIT_COMPANY_IDENTIFIER_INTERFACE/Error', N'ADROIT_COMPANY_IDENTIFIER_INTERFACE/Processed', N'Processed')
END
GO

------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Adroit_Company_Trade_Class_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ADROIT_COMPANY_TRADE_CLASS_INTERFACE', N'ADROIT_COMPANY_TRADE_CLASS_INTERFACE', N'LDE_BUTYPE',N'Adroit_Company_Trade_Class_Intf.sh', N'ADROIT_COMPANY_TRADE_CLASS_INTERFACE/Input', N'ADROIT_COMPANY_TRADE_CLASS_INTERFACE/Error', N'ADROIT_COMPANY_TRADE_CLASS_INTERFACE/Processed', N'Processed')
END
GO

------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Adroit_Item_Identifier_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ADROIT_ITEM_IDENTIFIER_INTERFACE', N'ADROIT_ITEM_IDENTIFIER_INTERFACE', N'LDE_PRODID', N'Adroit_Item_Identifier_Intf.sh', N'ADROIT_ITEM_IDENTIFIER_INTERFACE/Input', N'ADROIT_ITEM_IDENTIFIER_INTERFACE/Error', N'ADROIT_ITEM_IDENTIFIER_INTERFACE/Processed', N'Processed')
END
GO
------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Adroit_Item_Master_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ADROIT_ITEM_MASTER_INTERFACE', N'ADROIT_ITEM_MASTER_INTERFACE', N'LDE_PROD', N'Adroit_Item_Master_Intf.sh', N'ADROIT_ITEM_MASTER_INTERFACE/Input', N'ADROIT_ITEM_MASTER_INTERFACE/Error', N'ADROIT_ITEM_MASTER_INTERFACE/Processed', N'Processed')
END
GO
-----------------------------------------------------------------------
------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Adroit_Item_Heirarchy_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ADROIT_ITEM_HIERARCHY_INTERFACE', N'ADROIT_ITEM_HIERARCHY_INTERFACE', N'LDE_PROD_HIERARCHY', N'Adroit_Item_Heirarchy_Intf.sh', N'ADROIT_ITEM_HIERARCHY_INTERFACE/Input', N'ADROIT_ITEM_HIERARCHY_INTERFACE/Error', N'ADROIT_ITEM_HIERARCHY_INTERFACE/Processed', N'Processed')
END
GO
------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Adroit_Item_Business_Warehouse_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ADROIT_ITEM_BUSINESS_WAREHOUSE_INTERFACE', N'ADROIT_ITEM_BUSINESS_WAREHOUSE_INTERFACE', N'LDE_PROD_BW', N'Adroit_Item_Business_Warehouse_Intf.sh', N'ADROIT_ITEM_BUSINESS_WAREHOUSE_INTERFACE/Input', N'ADROIT_ITEM_BUSINESS_WAREHOUSE_INTERFACE/Error', N'ADROIT_ITEM_BUSINESS_WAREHOUSE_INTERFACE/Processed', N'Processed')
END
GO

------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Adroit_Item_Pricing_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ADROIT_ITEM_PRICING_INTERFACE', N'ADROIT_ITEM_PRICING_INTERFACE', N'LDE_PRICING', N'Adroit_Item_Pricing_Intf.sh', N'ADROIT_ITEM_PRICING_INTERFACE/Input', N'ADROIT_ITEM_PRICING_INTERFACE/Error', N'ADROIT_ITEM_PRICING_INTERFACE/Processed', N'Processed')
END
GO
------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Adroit_Contract_Header_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ADROIT_CONTRACT_HEADER_INTERFACE', N'ADROIT_CONTRACT_HEADER_INTERFACE', N'LDE_CONT', N'Adroit_Contract_Header_Intf.sh', N'ADROIT_CONTRACT_HEADER_INTERFACE/Input', N'ADROIT_CONTRACT_HEADER_INTERFACE/Error', N'ADROIT_CONTRACT_HEADER_INTERFACE/Processed', N'Processed')
END
GO

------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Adroit_Company_Family_Plan_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ADROIT_COMPANY_FAMILY_PLAN_INTERFACE', N'ADROIT_COMPANY_FAMILY_PLAN_INTERFACE', N'LDE_CPGRP', N'Adroit_Company_Family_Plan_Intf.sh', N'ADROIT_COMPANY_FAMILY_PLAN_INTERFACE/Input', N'ADROIT_COMPANY_FAMILY_PLAN_INTERFACE/Error', N'ADROIT_COMPANY_FAMILY_PLAN_INTERFACE/Processed', N'Processed')
END
GO
------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Adroit_Item_Family_Plan_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ADROIT_ITEM_FAMILY_PLAN_INTERFACE', N'ADROIT_ITEM_FAMILY_PLAN_INTERFACE', N'LDE_CPPT', N'Adroit_Item_Family_Plan_Intf.sh', N'ADROIT_ITEM_FAMILY_PLAN_INTERFACE/Input', N'ADROIT_ITEM_FAMILY_PLAN_INTERFACE/Error', N'ADROIT_ITEM_FAMILY_PLAN_INTERFACE/Processed', N'Processed')
END
GO
------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Adroit_Rebate_Plan_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ADROIT_REBATE_PLAN_INTERFACE', N'ADROIT_REBATE_PLAN_INTERFACE', N'LDE_CPPPO', N'Adroit_Rebate_Plan_Intf.sh', N'ADROIT_REBATE_PLAN_INTERFACE/Input', N'ADROIT_REBATE_PLAN_INTERFACE/Error', N'ADROIT_REBATE_PLAN_INTERFACE/Processed', N'Processed')
END
GO
------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Adroit_Price_Schedule_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ADROIT_PRICE_SCHEDULE_INTERFACE', N'ADROIT_PRICE_SCHEDULE_INTERFACE', N'LDE_CPGRP_PGM_MKT', N'Adroit_Price_Schedule_Intf.sh', N'ADROIT_PRICE_SCHEDULE_INTERFACE/Input', N'ADROIT_PRICE_SCHEDULE_INTERFACE/Error', N'ADROIT_PRICE_SCHEDULE_INTERFACE/Processed', N'Processed')
END
GO

------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Adroit_Rebate_Schedule_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ADROIT_REBATE_SCHEDULE_INTERFACE', N'ADROIT_REBATE_SCHEDULE_INTERFACE', N'LDE_CPPPO', N'Adroit_Rebate_Schedule_Intf.sh', N'ADROIT_REBATE_SCHEDULE_INTERFACE/Input', N'ADROIT_REBATE_SCHEDULE_INTERFACE/Error', N'ADROIT_REBATE_SCHEDULE_INTERFACE/Processed', N'Processed')
END
GO

------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Adroit_Sales_Master_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ADROIT_SALES_MASTER_INTERFACE', N'ADROIT_SALES_MASTER_INTERFACE', N'LDE_DIRECT_SALES', N'Adroit_Sales_Master_Intf.sh', N'ADROIT_SALES_MASTER_INTERFACE/Input', N'ADROIT_SALES_MASTER_INTERFACE/Error', N'ADROIT_SALES_MASTER_INTERFACE/Processed', N'Processed')
END
GO

------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Adroit_Customer_Gts_Actual_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ADROIT_CUSTOMER_GTS_ACTUAL_INTERFACE', N'ADROIT_CUSTOMER_GTS_ACTUAL_INTERFACE', N'LDE_DIRECT_SALES', N'Adroit_Customer_Gts_Actual_Intf.sh', N'ADROIT_CUSTOMER_GTS_ACTUAL_INTERFACE/Input', N'ADROIT_CUSTOMER_GTS_ACTUAL_INTERFACE/Error', N'ADROIT_CUSTOMER_GTS_ACTUAL_INTERFACE/Processed', N'Processed')
END
GO

------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Adroit_Customer_Gts_Forecast_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ADROIT_CUSTOMER_GTS_FORECAST_INTERFACE', N'ADROIT_CUSTOMER_GTS_FORECAST_INTERFACE', N'LDE_FORECAST_SALES', N'Adroit_Customer_Gts_Forecast_Intf.sh', N'ADROIT_CUSTOMER_GTS_FORECAST_INTERFACE/Input', N'ADROIT_CUSTOMER_GTS_FORECAST_INTERFACE/Error', N'ADROIT_CUSTOMER_GTS_FORECAST_INTERFACE/Processed', N'Processed')
END
GO
------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Adroit_Returns_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ADROIT_RETURNS_INTERFACE', N'ADROIT_RETURNS_INTERFACE', N'Adroit_Returns_Intf.sh', N'ADROIT_RETURNS_INTERFACE/Input', N'ADROIT_RETURNS_INTERFACE/Error', N'ADROIT_RETURNS_INTERFACE/Processed', N'Processed')
END
GO
-----------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Adroit_CPI_Index_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ADROIT_CPI_INDEX_INTERFACE', N'ADROIT_CPI_INDEX_INTERFACE', N'LDE_INFLATION', N'Adroit_CPI_Index_Intf.sh', N'ADROIT_CPI_INDEX_INTERFACE/Input', N'ADROIT_CPI_INDEX_INTERFACE/Error', N'ADROIT_CPI_INDEX_INTERFACE/Processed', N'Processed')
END
GO
------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Adroit_GL_Cost_Center_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ADROIT_GL_COST_CENTER_INTERFACE', N'ADROIT_GL_COST_CENTER_INTERFACE', N'LDE_GCC', N'Adroit_GL_Cost_Center_Intf.sh', N'ADROIT_GL_COST_CENTER_INTERFACE/Input', N'ADROIT_GL_COST_CENTER_INTERFACE/Error', N'ADROIT_GL_COST_CENTER_INTERFACE/Processed', N'Processed')
END
GO
------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Adroit_Accrual_Master_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ADROIT_ACCRUAL_INBOUND_INTERFACE', N'ADROIT_ACCRUAL_INBOUND_INTERFACE', N'Adroit_Accrual_Master_Intf.sh', N'ADROIT_ACCRUAL_INBOUND_INTERFACE/Input', N'ADROIT_ACCRUAL_INBOUND_INTERFACE/Error', N'ADROIT_ACCRUAL_INBOUND_INTERFACE/Processed', N'Processed')
END
GO
------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Adroit_Forecasting_Sales_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ADROIT_FORECASTING_MASTER_INTERFACE', N'ADROIT_FORECASTING_MASTER_INTERFACE', N'LDE_FORECAST_SALES', N'Adroit_Forecasting_Sales_Intf.sh', N'ADROIT_FORECASTING_MASTER_INTERFACE/Input', N'ADROIT_FORECASTING_MASTER_INTERFACE/Error', N'ADROIT_FORECASTING_MASTER_INTERFACE/Processed', N'Processed')
END
GO
---------------DELETE ADROIT
IF  EXISTS (SELECT 1 
               FROM   ETL_TABLE 
               WHERE  AUDIT_INTERFACE_NAME = 'ADROIT_ACTUAL_MASTER_CHARGEBACK_INTERFACE') 
 BEGIN 

DELETE FROM ETL_TABLE WHERE AUDIT_INTERFACE_NAME = 'ADROIT_ACTUAL_MASTER_CHARGEBACK_INTERFACE' 
                      
END
GO
---------------DELETE ADROIT
IF  EXISTS (SELECT 1 
               FROM   ETL_TABLE 
               WHERE  AUDIT_INTERFACE_NAME = 'ADROIT_ACTUAL_MASTER_MEDICAID_INTERFACE') 
 BEGIN 

DELETE FROM ETL_TABLE WHERE AUDIT_INTERFACE_NAME = 'ADROIT_ACTUAL_MASTER_MEDICAID_INTERFACE' 
                      
END
GO
---------------DELETE ADROIT
IF  EXISTS (SELECT 1 
               FROM   ETL_TABLE 
               WHERE  AUDIT_INTERFACE_NAME = 'ADROIT_ACTUAL_MASTER_REBATE_INTERFACE') 
 BEGIN 

DELETE FROM ETL_TABLE WHERE AUDIT_INTERFACE_NAME = 'ADROIT_ACTUAL_MASTER_REBATE_INTERFACE' 
                      
END
GO
---------------DELETE ADROIT
IF  EXISTS (SELECT 1 
               FROM   ETL_TABLE 
               WHERE  AUDIT_INTERFACE_NAME = 'ADROIT_ACTUAL_MASTER_COUPON_INTERFACE') 
 BEGIN 

DELETE FROM ETL_TABLE WHERE AUDIT_INTERFACE_NAME = 'ADROIT_ACTUAL_MASTER_COUPON_INTERFACE' 
                      
END
GO
---------------DELETE ADROIT
IF  EXISTS (SELECT 1 
               FROM   ETL_TABLE 
               WHERE  AUDIT_INTERFACE_NAME = 'ADROIT_COMPANY_MASTER_INTERFACE') 
 BEGIN 

DELETE FROM ETL_TABLE WHERE AUDIT_INTERFACE_NAME = 'ADROIT_COMPANY_MASTER_INTERFACE' 
                      
END
GO
---------------DELETE ADROIT
IF  EXISTS (SELECT 1 
               FROM   ETL_TABLE 
               WHERE  AUDIT_INTERFACE_NAME = 'ADROIT_COMPANY_IDENTIFIER_INTERFACE') 
 BEGIN 

DELETE FROM ETL_TABLE WHERE AUDIT_INTERFACE_NAME = 'ADROIT_COMPANY_IDENTIFIER_INTERFACE' 
                      
END
GO
---------------DELETE ADROIT
IF  EXISTS (SELECT 1 
               FROM   ETL_TABLE 
               WHERE  AUDIT_INTERFACE_NAME = 'ADROIT_COMPANY_TRADE_CLASS_INTERFACE') 
 BEGIN 

DELETE FROM ETL_TABLE WHERE AUDIT_INTERFACE_NAME = 'ADROIT_COMPANY_TRADE_CLASS_INTERFACE' 
                      
END
GO
---------------DELETE ADROIT
IF  EXISTS (SELECT 1 
               FROM   ETL_TABLE 
               WHERE  AUDIT_INTERFACE_NAME = 'ADROIT_ITEM_IDENTIFIER_INTERFACE') 
 BEGIN 

DELETE FROM ETL_TABLE WHERE AUDIT_INTERFACE_NAME = 'ADROIT_ITEM_IDENTIFIER_INTERFACE' 
                      
END
GO
---------------DELETE ADROIT
IF  EXISTS (SELECT 1 
               FROM   ETL_TABLE 
               WHERE  AUDIT_INTERFACE_NAME = 'ADROIT_ITEM_MASTER_INTERFACE') 
 BEGIN 

DELETE FROM ETL_TABLE WHERE AUDIT_INTERFACE_NAME = 'ADROIT_ITEM_MASTER_INTERFACE' 
                      
END
GO
---------------DELETE ADROIT
IF  EXISTS (SELECT 1 
               FROM   ETL_TABLE 
               WHERE  AUDIT_INTERFACE_NAME = 'ADROIT_ITEM_HIERARCHY_INTERFACE') 
 BEGIN 

DELETE FROM ETL_TABLE WHERE AUDIT_INTERFACE_NAME = 'ADROIT_ITEM_HIERARCHY_INTERFACE' 
                      
END
GO
---------------DELETE ADROIT
IF  EXISTS (SELECT 1 
               FROM   ETL_TABLE 
               WHERE  AUDIT_INTERFACE_NAME = 'ADROIT_ITEM_BUSINESS_WAREHOUSE_INTERFACE') 
 BEGIN 

DELETE FROM ETL_TABLE WHERE AUDIT_INTERFACE_NAME = 'ADROIT_ITEM_BUSINESS_WAREHOUSE_INTERFACE' 
                      
END
GO
---------------DELETE ADROIT
IF  EXISTS (SELECT 1 
               FROM   ETL_TABLE 
               WHERE  AUDIT_INTERFACE_NAME = 'ADROIT_ITEM_PRICING_INTERFACE') 
 BEGIN 

DELETE FROM ETL_TABLE WHERE AUDIT_INTERFACE_NAME = 'ADROIT_ITEM_PRICING_INTERFACE' 
                      
END
GO
---------------DELETE ADROIT
IF  EXISTS (SELECT 1 
               FROM   ETL_TABLE 
               WHERE  AUDIT_INTERFACE_NAME = 'ADROIT_CONTRACT_HEADER_INTERFACE') 
 BEGIN 

DELETE FROM ETL_TABLE WHERE AUDIT_INTERFACE_NAME = 'ADROIT_CONTRACT_HEADER_INTERFACE' 
                      
END
GO
---------------DELETE ADROIT
IF  EXISTS (SELECT 1 
               FROM   ETL_TABLE 
               WHERE  AUDIT_INTERFACE_NAME = 'ADROIT_COMPANY_FAMILY_PLAN_INTERFACE') 
 BEGIN 

DELETE FROM ETL_TABLE WHERE AUDIT_INTERFACE_NAME = 'ADROIT_COMPANY_FAMILY_PLAN_INTERFACE' 
                      
END
GO
---------------DELETE ADROIT
IF  EXISTS (SELECT 1 
               FROM   ETL_TABLE 
               WHERE  AUDIT_INTERFACE_NAME = 'ADROIT_ITEM_FAMILY_PLAN_INTERFACE') 
 BEGIN 

DELETE FROM ETL_TABLE WHERE AUDIT_INTERFACE_NAME = 'ADROIT_ITEM_FAMILY_PLAN_INTERFACE' 
                      
END
GO
---------------DELETE ADROIT
IF  EXISTS (SELECT 1 
               FROM   ETL_TABLE 
               WHERE  AUDIT_INTERFACE_NAME = 'ADROIT_REBATE_PLAN_INTERFACE') 
 BEGIN 

DELETE FROM ETL_TABLE WHERE AUDIT_INTERFACE_NAME = 'ADROIT_REBATE_PLAN_INTERFACE' 
                      
END
GO
---------------DELETE ADROIT
IF  EXISTS (SELECT 1 
               FROM   ETL_TABLE 
               WHERE  AUDIT_INTERFACE_NAME = 'ADROIT_PRICE_SCHEDULE_INTERFACE') 
 BEGIN 

DELETE FROM ETL_TABLE WHERE AUDIT_INTERFACE_NAME = 'ADROIT_PRICE_SCHEDULE_INTERFACE' 
                      
END
GO
---------------DELETE ADROIT
IF  EXISTS (SELECT 1 
               FROM   ETL_TABLE 
               WHERE  AUDIT_INTERFACE_NAME = 'ADROIT_REBATE_SCHEDULE_INTERFACE') 
 BEGIN 

DELETE FROM ETL_TABLE WHERE AUDIT_INTERFACE_NAME = 'ADROIT_REBATE_SCHEDULE_INTERFACE' 
                      
END
GO
---------------DELETE ADROIT
IF  EXISTS (SELECT 1 
               FROM   ETL_TABLE 
               WHERE  AUDIT_INTERFACE_NAME = 'ADROIT_SALES_MASTER_INTERFACE') 
 BEGIN 

DELETE FROM ETL_TABLE WHERE AUDIT_INTERFACE_NAME = 'ADROIT_SALES_MASTER_INTERFACE' 
                      
END
GO
---------------DELETE ADROIT
IF  EXISTS (SELECT 1 
               FROM   ETL_TABLE 
               WHERE  AUDIT_INTERFACE_NAME = 'ADROIT_CUSTOMER_GTS_ACTUAL_INTERFACE') 
 BEGIN 

DELETE FROM ETL_TABLE WHERE AUDIT_INTERFACE_NAME = 'ADROIT_CUSTOMER_GTS_ACTUAL_INTERFACE' 
                      
END
GO
---------------DELETE ADROIT
IF  EXISTS (SELECT 1 
               FROM   ETL_TABLE 
               WHERE  AUDIT_INTERFACE_NAME = 'ADROIT_CUSTOMER_GTS_FORECAST_INTERFACE') 
 BEGIN 

DELETE FROM ETL_TABLE WHERE AUDIT_INTERFACE_NAME = 'ADROIT_CUSTOMER_GTS_FORECAST_INTERFACE' 
                      
END
GO
---------------DELETE ADROIT
IF  EXISTS (SELECT 1 
               FROM   ETL_TABLE 
               WHERE  AUDIT_INTERFACE_NAME = 'ADROIT_RETURNS_INTERFACE') 
 BEGIN 

DELETE FROM ETL_TABLE WHERE AUDIT_INTERFACE_NAME = 'ADROIT_RETURNS_INTERFACE' 
                      
END
GO
---------------DELETE ADROIT
IF  EXISTS (SELECT 1 
               FROM   ETL_TABLE 
               WHERE  AUDIT_INTERFACE_NAME = 'ADROIT_CPI_INDEX_INTERFACE') 
 BEGIN 

DELETE FROM ETL_TABLE WHERE AUDIT_INTERFACE_NAME = 'ADROIT_CPI_INDEX_INTERFACE' 
                      
END
GO
---------------DELETE ADROIT
IF  EXISTS (SELECT 1 
               FROM   ETL_TABLE 
               WHERE  AUDIT_INTERFACE_NAME = 'ADROIT_GL_COST_CENTER_INTERFACE') 
 BEGIN 

DELETE FROM ETL_TABLE WHERE AUDIT_INTERFACE_NAME = 'ADROIT_GL_COST_CENTER_INTERFACE' 
                      
END
GO
---------------DELETE ADROIT
IF  EXISTS (SELECT 1 
               FROM   ETL_TABLE 
               WHERE  AUDIT_INTERFACE_NAME = 'ADROIT_ACCRUAL_INBOUND_INTERFACE') 
 BEGIN 

DELETE FROM ETL_TABLE WHERE AUDIT_INTERFACE_NAME = 'ADROIT_ACCRUAL_INBOUND_INTERFACE' 
                      
END
GO
---------------DELETE ADROIT
IF  EXISTS (SELECT 1 
               FROM   ETL_TABLE 
               WHERE  AUDIT_INTERFACE_NAME = 'ADROIT_FORECASTING_MASTER_INTERFACE') 
 BEGIN 

DELETE FROM ETL_TABLE WHERE AUDIT_INTERFACE_NAME = 'ADROIT_FORECASTING_MASTER_INTERFACE' 
                      
END
GO
---------------DELETE ADROIT
IF  EXISTS (SELECT 1 
               FROM   ETL_TABLE 
               WHERE  AUDIT_INTERFACE_NAME = 'ADROIT_ACTUAL_MASTER_INTERFACE') 
 BEGIN 

DELETE FROM ETL_TABLE WHERE AUDIT_INTERFACE_NAME = 'ADROIT_ACTUAL_MASTER_INTERFACE' 
                      
END
GO

------------INSERT


IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Actuals_Chargeback_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[FILE_NAME],[STAG_TABLE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ACTUALS_CHARGEBACK_INTERFACE', N'ACTUALS_CHARGEBACK_INTERFACE', N'Actuals_Chargeback_Intf.sh',N'LDE_CHARGEBACK', N'ACTUALS_CHARGEBACK_INTERFACE/Input', N'ACTUALS_CHARGEBACK_INTERFACE/Error', N'ACTUALS_CHARGEBACK_INTERFACE/Processed', N'Processed')
END
GO
------------INSERT


IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Actuals_Medicaid_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[FILE_NAME],[STAG_TABLE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ACTUALS_MEDICAID_INTERFACE', N'ACTUALS_MEDICAID_INTERFACE',N'Actuals_Medicaid_Intf.sh',N'LDE_MEDICAID',  N'ACTUALS_MEDICAID_INTERFACE/Input', N'ACTUALS_MEDICAID_INTERFACE/Error', N'ACTUALS_MEDICAID_INTERFACE/Processed', N'Processed')
END
GO
------------INSERT


IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Actuals_Rebate_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[FILE_NAME],[STAG_TABLE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ACTUALS_REBATE_INTERFACE', N'ACTUALS_REBATE_INTERFACE', N'Actuals_Rebate_Intf.sh',N'LDE_REBATE', N'ACTUALS_REBATE_INTERFACE/Input', N'ACTUALS_REBATE_INTERFACE/Error', N'ACTUALS_REBATE_INTERFACE/Processed', N'Processed')
END
GO

------------INSERT

IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Actuals_Coupon_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[FILE_NAME],[STAG_TABLE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ACTUALS_COUPON_INTERFACE', N'ACTUALS_COUPON_INTERFACE', N'Actuals_Coupon_Intf.sh',N'LDE_COUPON', N'ACTUALS_COUPON_INTERFACE/Input', N'ACTUALS_COUPON_INTERFACE/Error', N'ACTUALS_COUPON_INTERFACE/Processed', N'Processed')
END
GO


------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Company_Bunit_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'COMPANY_BUNIT_INTERFACE', N'COMPANY_BUNIT_INTERFACE',N'LDE_BUNIT', N'Company_Bunit_Intf.sh', N'COMPANY_BUNIT_INTERFACE/Input', N'COMPANY_BUNIT_INTERFACE/Error', N'COMPANY_BUNIT_INTERFACE/Processed', N'Processed')
END
GO
------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Company_Buid_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'COMPANY_BUID_INTERFACE', N'COMPANY_BUID_INTERFACE',N'LDE_BUID', N'Company_Buid_Intf.sh', N'COMPANY_BUID_INTERFACE/Input', N'COMPANY_BUID_INTERFACE/Error', N'COMPANY_BUID_INTERFACE/Processed', N'Processed')
END
GO

------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Company_Butype_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'COMPANY_BUTYPE_INTERFACE', N'Company_Butype_Intf', N'LDE_BUTYPE',N'Adroit_Company_Trade_Class_Intf.sh', N'COMPANY_BUTYPE_INTERFACE/Input', N'COMPANY_BUTYPE_INTERFACE/Error', N'COMPANY_BUTYPE_INTERFACE/Processed', N'Processed')
END
GO

------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Product_Prodid_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'PRODUCT_PRODID_INTERFACE', N'PRODUCT_PRODID_INTERFACE', N'LDE_PRODID', N'Product_Prodid_Intf.sh', N'PRODUCT_PRODID_INTERFACE/Input', N'PRODUCT_PRODID_INTERFACE/Error', N'PRODUCT_PRODID_INTERFACE/Processed', N'Processed')
END
GO
------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Product_Prod_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'PRODUCT_PROD_INTERFACE', N'PRODUCT_PROD_INTERFACE', N'LDE_PROD', N'Product_Prod_Intf.sh', N'PRODUCT_PROD_INTERFACE/Input', N'PRODUCT_PROD_INTERFACE/Error', N'PRODUCT_PROD_INTERFACE/Processed', N'Processed')
END
GO
------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Product_Prod_Hierarchy.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'PRODUCT_PROD_HIERARCHY_INTERFACE', N'PRODUCT_PROD_HIERARCHY_INTERFACE', N'LDE_PROD_HIERARCHY', N'Product_Prod_Hierarchy.sh', N'PRODUCT_PROD_HIERARCHY_INTERFACE/Input', N'PRODUCT_PROD_HIERARCHY_INTERFACE/Error', N'PRODUCT_PROD_HIERARCHY_INTERFACE/Processed', N'Processed')
END
GO
------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Product_Prod_Bw_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'PRODUCT_PROD_BW_INTERFACE', N'PRODUCT_PROD_BW_INTERFACE', N'LDE_PROD_BW', N'Product_Prod_Bw_Intf.sh', N'PRODUCT_PROD_BW_INTERFACE/Input', N'PRODUCT_PROD_BW_INTERFACE/Error', N'PRODUCT_PROD_BW_INTERFACE/Processed', N'Processed')
END
GO

------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Pricing_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'PRICING_INTERFACE', N'PRICING_INTERFACE', N'LDE_PRICING', N'Pricing_Intf.sh', N'PRICING_INTERFACE/Input', N'PRICING_INTERFACE/Error', N'PRICING_INTERFACE/Processed', N'Processed')
END
GO
------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Contract_Cont_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'CONTRACT_CONT_INTERFACE', N'CONTRACT_CONT_INTERFACE', N'LDE_CONT', N'Contract_Cont_Intf.sh', N'CONTRACT_CONT_INTERFACE/Input', N'CONTRACT_CONT_INTERFACE/Error', N'CONTRACT_CONT_INTERFACE/Processed', N'Processed')
END
GO

------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Contract_Cpgrp_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'CONTRACT_CPGRP_INTERFACE', N'CONTRACT_CPGRP_INTERFACE', N'LDE_CPGRP', N'Contract_Cpgrp_Intf.sh', N'CONTRACT_CPGRP_INTERFACE/Input', N'CONTRACT_CPGRP_INTERFACE/Error', N'CONTRACT_CPGRP_INTERFACE/Processed', N'Processed')
END
GO
------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Contract_Cpppo_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'CONTRACT_CPPPO_INTERFACE', N'CONTRACT_CPPPO_INTERFACE', N'LDE_CPPPO', N'Contract_Cpppo_Intf.sh', N'CONTRACT_CPPPO_INTERFACE/Input', N'CONTRACT_CPPPO_INTERFACE/Error', N'CONTRACT_CPPPO_INTERFACE/Processed', N'Processed')
END
GO
------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Contract_Cppt_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'CONTRACT_CPPT_INTERFACE', N'CONTRACT_CPPT_INTERFACE', N'LDE_CPPT', N'Contract_Cppt_Intf.sh', N'CONTRACT_CPPT_INTERFACE/Input', N'CONTRACT_CPPT_INTERFACE/Error', N'CONTRACT_CPPT_INTERFACE/Processed', N'Processed')
END
GO
------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Contract_cpgrp_pgmmkt_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'CONTRACT_CPGRP_PGMMKT_INTERFACE', N'CONTRACT_CPGRP_PGMMKT_INTERFACE', N'LDE_CPGRP_PGM_MKT', N'Contract_cpgrp_pgmmkt_Intf.sh', N'CONTRACT_CPGRP_PGMMKT_INTERFACE/Input', N'CONTRACT_CPGRP_PGMMKT_INTERFACE/Error', N'CONTRACT_CPGRP_PGMMKT_INTERFACE/Processed', N'Processed')
END
GO

------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Contract_prgmmkt_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'CONTRACT_PRGMMKT_INTERFACE', N'CONTRACT_PRGMMKT_INTERFACE', N'Adroit_Rebate_Schedule_Intf.sh', N'CONTRACT_PRGMMKT_INTERFACE/Input', N'CONTRACT_PRGMMKT_INTERFACE/Error', N'CONTRACT_PRGMMKT_INTERFACE/Processed', N'Processed')
END
GO

------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Pstg_Sales_Master_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'PSTG_SALES_MASTER_INTERFACE', N'PSTG_SALES_MASTER_INTERFACE', N'LDE_DIRECT_SALES', N'Pstg_Sales_Master_Intf.sh', N'PSTG_SALES_MASTER_INTERFACE/Input', N'PSTG_SALES_MASTER_INTERFACE/Error', N'PSTG_SALES_MASTER_INTERFACE/Processed', N'Processed')
END
GO

------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Pstg_Customer_Gts_Actual_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'PSTG_CUSTOMER_GTS_ACTUAL_INTERFACE', N'PSTG_CUSTOMER_GTS_ACTUAL_INTERFACE', N'LDE_DIRECT_SALES', N'Pstg_Customer_Gts_Actual_Intf.sh', N'PSTG_CUSTOMER_GTS_ACTUAL_INTERFACE/Input', N'PSTG_CUSTOMER_GTS_ACTUAL_INTERFACE/Error', N'PSTG_CUSTOMER_GTS_ACTUAL_INTERFACE/Processed', N'Processed')
END
GO

------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Pstg_Customer_Gts_Forecast_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'PSTG_CUSTOMER_GTS_FORECAST_INTERFACE', N'PSTG_CUSTOMER_GTS_FORECAST_INTERFACE', N'LDE_FORECAST_SALES', N'Pstg_Customer_Gts_Forecast_Intf.sh', N'PSTG_CUSTOMER_GTS_FORECAST_INTERFACE/Input', N'PSTG_CUSTOMER_GTS_FORECAST_INTERFACE/Error', N'PSTG_CUSTOMER_GTS_FORECAST_INTERFACE/Processed', N'Processed')
END
GO
------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Pstg_Returns_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME],[FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'PSTG_RETURNS_INTERFACE', N'PSTG_RETURNS_INTERFACE',N'LDE_RETURN_RATE', N'Pstg_Returns_Intf.sh', N'PSTG_RETURNS_INTERFACE/Input', N'PSTG_RETURNS_INTERFACE/Error', N'PSTG_RETURNS_INTERFACE/Processed', N'Processed')
END
GO
-----------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Consumer_Price_Index_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'CONSUMER_PRICE_INDEX_INTERFACE', N'CONSUMER_PRICE_INDEX_INTERFACE', N'LDE_INFLATION', N'Consumer_Price_Index_Intf.sh', N'CONSUMER_PRICE_INDEX_INTERFACE/Input', N'CONSUMER_PRICE_INDEX_INTERFACE/Error', N'CONSUMER_PRICE_INDEX_INTERFACE/Processed', N'Processed')
END
GO
------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Pstg_GL_Cost_Center_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'PSTG_GL_COST_CENTER_INTERFACE', N'PSTG_GL_COST_CENTER_INTERFACE', N'LDE_GCC', N'Pstg_GL_Cost_Center_Intf.sh', N'PSTG_GL_COST_CENTER_INTERFACE/Input', N'PSTG_GL_COST_CENTER_INTERFACE/Error', N'PSTG_GL_COST_CENTER_INTERFACE/Processed', N'Processed')
END
GO
------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Accruals_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'ACCRUALS_INTERFACE', N'ACCRUALS_INTERFACE', N'Accruals_Intf.sh', N'ACCRUALS_INTERFACE/Input', N'ACCRUALS_INTERFACE/Error', N'ACCRUALS_INTERFACE/Processed', N'Processed')
END
GO
------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Pstg_Sales_Forecast_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'PSTG_SALES_FORECAST_INTERFACE', N'PSTG_SALES_FORECAST_INTERFACE', N'LDE_FORECAST_SALES', N'Pstg_Sales_Forecast_Intf.sh', N'PSTG_SALES_FORECAST_INTERFACE/Input', N'PSTG_SALES_FORECAST_INTERFACE/Error', N'PSTG_SALES_FORECAST_INTERFACE/Processed', N'Processed')
END
GO

------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Unit_Of_Measure_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'UNIT_OF_MEASURE_INTERFACE', N'UNIT_OF_MEASURE_INTERFACE', N'LDE_UOM', N'Unit_Of_Measure_Intf.sh', N'UNIT_OF_MEASURE_INTERFACE/Input', N'UNIT_OF_MEASURE_INTERFACE/Error', N'UNIT_OF_MEASURE_INTERFACE/Processed', N'Processed')
END
GO

-----------------UPDATE
IF EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE AUDIT_INTERFACE_NAME IS NOT NULL AND AUDIT_INTERFACE_NAME='COMPANY_BUTYPE_INTERFACE')
  BEGIN
    UPDATE ETL_TABLE SET WORKFLOW_INTERFACE_NAME='COMPANY_BUTYPE_INTERFACE',FILE_NAME='Company_Butype_Intf.sh' WHERE AUDIT_INTERFACE_NAME='COMPANY_BUTYPE_INTERFACE'
  END
GO

IF EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE AUDIT_INTERFACE_NAME IS NOT NULL AND AUDIT_INTERFACE_NAME='CONTRACT_PRGMMKT_INTERFACE')
  BEGIN
    UPDATE ETL_TABLE SET FILE_NAME='Contract_prgmmkt_Intf.sh' WHERE AUDIT_INTERFACE_NAME='CONTRACT_PRGMMKT_INTERFACE'
  END
GO
-----------------------------------AGN-914---------------------------------------------

------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Contract_Cfp_Mbr_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'CONTRACT_CFP_MBR_INTERFACE', N'CONTRACT_CFP_MBR_INTERFACE', N'LDE_CFP_MBR', N'Contract_Cfp_Mbr_Intf.sh', N'CONTRACT_CFP_MBR_INTERFACE/Input', N'CONTRACT_CFP_MBR_INTERFACE/Error', N'CONTRACT_CFP_MBR_INTERFACE/Processed', N'Processed')
END
GO

------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Pstg_Forecast_Sales_Wac_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'PSTG_FORECAST_SALES_WAC_INTERFACE', N'PSTG_FORECAST_SALES_WAC_INTERFACE', N'LDE_FORECAST_SALES_WAC', N'Pstg_Forecast_Sales_Wac_Intf.sh', N'PSTG_FORECAST_SALES_WAC_INTERFACE/Input', N'PSTG_FORECAST_SALES_WAC_INTERFACE/Error', N'PSTG_FORECAST_SALES_WAC_INTERFACE/Processed', N'Processed')
END
GO

------------INSERT
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Pstg_Gcc_Prod_Hierarchy_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED])
 VALUES (N'PSTG_GCC_PROD_HIERARCHY_INTERFACE', N'PSTG_GCC_PROD_HIERARCHY_INTERFACE', N'LDE_GCC_PROD_HIERARCHY', N'Pstg_Gcc_Prod_Hierarchy_Intf.sh', N'PSTG_GCC_PROD_HIERARCHY_INTERFACE/Input', N'PSTG_GCC_PROD_HIERARCHY_INTERFACE/Error', N'PSTG_GCC_PROD_HIERARCHY_INTERFACE/Processed', N'Processed')
END
GO

-----------------UPDATE
IF EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE AUDIT_INTERFACE_NAME='ACCRUALS_INTERFACE')
  BEGIN
    UPDATE ETL_TABLE SET STAG_TABLE_NAME='LDE_ACCRUAL_ACT' WHERE AUDIT_INTERFACE_NAME='ACCRUALS_INTERFACE'
  END
GO


IF EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE SOURCE_TABLE_NAME IS NULL AND SOURCE_TABLE_AVAILABLE IS NULL AND AUDIT_INTERFACE_NAME='ACCRUAL_INBOUND_INTERFACE')
  BEGIN

  UPDATE ETL_TABLE SET SOURCE_TABLE_NAME='VW_ACR_ACT_TGT',SOURCE_TABLE_AVAILABLE='Y' WHERE AUDIT_INTERFACE_NAME='ACCRUAL_INBOUND_INTERFACE'

  END

GO

-----------------UPDATE
IF EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE AUDIT_INTERFACE_NAME='PSTG_RETURNS_INTERFACE')
  BEGIN
    UPDATE ETL_TABLE SET STAG_TABLE_NAME='LDE_RETURN_RATE_FORECAST' WHERE AUDIT_INTERFACE_NAME='PSTG_RETURNS_INTERFACE'
  END
GO
-----------------UPDATE VIEW
IF EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE SOURCE_TABLE_NAME IS NULL AND SOURCE_TABLE_AVAILABLE IS NULL AND AUDIT_INTERFACE_NAME='UNIT_OF_MEASURE_INTERFACE')
  BEGIN

  UPDATE ETL_TABLE SET SOURCE_TABLE_NAME='VW_UOM_TGT',SOURCE_TABLE_AVAILABLE='Y' WHERE AUDIT_INTERFACE_NAME='UNIT_OF_MEASURE_INTERFACE'

  END

GO

IF EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE SOURCE_TABLE_NAME IS NULL AND SOURCE_TABLE_AVAILABLE IS NULL AND AUDIT_INTERFACE_NAME='PSTG_RETURNS_INTERFACE')
  BEGIN

  UPDATE ETL_TABLE SET SOURCE_TABLE_NAME='VW_RRT_TGT',SOURCE_TABLE_AVAILABLE='Y' WHERE AUDIT_INTERFACE_NAME='PSTG_RETURNS_INTERFACE'

  END

GO

IF EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE SOURCE_TABLE_NAME IS NOT NULL AND SOURCE_TABLE_NAME ='VW_FCS_TGT' AND AUDIT_INTERFACE_NAME='GL_COST_CENTER_INTERFACE')
  BEGIN

  UPDATE ETL_TABLE SET SOURCE_TABLE_NAME='VW_GCC_TGT' WHERE AUDIT_INTERFACE_NAME='GL_COST_CENTER_INTERFACE'

  END

GO

IF EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE SOURCE_TABLE_NAME IS NOT NULL AND SOURCE_TABLE_NAME ='VW_ACL_SLS_TGT'  AND AUDIT_INTERFACE_NAME='SALES_MASTER_INTERFACE')
  BEGIN

  UPDATE ETL_TABLE SET SOURCE_TABLE_NAME='VW_SLS_MST_TGT' WHERE AUDIT_INTERFACE_NAME='SALES_MASTER_INTERFACE'

  END

GO
-----------------------------------AGN-914 ENDS---------------------------------------------


---------------------------update view fro bpi interfaces-----------------------------
IF EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE SOURCE_TABLE_NAME IS NULL AND SOURCE_TABLE_AVAILABLE IS NULL AND AUDIT_INTERFACE_NAME='ITEM_UOM_INTERFACE')
  BEGIN

  UPDATE ETL_TABLE SET SOURCE_TABLE_NAME='VW_UOM_TGT',SOURCE_TABLE_AVAILABLE='Y' WHERE AUDIT_INTERFACE_NAME='ITEM_UOM_INTERFACE'

  END

GO

IF EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE SOURCE_TABLE_NAME IS NULL AND SOURCE_TABLE_AVAILABLE IS NULL AND AUDIT_INTERFACE_NAME='RETURN_RATE_FORECAST_INTERFACE')
  BEGIN

  UPDATE ETL_TABLE SET SOURCE_TABLE_NAME='VW_RRT_TGT',SOURCE_TABLE_AVAILABLE='Y' WHERE AUDIT_INTERFACE_NAME='RETURN_RATE_FORECAST_INTERFACE'

  END

GO

-----------------------------------AGN-1001 ---------------------------------------------

IF EXISTS (SELECT 1
               FROM  ETL_TABLE
               WHERE AUDIT_INTERFACE_NAME='CONSUMER_PRICE_INDEX_INTERFACE' AND FILE_NAME = 'Customer_Price_Index_Intf.sh')
  BEGIN
    UPDATE ETL_TABLE SET FILE_NAME='Consumer_Price_Index_Intf.sh' WHERE AUDIT_INTERFACE_NAME='CONSUMER_PRICE_INDEX_INTERFACE'
  END
GO

-----------------------------------AGN-1001 ENDS---------------------------------------------

------------INSERT--------DTX_UOM_INTERFACE
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Dtx_UOM_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED],[SOURCE_TABLE_NAME],[SOURCE_TABLE_AVAILABLE])
 VALUES (N'DTX_UOM_INTERFACE', N'DTX_UOM_INTERFACE', N'PSTG_UOM_INTERFACE', N'Dtx_UOM_Intf.sh', N'DTX_UOM_INTERFACE/Input', N'DTX_UOM_INTERFACE/Error', N'DTX_UOM_INTERFACE/Processed', N'Processed',N'VW_UOM_TGT',N'Y')
END
GO
------------INSERT--------DTX_CPI_INTERFACE
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Dtx_CPI_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED],[SOURCE_TABLE_NAME],[SOURCE_TABLE_AVAILABLE])
 VALUES (N'DTX_CPI_INTERFACE', N'DTX_CPI_INTERFACE', N'PSTG_CPI_INTERFACE', N'Dtx_CPI_Intf.sh', N'DTX_CPI_INTERFACE/Input', N'DTX_CPI_INTERFACE/Error', N'DTX_CPI_INTERFACE/Processed', N'Processed',N'VW_CPI_TGT',N'Y')
END
GO
------------INSERT--------DTX_RETURN_RATE_INTERFACE
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Dtx_Return_Rate_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED],[SOURCE_TABLE_NAME],[SOURCE_TABLE_AVAILABLE])
 VALUES (N'DTX_RETURN_RATE_INTERFACE', N'DTX_RETURN_RATE_INTERFACE', N'PSTG_RETURN_RATE_INTERFACE', N'Dtx_Return_Rate_Intf.sh', N'DTX_RETURN_RATE_INTERFACE/Input', N'DTX_RETURN_RATE_INTERFACE/Error', N'DTX_RETURN_RATE_INTERFACE/Processed', N'Processed',N'VW_RRT_TGT',N'Y')
END
GO
------------INSERT--------DTX_ITEM_PRICING_INTERFACE
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Dtx_Item_Pricing_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED],[SOURCE_TABLE_NAME],[SOURCE_TABLE_AVAILABLE])
 VALUES (N'DTX_ITEM_PRICING_INTERFACE', N'DTX_ITEM_PRICING_INTERFACE', N'PSTG_ITEM_PRICING_INTERFACE', N'Dtx_Item_Pricing_Intf.sh', N'DTX_ITEM_PRICING_INTERFACE/Input', N'DTX_ITEM_PRICING_INTERFACE/Error', N'DTX_ITEM_PRICING_INTERFACE/Processed', N'Processed',N'VW_PRC_TGT',N'Y')
END
GO
------------INSERT--------DTX_ACCRUAL_ACTUAL_INTERFACE
IF NOT EXISTS (
		SELECT 1
		FROM ETL_TABLE
		WHERE FILE_NAME = 'Dtx_Accrual_Actual_Intf.sh'
		)
BEGIN
INSERT [dbo].[ETL_TABLE] ([AUDIT_INTERFACE_NAME], [WORKFLOW_INTERFACE_NAME],[STAG_TABLE_NAME], [FILE_NAME], [INTERFACE_NAME_INPUT], [INTERFACE_NAME_ERROR], [INTERFACE_NAME_PROCESSED], [OUTBOUND_PROCESSED],[SOURCE_TABLE_NAME],[SOURCE_TABLE_AVAILABLE])
 VALUES (N'DTX_ACCRUAL_ACTUAL_INTERFACE', N'DTX_ACCRUAL_ACTUAL_INTERFACE', N'PSTG_ACCRUAL_ACTUAL_INTERFACE', N'Dtx_Accrual_Actual_Intf.sh', N'DTX_ACCRUAL_ACTUAL_INTERFACE/Input', N'DTX_ACCRUAL_ACTUAL_INTERFACE/Error', N'DTX_ACCRUAL_ACTUAL_INTERFACE/Processed', N'Processed',N'VW_ACR_ACT_TGT',N'Y')
END
GO


