IF EXISTS (SELECT 'X'
           FROM   INFORMATION_SCHEMA.ROUTINES
           WHERE  ROUTINE_NAME = 'PRC_GTN_MODULE_COMPONENT_POPULATION'
                  AND ROUTINE_SCHEMA = 'DBO')
  BEGIN
      DROP PROCEDURE [DBO].[PRC_GTN_MODULE_COMPONENT_POPULATION]
  END

GO

CREATE  PROCEDURE [dbo].[PRC_GTN_MODULE_COMPONENT_POPULATION]  
AS

BEGIN
SET NOCOUNT ON
BEGIN TRY


INSERT INTO GTN_MODULE_COMPONENT_ROLE_DETAILS (
	GTN_ROLE_MASTER_SID
	,GTN_MODULE_MASTER_SID
	,GTN_COMPONENT_SID
	,IS_EDITABLE
	,IS_VISIBLE
	,IS_TABLE_PROPERTY
	,CREATED_BY
	,CREATED_DATE
	,MODIFIED_BY
	,MODIFIED_DATE
	)
SELECT BUSINESSROLE_MASTER_SID
	,MODULE_SUBMODULE_MASTER_SID
	,GTN_MODULE_COMPONENT_MASTER_SID
	,0 AS IS_EDITABLE
	,0 AS IS_VISIBLE
	,0 AS IS_TABLE_PROPERTY
	,1 AS CREATED_BY
	,getdate() CREATED_DATE
	,1 MODIFIED_BY
	,getdate() MODIFIED_DATE
FROM BUSINESSROLE_MASTER R  CROSS JOIN GTN_MODULE_COMPONENT_MASTER GCM

WHERE NOT EXISTS( SELECT 1 FROM GTN_MODULE_COMPONENT_ROLE_DETAILS GMC WHERE GMC.GTN_ROLE_MASTER_SID=R.BUSINESSROLE_MASTER_SID 
AND GMC.GTN_COMPONENT_SID=GCM.GTN_MODULE_COMPONENT_MASTER_SID AND GMC.GTN_MODULE_MASTER_SID=GCM.MODULE_SUBMODULE_MASTER_SID  AND IS_TABLE_PROPERTY=0
)


INSERT INTO GTN_MODULE_COMPONENT_ROLE_DETAILS (
	GTN_ROLE_MASTER_SID
	,GTN_MODULE_MASTER_SID
	,GTN_COMPONENT_SID
	,IS_EDITABLE
	,IS_VISIBLE
	,IS_TABLE_PROPERTY
	,CREATED_BY
	,CREATED_DATE
	,MODIFIED_BY
	,MODIFIED_DATE
	)
SELECT R.BUSINESSROLE_MASTER_SID
	,MODULE_SUBMODULE_MASTER_SID
	,GTN_UITABLE_COMPONENT_DETAILS_SID
	,0 AS IS_EDITABLE
	,0 AS IS_VISIBLE
	,1 AS IS_TABLE_PROPERTY
	,1 AS CREATED_BY
	,getdate() CREATED_DATE
	,1 MODIFIED_BY
	,getdate() MODIFIED_DATE
FROM BUSINESSROLE_MASTER r CROSS JOIN GTN_UITABLE_COMPONENT_DETAILS GCM

WHERE NOT EXISTS( SELECT 1 FROM GTN_MODULE_COMPONENT_ROLE_DETAILS GMC WHERE GMC.GTN_ROLE_MASTER_SID=R.BUSINESSROLE_MASTER_SID 
AND GMC.GTN_COMPONENT_SID=gcm.GTN_UITABLE_COMPONENT_DETAILS_SID AND GMC.GTN_MODULE_MASTER_SID=GCM.MODULE_SUBMODULE_MASTER_SID   AND IS_TABLE_PROPERTY=1
)



END TRY

BEGIN CATCH
          DECLARE @ERRORMESSAGE NVARCHAR(4000);
          DECLARE @ERRORSEVERITY INT;
          DECLARE @ERRORSTATE INT;
          DECLARE @ERRORNUMBER INT;
          DECLARE @ERRORPROCEDURE VARCHAR(200);
          DECLARE @ERRORLINE INT;

          EXEC dbo.USPERRORCOLLECTOR;

          SELECT @ERRORMESSAGE = ERROR_MESSAGE(),
                 @ERRORSEVERITY = ERROR_SEVERITY(),
                 @ERRORSTATE = ERROR_STATE(),
                 @ERRORPROCEDURE = ERROR_PROCEDURE(),
                 @ERRORLINE = ERROR_LINE(),
                 @ERRORNUMBER = ERROR_NUMBER();

          RAISERROR (@ERRORMESSAGE,-- MESSAGE TEXT.
                     @ERRORSEVERITY,-- SEVERITY.
                     @ERRORSTATE,-- STATE.
                     @ERRORPROCEDURE,-- PROCEDURE_NAME.
                     @ERRORNUMBER,-- ERRORNUMBER
                     @ERRORLINE -- ERRORLINE
          );
      END CATCH;

END
