IF EXISTS (SELECT 'X' 
           FROM   INFORMATION_SCHEMA.ROUTINES 
           WHERE  ROUTINE_NAME = 'PRC_ARM_CURRENT_BALANCE' 
                  AND ROUTINE_SCHEMA = 'DBO') 
  BEGIN 
      DROP PROCEDURE [DBO].PRC_ARM_CURRENT_BALANCE 
  END 

GO 


CREATE PROCEDURE [dbo].[PRC_ARM_CURRENT_BALANCE] (@PROJECTION_MASTER_SID INT, 
                                         @USER_ID               INT, 
                                         @SESSION_ID            INT) 
AS 

/**********************************************************************************************************
** File Name		:	PRC_ARM_CURRENT_BALANCE.sql
** Procedure Name	:	PRC_ARM_CURRENT_BALANCE
** Description		:	To Calculate Current Balance and storing debits and credits Logic for Tr-1 to Tr-8
** Input Parameters	:	@PROJECTION_MASTER_SID  - Respective Projection ID Creted for Tr-2 & Tr-4 & Tr-5
				        @USER_ID                - it is the identification of the User Performing particular projection
						@SESSION_ID             - it is the identification of session for particular projection
											
** Output Parameters:	NA
** Author Name		:	@AjayNaidu
** Creation Date	:	07/05/2017 - MM/DD/YYYY
** Called By		:   Called by Application for all transactions after data selection.
**********************************************************************************************************
** Change History
**********************************************************************************************************
** VER   Date      Ticket No         Author          Description 
** ---   --------  ---------        -------------    -----------------------------
** 1    04-09-2017 GAL-12377        @AjayNaidu	     History Current Balance Changes
** 2    06-10-2017 GAL-12522        @AjayNaidu       Redemption Period Implementation
** 3    06-10-2017 GAL-12536        @AjayNaidu       Same account and adjustment type multiple times
** 4    28-12-2017 GAL-12267        @AjayNaidu       BP014 - [NOT] NULL option
** 5    29-12-2017 GAL-12271        @AjayNaidu       PE003 - SELECT INTO logic removed
** 6    08-01-2018 GAL-12270        @AjayNaidu       EI025 PE001 PE010 ST008 MI005 MI002 Error codes
** 7    11-01-2018 GAL-13017        @AjayNaidu       Current balance logic change for Tr-8 & Tr-3
*********************************************************************************************************/

 BEGIN 
      SET NOCOUNT ON 

      BEGIN TRY 

DECLARE @MODULE            VARCHAR(50), 
        @ADJUSTMENT_TYPE   INT, 
        @START_PERIOD_SID  INT, 
        @END_PERIOD_SID    INT, 
        @SQL               NVARCHAR(MAX)='' ,@GL_COMPANY_MASTER_SID int,@BU_COMPANY_MASTER_SID int

 DECLARE @ARM_CURRENT_BALANCE  VARCHAR(200) = CONCAT('ST_ARM_CURRENT_BALANCE_', @USER_ID, '_', @SESSION_ID, '_', REPLACE(CONVERT(VARCHAR(50), GETDATE(), 2), '.', ''))

----------------Creating all necessray temp tables(all ddl statements) for the logic Starts here (PE010 CodeGuarderror)
IF OBJECT_ID('TEMPDB..#TEMP_ARM_PROJ_DETAILS') IS NOT NULL 
  DROP TABLE #TEMP_ARM_PROJ_DETAILS 

CREATE TABLE #TEMP_ARM_PROJ_DETAILS 
  ( 
     ARM_ADJUSTMENT_DETAILS_SID INT NOT NULL, 
     --PROJECTION_MASTER_SID      INT NOT NULL, 
     CCP_DETAILS_SID            INT NOT NULL, 
     RS_MODEL_SID               INT NOT NULL, 
     CONTRACT_MASTER_SID        INT NOT NULL, 
     --COMPANY_MASTER_SID         INT NOT NULL, 
     --ITEM_MASTER_SID            INT NOT NULL, 
     --PERIOD_SID                 INT NOT NULL, 
     --METHODOLGY                 VARCHAR(50) NOT NULL,
	 --GL_COMPANY_MASTER_SID      INT NOT NULL, 
     --BU_COMPANY_MASTER_SID      INT NOT NULL,  
  ) 

IF OBJECT_ID('TEMPDB..#ARM_ADJ_SUMMARY_CCP') IS NOT NULL 
  DROP TABLE #ARM_ADJ_SUMMARY_CCP 

CREATE TABLE #ARM_ADJ_SUMMARY_CCP 
  ( 
     ARM_ADJUSTMENT_DETAILS_SID INT NOT NULL, 
     ADJUSTMENT_TYPE_BASE       INT NULL, 
     CURRENT_BALANCE            INT NULL, 
     CURRENT_BALANCE_ACC        VARCHAR(100) NULL, 
     DEMAND_ACCRUAL             INT NULL, 
     DEMAND_ACCRUAL_ACC         VARCHAR(100) NULL, 
     DEMAND_REFORECAST          INT NULL, 
     DEMAND_REFORECAST_ACC      VARCHAR(100) NULL, 
     DEMAND_PAYMENT_RECON       INT NULL, 
     DEMAND_PAYMENT_RECON_ACC   VARCHAR(100) NULL, 
     CCP_DETAILS_SID            INT NOT NULL, 
     RS_MODEL_SID               INT NOT NULL, 
     PERIOD_SID                 INT NOT NULL 
  ) 

IF OBJECT_ID('TEMPDB..#ARM_SUMM_ACC') IS NOT NULL 
  DROP TABLE #ARM_SUMM_ACC

CREATE TABLE #ARM_SUMM_ACC
(
ARM_ADJUSTMENT_DETAILS_SID INT NOT NULL,
ADJUSTMENT_TYPE_BASE INT NULL,
CURRENT_BALANCE INT NULL,
CCP_DETAILS_SID INT NOT NULL,
RS_MODEL_SID INT NOT NULL,
PERIOD_SID INT NOT NULL,
CURRENT_BALANCE_ACC VARCHAR(100) NULL
)

IF OBJECT_ID('TEMPDB..#TEMP_PROJ_MASTER_STATUS') IS NOT NULL 
  DROP TABLE #TEMP_PROJ_MASTER_STATUS 

CREATE TABLE #TEMP_PROJ_MASTER_STATUS 
  ( 
     PROJECTION_MASTER_SID      INT NOT NULL, 
     ARM_ADJUSTMENT_DETAILS_SID INT NOT NULL, 
     CCP_DETAILS_SID            INT NOT NULL, 
     RS_MODEL_SID               INT NOT NULL, 
     GL_IMPACT_DATE             DATE NULL, 
     ADJUSTMENT_TYPE            INT  NULL
  ) 

IF OBJECT_ID('TEMPDB..#ACTIVE_CURRENT_BALANCE') IS NOT NULL 
  DROP TABLE #ACTIVE_CURRENT_BALANCE

  CREATE TABLE #ACTIVE_CURRENT_BALANCE
(
CCP_DETAILS_SID INT NOT NULL,
RS_MODEL_SID INT NOT NULL,
PERIOD_SID INT NOT NULL,
CURRENT_BALANCE NUMERIC(22,6) NULL
)

IF OBJECT_ID('TEMPDB..#HISTORY_CURRENT_BALANCE') IS NOT NULL 
  DROP TABLE #HISTORY_CURRENT_BALANCE

  CREATE TABLE #HISTORY_CURRENT_BALANCE
(
CCP_DETAILS_SID INT NOT NULL,
RS_MODEL_SID INT NOT NULL,
PERIOD_SID INT NOT NULL,
CURRENT_BALANCE NUMERIC(22,6) NULL
)

IF OBJECT_ID('TEMPDB..#ARM_SUMM_DEMAND_ACC') IS NOT NULL 
  DROP TABLE #ARM_SUMM_DEMAND_ACC

CREATE TABLE #ARM_SUMM_DEMAND_ACC
(
ARM_ADJUSTMENT_DETAILS_SID INT NOT NULL,
ADJUSTMENT_TYPE_BASE INT NULL,
DEMAND_ACCRUAL INT NULL,
CCP_DETAILS_SID INT NOT NULL,
RS_MODEL_SID INT NOT NULL,
PERIOD_SID INT NOT NULL,
DEMAND_ACCRUAL_ACC VARCHAR(100) NULL
)

IF OBJECT_ID('TEMPDB..#ARM_SUMM_DEMAND_RF_ACC') IS NOT NULL 
  DROP TABLE #ARM_SUMM_DEMAND_RF_ACC 

CREATE TABLE #ARM_SUMM_DEMAND_RF_ACC
(
ARM_ADJUSTMENT_DETAILS_SID INT NOT NULL,
ADJUSTMENT_TYPE_BASE INT NULL,
DEMAND_REFORECAST INT NULL,
CCP_DETAILS_SID INT NOT NULL,
RS_MODEL_SID INT NOT NULL,
PERIOD_SID INT NOT NULL,
DEMAND_REFORECAST_ACC VARCHAR(100) NULL
)

IF OBJECT_ID('TEMPDB..#ARM_SUMM_DEMAND_RECON_ACC') IS NOT NULL 
  DROP TABLE #ARM_SUMM_DEMAND_RECON_ACC 

CREATE TABLE #ARM_SUMM_DEMAND_RECON_ACC
(
ARM_ADJUSTMENT_DETAILS_SID INT NOT NULL,
ADJUSTMENT_TYPE_BASE INT NULL,
DEMAND_PAYMENT_RECON INT NULL,
CCP_DETAILS_SID INT NOT NULL,
RS_MODEL_SID INT NOT NULL,
PERIOD_SID INT NOT NULL,
DEMAND_PAYMENT_RECON_ACC VARCHAR(100) NULL
)

IF OBJECT_ID('TEMPDB..#TEMP_PROJ_MAS_STATUS_DA') IS NOT NULL 
  DROP TABLE #TEMP_PROJ_MAS_STATUS_DA 

CREATE TABLE #TEMP_PROJ_MAS_STATUS_DA 
  ( 
     PROJECTION_MASTER_SID      INT NOT NULL, 
     ARM_ADJUSTMENT_DETAILS_SID INT NOT NULL, 
     CCP_DETAILS_SID            INT NOT NULL, 
     RS_MODEL_SID               INT NOT NULL, 
     GL_IMPACT_DATE             DATE NULL, 
     ADJUSTMENT_TYPE            INT NULL
  ) 

IF OBJECT_ID('TEMPDB..#TEMP_PROJ_MAS_STATUS_DRF') IS NOT NULL 
  DROP TABLE #TEMP_PROJ_MAS_STATUS_DRF 

CREATE TABLE #TEMP_PROJ_MAS_STATUS_DRF 
  ( 
     PROJECTION_MASTER_SID      INT NOT NULL, 
     ARM_ADJUSTMENT_DETAILS_SID INT NOT NULL, 
     CCP_DETAILS_SID            INT NOT NULL, 
     RS_MODEL_SID               INT NOT NULL, 
     GL_IMPACT_DATE             DATE NULL, 
     ADJUSTMENT_TYPE            INT NULL
  ) 

IF OBJECT_ID('TEMPDB..#TEMP_PROJ_MAS_STATUS_DP') IS NOT NULL 
  DROP TABLE #TEMP_PROJ_MAS_STATUS_DP 

CREATE TABLE #TEMP_PROJ_MAS_STATUS_DP 
  ( 
     PROJECTION_MASTER_SID      INT NOT NULL, 
     ARM_ADJUSTMENT_DETAILS_SID INT NOT NULL, 
     CCP_DETAILS_SID            INT NOT NULL, 
     RS_MODEL_SID               INT NOT NULL, 
     GL_IMPACT_DATE             DATE NULL, 
     ADJUSTMENT_TYPE            INT NULL
  ) 

IF OBJECT_ID('TEMPDB..#CURRENT_BALANCE_DA') IS NOT NULL 
  DROP TABLE #CURRENT_BALANCE_DA 

CREATE TABLE #CURRENT_BALANCE_DA 
  ( 
     CCP_DETAILS_SID INT NOT NULL, 
     RS_MODEL_SID    INT NOT NULL, 
     PERIOD_SID      INT NOT NULL, 
     --DEBIT_AMOUNT    NUMERIC(22, 6) NULL, 
     --CREDIT_AMOUNT   NUMERIC(22, 6) NULL, 
     DEMAND_ACCRUAL  NUMERIC(22, 6) NULL 
     PRIMARY KEY(CCP_DETAILS_SID, RS_MODEL_SID, PERIOD_SID) 
  ) 

IF OBJECT_ID('TEMPDB..#CURRENT_BALANCE_DP') IS NOT NULL 
  DROP TABLE #CURRENT_BALANCE_DP 

CREATE TABLE #CURRENT_BALANCE_DP 
  ( 
     CCP_DETAILS_SID      INT NOT NULL, 
     RS_MODEL_SID         INT NOT NULL, 
     PERIOD_SID           INT NOT NULL, 
     --DEBIT_AMOUNT         NUMERIC(22, 6) NULL, 
     --CREDIT_AMOUNT        NUMERIC(22, 6) NULL, 
     DEMAND_PAYMENT_RECON NUMERIC(22, 6) NULL 
     PRIMARY KEY(CCP_DETAILS_SID, RS_MODEL_SID, PERIOD_SID) 
  ) 

IF OBJECT_ID('TEMPDB..#CURRENT_BALANCE_DRF') IS NOT NULL 
  DROP TABLE #CURRENT_BALANCE_DRF 

CREATE TABLE #CURRENT_BALANCE_DRF 
  ( 
     CCP_DETAILS_SID           INT NOT NULL, 
     RS_MODEL_SID              INT NOT NULL, 
     PERIOD_SID                INT NOT NULL, 
     --DEBIT_AMOUNT              NUMERIC(22, 6) NULL, 
     --CREDIT_AMOUNT             NUMERIC(22, 6) NULL, 
     DEMAND_ACCRUAL_REFORECAST NUMERIC(22, 6) NULL 
     PRIMARY KEY(CCP_DETAILS_SID, RS_MODEL_SID, PERIOD_SID) 
  ) 

IF OBJECT_ID('TEMPDB..#HISTORY_CURRENT_BALANCE_DEM') IS NOT NULL 
  DROP TABLE #HISTORY_CURRENT_BALANCE_DEM 

CREATE TABLE #HISTORY_CURRENT_BALANCE_DEM 
  ( 
     CCP_DETAILS_SID INT NOT NULL, 
     RS_MODEL_SID    INT NOT NULL, 
     PERIOD_SID      INT NOT NULL, 
     DEMAND_ACCRUAL NUMERIC(22, 6) NULL,
	 DEMAND_ACCRUAL_REFORECAST NUMERIC(22, 6) NULL,
	 DEMAND_PAYMENT_RECON NUMERIC(22, 6) NULL
  ) 
----------------Creating all necessray temp tables(all ddl statements) for the logic Ends here (PE010 CodeGuarderror)
SELECT @START_PERIOD_SID = P.PERIOD_SID,@GL_COMPANY_MASTER_SID=PM.COMPANY_MASTER_SID 
FROM   PERIOD P 
       JOIN PROJECTION_MASTER PM 
         ON P.PERIOD_DATE = CONVERT(DATETIME, DATEADD(MM, -1, DATEADD(DD, 1, EOMONTH(PM.FROM_DATE, 0))))
WHERE  PM.PROJECTION_MASTER_SID = @PROJECTION_MASTER_SID 

SELECT @END_PERIOD_SID = P.PERIOD_SID
FROM   PERIOD P 
       JOIN PROJECTION_MASTER PM 
         ON P.PERIOD_DATE = CONVERT(DATETIME, DATEADD(MM, -1, DATEADD(DD, 1, EOMONTH(PM.TO_DATE, 0))))
WHERE  PM.PROJECTION_MASTER_SID = @PROJECTION_MASTER_SID 

SELECT @MODULE = C.DESCRIPTION, 
       @ADJUSTMENT_TYPE = A.TRANSACTION_TYPE 
	   ,@BU_COMPANY_MASTER_SID=a.BU_COMPANY_MASTER_SID
FROM   ARM_ADJUSTMENT_MASTER A 
       JOIN ARM_ADJUSTMENT_CONFIG B
         ON A.TRANSACTION_TYPE = B.ARM_ADJUSTMENT_CONFIG_SID 
       JOIN HELPER_TABLE C 
         ON C.HELPER_TABLE_SID = B.METHODOLGY 
WHERE  A.PROJECTION_MASTER_SID = @PROJECTION_MASTER_SID 
IF OBJECT_ID('TEMPDB..#PERIOD') IS NOT NULL 
  DROP TABLE #PERIOD

  select * into #PERIOD from PERIOD where period_sid between @START_PERIOD_SID and @END_PERIOD_SID
--PULLING CCP+D FOR PARTICULAR PROJECTION STARTS HERE 
INSERT INTO #TEMP_ARM_PROJ_DETAILS 
            (ARM_ADJUSTMENT_DETAILS_SID, 
             --PROJECTION_MASTER_SID, 
             CCP_DETAILS_SID, 
             RS_MODEL_SID, 
             CONTRACT_MASTER_SID--, 
             --COMPANY_MASTER_SID, 
             --ITEM_MASTER_SID, 
             --PERIOD_SID, 
             --METHODOLGY,
			 --GL_COMPANY_MASTER_SID,
			 --BU_COMPANY_MASTER_SID
			 ) 
SELECT AD.ARM_ADJUSTMENT_DETAILS_SID, 
       --AD.PROJECTION_MASTER_SID, 
       AD.CCP_DETAILS_SID, 
       AD.RS_MODEL_SID, 
       B.CONTRACT_MASTER_SID--, 
      --B.COMPANY_MASTER_SID, 
       --B.ITEM_MASTER_SID, 
       --P.PERIOD_SID AS PERIOD_SID, 
       --HT.DESCRIPTION
	   --PM.COMPANY_MASTER_SID AS GL_COMPANY_MASTER_SID,
	   --AM.BU_COMPANY_MASTER_SID AS BU_COMPANY_MASTER_SID
FROM   ARM_ADJUSTMENT_DETAILS AD 
       JOIN CCP_DETAILS B 
         ON AD.CCP_DETAILS_SID = B.CCP_DETAILS_SID 
       --JOIN RS_MODEL RS 
       --  ON RS.RS_MODEL_SID = AD.RS_MODEL_SID 
       --JOIN ARM_ADJUSTMENT_MASTER AM 
       --  ON  AM.PROJECTION_MASTER_SID = AD.PROJECTION_MASTER_SID 
		-- and AM.PROJECTION_MASTER_SID = @PROJECTION_MASTER_SID
		--JOIN PROJECTION_MASTER PM
		--ON PM.PROJECTION_MASTER_SID=AM.PROJECTION_MASTER_SID 
       --JOIN ARM_ADJUSTMENT_CONFIG AC 
       --  ON AC.ARM_ADJUSTMENT_CONFIG_SID = AM.TRANSACTION_TYPE 
       --JOIN HELPER_TABLE HT 
       --  ON HT.HELPER_TABLE_SID = AC.METHODOLGY 	
       --CROSS JOIN #PERIOD P 
WHERE  AD.PROJECTION_MASTER_SID = @PROJECTION_MASTER_SID 
       --AND P.PERIOD_SID BETWEEN @START_PERIOD_SID AND @END_PERIOD_SID 

INSERT INTO #ARM_ADJ_SUMMARY_CCP 
            (ARM_ADJUSTMENT_DETAILS_SID, 
             ADJUSTMENT_TYPE_BASE, 
             CURRENT_BALANCE, 
             CURRENT_BALANCE_ACC, 
             DEMAND_ACCRUAL, 
             DEMAND_ACCRUAL_ACC, 
             DEMAND_REFORECAST, 
             DEMAND_REFORECAST_ACC, 
             DEMAND_PAYMENT_RECON, 
             DEMAND_PAYMENT_RECON_ACC, 
             CCP_DETAILS_SID, 
             RS_MODEL_SID 
             ,PERIOD_SID
			 ) 
SELECT AAS.ARM_ADJUSTMENT_DETAILS_SID, 
       AAS.ADJUSTMENT_TYPE AS ADJUSTMENT_TYPE_BASE, 
       AAS.CURRENT_BALANCE, 
       AAS.CURRENT_BALANCE_ACC, 
       AAS.DEMAND_ACCRUAL, 
       AAS.DEMAND_ACCRUAL_ACC, 
       AAS.DEMAND_REFORECAST, 
       AAS.DEMAND_REFORECAST_ACC, 
       AAS.DEMAND_PAYMENT_RECON, 
       AAS.DEMAND_PAYMENT_RECON_ACC, 
       TA.CCP_DETAILS_SID, 
       TA.RS_MODEL_SID 
       ,p.PERIOD_SID 
FROM   ARM_ADJ_SUMMARY_CCP AAS 
       JOIN #TEMP_ARM_PROJ_DETAILS TA 
         ON AAS.ARM_ADJUSTMENT_DETAILS_SID = TA.ARM_ADJUSTMENT_DETAILS_SID 
            AND AAS.ADJUSTMENT_TYPE = @ADJUSTMENT_TYPE 
	   join #period p on 1=1

DECLARE @DELIMITER VARCHAR(50) 

SET @DELIMITER=','; 

IF(@MODULE='Transaction 1 - Pipeline Accrual' OR @MODULE='Transaction 3 - Pipeline Inventory True-up' OR
   
   @MODULE='Transaction 6 - Inflation Adjustment' OR @MODULE='Transaction 7 - Distribution Fees' OR @MODULE='Transaction 8 - Return Reserve')

BEGIN
;WITH CTE 
     AS (SELECT ARM_ADJUSTMENT_DETAILS_SID,
	            ADJUSTMENT_TYPE_BASE,
				CURRENT_BALANCE,
				CCP_DETAILS_SID,
				RS_MODEL_SID,
				PERIOD_SID,
                CAST('<M>' + REPLACE(CURRENT_BALANCE_ACC, @DELIMITER, '</M><M>') 
                     + '</M>' AS XML) AS UDC1 
         FROM   #ARM_ADJ_SUMMARY_CCP) 
INSERT INTO #ARM_SUMM_ACC(ARM_ADJUSTMENT_DETAILS_SID,
                          ADJUSTMENT_TYPE_BASE,
						  CURRENT_BALANCE,
						  CCP_DETAILS_SID,
						  RS_MODEL_SID,
						  PERIOD_SID,
						  CURRENT_BALANCE_ACC)
SELECT  c.ARM_ADJUSTMENT_DETAILS_SID,
	            c.ADJUSTMENT_TYPE_BASE,
				c.CURRENT_BALANCE,
				c.CCP_DETAILS_SID,
				c.RS_MODEL_SID,
				c.PERIOD_SID,
               Split.a.value('.', 'VARCHAR(MAX)') AS CURRENT_BALANCE_ACC 
        FROM   CTE c
               CROSS APPLY UDC1.nodes('/M')SPLIT(A)

-----------APPROVED CCP'S FOR THE PARTICULAR ADJUSTMENT TYPE STARTS HERE 
INSERT INTO #TEMP_PROJ_MASTER_STATUS 
            (PROJECTION_MASTER_SID, 
             ARM_ADJUSTMENT_DETAILS_SID, 
             CCP_DETAILS_SID, 
             RS_MODEL_SID 
             ,GL_IMPACT_DATE, 
             ADJUSTMENT_TYPE
			 ) 
SELECT DISTINCT WM.PROJECTION_MASTER_SID, 
       ARD.ARM_ADJUSTMENT_DETAILS_SID, 
       ARD.CCP_DETAILS_SID, 
       ARD.RS_MODEL_SID, 
       AM.GL_IMPACT_DATE, 
       AAS.CURRENT_BALANCE AS ADJUSTMENT_TYPE 
FROM   PROJECTION_MASTER PM 
       JOIN WORKFLOW_MASTER WM 
         ON PM.PROJECTION_MASTER_SID = WM.PROJECTION_MASTER_SID 
       JOIN ARM_ADJUSTMENT_DETAILS ARD 
         ON ARD.PROJECTION_MASTER_SID = WM.PROJECTION_MASTER_SID 
       JOIN #TEMP_ARM_PROJ_DETAILS D 
         ON ARD.CCP_DETAILS_SID = D.CCP_DETAILS_SID 
            AND ARD.RS_MODEL_SID = D.RS_MODEL_SID 
       JOIN ARM_ADJUSTMENT_MASTER AM 
         ON AM.PROJECTION_MASTER_SID = WM.PROJECTION_MASTER_SID 
       JOIN #ARM_ADJ_SUMMARY_CCP AAS 
         ON  AAS.CCP_DETAILS_SID = D.CCP_DETAILS_SID 
            AND AAS.RS_MODEL_SID = D.RS_MODEL_SID 
			AND AAS.CURRENT_BALANCE = AM.TRANSACTION_TYPE 
            AND EXISTS (SELECT H1.HELPER_TABLE_SID 
                        FROM   HELPER_TABLE H1 
                        WHERE  H1.LIST_NAME = 'WORKFLOWSTATUS' 
                               AND H1.DESCRIPTION = 'APPROVED' 
                               AND H1.HELPER_TABLE_SID = WM.WORKFLOW_STATUS_ID)
IF(@MODULE='Transaction 3 - Pipeline Inventory True-up' OR @MODULE='Transaction 8 - Return Reserve' )
BEGIN
INSERT INTO #ACTIVE_CURRENT_BALANCE
           (CCP_DETAILS_SID, 
             RS_MODEL_SID, 
             PERIOD_SID,  
             CURRENT_BALANCE) 
               SELECT TP.CCP_DETAILS_SID, 
       TP.RS_MODEL_SID, 
       ASA.PERIOD_SID, 
       ISNULL(SUM(AA.CREDIT), 0) - ISNULL(SUM(AA.DEBIT), 0) AS CURRENT_BALANCE 
FROM   #TEMP_PROJ_MASTER_STATUS TP 
       JOIN #ARM_SUMM_ACC ASA 
         ON TP.CCP_DETAILS_SID = ASA.CCP_DETAILS_SID AND TP.RS_MODEL_SID =  ASA.RS_MODEL_SID
       JOIN ARM_ADJUSTMENTS AA 
         ON AA.ARM_ADJUSTMENT_DETAILS_SID = TP.ARM_ADJUSTMENT_DETAILS_SID 
            AND AA.PERIOD_SID <= ASA.PERIOD_SID 
            AND AA.ADJUSTMENT_TYPE = ASA.CURRENT_BALANCE 
            AND AA.ACCOUNT = ASA.CURRENT_BALANCE_ACC 
GROUP  BY TP.CCP_DETAILS_SID, 
          TP.RS_MODEL_SID, 
          ASA.PERIOD_SID

INSERT INTO #HISTORY_CURRENT_BALANCE
           (CCP_DETAILS_SID, 
             RS_MODEL_SID, 
             PERIOD_SID,  
             CURRENT_BALANCE) 
       SELECT TP.CCP_DETAILS_SID, 
       TP.RS_MODEL_SID, 
       ASA.PERIOD_SID, 
       ISNULL(SUM(AH.CREDIT), 0) - ISNULL(SUM(AH.DEBIT), 0) AS CURRENT_BALANCE 
FROM   #TEMP_ARM_PROJ_DETAILS TP 
       JOIN #ARM_SUMM_ACC ASA 
         ON TP.CCP_DETAILS_SID = ASA.CCP_DETAILS_SID AND TP.RS_MODEL_SID =  ASA.RS_MODEL_SID
		 JOIN RS_CONTRACT R 
         ON R.RS_MODEL_SID = TP.RS_MODEL_SID 
            AND R.CONTRACT_MASTER_SID = TP.CONTRACT_MASTER_SID 
       JOIN ARM_DEDUCTION_SELECTION ADS 
         --ON ADS.PROJECTION_MASTER_SID = TP.PROJECTION_MASTER_SID 
		 ON ADS.PROJECTION_MASTER_SID = @PROJECTION_MASTER_SID 
            AND ADS.RS_CONTRACT_SID = R.RS_CONTRACT_SID 
       JOIN ARM_HIST_ADJ_RES_CON_MASTER AHM
	     ON AHM.RS_CATEGORY = R.RS_CATEGORY 
            AND AHM.RS_TYPE = R.RS_TYPE 
            AND AHM.REBATE_PROGRAM_TYPE = R.REBATE_PROGRAM_TYPE 
	        --AND AHM.GL_COMPANY_MASTER_SID=TP.GL_COMPANY_MASTER_SID
	   --AND AHM.BU_COMPANY_MASTER_SID=TP.BU_COMPANY_MASTER_SID
	      AND AHM.GL_COMPANY_MASTER_SID=@GL_COMPANY_MASTER_SID
	   AND AHM.BU_COMPANY_MASTER_SID=@BU_COMPANY_MASTER_SID
	   AND CONFIGURATION_TYPE=0
	   JOIN ARM_HIST_ADJUSTMENTS AH
	   ON AH.ARM_HIST_ADJ_RES_CON_MASTER_SID=AHM.ARM_HIST_ADJ_RES_CON_MASTER_SID
	   AND AH.CCP_DETAILS_SID=TP.CCP_DETAILS_SID AND AH.RS_MODEL_SID=TP.RS_MODEL_SID
	   AND AH.CALCULATION_PERIOD_SID<=ASA.PERIOD_SID AND AH.ADJUSTMENT_TYPE=ASA.CURRENT_BALANCE
	   AND AH.ACCOUNT=ASA.CURRENT_BALANCE_ACC
GROUP  BY TP.CCP_DETAILS_SID, 
          TP.RS_MODEL_SID, 
          ASA.PERIOD_SID
END
ELSE
BEGIN
INSERT INTO #ACTIVE_CURRENT_BALANCE
           (CCP_DETAILS_SID, 
             RS_MODEL_SID, 
             PERIOD_SID,  
             CURRENT_BALANCE) 
               SELECT TP.CCP_DETAILS_SID, 
       TP.RS_MODEL_SID, 
       ASA.PERIOD_SID, 
       ISNULL(SUM(AA.CREDIT), 0) - ISNULL(SUM(AA.DEBIT), 0) AS CURRENT_BALANCE 
FROM   #TEMP_PROJ_MASTER_STATUS TP 
       JOIN #ARM_SUMM_ACC ASA 
         ON TP.CCP_DETAILS_SID = ASA.CCP_DETAILS_SID AND TP.RS_MODEL_SID =  ASA.RS_MODEL_SID
       JOIN ARM_ADJUSTMENTS AA 
         ON AA.ARM_ADJUSTMENT_DETAILS_SID = TP.ARM_ADJUSTMENT_DETAILS_SID 
            AND AA.PERIOD_SID = ASA.PERIOD_SID 
            AND AA.ADJUSTMENT_TYPE = ASA.CURRENT_BALANCE 
            AND AA.ACCOUNT = ASA.CURRENT_BALANCE_ACC 
GROUP  BY TP.CCP_DETAILS_SID, 
          TP.RS_MODEL_SID, 
          ASA.PERIOD_SID

INSERT INTO #HISTORY_CURRENT_BALANCE
           (CCP_DETAILS_SID, 
             RS_MODEL_SID, 
             PERIOD_SID,  
             CURRENT_BALANCE) 
       SELECT TP.CCP_DETAILS_SID, 
       TP.RS_MODEL_SID, 
       ASA.PERIOD_SID, 
       ISNULL(SUM(AH.CREDIT), 0) - ISNULL(SUM(AH.DEBIT), 0) AS CURRENT_BALANCE 
FROM   #TEMP_ARM_PROJ_DETAILS TP 
       JOIN #ARM_SUMM_ACC ASA 
         ON TP.CCP_DETAILS_SID = ASA.CCP_DETAILS_SID AND TP.RS_MODEL_SID =  ASA.RS_MODEL_SID
		 JOIN RS_CONTRACT R 
         ON R.RS_MODEL_SID = TP.RS_MODEL_SID 
            AND R.CONTRACT_MASTER_SID = TP.CONTRACT_MASTER_SID 
       JOIN ARM_DEDUCTION_SELECTION ADS 
        -- ON ADS.PROJECTION_MASTER_SID = TP.PROJECTION_MASTER_SID 
		 ON ADS.PROJECTION_MASTER_SID = @PROJECTION_MASTER_SID 
            AND ADS.RS_CONTRACT_SID = R.RS_CONTRACT_SID 
       JOIN ARM_HIST_ADJ_RES_CON_MASTER AHM
	     ON AHM.RS_CATEGORY = R.RS_CATEGORY 
            AND AHM.RS_TYPE = R.RS_TYPE 
            AND AHM.REBATE_PROGRAM_TYPE = R.REBATE_PROGRAM_TYPE 
			AND AHM.GL_COMPANY_MASTER_SID=@GL_COMPANY_MASTER_SID
	   AND AHM.BU_COMPANY_MASTER_SID=@BU_COMPANY_MASTER_SID
	        --AND AHM.GL_COMPANY_MASTER_SID=TP.GL_COMPANY_MASTER_SID
	   --AND AHM.BU_COMPANY_MASTER_SID=TP.BU_COMPANY_MASTER_SID
	   AND CONFIGURATION_TYPE=0
	   JOIN ARM_HIST_ADJUSTMENTS AH
	   ON AH.ARM_HIST_ADJ_RES_CON_MASTER_SID=AHM.ARM_HIST_ADJ_RES_CON_MASTER_SID
	   AND AH.CCP_DETAILS_SID=TP.CCP_DETAILS_SID AND AH.RS_MODEL_SID=TP.RS_MODEL_SID
	   AND AH.CALCULATION_PERIOD_SID=ASA.PERIOD_SID AND AH.ADJUSTMENT_TYPE=ASA.CURRENT_BALANCE
	   AND AH.ACCOUNT=ASA.CURRENT_BALANCE_ACC
GROUP  BY TP.CCP_DETAILS_SID, 
          TP.RS_MODEL_SID, 
          ASA.PERIOD_SID
END
--TAKING ADJUSTMENT VALUE FOR PREVIOUSLIY APPROVED CCP+D COMBINATION STARTS HERE 
	SET @SQL=CONCAT('IF EXISTS (SELECT 1 FROM ', @ARM_CURRENT_BALANCE, ')  
					                   BEGIN 
												TRUNCATE TABLE ', @ARM_CURRENT_BALANCE, '  
									   END
				INSERT INTO ',@ARM_CURRENT_BALANCE, 
                            ' (CCP_DETAILS_SID, 
             RS_MODEL_SID, 
             PERIOD_SID,  
             CURRENT_BALANCE) 
               SELECT TP.CCP_DETAILS_SID, 
       TP.RS_MODEL_SID, 
       P.PERIOD_SID, 
       ISNULL(SUM(ACB.CURRENT_BALANCE),0) + ISNULL(SUM(HCB.CURRENT_BALANCE),0) AS CURRENT_BALANCE 
FROM   #TEMP_ARM_PROJ_DETAILS TP 
       JOIN #PERIOD P ON 1=1
	   LEFT JOIN #ACTIVE_CURRENT_BALANCE ACB 
	   ON TP.CCP_DETAILS_SID=ACB.CCP_DETAILS_SID 
	   AND ACB.RS_MODEL_SID=TP.RS_MODEL_SID AND P.PERIOD_SID=ACB.PERIOD_SID
	   LEFT JOIN #HISTORY_CURRENT_BALANCE HCB
	   ON TP.CCP_DETAILS_SID=HCB.CCP_DETAILS_SID 
	   AND HCB.RS_MODEL_SID=TP.RS_MODEL_SID AND P.PERIOD_SID=HCB.PERIOD_SID
GROUP  BY TP.CCP_DETAILS_SID, 
          TP.RS_MODEL_SID, 
          P.PERIOD_SID ')
					
                    EXEC sp_executesql @SQL


END

ELSE
BEGIN
;WITH CTE 
     AS (SELECT ARM_ADJUSTMENT_DETAILS_SID,
	            ADJUSTMENT_TYPE_BASE,
				DEMAND_ACCRUAL,
				CCP_DETAILS_SID,
				RS_MODEL_SID,
				PERIOD_SID,
                CAST('<M>' + REPLACE(DEMAND_ACCRUAL_ACC, @DELIMITER, '</M><M>') 
                     + '</M>' AS XML) AS UDC1 
         FROM   #ARM_ADJ_SUMMARY_CCP) 
INSERT INTO #ARM_SUMM_DEMAND_ACC(ARM_ADJUSTMENT_DETAILS_SID,ADJUSTMENT_TYPE_BASE,DEMAND_ACCRUAL,CCP_DETAILS_SID,
RS_MODEL_SID,PERIOD_SID,DEMAND_ACCRUAL_ACC)
SELECT  C.ARM_ADJUSTMENT_DETAILS_SID,
	            C.ADJUSTMENT_TYPE_BASE,
				C.DEMAND_ACCRUAL,
				C.CCP_DETAILS_SID,
				C.RS_MODEL_SID,
				C.PERIOD_SID,
               Split.a.value('.', 'VARCHAR(MAX)') AS DEMAND_ACCRUAL_ACC 
        FROM   CTE C
               CROSS APPLY UDC1.nodes('/M')SPLIT(A)

;WITH CTE 
     AS (SELECT ARM_ADJUSTMENT_DETAILS_SID,
	            ADJUSTMENT_TYPE_BASE,
				DEMAND_REFORECAST,
				CCP_DETAILS_SID,
				RS_MODEL_SID,
				PERIOD_SID,
                CAST('<M>' + REPLACE(DEMAND_REFORECAST_ACC, @DELIMITER, '</M><M>') 
                     + '</M>' AS XML) AS UDC1 
         FROM   #ARM_ADJ_SUMMARY_CCP) 
INSERT INTO #ARM_SUMM_DEMAND_RF_ACC(ARM_ADJUSTMENT_DETAILS_SID,ADJUSTMENT_TYPE_BASE,DEMAND_REFORECAST,CCP_DETAILS_SID,RS_MODEL_SID,
PERIOD_SID,DEMAND_REFORECAST_ACC)
SELECT  C.ARM_ADJUSTMENT_DETAILS_SID,
	            C.ADJUSTMENT_TYPE_BASE,
				C.DEMAND_REFORECAST,
				C.CCP_DETAILS_SID,
				C.RS_MODEL_SID,
				C.PERIOD_SID,
               Split.a.value('.', 'VARCHAR(MAX)') AS DEMAND_REFORECAST_ACC 
        FROM   CTE C
               CROSS APPLY UDC1.nodes('/M')SPLIT(A)

;WITH CTE 
     AS (SELECT ARM_ADJUSTMENT_DETAILS_SID,
	            ADJUSTMENT_TYPE_BASE,
				DEMAND_PAYMENT_RECON,
				CCP_DETAILS_SID,
				RS_MODEL_SID,
				PERIOD_SID,
                CAST('<M>' + REPLACE(DEMAND_PAYMENT_RECON_ACC, @DELIMITER, '</M><M>') 
                     + '</M>' AS XML) AS UDC1 
         FROM   #ARM_ADJ_SUMMARY_CCP) 
INSERT 
INTO   #ARM_SUMM_DEMAND_RECON_ACC(ARM_ADJUSTMENT_DETAILS_SID,ADJUSTMENT_TYPE_BASE,DEMAND_PAYMENT_RECON,
CCP_DETAILS_SID,RS_MODEL_SID,PERIOD_SID,DEMAND_PAYMENT_RECON_ACC)
SELECT  C.ARM_ADJUSTMENT_DETAILS_SID,
	            C.ADJUSTMENT_TYPE_BASE,
				C.DEMAND_PAYMENT_RECON,
				C.CCP_DETAILS_SID,
				C.RS_MODEL_SID,
				C.PERIOD_SID,
               Split.a.value('.', 'VARCHAR(MAX)') AS DEMAND_PAYMENT_RECON_ACC 
        FROM   CTE C
               CROSS APPLY UDC1.nodes('/M')SPLIT(A)

-----------Approved CCP'S for the Particular Adjustment type starts here 
INSERT INTO #TEMP_PROJ_MAS_STATUS_DA 
            (PROJECTION_MASTER_SID, 
             ARM_ADJUSTMENT_DETAILS_SID, 
             CCP_DETAILS_SID, 
             RS_MODEL_SID, 
             GL_IMPACT_DATE, 
             ADJUSTMENT_TYPE) 
SELECT DISTINCT WM.PROJECTION_MASTER_SID, 
       ARD.ARM_ADJUSTMENT_DETAILS_SID, 
       ARD.CCP_DETAILS_SID, 
       ARD.RS_MODEL_SID, 
       AM.GL_IMPACT_DATE, 
       AAS.DEMAND_ACCRUAL AS ADJUSTMENT_TYPE 
FROM   PROJECTION_MASTER PM 
       JOIN WORKFLOW_MASTER WM 
         ON PM.PROJECTION_MASTER_SID = WM.PROJECTION_MASTER_SID 
       JOIN ARM_ADJUSTMENT_DETAILS ARD 
         ON ARD.PROJECTION_MASTER_SID = WM.PROJECTION_MASTER_SID 
       JOIN #TEMP_ARM_PROJ_DETAILS D 
         ON ARD.CCP_DETAILS_SID = D.CCP_DETAILS_SID 
            AND ARD.RS_MODEL_SID = D.RS_MODEL_SID 
       JOIN ARM_ADJUSTMENT_MASTER AM 
         ON AM.PROJECTION_MASTER_SID = WM.PROJECTION_MASTER_SID 
      JOIN #ARM_ADJ_SUMMARY_CCP AAS 
         ON  AAS.CCP_DETAILS_SID = D.CCP_DETAILS_SID 
            AND AAS.RS_MODEL_SID = D.RS_MODEL_SID 
			AND AAS.DEMAND_ACCRUAL = AM.TRANSACTION_TYPE 
            AND EXISTS (SELECT H1.HELPER_TABLE_SID 
                        FROM   HELPER_TABLE H1 
                        WHERE  H1.LIST_NAME = 'WORKFLOWSTATUS' 
                               AND H1.DESCRIPTION = 'APPROVED' 
                               AND H1.HELPER_TABLE_SID = WM.WORKFLOW_STATUS_ID) 


INSERT INTO #TEMP_PROJ_MAS_STATUS_DRF 
            (PROJECTION_MASTER_SID, 
             ARM_ADJUSTMENT_DETAILS_SID, 
             CCP_DETAILS_SID, 
             RS_MODEL_SID, 
             GL_IMPACT_DATE, 
             ADJUSTMENT_TYPE) 
SELECT DISTINCT WM.PROJECTION_MASTER_SID, 
       ARD.ARM_ADJUSTMENT_DETAILS_SID, 
       ARD.CCP_DETAILS_SID, 
       ARD.RS_MODEL_SID, 
       AM.GL_IMPACT_DATE, 
       AAS.DEMAND_REFORECAST AS ADJUSTMENT_TYPE 
FROM   PROJECTION_MASTER PM 
       JOIN WORKFLOW_MASTER WM 
         ON PM.PROJECTION_MASTER_SID = WM.PROJECTION_MASTER_SID 
       JOIN ARM_ADJUSTMENT_DETAILS ARD 
         ON ARD.PROJECTION_MASTER_SID = WM.PROJECTION_MASTER_SID 
       JOIN #TEMP_ARM_PROJ_DETAILS D 
         ON ARD.CCP_DETAILS_SID = D.CCP_DETAILS_SID 
            AND ARD.RS_MODEL_SID = D.RS_MODEL_SID 
       JOIN ARM_ADJUSTMENT_MASTER AM 
         ON AM.PROJECTION_MASTER_SID = WM.PROJECTION_MASTER_SID 
       JOIN #ARM_ADJ_SUMMARY_CCP AAS 
         ON  AAS.CCP_DETAILS_SID = D.CCP_DETAILS_SID 
            AND AAS.RS_MODEL_SID = D.RS_MODEL_SID 
			AND AAS.DEMAND_REFORECAST = AM.TRANSACTION_TYPE 
            AND EXISTS (SELECT H1.HELPER_TABLE_SID 
                        FROM   HELPER_TABLE H1 
                        WHERE  H1.LIST_NAME = 'WORKFLOWSTATUS' 
                               AND H1.DESCRIPTION = 'APPROVED' 
                               AND H1.HELPER_TABLE_SID = WM.WORKFLOW_STATUS_ID) 

INSERT INTO #TEMP_PROJ_MAS_STATUS_DP 
            (PROJECTION_MASTER_SID, 
             ARM_ADJUSTMENT_DETAILS_SID, 
             CCP_DETAILS_SID, 
             RS_MODEL_SID, 
             GL_IMPACT_DATE, 
             ADJUSTMENT_TYPE) 
SELECT DISTINCT WM.PROJECTION_MASTER_SID, 
       ARD.ARM_ADJUSTMENT_DETAILS_SID, 
       ARD.CCP_DETAILS_SID, 
       ARD.RS_MODEL_SID, 
       AM.GL_IMPACT_DATE, 
       AAS.DEMAND_PAYMENT_RECON AS ADJUSTMENT_TYPE 
FROM   PROJECTION_MASTER PM 
       JOIN WORKFLOW_MASTER WM 
         ON PM.PROJECTION_MASTER_SID = WM.PROJECTION_MASTER_SID 
       JOIN ARM_ADJUSTMENT_DETAILS ARD 
         ON ARD.PROJECTION_MASTER_SID = WM.PROJECTION_MASTER_SID 
       JOIN #TEMP_ARM_PROJ_DETAILS D 
         ON ARD.CCP_DETAILS_SID = D.CCP_DETAILS_SID 
            AND ARD.RS_MODEL_SID = D.RS_MODEL_SID 
       JOIN ARM_ADJUSTMENT_MASTER AM 
         ON AM.PROJECTION_MASTER_SID = WM.PROJECTION_MASTER_SID 
       JOIN #ARM_ADJ_SUMMARY_CCP AAS 
         ON  AAS.CCP_DETAILS_SID = D.CCP_DETAILS_SID 
            AND AAS.RS_MODEL_SID = D.RS_MODEL_SID 
			AND AAS.DEMAND_PAYMENT_RECON = AM.TRANSACTION_TYPE 
            AND EXISTS (SELECT H1.HELPER_TABLE_SID 
                        FROM   HELPER_TABLE H1 
                        WHERE  H1.LIST_NAME = 'WORKFLOWSTATUS' 
                               AND H1.DESCRIPTION = 'APPROVED' 
                               AND H1.HELPER_TABLE_SID = WM.WORKFLOW_STATUS_ID) 



INSERT INTO #CURRENT_BALANCE_DA 
            (CCP_DETAILS_SID, 
             RS_MODEL_SID, 
             PERIOD_SID, 
            -- CREDIT_AMOUNT, 
            -- DEBIT_AMOUNT, 
             DEMAND_ACCRUAL) 
SELECT TP.CCP_DETAILS_SID, 
       TP.RS_MODEL_SID, 
       ASA.PERIOD_SID, 
      -- ISNULL(SUM(AA.DEBIT), 0)                          AS DEBIT, 
       --ISNULL(SUM(AA.CREDIT), 0)                         AS CREDIT, 
       ISNULL(SUM(AA.CREDIT), 0) - ISNULL(SUM(AA.DEBIT), 0) AS DEMAND_ACCRUAL 
FROM   #TEMP_PROJ_MAS_STATUS_DA TP 
       JOIN #ARM_SUMM_DEMAND_ACC ASA 
         ON TP.CCP_DETAILS_SID = ASA.CCP_DETAILS_SID AND TP.RS_MODEL_SID=ASA.RS_MODEL_SID
	   --JOIN ARM_ADJUSTMENT_CONFIG AAC ON AAC.ARM_ADJUSTMENT_CONFIG_SID=ASA.DEMAND_ACCRUAL
		--AND REDEMPTION_PERIOD=1
       JOIN ARM_ADJUSTMENTS AA 
         ON AA.ARM_ADJUSTMENT_DETAILS_SID = TP.ARM_ADJUSTMENT_DETAILS_SID 
            AND AA.PERIOD_SID = ASA.PERIOD_SID 
            AND AA.ADJUSTMENT_TYPE = ASA.DEMAND_ACCRUAL 
            AND AA.ACCOUNT = ASA.DEMAND_ACCRUAL_ACC 
			where exists (select 1 from ARM_ADJUSTMENT_CONFIG AAC where AAC.ARM_ADJUSTMENT_CONFIG_SID=ASA.DEMAND_ACCRUAL
		AND REDEMPTION_PERIOD=1)
GROUP  BY TP.CCP_DETAILS_SID, 
          TP.RS_MODEL_SID, 
          ASA.PERIOD_SID 
		  having nullif(ISNULL(SUM(AA.CREDIT), 0) - ISNULL(SUM(AA.DEBIT), 0),0) is not null


INSERT INTO #CURRENT_BALANCE_DRF 
            (CCP_DETAILS_SID, 
             RS_MODEL_SID, 
             PERIOD_SID, 
            --- CREDIT_AMOUNT, 
             --DEBIT_AMOUNT, 
             DEMAND_ACCRUAL_REFORECAST) 
SELECT TP.CCP_DETAILS_SID, 
       TP.RS_MODEL_SID, 
       ASA.PERIOD_SID, 
      -- ISNULL(SUM(AA.DEBIT), 0)                          AS DEBIT, 
       --ISNULL(SUM(AA.CREDIT), 0)                         AS CREDIT, 
       ISNULL(SUM(AA.CREDIT), 0) - ISNULL(SUM(AA.DEBIT), 0) AS DEMAND_ACCRUAL_REFORECAST 
FROM   #TEMP_PROJ_MAS_STATUS_DRF TP 
       JOIN #ARM_SUMM_DEMAND_RF_ACC ASA 
         ON TP.CCP_DETAILS_SID = ASA.CCP_DETAILS_SID AND TP.RS_MODEL_SID= ASA.RS_MODEL_SID
		--JOIN ARM_ADJUSTMENT_CONFIG AAC ON AAC.ARM_ADJUSTMENT_CONFIG_SID=ASA.DEMAND_REFORECAST
		--AND REDEMPTION_PERIOD=1
       JOIN ARM_ADJUSTMENTS AA 
         ON AA.ARM_ADJUSTMENT_DETAILS_SID = TP.ARM_ADJUSTMENT_DETAILS_SID 
            AND AA.PERIOD_SID = ASA.PERIOD_SID 
            AND AA.ADJUSTMENT_TYPE = ASA.DEMAND_REFORECAST 
            AND AA.ACCOUNT = ASA.DEMAND_REFORECAST_ACC 
			where exists (select * from ARM_ADJUSTMENT_CONFIG AAC where AAC.ARM_ADJUSTMENT_CONFIG_SID=ASA.DEMAND_REFORECAST
		AND REDEMPTION_PERIOD=1)
GROUP  BY TP.CCP_DETAILS_SID, 
          TP.RS_MODEL_SID, 
          ASA.PERIOD_SID 
		  having nullif(ISNULL(SUM(AA.CREDIT), 0) - ISNULL(SUM(AA.DEBIT), 0),0) is not null

INSERT INTO #CURRENT_BALANCE_DP 
            (CCP_DETAILS_SID, 
             RS_MODEL_SID, 
             PERIOD_SID, 
            -- CREDIT_AMOUNT, 
           --  DEBIT_AMOUNT, 
             DEMAND_PAYMENT_RECON) 
SELECT TP.CCP_DETAILS_SID, 
       TP.RS_MODEL_SID, 
       ASA.PERIOD_SID, 
       --ISNULL(SUM(AA.DEBIT), 0)                          AS DEBIT, 
      -- ISNULL(SUM(AA.CREDIT), 0)                         AS CREDIT, 
       ISNULL(SUM(AA.CREDIT), 0) - ISNULL(SUM(AA.DEBIT), 0) AS DEMAND_PAYMENT_RECON 
FROM   #TEMP_PROJ_MAS_STATUS_DP TP 
       JOIN #ARM_SUMM_DEMAND_RECON_ACC ASA 
         ON TP.CCP_DETAILS_SID = ASA.CCP_DETAILS_SID AND TP.RS_MODEL_SID= ASA.RS_MODEL_SID
	 --   JOIN ARM_ADJUSTMENT_CONFIG AAC ON AAC.ARM_ADJUSTMENT_CONFIG_SID=ASA.DEMAND_PAYMENT_RECON
		--AND REDEMPTION_PERIOD=1
       JOIN ARM_ADJUSTMENTS AA 
         ON AA.ARM_ADJUSTMENT_DETAILS_SID = TP.ARM_ADJUSTMENT_DETAILS_SID 
            AND AA.PERIOD_SID = ASA.PERIOD_SID 
            AND AA.ADJUSTMENT_TYPE = ASA.DEMAND_PAYMENT_RECON 
            AND AA.ACCOUNT = ASA.DEMAND_PAYMENT_RECON_ACC 
			where exists (select 1 from ARM_ADJUSTMENT_CONFIG AAC where AAC.ARM_ADJUSTMENT_CONFIG_SID=ASA.DEMAND_PAYMENT_RECON
		AND REDEMPTION_PERIOD=1)
GROUP  BY TP.CCP_DETAILS_SID, 
          TP.RS_MODEL_SID, 
          ASA.PERIOD_SID
		  having nullif(ISNULL(SUM(AA.CREDIT), 0) - ISNULL(SUM(AA.DEBIT), 0),0) is not null

--GALUAT-1088 Logic added Starts here
;WITH CTE 
     AS (SELECT TP.CCP_DETAILS_SID, 
                TP.RS_MODEL_SID, 
                P.PERIOD_SID, 
                AHM.ARM_HIST_ADJ_RES_CON_MASTER_SID 
         FROM   #TEMP_ARM_PROJ_DETAILS TP 
                JOIN #PERIOD P 
                  ON 1 = 1 
                JOIN RS_CONTRACT R 
                  ON R.RS_MODEL_SID = TP.RS_MODEL_SID 
                     AND R.CONTRACT_MASTER_SID = TP.CONTRACT_MASTER_SID 
                JOIN ARM_DEDUCTION_SELECTION ADS 
                  -- ON ADS.PROJECTION_MASTER_SID = TP.PROJECTION_MASTER_SID  
                  ON ADS.PROJECTION_MASTER_SID = @PROJECTION_MASTER_SID 
                     AND ADS.RS_CONTRACT_SID = R.RS_CONTRACT_SID 
                JOIN ARM_HIST_ADJ_RES_CON_MASTER AHM 
                  ON AHM.RS_CATEGORY = R.RS_CATEGORY 
                     AND AHM.RS_TYPE = R.RS_TYPE 
                     AND AHM.REBATE_PROGRAM_TYPE = R.REBATE_PROGRAM_TYPE 
                     --AND AHM.GL_COMPANY_MASTER_SID = TP.GL_COMPANY_MASTER_SID  
                     --AND AHM.BU_COMPANY_MASTER_SID = TP.BU_COMPANY_MASTER_SID  
                     AND AHM.GL_COMPANY_MASTER_SID = @GL_COMPANY_MASTER_SID 
                     AND AHM.BU_COMPANY_MASTER_SID = @BU_COMPANY_MASTER_SID 
                     AND CONFIGURATION_TYPE = 0) 
INSERT INTO #HISTORY_CURRENT_BALANCE_DEM 
            (CCP_DETAILS_SID, 
             RS_MODEL_SID, 
             PERIOD_SID, 
             DEMAND_ACCRUAL, 
             DEMAND_ACCRUAL_REFORECAST, 
             DEMAND_PAYMENT_RECON) 
SELECT A.CCP_DETAILS_SID, 
       A.RS_MODEL_SID, 
       A.PERIOD_SID, 
       B.DEMAND_ACCRUAL, 
       C.DEMAND_ACCRUAL_REFORECAST, 
       D.DEMAND_PAYMENT_RECON 
FROM   CTE A 
       LEFT JOIN (SELECT TP.CCP_DETAILS_SID, 
                         TP.RS_MODEL_SID, 
                         TP.PERIOD_SID, 
                         ISNULL(SUM(AH.CREDIT), 0) - ISNULL(SUM(AH.DEBIT), 0) AS DEMAND_ACCRUAL
                  FROM   CTE TP 
                         JOIN #ARM_SUMM_DEMAND_ACC ASD 
                           ON TP.CCP_DETAILS_SID = ASD.CCP_DETAILS_SID 
                              AND TP.RS_MODEL_SID = ASD.RS_MODEL_SID 
                              AND TP.PERIOD_SID = ASD.PERIOD_SID 
                         JOIN ARM_HIST_ADJUSTMENTS AH 
                           ON AH.ARM_HIST_ADJ_RES_CON_MASTER_SID = TP.ARM_HIST_ADJ_RES_CON_MASTER_SID
                              AND AH.CCP_DETAILS_SID = TP.CCP_DETAILS_SID 
                              AND AH.RS_MODEL_SID = TP.RS_MODEL_SID 
                              AND AH.CALCULATION_PERIOD_SID = ASD.PERIOD_SID 
                              AND AH.ADJUSTMENT_TYPE = ASD.DEMAND_ACCRUAL 
                              AND AH.ACCOUNT = ASD.DEMAND_ACCRUAL_ACC 
                  -- AND AH.REDEMPTION_PERIOD=1 
                  GROUP  BY TP.CCP_DETAILS_SID, 
                            TP.RS_MODEL_SID, 
                            TP.PERIOD_SID 
                  HAVING ( NULLIF(ISNULL(SUM(AH.CREDIT), 0) - ISNULL(SUM(AH.DEBIT), 0), 0) ) IS NOT NULL) B
              ON A.CCP_DETAILS_SID = B.CCP_DETAILS_SID 
                 AND A.RS_MODEL_SID = B.RS_MODEL_SID 
                 AND A.PERIOD_SID = B.PERIOD_SID 
       LEFT JOIN(SELECT TP.CCP_DETAILS_SID, 
                        TP.RS_MODEL_SID, 
                        TP.PERIOD_SID, 
                        ISNULL(SUM(AHRF.CREDIT), 0) - ISNULL(SUM(AHRF.DEBIT), 0) AS DEMAND_ACCRUAL_REFORECAST
                 FROM   CTE TP 
                        JOIN #ARM_SUMM_DEMAND_RF_ACC ADRF 
                          ON TP.CCP_DETAILS_SID = ADRF.CCP_DETAILS_SID 
                             AND TP.RS_MODEL_SID = ADRF.RS_MODEL_SID 
                             AND TP.PERIOD_SID = ADRF.PERIOD_SID 
                        JOIN ARM_HIST_ADJUSTMENTS AHRF 
                          ON AHRF.ARM_HIST_ADJ_RES_CON_MASTER_SID = TP.ARM_HIST_ADJ_RES_CON_MASTER_SID
                             AND AHRF.CCP_DETAILS_SID = TP.CCP_DETAILS_SID 
                             AND AHRF.RS_MODEL_SID = TP.RS_MODEL_SID 
                             AND AHRF.CALCULATION_PERIOD_SID = ADRF.PERIOD_SID 
                             AND AHRF.ADJUSTMENT_TYPE = ADRF.DEMAND_REFORECAST 
                             AND AHRF.ACCOUNT = ADRF.DEMAND_REFORECAST_ACC 
                 -- AND AHRF.REDEMPTION_PERIOD=1 
                 GROUP  BY TP.CCP_DETAILS_SID, 
                           TP.RS_MODEL_SID, 
                           TP.PERIOD_SID 
                 HAVING ( NULLIF(ISNULL(SUM(AHRF.CREDIT), 0) - ISNULL(SUM(AHRF.DEBIT), 0), 0) ) IS NOT NULL) C
              ON A.CCP_DETAILS_SID = C.CCP_DETAILS_SID 
                 AND A.RS_MODEL_SID = C.RS_MODEL_SID 
                 AND A.PERIOD_SID = C.PERIOD_SID 
       LEFT JOIN (SELECT TP.CCP_DETAILS_SID, 
                         TP.RS_MODEL_SID, 
                         TP.PERIOD_SID, 
                         ISNULL(SUM(AHDP.CREDIT), 0) - ISNULL(SUM(AHDP.DEBIT), 0) AS DEMAND_PAYMENT_RECON
                  FROM   CTE TP 
                         JOIN #ARM_SUMM_DEMAND_RECON_ACC ADRC 
                           ON TP.CCP_DETAILS_SID = ADRC.CCP_DETAILS_SID 
                              AND TP.RS_MODEL_SID = ADRC.RS_MODEL_SID 
                              AND TP.PERIOD_SID = ADRC.PERIOD_SID 
                         JOIN ARM_HIST_ADJUSTMENTS AHDP 
                           ON AHDP.ARM_HIST_ADJ_RES_CON_MASTER_SID = TP.ARM_HIST_ADJ_RES_CON_MASTER_SID
                              AND AHDP.CCP_DETAILS_SID = TP.CCP_DETAILS_SID 
                              AND AHDP.RS_MODEL_SID = TP.RS_MODEL_SID 
                              AND AHDP.CALCULATION_PERIOD_SID = ADRC.PERIOD_SID 
                              AND AHDP.ADJUSTMENT_TYPE = ADRC.DEMAND_PAYMENT_RECON 
                              AND AHDP.ACCOUNT = ADRC.DEMAND_PAYMENT_RECON_ACC 
                  --AND AHDP.REDEMPTION_PERIOD=1 
                  GROUP  BY TP.CCP_DETAILS_SID, 
                            TP.RS_MODEL_SID, 
                            TP.PERIOD_SID 
                  HAVING ( NULLIF(ISNULL(SUM(AHDP.CREDIT), 0) - ISNULL(SUM(AHDP.DEBIT), 0), 0) IS NOT NULL )) D
              ON A.CCP_DETAILS_SID = D.CCP_DETAILS_SID 
                 AND A.RS_MODEL_SID = D.RS_MODEL_SID 
                 AND A.PERIOD_SID = D.PERIOD_SID 
--GALUAT-1088 Logic added Ends here
	SET @SQL=CONCAT('IF EXISTS (SELECT 1 FROM ', @ARM_CURRENT_BALANCE, ')  
					                   BEGIN 
												TRUNCATE TABLE ', @ARM_CURRENT_BALANCE, '  
									   END
				INSERT INTO ',@ARM_CURRENT_BALANCE, ' with (tablock)
                             (CCP_DETAILS_SID, 
             RS_MODEL_SID, 
             PERIOD_SID, 
             DEMAND_ACCRUAL,
			 DEMAND_ACCRUAL_REFORECAST,
			 DEMAND_PAYMENT_RECON) 
     SELECT TAPD.CCP_DETAILS_SID, 
       TAPD.RS_MODEL_SID, 
       p.PERIOD_SID, 
       ISNULL(SUM(DA.DEMAND_ACCRUAL),0) + ISNULL(SUM(HCB.DEMAND_ACCRUAL),0) AS DEMAND_ACCRUAL, 
       ISNULL(SUM(DRF.DEMAND_ACCRUAL_REFORECAST),0) + ISNULL(SUM(HCB.DEMAND_ACCRUAL_REFORECAST),0) AS DEMAND_ACCRUAL_REFORECAST, 
       ISNULL(SUM(DP.DEMAND_PAYMENT_RECON),0) + ISNULL(SUM(HCB.DEMAND_PAYMENT_RECON),0) AS DEMAND_PAYMENT_RECON
FROM   #TEMP_ARM_PROJ_DETAILS TAPD
join #period p on 1=1 
       LEFT JOIN #CURRENT_BALANCE_DA DA 
              ON TAPD.CCP_DETAILS_SID = DA.CCP_DETAILS_SID 
                 AND TAPD.RS_MODEL_SID = DA.RS_MODEL_SID 
                 AND p.PERIOD_SID = DA.PERIOD_SID 
       LEFT JOIN #CURRENT_BALANCE_DRF DRF 
              ON TAPD.CCP_DETAILS_SID = DRF.CCP_DETAILS_SID 
                 AND TAPD.RS_MODEL_SID = DRF.RS_MODEL_SID 
                 AND p.PERIOD_SID = DRF.PERIOD_SID 
       LEFT JOIN #CURRENT_BALANCE_DP DP 
              ON TAPD.CCP_DETAILS_SID = DP.CCP_DETAILS_SID 
                 AND TAPD.RS_MODEL_SID = DP.RS_MODEL_SID 
                 AND p.PERIOD_SID = DP.PERIOD_SID
		LEFT JOIN #HISTORY_CURRENT_BALANCE_DEM HCB 
              ON TAPD.CCP_DETAILS_SID = HCB.CCP_DETAILS_SID 
                 AND TAPD.RS_MODEL_SID = HCB.RS_MODEL_SID 
                 AND p.PERIOD_SID = HCB.PERIOD_SID 
			GROUP BY TAPD.CCP_DETAILS_SID,
			         TAPD.RS_MODEL_SID,
					 p.PERIOD_SID')
                    EXEC sp_executesql @SQL

END
 END TRY 

      BEGIN CATCH 
          DECLARE @ERRORMESSAGE NVARCHAR(4000); 
          DECLARE @ERRORSEVERITY INT; 
          DECLARE @ERRORSTATE INT; 
          DECLARE @ERRORNUMBER INT; 
          DECLARE @ERRORPROCEDURE VARCHAR(200); 
          DECLARE @ERRORLINE INT; 

          EXEC [dbo].USPERRORCOLLECTOR 

          SELECT @ERRORMESSAGE = ERROR_MESSAGE(), 
                 @ERRORSEVERITY = ERROR_SEVERITY(), 
                 @ERRORSTATE = ERROR_STATE(), 
                 @ERRORPROCEDURE = ERROR_PROCEDURE(), 
                 @ERRORLINE = ERROR_LINE(), 
                 @ERRORNUMBER = ERROR_NUMBER() 

          RAISERROR ( @ERRORMESSAGE,-- MESSAGE TEXT.                  
                      @ERRORSEVERITY,-- SEVERITY.                  
                      @ERRORSTATE,-- STATE.                  
                      @ERRORPROCEDURE,-- PROCEDURE_NAME.                  
                      @ERRORNUMBER,-- ERRORNUMBER                  
                      @ERRORLINE -- ERRORLINE                  
          ); 
      END CATCH 
  END
GO