IF EXISTS (SELECT 'X' 
           FROM   INFORMATION_SCHEMA.ROUTINES 
           WHERE  ROUTINE_NAME = 'PRC_ARM_RETURN_RESERVE' 
                  AND ROUTINE_SCHEMA = 'DBO') 
  BEGIN 
      DROP PROCEDURE [DBO].PRC_ARM_RETURN_RESERVE 
  END 

GO 

CREATE PROCEDURE [dbo].[PRC_ARM_RETURN_RESERVE] (@PROJECTION_MASTER_SID INT, 
                                         @USER_ID               INT, 
                                         @SESSION_ID            INT,
										 @CHECK_REOCRD BIT =0,
										  @ORIGINAL_DATE_LIMITER DATETIME=null) 
AS 

/**********************************************************************************************************
** File Name		:	PRC_ARM_RETURN_RESERVE.sql
** Procedure Name	:	PRC_ARM_RETURN_RESERVE
** Description		:	To generate Return Reserve tab
** Input Parameters	:	@PROJECTION_MASTER_SID  - Respective Projection ID Creted for Tr-1
				        @USER_ID                - it is the identification of the User Performing particular projection
						@SESSION_ID             - it is the identification of session for particular projection
						@CHECK_REOCRD           - Check box selection for Remove closed batches and loe date
						@ORIGINAL_DATE_LIMITER  - date selected on original date limiter column					
** Output Parameters:	NA
** Author Name		:	@AjayNaidu
** Creation Date	:	06/10/2017 - MM/DD/YYYY
** Called By		:   Called by Application for Return reserve tab Transaction(as base)     
**********************************************************************************************************
** Change History
**********************************************************************************************************
** VER   Date      Ticket No         Author          Description 
** ---   --------  ---------        -------------    -----------------------------
** 1    1/11/2017  GAL-12591        @AjayNaidu       Reserve calculation for each level
** 2    13/11/2017 GAL-12721        @AjayNaidu       Reserve calculation for each level for rate override
** 3	31/11/2017 GAL-12855		@Kishore		 Handled Rate column to convert to percentage and Rounding off feature for calculation.
** 4    28-12-2017 GAL-12267        @AjayNaidu       BP014 - [NOT] NULL option
** 5    02-01-2018 GAL-12271        @AjayNaidu       PE003 Select into option removal
** 6    03-01-2018 GAL-12962        @AjayNaidu       Adj.value at org.asp negative scneario added
** 7    08-01-2018 GAL-12270        @AjayNaidu       EI025 PE001 PE010 ST008 MI005 MI002 Error codes
** 8    05-02-2018 GAL-13139        @AjayNaidu       Returns line level aggregation at CCP+D Logic added
*********************************************************************************************************/

BEGIN 
      SET NOCOUNT ON 

      BEGIN TRY 


DECLARE @ADJUSTMENT_TYPE INT, 
        @PERIOD_SID      SMALLINT, 
        @PERIOD_DATE     DATETIME, 
        @VERSION         VARCHAR(20),
		@SQL    NVARCHAR(MAX)
		

DECLARE @ARM_RETURN_RESERVE_TABLE  VARCHAR(200) = CONCAT('ST_ARM_RETURN_Reserve_', @USER_ID, '_', @SESSION_ID, '_', REPLACE(CONVERT(VARCHAR(50), GETDATE(), 2), '.', '')),
        @ARM_RETURN_RATE_TABLE  VARCHAR(200) = CONCAT('ST_ARM_RETURN_rate_', @USER_ID, '_', @SESSION_ID, '_', REPLACE(CONVERT(VARCHAR(50), GETDATE(), 2), '.', '')),
        @ARM_CURRENT_BALANCE  VARCHAR(200) = CONCAT('ST_ARM_CURRENT_BALANCE_', @USER_ID, '_', @SESSION_ID, '_', REPLACE(CONVERT(VARCHAR(50), GETDATE(), 2), '.', '')),
	    @ARM_ADJUSTMENTS  VARCHAR(200) = CONCAT('ST_ARM_ADJUSTMENTS_', @USER_ID, '_', @SESSION_ID, '_', REPLACE(CONVERT(VARCHAR(50), GETDATE(), 2), '.', ''))
----------------Creating all necessray temp tables(all ddl statements) for the logic Starts here (PE010 CodeGuarderror)
IF OBJECT_ID('TEMPDB..#TEMP_ARM_PROJ_DETAILS') IS NOT NULL 
  DROP TABLE #TEMP_ARM_PROJ_DETAILS 

CREATE TABLE #TEMP_ARM_PROJ_DETAILS 
  ( 
     ARM_ADJUSTMENT_DETAILS_SID INT NOT NULL, 
     PROJECTION_MASTER_SID      INT NOT NULL, 
     CCP_DETAILS_SID            INT NOT NULL, 
     RS_MODEL_SID               INT NOT NULL, 
     CONTRACT_MASTER_SID        INT NOT NULL, 
     COMPANY_MASTER_SID         INT NOT NULL, 
     ITEM_MASTER_SID            INT NOT NULL, 
     PERIOD_SID                 INT NOT NULL, 
     METHODOLGY                 VARCHAR(50) NOT NULL
  ) 

IF OBJECT_ID('TEMPDB..#TEMP_ARM_PROJ_ITEM') IS NOT NULL 
  DROP TABLE #TEMP_ARM_PROJ_ITEM 

CREATE TABLE #TEMP_ARM_PROJ_ITEM 
  ( 
     PROJECTION_MASTER_SID INT NOT NULL, 
     ITEM_MASTER_SID       INT NOT NULL, 
     ITEM_ID               VARCHAR(50) NOT NULL
  ) 

IF OBJECT_ID('TEMPDB..#RETURN_VALUES') IS NOT NULL 
  DROP TABLE #RETURN_VALUES 


  CREATE TABLE #RETURN_VALUES
   (
    RETURNS_MASTER_SID INT NOT NULL,
    ITEM_MASTER_SID INT NOT NULL,
	PERIOD_SID INT NOT NULL,
    ORIG_SALE_UNITS NUMERIC(22,6) NULL,
	EXPECTED_RETURN_RATE NUMERIC(22,6) NULL, 
	CUM_RETURN_UNITS NUMERIC(22,6) NULL, 
	ESTIMATED_RETURN_UNITS numeric(22,6) NULL,
	ACTUAL_RETURN_RATE NUMERIC(22,6) NULL,
	UPPER_LIMIT NUMERIC(22,6) NULL,
	ASP NUMERIC(22,6) NULL
	PRIMARY KEY(RETURNS_MASTER_SID,ITEM_MASTER_SID,PERIOD_SID) 
	)

IF OBJECT_ID('TEMPDB..#RATE') IS NOT NULL
	DROP TABLE #RATE

CREATE TABLE #RATE (
     ARM_ADJUSTMENT_DETAILS_SID INT NOT NULL,
	 CCP_DETAILS_SID            INT NOT NULL, 
     RS_MODEL_SID               INT NOT NULL, 
     CONTRACT_MASTER_SID        INT NOT NULL, 
     COMPANY_MASTER_SID         INT NOT NULL, 
     ITEM_MASTER_SID            INT NOT NULL, 
	 PERIOD_SID INT NOT NULL
	,RATE NUMERIC(22, 6) NULL
	PRIMARY KEY(ARM_ADJUSTMENT_DETAILS_SID,PERIOD_SID)
	)

IF OBJECT_ID('TEMPDB..#ESTIMATED_RETURN_UNIT') IS NOT NULL 
  DROP TABLE #ESTIMATED_RETURN_UNIT 
CREATE TABLE #ESTIMATED_RETURN_UNIT 
  ( 
     ESTIMATED_RETURN_UNITS     NUMERIC(22, 6) NULL, 
     ACT_ESTIMATED_RETURN_UNITS NUMERIC(22, 6) NULL, 
     ADJ_ESTIMATED_RETURN_UNITS NUMERIC(22, 6) NULL, 
     VALUE_AT_ORG_ASP           NUMERIC(22, 6) NULL, 
     ADJ_VALUE_AT_ORG_ASP       NUMERIC(22, 6) NULL, 
     RETURNS_MASTER_SID         INT NOT NULL, 
     ACTUAL_RETURN_RATE         NUMERIC(22, 6) NULL, 
     UPPER_LIMIT                NUMERIC(22, 6) NULL, 
     ASP                        NUMERIC(22, 6) NULL, 
     ARM_ADJUSTMENT_DETAILS_SID INT NOT NULL, 
     PERIOD_SID                 INT NOT NULL 
  ) 

IF OBJECT_ID('TEMPDB..#RETURNS_OUTPUT') IS NOT NULL 
  DROP TABLE #RETURNS_OUTPUT 

  CREATE TABLE #RETURNS_OUTPUT 
  (  
     ARM_ADJUSTMENT_DETAILS_SID INT NOT NULL, 
     PERIOD_SID                 INT NOT NULL,
     ESTIMATED_RETURN_UNITS     NUMERIC(22, 6) NULL, 
     ACT_ESTIMATED_RETURN_UNITS NUMERIC(22, 6) NULL, 
     ADJ_ESTIMATED_RETURN_UNITS NUMERIC(22, 6) NULL, 
     VALUE_AT_ORG_ASP           NUMERIC(22, 6) NULL, 
     ADJ_VALUE_AT_ORG_ASP       NUMERIC(22, 6) NULL, 
     ACTUAL_RETURN_RATE         NUMERIC(22, 6) NULL, 
     UPPER_LIMIT                NUMERIC(22, 6) NULL, 
     ASP                        NUMERIC(22, 6) NULL
  ) 

IF OBJECT_ID('TEMPDB..#TEMP_OUTPUT') IS NOT NULL 
			DROP TABLE #TEMP_OUTPUT 

		CREATE TABLE #TEMP_OUTPUT 
			( 
				ARM_ADJUSTMENT_DETAILS_SID INT NOT NULL, 
				PERIOD_SID                 INT NOT NULL, 
				ESTIMATED_RETURN_UNITS    NUMERIC(22,6) NULL, 
                ACT_ESTIMATED_RETURN_UNITS NUMERIC(22,6) NULL, 
                ADJ_ESTIMATED_RETURN_UNITS NUMERIC(22,6) NULL, 
                VALUE_AT_ORG_ASP NUMERIC(22,6) NULL, 
                ADJ_VALUE_AT_ORG_ASP NUMERIC(22,6) NULL, 
                CURRENT_BALANCE NUMERIC(22,6) NULL, 
                PROJECTED_BALANCE NUMERIC(22,6) NULL, 
                VARIANCE NUMERIC(22,6) NULL,
				PRIMARY KEY(ARM_ADJUSTMENT_DETAILS_SID)	
			) 

IF OBJECT_ID('TEMPDB..#TEMP_AMOUNT') IS NOT NULL 
			DROP TABLE #TEMP_AMOUNT 

		CREATE TABLE #TEMP_AMOUNT 
			( 
				ARM_ADJUSTMENT_DETAILS_SID INT NOT NULL, 
				PERIOD_SID                 INT NOT NULL, 
				ACCRUAL_AMOUNT             NUMERIC(22, 6) NULL, 
				INDICATOR                  BIT NULL
			) 


SELECT   @ADJUSTMENT_TYPE = TRANSACTION_TYPE 
FROM   ARM_ADJUSTMENT_MASTER A 
       JOIN ARM_ADJUSTMENT_CONFIG B 
         ON A.TRANSACTION_TYPE = B.ARM_ADJUSTMENT_CONFIG_SID 
       JOIN HELPER_TABLE C 
         ON C.HELPER_TABLE_SID = B.METHODOLGY 
WHERE  PROJECTION_MASTER_SID = @PROJECTION_MASTER_SID 


SELECT @PERIOD_SID = P.PERIOD_SID, 
       @PERIOD_DATE = P.PERIOD_DATE 
FROM   PROJECTION_MASTER A 
       JOIN PERIOD P 
         ON CONVERT(DATETIME, DATEADD(MM, -1, DATEADD(DD, 1, EOMONTH(A.FROM_DATE, 0)))) = P.PERIOD_DATE
WHERE  PROJECTION_MASTER_SID = @PROJECTION_MASTER_SID 


SELECT @VERSION = SUBSTRING(CAST(DATENAME(MM, @PERIOD_DATE) AS VARCHAR(20)),1,3) 
                  + '-' 
                  + CAST(DATEPART(YY, @PERIOD_DATE) AS VARCHAR(10))  
  
INSERT INTO #TEMP_ARM_PROJ_DETAILS 
            (ARM_ADJUSTMENT_DETAILS_SID, 
             PROJECTION_MASTER_SID, 
             CCP_DETAILS_SID, 
             RS_MODEL_SID, 
             CONTRACT_MASTER_SID, 
             COMPANY_MASTER_SID, 
             ITEM_MASTER_SID, 
             PERIOD_SID, 
             METHODOLGY) 
SELECT ARM_ADJUSTMENT_DETAILS_SID, 
       AD.PROJECTION_MASTER_SID, 
       AD.CCP_DETAILS_SID, 
       RS_MODEL_SID, 
       CONTRACT_MASTER_SID, 
       COMPANY_MASTER_SID, 
       ITEM_MASTER_SID, 
	   @PERIOD_SID PERIOD_SID,
       HT.DESCRIPTION 
FROM   ARM_ADJUSTMENT_DETAILS AD 
       JOIN CCP_DETAILS CD 
         ON AD.CCP_DETAILS_SID = CD.CCP_DETAILS_SID 
       JOIN ARM_ADJUSTMENT_MASTER AM 
         ON AM.PROJECTION_MASTER_SID = @PROJECTION_MASTER_SID 
       JOIN ARM_ADJUSTMENT_CONFIG AC 
         ON AC.ARM_ADJUSTMENT_CONFIG_SID = AM.TRANSACTION_TYPE 
       JOIN HELPER_TABLE HT 
         ON HT.HELPER_TABLE_SID = AC.METHODOLGY 
WHERE  AD.PROJECTION_MASTER_SID = @PROJECTION_MASTER_SID 

INSERT INTO #TEMP_ARM_PROJ_ITEM 
            (ITEM_ID, 
             ITEM_MASTER_SID, 
             PROJECTION_MASTER_SID
             ) 
SELECT DISTINCT IM.ITEM_ID, 
                B.ITEM_MASTER_SID, 
                @PROJECTION_MASTER_SID
FROM   #TEMP_ARM_PROJ_DETAILS A 
       JOIN CCP_DETAILS B 
         ON A.CCP_DETAILS_SID = B.CCP_DETAILS_SID 
       JOIN ITEM_MASTER IM 
         ON IM.ITEM_MASTER_SID = B.ITEM_MASTER_SID 
----------Removed Closed Batch selected
IF @CHECK_REOCRD=0 
BEGIN
  INSERT INTO #RETURN_VALUES
  (
  RETURNS_MASTER_SID,
  ITEM_MASTER_SID,
	PERIOD_SID,
  ORIG_SALE_UNITS,
	EXPECTED_RETURN_RATE,
	CUM_RETURN_UNITS,
	ESTIMATED_RETURN_UNITS,
	ACTUAL_RETURN_RATE,
	UPPER_LIMIT,
    ASP
	)
SELECT
A.RETURNS_MASTER_SID,
B.ITEM_MASTER_SID,
@PERIOD_SID,
ISNULL(A.ORIG_SALE_UNITS,0) AS ORIG_SALE_UNITS
	,ISNULL(A.EXPECTED_RETURN_RATE,0) AS EXPECTED_RETURN_RATE
	,ISNULL(A.CUM_RETURN_UNITS,0) AS CUM_RETURN_UNITS
	,ISNULL(A.ESTIMATED_RETURN_UNITS,0) AS ESTIMATED_RETURN_UNITS
	,ISNULL(ACTUAL_RETURN_RATE,0) AS ACTUAL_RETURN_RATE
	,ISNULL(UPPER_LIMIT,0) AS UPPER_LIMIT
	,ISNULL(ASP,0) AS ASP
FROM RETURNS_MASTER A
JOIN #TEMP_ARM_PROJ_ITEM B ON A.ITEM_MASTER_SID = B.ITEM_MASTER_SID
WHERE (A.VERSION = @VERSION  AND MAX_EXPIRED_MONS_PLUSCUTOFF >=CAST(GETDATE() AS DATE) AND ((PAST_EXPIRATION ='Y' AND RETURN_COMPLETE='N') OR (PAST_EXPIRATION='N' AND RETURN_COMPLETE='N')
OR (PAST_EXPIRATION='N' AND RETURN_COMPLETE='Y')
AND ORIG_SALE_MONTH >=COALESCE(@ORIGINAL_DATE_LIMITER,ORIG_SALE_MONTH))) OR 
(A.VERSION = @VERSION AND  MAX_EXPIRED_MONS_PLUSCUTOFF < CAST(GETDATE() AS DATE) AND ((PAST_EXPIRATION ='Y' AND RETURN_COMPLETE='N') OR (PAST_EXPIRATION='N' AND RETURN_COMPLETE='N'))
AND ORIG_SALE_MONTH >=COALESCE(@ORIGINAL_DATE_LIMITER,ORIG_SALE_MONTH))
END
--Loe date selected
ELSE IF(@CHECK_REOCRD=1)
BEGIN
 INSERT INTO #RETURN_VALUES
  (RETURNS_MASTER_SID,
    ITEM_MASTER_SID,
	PERIOD_SID,
  ORIG_SALE_UNITS,
	EXPECTED_RETURN_RATE,
	CUM_RETURN_UNITS,
	ESTIMATED_RETURN_UNITS,
	ACTUAL_RETURN_RATE
	,UPPER_LIMIT
	,ASP
	)
SELECT A.RETURNS_MASTER_SID,
      B.ITEM_MASTER_SID,
	@PERIOD_SID,
ISNULL(A.ORIG_SALE_UNITS,0) AS ORIG_SALE_UNITS
	,ISNULL(A.EXPECTED_RETURN_RATE,0) AS EXPECTED_RETURN_RATE
	,ISNULL(A.CUM_RETURN_UNITS,0) AS CUM_RETURN_UNITS
	,ISNULL(A.ESTIMATED_RETURN_UNITS,0) AS ESTIMATED_RETURN_UNITS
	,ISNULL(ACTUAL_RETURN_RATE,0) AS ACTUAL_RETURN_RATE
	,ISNULL(UPPER_LIMIT,0) AS UPPER_LIMIT
	,ISNULL(ASP,0) AS ASP
FROM RETURNS_MASTER A
JOIN #TEMP_ARM_PROJ_ITEM B ON A.ITEM_MASTER_SID = B.ITEM_MASTER_SID
JOIN ITEM_MASTER IM ON IM.ITEM_MASTER_SID=B.ITEM_MASTER_SID
WHERE A.VERSION = @VERSION AND ORIG_SALE_MONTH>=COALESCE(@ORIGINAL_DATE_LIMITER,ORIG_SALE_MONTH) 
AND ORIG_SALE_MONTH > CASE WHEN AUTHORIZED_GENERIC_START_DATE IS NULL THEN DATEADD(DD,0,DATEDIFF(DD,0,ORIG_SALE_MONTH)-1)
ELSE AUTHORIZED_GENERIC_START_DATE END

END
--when both selected
ELSE IF (@CHECK_REOCRD=2)
BEGIN
INSERT INTO #RETURN_VALUES
  (RETURNS_MASTER_SID,
  ITEM_MASTER_SID,
	PERIOD_SID,
  ORIG_SALE_UNITS,
	EXPECTED_RETURN_RATE,
	CUM_RETURN_UNITS,
	ESTIMATED_RETURN_UNITS
	,ACTUAL_RETURN_RATE
	,UPPER_LIMIT
	,ASP
	)
SELECT A.RETURNS_MASTER_SID,
B.ITEM_MASTER_SID,
	@PERIOD_SID,
ISNULL(A.ORIG_SALE_UNITS,0) AS ORIG_SALE_UNITS
	,ISNULL(A.EXPECTED_RETURN_RATE,0) AS EXPECTED_RETURN_RATE
	,ISNULL(A.CUM_RETURN_UNITS,0) AS CUM_RETURN_UNITS
	,ISNULL(A.ESTIMATED_RETURN_UNITS,0) AS ESTIMATED_RETURN_UNITS
	,ISNULL(ACTUAL_RETURN_RATE,0) AS ACTUAL_RETURN_RATE
	,ISNULL(UPPER_LIMIT,0) AS UPPER_LIMIT
	,ISNULL(ASP,0) AS ASP
FROM RETURNS_MASTER A
JOIN #TEMP_ARM_PROJ_ITEM B ON A.ITEM_MASTER_SID = B.ITEM_MASTER_SID
JOIN ITEM_MASTER IM ON IM.ITEM_MASTER_SID=B.ITEM_MASTER_SID WHERE 
((A.VERSION = @VERSION AND  MAX_EXPIRED_MONS_PLUSCUTOFF >=CAST(GETDATE() AS DATE) AND ((PAST_EXPIRATION !='Y' AND RETURN_COMPLETE !='Y') )
AND ORIG_SALE_MONTH >=COALESCE(@ORIGINAL_DATE_LIMITER,ORIG_SALE_MONTH)) OR 
(A.VERSION = @VERSION AND  MAX_EXPIRED_MONS_PLUSCUTOFF < CAST(GETDATE() AS DATE) AND ((PAST_EXPIRATION ='Y' AND RETURN_COMPLETE='N') OR (PAST_EXPIRATION='N' AND RETURN_COMPLETE='N'))
AND ORIG_SALE_MONTH >=COALESCE(@ORIGINAL_DATE_LIMITER,ORIG_SALE_MONTH)))
AND ORIG_SALE_MONTH > CASE WHEN AUTHORIZED_GENERIC_START_DATE IS NULL THEN DATEADD(DD,0,DATEDIFF(DD,0,ORIG_SALE_MONTH)-1)
ELSE AUTHORIZED_GENERIC_START_DATE END
END
--nothing selected
ELSE 
BEGIN
INSERT INTO #RETURN_VALUES
  (RETURNS_MASTER_SID,
  ITEM_MASTER_SID,
	PERIOD_SID,
  ORIG_SALE_UNITS,
	EXPECTED_RETURN_RATE,
	CUM_RETURN_UNITS,
	ESTIMATED_RETURN_UNITS
	,ACTUAL_RETURN_RATE
	,UPPER_LIMIT
	,ASP
	)
SELECT A.RETURNS_MASTER_SID,
B.ITEM_MASTER_SID,
	@PERIOD_SID,
ISNULL(A.ORIG_SALE_UNITS,0) AS ORIG_SALE_UNITS
	,ISNULL(A.EXPECTED_RETURN_RATE,0) AS EXPECTED_RETURN_RATE
	,ISNULL(A.CUM_RETURN_UNITS,0) AS CUM_RETURN_UNITS
	,ISNULL(A.ESTIMATED_RETURN_UNITS,0) AS ESTIMATED_RETURN_UNITS
	,ISNULL(ACTUAL_RETURN_RATE,0) AS ACTUAL_RETURN_RATE
	,ISNULL(UPPER_LIMIT,0) AS UPPER_LIMIT
	,ISNULL(ASP,0) AS ASP
FROM RETURNS_MASTER A
JOIN #TEMP_ARM_PROJ_ITEM B ON A.ITEM_MASTER_SID = B.ITEM_MASTER_SID
JOIN ITEM_MASTER IM ON IM.ITEM_MASTER_SID=B.ITEM_MASTER_SID WHERE A.VERSION = @VERSION AND
ORIG_SALE_MONTH >=COALESCE(@ORIGINAL_DATE_LIMITER,ORIG_SALE_MONTH) 
END


DECLARE @SQL1 NVARCHAR(MAX)

SET @SQL1 = CONCAT (
		'
 INSERT INTO #RATE
 (
ARM_ADJUSTMENT_DETAILS_SID,
CCP_DETAILS_SID,           
RS_MODEL_SID,               
CONTRACT_MASTER_SID,      
COMPANY_MASTER_SID,         
ITEM_MASTER_SID,            
PERIOD_SID,
RATE)

SELECT 
A.ARM_ADJUSTMENT_DETAILS_SID,
B.CCP_DETAILS_SID,           
B.RS_MODEL_SID,               
B.CONTRACT_MASTER_SID,      
B.COMPANY_MASTER_SID,         
B.ITEM_MASTER_SID,  
B.PERIOD_SID,
ISNULL(A.OVERRIDE_RATE,A.RATE)
FROM '
		,@ARM_RETURN_RATE_TABLE,' A join  #TEMP_ARM_PROJ_DETAILS B on a.ARM_ADJUSTMENT_DETAILS_SID=b.ARM_ADJUSTMENT_DETAILS_SID
		AND A.PERIOD_SID=B.PERIOD_SID'
		,''
		)

	EXEC sp_executesql @SQL1

INSERT INTO #ESTIMATED_RETURN_UNIT 
            (ESTIMATED_RETURN_UNITS, 
             ACT_ESTIMATED_RETURN_UNITS, 
             ADJ_ESTIMATED_RETURN_UNITS, 
             VALUE_AT_ORG_ASP, 
             ADJ_VALUE_AT_ORG_ASP, 
             RETURNS_MASTER_SID, 
             ACTUAL_RETURN_RATE, 
             UPPER_LIMIT, 
             ASP, 
             ARM_ADJUSTMENT_DETAILS_SID, 
             PERIOD_SID) 
SELECT A.ESTIMATED_RETURN_UNITS, 
       A.ACT_ESTIMATED_RETURN_UNITS, 
       A.ADJ_ESTIMATED_RETURN_UNITS, 
       A.VALUE_AT_ORG_ASP, 
       CASE WHEN A.ADJ_VALUE_AT_ORG_ASP<0 THEN 0 ELSE A.ADJ_VALUE_AT_ORG_ASP END AS ADJ_VALUE_AT_ORG_ASP, 
       A.RETURNS_MASTER_SID, 
       A.ACTUAL_RETURN_RATE, 
       A.UPPER_LIMIT, 
       A.ASP, 
       A.ARM_ADJUSTMENT_DETAILS_SID, 
       A.PERIOD_SID FROM(
SELECT ((A.ORIG_SALE_UNITS * (ROUND(B.RATE,2)/100)) - A.CUM_RETURN_UNITS) AS ESTIMATED_RETURN_UNITS, 
       CASE 
         WHEN ( ( A.ORIG_SALE_UNITS * (ROUND(B.RATE,2)/100) ) - A.CUM_RETURN_UNITS ) > 0 THEN ( ( A.ORIG_SALE_UNITS * (ROUND(B.RATE,2)/100) ) - A.CUM_RETURN_UNITS )
         ELSE 0 
       END                                                     AS ACT_ESTIMATED_RETURN_UNITS, 
       CASE 
         WHEN ( ( A.ORIG_SALE_UNITS * (ROUND(B.RATE,2)/100) ) - A.CUM_RETURN_UNITS ) > 0 THEN ( ( A.ORIG_SALE_UNITS * (ROUND(B.RATE,2)/100) ) - A.CUM_RETURN_UNITS )
         WHEN ( ( A.ORIG_SALE_UNITS * (ROUND(B.RATE,2)/100) ) - A.CUM_RETURN_UNITS ) < 0 
              AND A.ACTUAL_RETURN_RATE < A.UPPER_LIMIT THEN ( ( A.ORIG_SALE_UNITS * (ROUND(B.RATE,2)/100) ) - A.CUM_RETURN_UNITS )
         ELSE 0 
       END                                                     AS ADJ_ESTIMATED_RETURN_UNITS, 
       ( CASE 
           WHEN ( ( A.ORIG_SALE_UNITS * (ROUND(B.RATE,2)/100) ) - A.CUM_RETURN_UNITS ) > 0 THEN ( ( A.ORIG_SALE_UNITS * (ROUND(B.RATE,2)/100) ) - A.CUM_RETURN_UNITS )
           ELSE 0 
         END ) * A.ASP                                         AS VALUE_AT_ORG_ASP, 
       ( CASE 
           WHEN ( ( A.ORIG_SALE_UNITS * (ROUND(B.RATE,2)/100) ) - A.CUM_RETURN_UNITS ) > 0 THEN ( ( A.ORIG_SALE_UNITS * (ROUND(B.RATE,2)/100) ) - A.CUM_RETURN_UNITS )
           WHEN ( ( A.ORIG_SALE_UNITS * (ROUND(B.RATE,2)/100) ) - A.CUM_RETURN_UNITS ) < 0 
                AND A.ACTUAL_RETURN_RATE < A.UPPER_LIMIT THEN ( ( A.ORIG_SALE_UNITS * (ROUND(B.RATE,2)/100) ) - A.CUM_RETURN_UNITS )
           ELSE 0 
         END ) * A.ASP                                         AS ADJ_VALUE_AT_ORG_ASP, 
       A.RETURNS_MASTER_SID, 
       A.ACTUAL_RETURN_RATE, 
       A.UPPER_LIMIT, 
       A.ASP, 
       B.ARM_ADJUSTMENT_DETAILS_SID, 
       B.PERIOD_SID 
FROM   #RETURN_VALUES A 
       JOIN #RATE B 
         ON A.ITEM_MASTER_SID = B.ITEM_MASTER_SID 
            AND A.PERIOD_SID = B.PERIOD_SID )A
/*End Point - GAL-12855 - Converted B.RATE column as (ROUND(B.RATE,2)/100) to handle percentage and round with two decimels*/
/* Aggregating Returns Data (line level calculation data) at CCP+D level Starts here */

INSERT INTO #RETURNS_OUTPUT 
            (ARM_ADJUSTMENT_DETAILS_SID, 
             PERIOD_SID, 
             ESTIMATED_RETURN_UNITS, 
             ACT_ESTIMATED_RETURN_UNITS, 
             ADJ_ESTIMATED_RETURN_UNITS, 
             VALUE_AT_ORG_ASP, 
             ADJ_VALUE_AT_ORG_ASP, 
             ACTUAL_RETURN_RATE, 
             UPPER_LIMIT, 
             ASP) 
SELECT ARM_ADJUSTMENT_DETAILS_SID, 
       PERIOD_SID, 
       ISNULL(SUM(ESTIMATED_RETURN_UNITS), 0), 
       ISNULL(SUM(ACT_ESTIMATED_RETURN_UNITS), 0), 
       ISNULL(SUM(ADJ_ESTIMATED_RETURN_UNITS), 0), 
       ISNULL(SUM(VALUE_AT_ORG_ASP), 0), 
       ISNULL(SUM(ADJ_VALUE_AT_ORG_ASP), 0), 
       ISNULL(SUM(ACTUAL_RETURN_RATE), 0), 
       ISNULL(SUM(UPPER_LIMIT), 0), 
       ISNULL(SUM(ASP), 0) 
FROM   #ESTIMATED_RETURN_UNIT 
GROUP  BY ARM_ADJUSTMENT_DETAILS_SID, 
          PERIOD_SID 
/* Aggregating Returns Data (line level calculation data) at CCP+D level Ends here */

------------INSERTION INTO MAIN TABLE STARTS HERE 

SET @SQL=''

SET @SQL=CONCAT('INSERT INTO #TEMP_OUTPUT
                            (ARM_ADJUSTMENT_DETAILS_SID,
PERIOD_SID,
ESTIMATED_RETURN_UNITS,
ACT_ESTIMATED_RETURN_UNITS,
ADJ_ESTIMATED_RETURN_UNITS,
VALUE_AT_ORG_ASP,
ADJ_VALUE_AT_ORG_ASP,
CURRENT_BALANCE,
PROJECTED_BALANCE,
VARIANCE)
                 SELECT TAP.ARM_ADJUSTMENT_DETAILS_SID AS ARM_ADJUSTMENT_DETAILS_SID, 
       TAP.PERIOD_SID                 AS PERIOD_SID, 
       ISNULL(SUM(TR.ESTIMATED_RETURN_UNITS),0) AS ESTIMATED_RETURN_UNITS,
	   ISNULL(SUM(TR.ACT_ESTIMATED_RETURN_UNITS),0) AS ACT_ESTIMATED_RETURN_UNITS,
	   ISNULL(SUM(TR.ADJ_ESTIMATED_RETURN_UNITS),0) AS ADJ_ESTIMATED_RETURN_UNITS,
	   ISNULL(SUM(TR.VALUE_AT_ORG_ASP),0) AS VALUE_AT_ORG_ASP,
	   ISNULL(SUM(TR.ADJ_VALUE_AT_ORG_ASP),0) AS ADJ_VALUE_AT_ORG_ASP,
	   ISNULL(SUM(AC.CURRENT_BALANCE),0) AS CURRENT_BALANCE,
	   ISNULL(SUM(ADJ_VALUE_AT_ORG_ASP),0) AS PROJECTED_BALANCE,
	   ISNULL(SUM(AC.CURRENT_BALANCE),0) - ISNULL(SUM(ADJ_VALUE_AT_ORG_ASP),0) AS VARIANCE
FROM   #TEMP_ARM_PROJ_DETAILS TAP 
       LEFT JOIN ',@ARM_CURRENT_BALANCE,' AC
	   ON TAP.CCP_DETAILS_SID = AC.CCP_DETAILS_SID
					             AND TAP.RS_MODEL_SID = AC.RS_MODEL_SID
                                 AND TAP.PERIOD_SID = AC.PERIOD_SID 
       LEFT JOIN #RETURNS_OUTPUT TR 
              ON TAP.ARM_ADJUSTMENT_DETAILS_SID = TR.ARM_ADJUSTMENT_DETAILS_SID 
			  AND TAP.PERIOD_SID=TR.PERIOD_SID
			  GROUP BY TAP.ARM_ADJUSTMENT_DETAILS_SID,
			            TAP.PERIOD_SID')
					
                    EXEC sp_executesql @SQL
                   
				   SET @SQL=''	
			 
			 	
			 INSERT INTO #TEMP_AMOUNT 
					(ARM_ADJUSTMENT_DETAILS_SID, 
					 PERIOD_SID, 
					 ACCRUAL_AMOUNT, 
					 INDICATOR) 
					SELECT ARM_ADJUSTMENT_DETAILS_SID, 
						   PERIOD_SID, 
						   SUM(VARIANCE) AS ACCRUAL_AMOUNT, 
						   CASE 
							 WHEN SUM(VARIANCE) > 0 THEN 0 
							 WHEN SUM(VARIANCE) < 0 THEN 1 
							 ELSE NULL 
						   END                                 AS INDICATOR 
					FROM   #TEMP_OUTPUT 
					GROUP BY ARM_ADJUSTMENT_DETAILS_SID,PERIOD_SID

				SET @SQL=CONCAT('IF EXISTS (SELECT 1 FROM ', @ARM_ADJUSTMENTS, ' R INNER JOIN ARM_ADJUSTMENT_DETAILS A 
                                          ON R.ARM_ADJUSTMENT_DETAILS_SID = A.ARM_ADJUSTMENT_DETAILS_SID WHERE  A.PROJECTION_MASTER_SID = ', @PROJECTION_MASTER_SID, ')  
					                   BEGIN 
												TRUNCATE TABLE ', @ARM_ADJUSTMENTS, '  
									   END
				INSERT INTO ',@ARM_ADJUSTMENTS, 
                            '(ARM_ADJUSTMENT_DETAILS_SID, 
                             PERIOD_SID, 
                             ADJUSTMENT_TYPE,
							 ACCOUNT, 
                             CREDIT,
							 DEBIT
							 )
                SELECT TAM.ARM_ADJUSTMENT_DETAILS_SID, 
					   TAM.PERIOD_SID AS PERIOD_SID,
					   ',@ADJUSTMENT_TYPE,' AS ADJUSTMENT_TYPE,
					   ACCOUNT,
					   SUM(ABS(A1.ACCRUAL_AMOUNT))                                                     AS CREDIT,
					   SUM(ABS(A2.ACCRUAL_AMOUNT))                                                     AS DEBIT
				FROM   #TEMP_AMOUNT TAM 
					   LEFT JOIN ARM_ADJ_RES_CCP AAC 
						 ON TAM.ARM_ADJUSTMENT_DETAILS_SID = AAC.ARM_ADJUSTMENT_DETAILS_SID 
								  AND AAC.ADJUSTMENT_TYPE = ',@ADJUSTMENT_TYPE,'
					   LEFT JOIN #TEMP_AMOUNT A1 
							  ON AAC.ARM_ADJUSTMENT_DETAILS_SID = A1.ARM_ADJUSTMENT_DETAILS_SID 
								 AND AAC.CREDIT = A1.INDICATOR 
					   LEFT JOIN #TEMP_AMOUNT A2 
							  ON AAC.ARM_ADJUSTMENT_DETAILS_SID = A2.ARM_ADJUSTMENT_DETAILS_SID 
								 AND AAC.DEBIT = A2.INDICATOR 
						LEFT JOIN PERIOD P ON P.PERIOD_SID=ISNULL(A1.PERIOD_SID, A2.PERIOD_SID) AND P.PERIOD_SID=TAM.PERIOD_SID
						WHERE AAC.CREDIT IS NOT NULL AND AAC.DEBIT IS NOT NULL
				GROUP  BY TAM.ARM_ADJUSTMENT_DETAILS_SID, 
						  TAM.PERIOD_SID,
						  ACCOUNT')
					
                    EXEC sp_executesql @SQL

					SET @SQL=''

	SET @SQL=CONCAT('IF EXISTS (SELECT 1 FROM ', @ARM_RETURN_RESERVE_TABLE, ' R INNER JOIN ARM_ADJUSTMENT_DETAILS A 
                                          ON R.ARM_ADJUSTMENT_DETAILS_SID = A.ARM_ADJUSTMENT_DETAILS_SID WHERE  A.PROJECTION_MASTER_SID = ', @PROJECTION_MASTER_SID, ')  
					                   BEGIN 
												TRUNCATE TABLE ', @ARM_RETURN_RESERVE_TABLE, '  
									   END
				INSERT INTO ',@ARM_RETURN_RESERVE_TABLE, 
                            '(ARM_ADJUSTMENT_DETAILS_SID,
PERIOD_SID,
ESTIMATED_RETURN_UNITS,
ACT_ESTIMATED_RETURN_UNITS,
ADJ_ESTIMATED_RETURN_UNITS,
VALUE_AT_ORG_ASP,
ADJ_VALUE_AT_ORG_ASP,
CURRENT_BALANCE,
PROJECTED_BALANCE,
VARIANCE
	 )
                SELECT ARM_ADJUSTMENT_DETAILS_SID,
PERIOD_SID,
ESTIMATED_RETURN_UNITS,
ACT_ESTIMATED_RETURN_UNITS,
ADJ_ESTIMATED_RETURN_UNITS,
VALUE_AT_ORG_ASP,
ADJ_VALUE_AT_ORG_ASP,
CURRENT_BALANCE,
PROJECTED_BALANCE,
VARIANCE
FROM   #TEMP_OUTPUT A')
					
                    EXEC sp_executesql @SQL

					 END TRY 

      BEGIN CATCH 
          DECLARE @ERRORMESSAGE NVARCHAR(4000); 
          DECLARE @ERRORSEVERITY INT; 
          DECLARE @ERRORSTATE INT; 
          DECLARE @ERRORNUMBER INT; 
          DECLARE @ERRORPROCEDURE VARCHAR(200); 
          DECLARE @ERRORLINE INT; 

          EXEC [dbo].USPERRORCOLLECTOR 

          SELECT @ERRORMESSAGE = ERROR_MESSAGE(), 
                 @ERRORSEVERITY = ERROR_SEVERITY(), 
                 @ERRORSTATE = ERROR_STATE(), 
                 @ERRORPROCEDURE = ERROR_PROCEDURE(), 
                 @ERRORLINE = ERROR_LINE(), 
                 @ERRORNUMBER = ERROR_NUMBER() 

          RAISERROR ( @ERRORMESSAGE,-- MESSAGE TEXT.                  
                      @ERRORSEVERITY,-- SEVERITY.                  
                      @ERRORSTATE,-- STATE.                  
                      @ERRORPROCEDURE,-- PROCEDURE_NAME.                  
                      @ERRORNUMBER,-- ERRORNUMBER                  
                      @ERRORLINE -- ERRORLINE                  
          ); 
      END CATCH 
  END
GO