IF EXISTS (
		SELECT 'X'
		FROM INFORMATION_SCHEMA.ROUTINES
		WHERE ROUTINE_NAME = 'PRC_PROJECTION_RESULT_EXCEL_EXPORT'
			AND ROUTINE_SCHEMA = 'DBO'
		)
BEGIN
	DROP PROCEDURE [DBO].[PRC_PROJECTION_RESULT_EXCEL_EXPORT]
END
GO

CREATE PROCEDURE [dbo].[PRC_PROJECTION_RESULT_EXCEL_EXPORT] @PROJECTION_SID VARCHAR(500)
	,@USER_ID INT
	,@SESSION_ID VARCHAR(50)
	,@FREQUENCY CHAR(1)
	,@CP_INDICATOR CHAR(1)
	,@GROUP_FILTER VARCHAR(50)
	,@GROUP_FILTER_VALUE VARCHAR(50)
	,@ORDER_FLAG BIT
	,@HIERARCHY_NO VARCHAR(500) = NULL
	,@LEVEL_NO INT = NULL
	,@VIEW VARCHAR(50)
	,@CUSTOM_VIEW_MASTER_SID INT = NULL
	,@DISCOUNT_VIEW VARCHAR(50)
	WITH
EXEC AS CALLER AS

 BEGIN
  SET NOCOUNT ON
	
	DECLARE @D_MASTER_TABLE VARCHAR(200) = CONCAT (
			'ST_NM_DISCOUNT_PROJ_MASTER_'
			,@USER_ID
			,'_'
			,@SESSION_ID
			,'_'
			,Replace(CONVERT(VARCHAR(50), Getdate(), 2), '.', '')
			)
		,@D_ACTUAL_TABLE VARCHAR(200) = CONCAT (
			'ST_NM_ACTUAL_DISCOUNT_'
			,@USER_ID
			,'_'
			,@SESSION_ID
			,'_'
			,Replace(CONVERT(VARCHAR(50), Getdate(), 2), '.', '')
			)
		,@D_PROJECTION_TABLE VARCHAR(200) = CONCAT (
			'ST_NM_DISCOUNT_PROJECTION_'
			,@USER_ID
			,'_'
			,@SESSION_ID
			,'_'
			,Replace(CONVERT(VARCHAR(50), Getdate(), 2), '.', '')
			)
	DECLARE @S_MASTER_TABLE VARCHAR(200) = CONCAT (
			'ST_NM_SALES_PROJECTION_MASTER_'
			,@USER_ID
			,'_'
			,@SESSION_ID
			,'_'
			,Replace(CONVERT(VARCHAR(50), Getdate(), 2), '.', '')
			)
		,@S_ACTUAL_TABLE VARCHAR(200) = CONCAT (
			'ST_NM_ACTUAL_SALES_'
			,@USER_ID
			,'_'
			,@SESSION_ID
			,'_'
			,Replace(CONVERT(VARCHAR(50), Getdate(), 2), '.', '')
			)
		,@S_PROJECTION_TABLE VARCHAR(200) = CONCAT (
			'ST_NM_SALES_PROJECTION_'
			,@USER_ID
			,'_'
			,@SESSION_ID
			,'_'
			,Replace(CONVERT(VARCHAR(50), Getdate(), 2), '.', '')
			)
		,@P_PROJECTION_TABLE VARCHAR(200) = CONCAT (
			'ST_NM_PPA_PROJECTION_'
			,@user_id
			,'_'
			,@session_id
			,'_'
			,Replace(CONVERT(VARCHAR(50), Getdate(), 2), '.', '')
			)
		,@P_MASTER_TABLE VARCHAR(200) = CONCAT (
			'ST_NM_PPA_PROJECTION_MASTER_'
			,@USER_ID
			,'_'
			,@SESSION_ID
			,'_'
			,Replace(CONVERT(VARCHAR(50), Getdate(), 2), '.', '')
			)
		,@P_ACTUAL_TABLE VARCHAR(200) = CONCAT (
			'ST_NM_ACTUAL_PPA_'
			,@USER_ID
			,'_'
			,@SESSION_ID
			,'_'
			,Replace(CONVERT(VARCHAR(50), Getdate(), 2), '.', '')
			)
		,@CCP_HIERARCHY VARCHAR(200) = CONCAT (
			'ST_CCP_HIERARCHY_'
			,@USER_ID
			,'_'
			,@SESSION_ID
			,'_'
			,Replace(CONVERT(VARCHAR(50), Getdate(), 2), '.', '')
			)
		,@PRODUCT_TABLE VARCHAR(200) = CONCAT (
			'ST_PRODUCT_FILE_'
			,@USER_ID
			,'_'
			,@SESSION_ID
			,'_'
			,Replace(CONVERT(VARCHAR(50), Getdate(), 2), '.', '')
			)

	IF Object_id('TEMPDB..#CCP_DETAILS_TEMP') IS NOT NULL
		DROP TABLE #ccp_details_temp

	CREATE TABLE #CCP_DETAILS_TEMP (
		CCP_DETAILS_SID INT
		,COMPANY_MASTER_SID INT
		,ITEM_MASTER_SID INT
		,CONTRACT_MASTER_SID INT
		)
DECLARE @SQL NVARCHAR(MAX)
	SET @SQL='INSERT INTO #CCP_DETAILS_TEMP(CCP_DETAILS_SID,COMPANY_MASTER_SID,ITEM_MASTER_SID,CONTRACT_MASTER_SID)
						  SELECT ch.CCP_DETAILS_SID,COMPANY_MASTER_SID,ITEM_MASTER_SID,CONTRACT_MASTER_SID FROM ' + @CCP_HIERARCHY + ' CH JOIN CCP_DETAILS CD ON CH.CCP_DETAILS_SID = Cd.CCP_DETAILS_SID '
			EXEC sp_Executesql @SQL

	DECLARE @D_SQL NVARCHAR(MAX)
	DECLARE @STARTFROM DATE
		,@PROJECTION_DATE DATE
		,@CUST_RELATIONSHIP_BUILDER_SID INT
		,@ACT_START_PERIOD_SID INT
		,@ACT_END_PERIOD_SID INT
		,@PROJ_END_PERIOD_SID INT
		,@PIVOT_START_PERIOD_SID INT
	DECLARE @FIRST_PROJ_SID INT
		,@PROJ_START_PERIOD_SID INT
		,@START_DATE DATETIME
		,@PROD_RELATIONSHIP_BUILDER_SID INT
		,@MIN_LEVEL INT
		,@ACTUAL_START_DATE DATE
		,@ACTUAL_END_DATE DATE

	IF Object_id('TEMPDB.DBO.#PERIOD', 'U') IS NOT NULL
		DROP TABLE #PERIOD;

	SELECT PERIOD_SID
		,PERIOD_DATE
		,MONTH
		,QUARTER
		,SEMI_ANNUAL
		,YEAR
		, CASE 
			WHEN LEFT(@FREQUENCY, 1) = 'M'
				THEN MONTH
			WHEN LEFT(@FREQUENCY, 1) = 'Q'
				THEN QUARTER
			WHEN LEFT(@FREQUENCY, 1) = 'S'
				THEN SEMI_ANNUAL
			ELSE 01
			END as PERIOD 
	INTO #PERIOD
	FROM PERIOD

	IF Object_id('TEMPDB..#PIVOT_RESULT') IS NOT NULL
		DROP TABLE #PIVOT_RESULT

	CREATE TABLE #PIVOT_RESULT (
		PROJECTION_MASTER_SID INT
		,HIERARCHY_NO VARCHAR(50)
		,LEVEL_NAME VARCHAR(50)
		,CP_INDICATOR VARCHAR(10)
		,YEAR INT
		,PERIOD INT
		,CONTRACT_SALES_ACTUALS NUMERIC(22, 6)
		,CONTRACT_SALES_PROJECTED NUMERIC(22, 6)
		,CONTRACT_UNITS_ACTUALS NUMERIC(22, 6)
		,CONTRACT_UNITS_PROJECTED NUMERIC(22, 6)
		,EX_FACTORY_SALES_ACTUALS NUMERIC(22, 6)
		,EX_FACTORY_SALES_PROJECTED NUMERIC(22, 6)
		,GTS_UNITS NUMERIC(22, 6)
		,TOTAL_DISCOUNT NUMERIC(22, 6)
		,TOTAL_DISCOUNT_PROJECTED NUMERIC(22, 6)
		,TOTAL_DISCOUNT_PERCENTAGE NUMERIC(22, 6)
		,TOTAL_DISCOUNT_PROJECTED_PERCENTAGE NUMERIC(22, 6)
		,EX_FACTORY_SALES_ACTUALS_PERCENT NUMERIC(22, 6)
		,EX_FACTORY_SALES_PROJECTED_PERCENT NUMERIC(22, 6)
		,PPA_DISCOUNT NUMERIC(22, 6)
		,PPA_DISCOUNT_PROJECTED NUMERIC(22, 6)
		,PPA_DISCOUNT_PERCENTAGE NUMERIC(22, 6)
		,PPA_DISCOUNT_PROJECTED_PERCENTAGE NUMERIC(22, 6)
		,DEMAND_SALES_PROJECTED NUMERIC(22, 6)
		,NET_SALES NUMERIC(22, 6)
		,NET_SALES_PROJECTED NUMERIC(22, 6)
		,DEMAND_SALES_ACTUAL NUMERIC(22, 6)
		,INVENTORY_WITHDRAWAL_ACTUAL NUMERIC(22, 6)
		,INVENTORY_WITHDRAWAL_PROJECTED NUMERIC(22, 6)
		,DEMAND_SALES_ACTUAL_PERCENT NUMERIC(22, 6)
		,DEMAND_SALES_PROJECTED_PERCENT NUMERIC(22, 6)
		,INVENTORY_WITHDRAWAL_SALES_ACTUAL_PERCENT NUMERIC(22, 6)
		,INVENTORY_WITHDRAWAL_SALES_PROJECTED_PERCENT NUMERIC(22, 6)
		,TOTAL_DISCOUNT_RPU_ACTUALS NUMERIC(22, 6)
		,TOTAL_DISCOUNT_RPU_PROJECTED NUMERIC(22, 6)
		,TOTAL_PPA_RPU_ACTUALS NUMERIC(22, 6)
		,TOTAL_PPA_RPU_PROJECTED NUMERIC(22, 6)
		,TOTAL_RPU_ACTUAL NUMERIC(22, 6)
		,TOTAL_PROJECTED_RPU NUMERIC(22, 6)
		,COGS_ACTUAL NUMERIC(22, 6)
		,COGS_PROJECTED NUMERIC(22, 6)
		,NET_PROFIT_ACTUAL NUMERIC(22, 6)
		,NET_PROFIT_PROJECTED NUMERIC(22, 6)
		,RETURNS_ACTUAL_AMOUNT NUMERIC(22, 6)
		,RETURNS_ACTUAL_PERCENTAGE NUMERIC(22, 6)
		,RETURNS_PROJECTED_AMOUNT NUMERIC(22, 6)
		,RETURNS_PROJECTED_PERCENTAGE NUMERIC(22, 6)
		,TOTAL_RETURNS_RPU_ACTAULS NUMERIC(22, 6)
		,TOTAL_RETURNS_RPU_PROJECTED NUMERIC(22, 6)
		,NET_SALES_OF_EX_FACTORY_ACTUALS NUMERIC(22, 6)
		,NET_SALES_OF_EX_FACTORY_PROJECTED NUMERIC(22, 6)
		,DISCOUNT_OF_EX_FACTORY_ACTUALS NUMERIC(22, 6)
		,DISCOUNT_OF_EX_FACTORY_PROJECTED NUMERIC(22, 6)
		)
		

	SELECT @FIRST_PROJ_SID = @PROJECTION_SID
	

	SELECT TOP 1 @STARTFROM = Dateadd(YY, Datediff(YY, 0, Dateadd(YY, - 3, Getdate())), 0)
		,@START_DATE = Dateadd(dd, 1, Eomonth(FROM_DATE, - 1))
		,@PROJECTION_DATE = Dateadd(dd, 1, Eomonth(TO_DATE, - 1))
		,@CUST_RELATIONSHIP_BUILDER_SID = CUST_RELATIONSHIP_BUILDER_SID
		,@PROD_RELATIONSHIP_BUILDER_SID = PROD_RELATIONSHIP_BUILDER_SID
		,@MIN_LEVEL = CASE @CP_INDICATOR
			WHEN 'C'
				THEN CUSTOMER_HIERARCHY_LEVEL
			WHEN 'P'
				THEN PRODUCT_HIERARCHY_LEVEL
			END
	FROM PROJECTION_MASTER
	WHERE PROJECTION_MASTER_SID = @FIRST_PROJ_SID
	ORDER BY PROJECTION_MASTER_SID

	SELECT @ACTUAL_START_DATE = Cast(Year(Getdate()) - 3 AS VARCHAR(4)) + '-01-01'
		,@ACTUAL_END_DATE = Dateadd(MM, - 1, Dateadd(QQ, Datediff(QQ, 0, Getdate()), 0))

	SELECT 
		@PROJ_END_PERIOD_SID = Max(CASE 
				WHEN PERIOD_DATE = Dateadd(MM, Datediff(MM, 0, @PROJECTION_DATE), 0)
					THEN PERIOD_SID
				END)
		,@PROJ_START_PERIOD_SID = Max(CASE 
				WHEN PERIOD_DATE = @START_DATE
					THEN PERIOD_SID
				END)
		,@ACT_START_PERIOD_SID = Max(CASE 
				WHEN PERIOD_DATE = @ACTUAL_START_DATE
					THEN PERIOD_SID
				END)
		,@ACT_END_PERIOD_SID = Max(CASE 
				WHEN PERIOD_DATE = @ACTUAL_END_DATE
					THEN PERIOD_SID
				END)
	FROM PERIOD
	WHERE PERIOD_DATE IN (
			@STARTFROM
			,@PROJECTION_DATE
			,@START_DATE
			,@ACTUAL_END_DATE
			)

	SELECT @PIVOT_START_PERIOD_SID = PERIOD_SID
	FROM PERIOD
	WHERE PERIOD_DATE = @START_DATE

	DECLARE @LEVEL_DISC VARCHAR(100)
		,@FIELD_VALUES VARCHAR(500)

	SELECT @LEVEL_DISC = Max(CASE 
				WHEN FIELD_NAME = 'LEVEL'
					THEN FIELD_VALUES
				END)
		,@FIELD_VALUES = Max(CASE 
				WHEN FIELD_NAME = 'SELECTED DISCOUNTS'
					THEN FIELD_VALUES
				END)
	FROM NM_PROJECTION_SELECTION
	WHERE SCREEN_NAME = 'DISCOUNT PROJECTION'
		AND PROJECTION_MASTER_SID = @FIRST_PROJ_SID
		AND FIELD_NAME IN (
			'LEVEL'
			,'SELECTED DISCOUNTS'
			)
			
	IF Object_id('TEMPDB..#CCP') IS NOT NULL
		DROP TABLE #CCP

	CREATE TABLE #CCP (
		CCP_DETAILS_SID INT
		,HIERARCHY_NO VARCHAR(50)
		,LEVEL_NAME VARCHAR(100)
		,PARENT_HIERARCHY_NO VARCHAR(50)
		,level_no INT
		)

	IF @CP_INDICATOR IN (
			'C'
			,'P'
			)
	BEGIN
		DECLARE @RELATIONSHIP_BUILDER_SID INT

		SET @RELATIONSHIP_BUILDER_SID = CASE @CP_INDICATOR
				WHEN 'C'
					THEN @CUST_RELATIONSHIP_BUILDER_SID
				ELSE @PROD_RELATIONSHIP_BUILDER_SID
				END

		DECLARE @SQL1 NVARCHAR(MAX)

		SET @SQL1 = CONCAT (
				'SELECT DISTINCT HIERARCHY_NO,
       CH.CCP_DETAILS_SID,
       LEVEL_NAME
FROM   RELATIONSHIP_LEVEL_DEFINITION RLD
       JOIN '
				,@CCP_HIERARCHY
				,' CH
         ON ( CH.CUST_HIERARCHY_NO LIKE RLD.HIERARCHY_NO + ''%''
              AND @CP_INDICATOR = ''C'' )
             OR ( CH.PROD_HIERARCHY_NO LIKE RLD.HIERARCHY_NO + ''%''
                  AND @CP_INDICATOR = ''P'' )
  '
				,CASE @GROUP_FILTER
					WHEN 'SALES'
						THEN ' 
						JOIN ' + @S_MASTER_TABLE + ' S ON S.CCP_DETAILS_SID = CH.CCP_DETAILS_SID'
					WHEN 'DISCOUNT'
						THEN ' 
						JOIN ' + @D_MASTER_TABLE + ' S ON S.CCP_DETAILS_SID = CH.CCP_DETAILS_SID'
					WHEN 'PPA'
						THEN ' 
						JOIN ' + @P_MASTER_TABLE + ' S ON S.CCP_DETAILS_SID = CH.CCP_DETAILS_SID'
					END
				,' 
                         
                WHERE  (S.USER_GROUP = '''
				,@GROUP_FILTER_VALUE
				,''' OR ''ALL'' = '''
				,@GROUP_FILTER_VALUE
				,''')
AND  RLD.RELATIONSHIP_BUILDER_SID = @RELATIONSHIP_BUILDER_SID
AND  RLD.LEVEL_NO >= @MIN_LEVEL'
				)

		INSERT INTO #CCP (
			HIERARCHY_NO
			,CCP_DETAILS_SID
			,LEVEL_NAME
			)
		EXEC Sp_executesql @SQL1
			,N'@RELATIONSHIP_BUILDER_SID INT,@CP_INDICATOR CHAR(1),@MIN_LEVEL INT'
			,@RELATIONSHIP_BUILDER_SID = @RELATIONSHIP_BUILDER_SID
			,@CP_INDICATOR = @CP_INDICATOR
			,@MIN_LEVEL = @MIN_LEVEL
	END

	ELSE
	BEGIN
		--INSERT INTO #ccp
		--            (CCP_DETAILS_SID,
		--             HIERARCHY_NO,
		--             LEVEL_NAME)
		--SELECT DISTINCT CCM.CCP_DETAILS_SID,
		--                CRB.CUSTOM_HIERARCHY_NO,
		--                RLD.LEVEL_NAME
		--FROM   CUSTOM_RELATIONSHIP_BUILDER CRB
		--       INNER JOIN CUSTOM_CCP_MAP CCM
		--               ON CCM.CUSTOM_VIEW_DETAILS_SID = CRB.CUSTOM_VIEW_DETAILS_SID
		--                  AND ccm.CUSTOM_HIERARCHY_NO = crb.CUSTOM_HIERARCHY_NO
		--       INNER JOIN CUSTOM_VIEW_DETAILS CVD
		--               ON CVD.CUSTOM_VIEW_DETAILS_SID = CRB.CUSTOM_VIEW_DETAILS_SID
		--       INNER JOIN CUSTOM_VIEW_MASTER CVM
		--               ON CVM.CUSTOM_VIEW_MASTER_SID = CVD.CUSTOM_VIEW_MASTER_SID
		--       INNER JOIN RELATIONSHIP_LEVEL_DEFINITION RLD
		--               ON RLD.HIERARCHY_LEVEL_DEFINITION_SID = CVD.HIERARCHY_ID
		--WHERE  CVM.PROJECTION_MASTER_SID = @PROJECTION_SID
		--       AND CVD.CUSTOM_VIEW_MASTER_SID = @CUSTOM_VIEW_MASTER_SID
		--       AND ( CVD.LEVEL_NO = @LEVEL_NO
		--              OR @LEVEL_NO IS NULL
		--              OR @LEVEL_NO = 0 )
		DECLARE @CUSTOM_SQL NVARCHAR(MAX)

		IF object_id('tempdb..#PARENT_HIERARCHY') IS NOT NULL
			DROP TABLE #PARENT_HIERARCHY

		CREATE TABLE #PARENT_HIERARCHY (
			CCP_DETAILS_SID INT
			,HIERARCHY_NO VARCHAR(50)
			,LEVEL_NAME VARCHAR(75)
			,LEVEL_NO SMALLINT
			,RELATIONSHIP_LEVEL_VALUES VARCHAR(50)
			)

		SET @CUSTOM_SQL = CONCAT (
				' 
			INSERT INTO #PARENT_HIERARCHY
			(
			 CCP_DETAILS_SID,			
			 HIERARCHY_NO,				
			 LEVEL_NAME,
			 LEVEL_NO
			)
			SELECT CH.CCP_DETAILS_SID,
       RLD.HIERARCHY_NO,
       RLD.LEVEL_NAME,
	   c.level_no

     
FROM   CUSTOM_VIEW_DETAILS C
       JOIN RELATIONSHIP_LEVEL_DEFINITION RLD
         ON C.HIERARCHY_ID = RLD.HIERARCHY_LEVEL_DEFINITION_SID
            AND RELATIONSHIP_BUILDER_SID IN ( @CUST_RELATIONSHIP_BUILDER_SID, @PROD_RELATIONSHIP_BUILDER_SID )
       JOIN '
				,@CCP_HIERARCHY
				,' CH
         ON CH.CUST_HIERARCHY_NO LIKE RLD.HIERARCHY_NO + ''%''
             OR CH.PROD_HIERARCHY_NO LIKE RLD.HIERARCHY_NO + ''%''
                         
                WHERE   CUSTOM_VIEW_MASTER_SID = @CUSTOM_VIEW_MASTER_SID'
				)

		EXEC Sp_executesql @CUSTOM_SQL
			,N'@CUST_RELATIONSHIP_BUILDER_SID INT, @PROD_RELATIONSHIP_BUILDER_SID  INT,@GROUP_FILTER_VALUE VARCHAR(50),@CUSTOM_VIEW_MASTER_SID INT'
			,@CUST_RELATIONSHIP_BUILDER_SID = @CUST_RELATIONSHIP_BUILDER_SID
			,@PROD_RELATIONSHIP_BUILDER_SID = @PROD_RELATIONSHIP_BUILDER_SID
			,@GROUP_FILTER_VALUE = @GROUP_FILTER_VALUE
			,@CUSTOM_VIEW_MASTER_SID = @CUSTOM_VIEW_MASTER_SID

		INSERT INTO #CCP (
			CCP_DETAILS_SID
			,HIERARCHY_NO
			,LEVEL_NAME
			,PARENT_HIERARCHY_NO
			,level_no
			)
		SELECT ccp_details_sid
			,HIERARCHY_NO
			,level_name
			,LEFT(parent_hierarchy_no, Len(parent_hierarchy_no) - 1)
			,a.level_no
		FROM #PARENT_HIERARCHY a
		CROSS APPLY (
			SELECT HIERARCHY_NO + '~'
			FROM #PARENT_HIERARCHY b
			WHERE a.ccp_details_sid = b.ccp_details_sid
				AND a.level_no > b.level_no
			ORDER BY level_no
			FOR XML path('')
			) cs(parent_hierarchy_no)
	END

	IF Object_id('TEMPDB..#TEMP_CCP') IS NOT NULL
		DROP TABLE #TEMP_CCP

	CREATE TABLE #TEMP_CCP (
		COMPANY_MASTER_SID INT
		,CONTRACT_MASTER_SID INT
		,ITEM_MASTER_SID INT
		,CCP_DETAILS_SID INT
		,PROJECTION_MASTER_SID INT
		,BUSINESS_UNIT INT
		,COMPANY INT
		,HIERARCHY_NO VARCHAR(100)
		,LEVEL_NAME VARCHAR(100)
		,PARENT_HIERARCHY_NO VARCHAR(100)
		)

	INSERT INTO #TEMP_CCP (
		COMPANY_MASTER_SID
		,CONTRACT_MASTER_SID
		,ITEM_MASTER_SID
		,CCP_DETAILS_SID
		,HIERARCHY_NO
		,LEVEL_NAME
		,PARENT_HIERARCHY_NO
		)
	SELECT CCP.COMPANY_MASTER_SID
		,CCP.CONTRACT_MASTER_SID
		,CCP.ITEM_MASTER_SID
		,CCP.CCP_DETAILS_SID
		,HIERARCHY_NO
		,LEVEL_NAME
		,PARENT_HIERARCHY_NO
	FROM #CCP_DETAILS_TEMP CCP
	INNER JOIN #CCP C ON C.CCP_DETAILS_SID = CCP.CCP_DETAILS_SID

	----------------------------------------------------------------------
	DECLARE @ITEMID [DBO].[UDT_ITEM]

	INSERT INTO @ITEMID
	SELECT IM.ITEM_MASTER_SID
	FROM ITEM_MASTER IM
	WHERE EXISTS (
			SELECT 1
			FROM #TEMP_CCP A
			WHERE IM.ITEM_MASTER_SID = A.ITEM_MASTER_SID
			)

	--DECLARE @FILE_VER AS TABLE
	--  (
	--     FILE_TYPE     VARCHAR(100),
	--     FORECAST_NAME VARCHAR(100),
	--     VERSION       VARCHAR(100)
	--  )
	--INSERT INTO @FILE_VER
	--            (FILE_TYPE,
	--             FORECAST_NAME,
	--             VERSION)
	--SELECT FILE_TYPE,
	--       FORECAST_NAME,
	--       VERSION
	--FROM   (SELECT FT.FORECAST_NAME,
	--               FT.[VERSION],
	--               FILE_MANAGEMENT_SID,
	--               HT.[DESCRIPTION]                        AS FILE_TYPE,
	--               Row_number()
	--                 OVER (
	--                   PARTITION BY FILE_TYPE
	--                   ORDER BY FILE_MANAGEMENT_SID DESC ) AS RN
	--        FROM   FILE_MANAGEMENT FT
	--               INNER JOIN HELPER_TABLE HT
	--                       ON HT.HELPER_TABLE_SID = FT.FILE_TYPE
	--        WHERE  ( CONVERT(DATE, FT.FROM_PERIOD) <= CONVERT(DATE, Getdate())
	--                 AND FT.FROM_PERIOD IS NOT NULL )
	--               AND ( CONVERT(DATE, FT.TO_PERIOD) >= CONVERT(DATE, Getdate())
	--                      OR FT.TO_PERIOD IS NULL )
	--               AND HT.LIST_NAME = 'FILE_TYPE'
	--               AND HT.[DESCRIPTION] IN ( 'EX-FACTORY SALES', 'DEMAND', 'INVENTORY WITHDRAWAL - FORECAST SUMMARY' )
	--               AND FT.BUSINESS_UNIT = @BUSINESS_UNIT------------------GAL-808
	--               AND FT.COMPANY = @COMPANY ------------------GAL-808
	--       ) A
	--WHERE  RN = 1
	----SELECT * FROM @FILE_VER
	--SELECT @FORECAST_NAME = FORECAST_NAME,
	--       @FORECAST_VERSION = [VERSION]
	--FROM   @FILE_VER
	--WHERE  FILE_TYPE = 'EX-FACTORY SALES'
	--SELECT @FORECAST_NAME_INV = FORECAST_NAME,
	--       @FORECAST_VERSION_INV = [VERSION]
	--FROM   @FILE_VER
	--WHERE  FILE_TYPE = 'INVENTORY WITHDRAWAL - FORECAST SUMMARY'
	--SELECT @FORECAST_NAME_DM = FORECAST_NAME,
	--       @FORECAST_VERSION_DM = [VERSION]
	--FROM   @FILE_VER
	--WHERE  FILE_TYPE = 'DEMAND'
	IF Object_id('TEMPDB..#TEMP_GTS_DETAILS') IS NOT NULL
		DROP TABLE #TEMP_GTS_DETAILS

	CREATE TABLE #TEMP_GTS_DETAILS (
		ITEMID VARCHAR(50)
		,EXFACTORY_ACTUAL_SALES NUMERIC(22, 6)
		,EXFACTORY_ACTUAL_UNITS NUMERIC(22, 6)
		,EXFACTORY_FORECAST_SALES NUMERIC(22, 6)
		,EXFACTORY_FORECAST_UNITS NUMERIC(22, 6)
		,DEMAND_ACTUAL_SALES NUMERIC(22, 6)
		,DEMAND_ACTUAL_UNITS NUMERIC(22, 6)
		,DEMAND_FORECAST_SALES NUMERIC(22, 6)
		,DEMAND_FORECAST_UNITS NUMERIC(22, 6)
		,INVENTORY_ACTUAL_SALES NUMERIC(22, 6)
		,INVENTORY_ACTUAL_UNITS NUMERIC(22, 6)
		,INVENTORY_FORECAST_SALES NUMERIC(22, 6)
		,INVENTORY_FORECAST_UNITS NUMERIC(22, 6)
		,PERIOD_SID INT
		,PERIOD INT
		,YEAR INT
		)

	SET @SQL1 = CONCAT (
			' INSERT INTO #TEMP_GTS_DETAILS
                  (
				   ITEMID                      	,
				   EXFACTORY_ACTUAL_SALES   	,
				   EXFACTORY_ACTUAL_UNITS   	,
				   EXFACTORY_FORECAST_SALES 	,
				   EXFACTORY_FORECAST_UNITS 	,
				   DEMAND_ACTUAL_SALES      	,
				   DEMAND_ACTUAL_UNITS      	,
				   DEMAND_FORECAST_SALES    	,
				   DEMAND_FORECAST_UNITS    	,
				   INVENTORY_ACTUAL_SALES   	,
				   INVENTORY_ACTUAL_UNITS   	,
				   INVENTORY_FORECAST_SALES 	,
				   INVENTORY_FORECAST_UNITS 	,
				   PERIOD_SID               	,
				   PERIOD                   	,
				   YEAR                             
				  )
				   
				 SELECT    
				    I.ITEM_ID,
					EXFACTORY_ACTUAL_SALES   	,
				   EXFACTORY_ACTUAL_UNITS   	,
				   EXFACTORY_FORECAST_SALES 	,
				   EXFACTORY_FORECAST_UNITS 	,
				   DEMAND_ACTUAL_SALES      	,
				   DEMAND_ACTUAL_UNITS      	,
				   DEMAND_FORECAST_SALES    	,
				   DEMAND_FORECAST_UNITS    	,
				   INVENTORY_ACTUAL_SALES   	,
				   INVENTORY_ACTUAL_UNITS   	,
				   INVENTORY_FORECAST_SALES 	,
				   INVENTORY_FORECAST_UNITS 	,
				   P.PERIOD_SID ,
				   PERIOD,
				   YEAR              	
               FROM '
			,@PRODUCT_TABLE
			,' P 
			      JOIN ITEM_MASTER I
				   ON P.ITEM_MASTER_SID=I.ITEM_MASTER_SID
				   JOIN #PERIOD P1 on P.PERIOD_SID=P1.PERIOD_SID'
			)

	EXEC sp_executesql @SQL1

	-------------------------------PRICING-------------------------------------
	IF Object_id('TEMPDB..#ITEM_PRICING') IS NOT NULL
		DROP TABLE #ITEM_PRICING

	SELECT ITEM_MASTER_SID,
             PERIOD_SID,
             PRICING_QUALIFIER,
             ITEM_PRICE
	INTO #ITEM_PRICING
	FROM [DBO].[Udf_item_pricing](@ITEMID, 'COGS', @ACT_START_PERIOD_SID, @PROJ_END_PERIOD_SID, 'EACH')

	-----------------------------------------------------------------------
	IF Object_id('TEMPDB.DBO.#RS_DATA', 'U') IS NOT NULL
		DROP TABLE #RS_DATA;

	CREATE TABLE #RS_DATA (
		RS_CONTRACT_SID VARCHAR(100)
		,RS_NAME VARCHAR(100)
		,HIERARCHY_NO VARCHAR(50)
		,LEVEL_NAME VARCHAR(100)
		,YEAR INT
		,PERIOD INT
		,DISC VARCHAR(50)
		)

	SET @D_SQL = CONCAT (
			'INSERT INTO #RS_DATA (
	RS_CONTRACT_SID
	,RS_NAME
	,HIERARCHY_NO
	,LEVEL_NAME
	,YEAR
	,PERIOD
	,DISC
	)
SELECT RS_CONTRACT_SID
	,RS_NAME
	,HIERARCHY_NO
	,LEVEL_NAME
	,YEAR
	,PERIOD
	,DISC
FROM (
	SELECT DISTINCT CASE 
			WHEN '''
			,@DISCOUNT_VIEW
			,''' = ''PROGRAM''
				THEN CAST(RM.RS_CONTRACT_SID AS VARCHAR(50))
			ELSE PRICE_GROUP_TYPE
			END AS RS_CONTRACT_SID
		,CASE 
			WHEN '''
			,@DISCOUNT_VIEW
			,''' = ''PROGRAM''
				THEN RS_NAME
			ELSE PRICE_GROUP_TYPE
			END AS RS_NAME
		,HIERARCHY_NO
		,LEVEL_NAME
		,''NM'' DISC
	FROM #CCP_DETAILS_TEMP PD
	INNER JOIN '
			,@D_MASTER_TABLE
			,' NMDP ON NMDP.CCP_DETAILS_SID = PD.CCP_DETAILS_SID
	INNER JOIN RS_CONTRACT RM ON RM.RS_CONTRACT_SID = NMDP.RS_CONTRACT_SID
	INNER JOIN #CCP  C ON C.CCP_DETAILS_SID = PD.CCP_DETAILS_SID
	WHERE  (
			(
				'''
			,@LEVEL_DISC
			,''' = ''PROGRAM CATEGORY''
				AND PRICE_GROUP_TYPE IN (
					SELECT TOKEN
					FROM UDF_SPLITSTRING('''
			,@FIELD_VALUES
			,''','','')
					)
				)
			OR (
				'''
			,@LEVEL_DISC
			,''' = ''PROGRAM''
				AND RS_NAME IN (
					SELECT TOKEN
					FROM UDF_SPLITSTRING('''
			,@FIELD_VALUES
			,''','','')
					)
				)
			)
		
	
	UNION ALL
	
	SELECT DISTINCT CASE 
			WHEN '''
			,@DISCOUNT_VIEW
			,''' = ''PROGRAM''
				THEN CAST(RM.RS_CONTRACT_SID AS VARCHAR(50))
			ELSE ''PRICE PROTECTION''
			END AS RS_CONTRACT_SID
		,CASE 
			WHEN '''
			,@DISCOUNT_VIEW
			,''' = ''PROGRAM''
				THEN RS_NAME
			ELSE ''PRICE PROTECTION''
			END AS RS_NAME
		,HIERARCHY_NO
		,LEVEL_NAME
		,''PPA'' DISC
	FROM #CCP_DETAILS_TEMP PD
	INNER JOIN '
			,@P_MASTER_TABLE
			,' NMDP ON NMDP.CCP_DETAILS_SID = PD.CCP_DETAILS_SID
	INNER JOIN RS_CONTRACT RM ON RM.RS_CONTRACT_SID = NMDP.RS_CONTRACT_SID
	INNER JOIN #ccp  C ON C.CCP_DETAILS_SID = PD.CCP_DETAILS_SID		
	) A
CROSS JOIN (
	SELECT DISTINCT YEAR
		,PERIOD
	FROM #PERIOD
	WHERE PERIOD_SID BETWEEN COALESCE( '
			,@ACT_START_PERIOD_SID
			,', '
			,@PIVOT_START_PERIOD_SID
			,')
			AND '
			,@PROJ_END_PERIOD_SID
			,'
	) P'
			)

	EXEC sp_executesql @D_SQL


	---------------------------CEL-293-------------------

	IF OBJECT_ID('TEMPDB.DBO.#DISCOUNT_RS_DATA', 'U') IS NOT NULL
		DROP TABLE #DISCOUNT_RS_DATA;

	CREATE TABLE #DISCOUNT_RS_DATA (
		RS_CONTRACT_SID VARCHAR(100)
		,RS_NAME VARCHAR(100)
		,HIERARCHY_NO VARCHAR(50)
		,LEVEL_NAME VARCHAR(100)
		,YEAR INT
		,PERIOD INT
		,DISC VARCHAR(50)
		,PARENT_HIERARCHY_NO VARCHAR(100)
		)

	SET @D_SQL = CONCAT (
			'INSERT INTO #DISCOUNT_RS_DATA (
	RS_CONTRACT_SID
	,RS_NAME
	,HIERARCHY_NO
	,LEVEL_NAME
	,YEAR
	,PERIOD
	,DISC
	,PARENT_HIERARCHY_NO
	)
SELECT RS_CONTRACT_SID
	,RS_NAME
	,HIERARCHY_NO
	,LEVEL_NAME
	,YEAR
	,PERIOD
	,DISC
	,PARENT_HIERARCHY_NO
FROM (
	SELECT DISTINCT CASE 
			WHEN '''
			,@DISCOUNT_VIEW
			,''' = ''PROGRAM''
				THEN CAST(RM.RS_CONTRACT_SID AS VARCHAR(50))
			ELSE PRICE_GROUP_TYPE
			END AS RS_CONTRACT_SID
		,CASE 
			WHEN '''
			,@DISCOUNT_VIEW
			,''' = ''PROGRAM''
				THEN RS_NAME
			ELSE PRICE_GROUP_TYPE
			END AS RS_NAME
		,HIERARCHY_NO
		,LEVEL_NAME
		,''NM'' DISC
		,PARENT_HIERARCHY_NO
	FROM #CCP_DETAILS_TEMP PD
	INNER JOIN '
			,@D_MASTER_TABLE
			,' NMDP ON NMDP.CCP_DETAILS_SID = PD.CCP_DETAILS_SID
	INNER JOIN RS_CONTRACT RM ON RM.RS_CONTRACT_SID = NMDP.RS_CONTRACT_SID
	INNER JOIN #CCP  C ON C.CCP_DETAILS_SID = PD.CCP_DETAILS_SID
	WHERE  (
			(
				'''
			,@LEVEL_DISC
			,''' = ''PROGRAM CATEGORY''
				AND PRICE_GROUP_TYPE IN (
					SELECT TOKEN
					FROM UDF_SPLITSTRING('''
			,@FIELD_VALUES
			,''','','')
					)
				)
			OR (
				'''
			,@LEVEL_DISC
			,''' = ''PROGRAM''
				AND RS_NAME IN (
					SELECT TOKEN
					FROM UDF_SPLITSTRING('''
			,@FIELD_VALUES
			,''','','')
					)
				)
			)
		)A
CROSS JOIN (
	SELECT DISTINCT YEAR
		,PERIOD
	FROM #PERIOD
	WHERE PERIOD_SID BETWEEN COALESCE( '
			,@ACT_START_PERIOD_SID
			,', '
			,@PIVOT_START_PERIOD_SID
			,')
			AND '
			,@PROJ_END_PERIOD_SID
			,'
	) P')

	
		EXEC SP_EXECUTESQL @D_SQL

		
IF OBJECT_ID('TEMPDB.DBO.#PPA_RS_DATA', 'U') IS NOT NULL
DROP TABLE #PPA_RS_DATA;

	CREATE TABLE #PPA_RS_DATA (
		RS_CONTRACT_SID VARCHAR(100)
		,RS_NAME VARCHAR(100)
		,HIERARCHY_NO VARCHAR(50)
		,LEVEL_NAME VARCHAR(100)
		,YEAR INT
		,PERIOD INT
		,DISC VARCHAR(50)
		,PARENT_HIERARCHY_NO VARCHAR(100)
		)

	SET @D_SQL = CONCAT (
			'INSERT INTO #PPA_RS_DATA (
	RS_CONTRACT_SID
	,RS_NAME
	,HIERARCHY_NO
	,LEVEL_NAME
	,YEAR
	,PERIOD
	,DISC
	,PARENT_HIERARCHY_NO
	)
	SELECT RS_CONTRACT_SID
	,RS_NAME
	,HIERARCHY_NO
	,LEVEL_NAME
	,YEAR
	,PERIOD
	,DISC
	,PARENT_HIERARCHY_NO
FROM (
	SELECT DISTINCT CASE 
			WHEN '''
			,@DISCOUNT_VIEW
			,''' = ''PROGRAM''
				THEN CAST(RM.RS_CONTRACT_SID AS VARCHAR(50))
			ELSE ''PRICE PROTECTION''
			END AS RS_CONTRACT_SID
		,CASE 
			WHEN '''
			,@DISCOUNT_VIEW
			,''' = ''PROGRAM''
				THEN RS_NAME
			ELSE ''PRICE PROTECTION''
			END AS RS_NAME
		,HIERARCHY_NO
		,LEVEL_NAME
		,''PPA'' DISC
		,PARENT_HIERARCHY_NO
	FROM #CCP_DETAILS_TEMP PD
	INNER JOIN '
			,@P_MASTER_TABLE
			,' NMDP ON NMDP.CCP_DETAILS_SID = PD.CCP_DETAILS_SID
	INNER JOIN RS_CONTRACT RM ON RM.RS_CONTRACT_SID = NMDP.RS_CONTRACT_SID
	INNER JOIN #CCP  C ON C.CCP_DETAILS_SID = PD.CCP_DETAILS_SID		
	) A
CROSS JOIN (
	SELECT DISTINCT YEAR
		,PERIOD
	FROM #PERIOD
	WHERE PERIOD_SID BETWEEN COALESCE( '
			,@ACT_START_PERIOD_SID
			,', '
			,@PIVOT_START_PERIOD_SID
			,')
			AND '
			,@PROJ_END_PERIOD_SID
			,'
	) P
		')

		EXEC SP_EXECUTESQL @D_SQL


---------------------------------------------------------------------------

	IF Object_id('TEMPDB..#DATA_TABLE1') IS NOT NULL
		DROP TABLE #DATA_TABLE1

	SELECT PARENT_HIERARCHY_NO,HIERARCHY_NO
		,LEVEL_NAME
		,PERIOD
		,YEAR
	INTO #DATA_TABLE1
	FROM (
		SELECT DISTINCT PARENT_HIERARCHY_NO,HIERARCHY_NO
			,LEVEL_NAME
		FROM #ccp
		) C
	CROSS JOIN (
		SELECT DISTINCT PERIOD
			,YEAR
		FROM #PERIOD
		WHERE PERIOD_SID BETWEEN COALESCE(@ACT_START_PERIOD_SID, @PIVOT_START_PERIOD_SID)
				AND @PROJ_END_PERIOD_SID
		) P

	IF Object_id('TEMPDB..#CCP_INFO1') IS NOT NULL
		DROP TABLE #CCP_INFO1

	SELECT PD.CCP_DETAILS_SID
		,C.HIERARCHY_NO
		,C.LEVEL_NAME
	INTO #CCP_INFO1
	FROM #CCP_DETAILS_TEMP PD
	INNER JOIN #ccp C ON C.CCP_DETAILS_SID = PD.CCP_DETAILS_SID


--------------------CEL-293


	IF OBJECT_ID('TEMPDB..#NM_DISCOUNT_PROJECTION') IS NOT NULL
		DROP TABLE #NM_DISCOUNT_PROJECTION

	CREATE TABLE #NM_DISCOUNT_PROJECTION (
		PROJECTION_SALES NUMERIC(22, 6)
		,PERIOD VARCHAR(50)
		,YEAR INT
		,HIERARCHY_NO VARCHAR(100)
		,LEVEL_NAME VARCHAR(100)
		,RS_NAME VARCHAR(50)
		,RS_CONTRACT_SID INT
		,PARENT_HIERARCHY_NO varchar(100)
		)

	SET @D_SQL = CONCAT (
			'INSERT INTO #NM_DISCOUNT_PROJECTION
(
 PROJECTION_SALES ,
 PERIOD           ,
 YEAR				,PARENT_HIERARCHY_NO,
 HIERARCHY_NO     ,
 LEVEL_NAME		  ,
 RS_NAME,RM.RS_CONTRACT_SID			
)

SELECT SUM(NSP.PROJECTION_SALES) AS PROJECTION_SALES
	,PERIOD
	,YEAR
	,PARENT_HIERARCHY_NO
	,HIERARCHY_NO
	,LEVEL_NAME
	 ,CASE 
			WHEN '''
			,@DISCOUNT_VIEW
			,''' = ''PROGRAM''
				THEN RS_NAME
			ELSE PRICE_GROUP_TYPE
			END AS RS_NAME,RM.RS_CONTRACT_SID

FROM '
			,@D_PROJECTION_TABLE
			,' NSP
INNER JOIN '
			,@D_MASTER_TABLE
			,' NSPP ON NSP.CCP_DETAILS_SID = NSPP.CCP_DETAILS_SID
	
	AND NSPP.RS_CONTRACT_SID = NSP.RS_CONTRACT_SID
INNER JOIN RS_CONTRACT RM ON RM.RS_CONTRACT_SID = NSPP.RS_CONTRACT_SID
INNER JOIN #CCP C ON C.CCP_DETAILS_SID = NSP.CCP_DETAILS_SID
	
	AND NSP.PERIOD_SID BETWEEN COALESCE( '
			,@ACT_START_PERIOD_SID
			,','
			,@PROJ_START_PERIOD_SID
			,')
		AND '
			,@PROJ_END_PERIOD_SID
			,'
INNER JOIN #PERIOD P ON P.PERIOD_SID = NSP.PERIOD_SID
WHERE EXISTS (SELECT 1 FROM #DISCOUNT_RS_DATA A WHERE A.RS_CONTRACT_SID = RM.RS_CONTRACT_SID)
GROUP BY PARENT_HIERARCHY_NO,HIERARCHY_NO
	,LEVEL_NAME
	,PERIOD
	,YEAR
    ,CASE 
			WHEN '''
			,@DISCOUNT_VIEW
			,''' = ''PROGRAM''
				THEN RS_NAME
			ELSE PRICE_GROUP_TYPE
			END 
	,RM.RS_CONTRACT_SID'
			)

	EXEC SP_EXECUTESQL @D_SQL
	
	IF OBJECT_ID('TEMPDB..#NM_ACTUAL_DISCOUNT') IS NOT NULL
		DROP TABLE #NM_ACTUAL_DISCOUNT

	CREATE TABLE #NM_ACTUAL_DISCOUNT (
		ACTUAL_SALES NUMERIC(22, 6)
		,PERIOD VARCHAR(50)
		,YEAR INT
		,HIERARCHY_NO VARCHAR(100)
		,LEVEL_NAME VARCHAR(100)
		,RS_NAME VARCHAR(50)
		,RS_CONTRACT_SID INT
		,PARENT_HIERARCHY_NO varchar(100)
		)

	SET @D_SQL = CONCAT (
			'INSERT INTO #NM_ACTUAL_DISCOUNT
(
 ACTUAL_SALES ,
 PERIOD           ,
 YEAR				,PARENT_HIERARCHY_NO,
 HIERARCHY_NO     ,
 LEVEL_NAME		  ,
 RS_NAME	,RS_CONTRACT_SID		
)
SELECT SUM(NAD.ACTUAL_SALES) AS ACTUAL_SALES
	,PERIOD
	,YEAR
	,PARENT_HIERARCHY_NO
	,HIERARCHY_NO
	,LEVEL_NAME
	,CASE 
			WHEN '''
			,@DISCOUNT_VIEW
			,''' = ''PROGRAM''
				THEN RS_NAME
			ELSE PRICE_GROUP_TYPE
			END AS RS_NAME
	,RM.RS_CONTRACT_SID

FROM '
			,@D_ACTUAL_TABLE
			,' NAD
INNER JOIN '
			,@D_MASTER_TABLE
			,' NSPP ON NAD.CCP_DETAILS_SID = NSPP.CCP_DETAILS_SID
	
	AND NSPP.RS_CONTRACT_SID = NAD.RS_CONTRACT_SID
INNER JOIN RS_CONTRACT RM ON RM.RS_CONTRACT_SID = NSPP.RS_CONTRACT_SID
INNER JOIN #CCP C ON C.CCP_DETAILS_SID = NAD.CCP_DETAILS_SID

	AND NAD.PERIOD_SID BETWEEN COALESCE( '
			,@ACT_START_PERIOD_SID
			,','
			,@PROJ_START_PERIOD_SID
			,')
		AND '
			,@ACT_END_PERIOD_SID
			,'
INNER JOIN #PERIOD P ON P.PERIOD_SID = NAD.PERIOD_SID
WHERE EXISTS (SELECT 1 FROM #DISCOUNT_RS_DATA A WHERE A.RS_CONTRACT_SID = RM.RS_CONTRACT_SID)
GROUP BY PARENT_HIERARCHY_NO,HIERARCHY_NO
	,LEVEL_NAME
	,PERIOD
	,YEAR
	,CASE 
			WHEN '''
			,@DISCOUNT_VIEW
			,''' = ''PROGRAM''
				THEN RS_NAME
			ELSE PRICE_GROUP_TYPE
			END 
	,RM.RS_CONTRACT_SID'
			)
			
	EXEC SP_EXECUTESQL @D_SQL

	IF OBJECT_ID('TEMPDB..#NM_PPA_ACTUAL') IS NOT NULL
		DROP TABLE #NM_PPA_ACTUAL

	CREATE TABLE #NM_PPA_ACTUAL (
		PPA_ACTUAL_DISCOUNT NUMERIC(22, 6),
		PPA_ACTUAL_RATE NUMERIC(22,6),
		PPA_ACTUAL_RPU NUMERIC(22,6)
		,PERIOD INT
	     ,YEAR INT
		,RS_NAME VARCHAR(100)  
		,RS_CONTRACT_SID INT
		,HIERARCHY_NO VARCHAR(100)
		,LEVEL_NAME VARCHAR(100)
		,PARENT_HIERARCHY_NO varchar(100)
		 )
		

	SET @SQL = ''
		SET @SQL = CONCAT (
				'
				;WITH PPA_SALES AS(
			 SELECT SUM(ACTUAL_SALES) ACTUAL_SALES,
					   SUM(ACTUAL_UNITS) ACTUAL_UNITS,
					   PERIOD,
					   YEAR,PARENT_HIERARCHY_NO,HIERARCHY_NO
	                  ,LEVEL_NAME
	             ,RS_NAME
	,B.RS_CONTRACT_SID
				FROM   '
				,@S_ACTUAL_TABLE
				,' NAD JOIN (SELECT DISTINCT C.CCP_DETAILS_SID,CASE 
			WHEN '''
			,@DISCOUNT_VIEW
			,''' = ''PROGRAM''
				THEN RS_NAME
			ELSE ''PRICE PROTECTION''
			END  AS RS_NAME ,
                             S.RS_CONTRACT_SID,HIERARCHY_NO,PARENT_HIERARCHY_NO
	                  ,LEVEL_NAME
             FROM   '
				,@P_MASTER_TABLE
				,'  S
                    JOIN RS_CONTRACT RS
                      ON RS.RS_CONTRACT_SID = S.RS_CONTRACT_SID
                    INNER JOIN CCP_DETAILS C ON C.CCP_DETAILS_SID = S.CCP_DETAILS_SID
					 INNER JOIN #CCP Cc ON Cc.CCP_DETAILS_SID = s.CCP_DETAILS_SID
					 AND EXISTS (SELECT 1 FROM #PPA_RS_DATA A WHERE A.RS_CONTRACT_SID = RS.RS_CONTRACT_SID)
					  ) B
					   ON NAD.CCP_DETAILS_SID = B.CCP_DETAILS_SID
					   INNER JOIN #PERIOD P
							   ON P.PERIOD_SID = NAD.PERIOD_SID
				GROUP  BY PERIOD,
						  YEAR,PARENT_HIERARCHY_NO 
						 ,HIERARCHY_NO
	                  ,LEVEL_NAME
	             ,RS_NAME
	,B.RS_CONTRACT_SID)
				
				
				INSERT INTO #NM_PPA_ACTUAL
  (
  PPA_ACTUAL_DISCOUNT ,
		PPA_ACTUAL_RATE, 
		PPA_ACTUAL_RPU 
		,PERIOD 
	     ,YEAR 
		 ,HIERARCHY_NO 
		,LEVEL_NAME 
		,RS_NAME   
		,RS_CONTRACT_SID
		,PARENT_HIERARCHY_NO 			
  )

							SELECT   ACTUAL_DISCOUNT_DOLLAR PPA_ACTUAL_DISCOUNT,
							(ACTUAL_DISCOUNT_DOLLAR/NULLIF(ACTUAL_SALES,0))*100 AS  PPA_ACTUAL_RATE,
							(ACTUAL_DISCOUNT_DOLLAR/NULLIF(ACTUAL_UNITS,0)) AS  PPA_ACTUAL_RPU,
                           A.PERIOD,
                           A.YEAR,A.HIERARCHY_NO
	                  ,A.LEVEL_NAME,
                           A.RS_NAME
						   ,A.RS_CONTRACT_SID,A.PARENT_HIERARCHY_NO FROM 
                (SELECT     ISNULL(SUM(NAD.ACTUAL_DISCOUNT_DOLLAR),0) AS ACTUAL_DISCOUNT_DOLLAR,
                           P.PERIOD,
                           P.YEAR,PARENT_HIERARCHY_NO,HIERARCHY_NO
	                  ,LEVEL_NAME
	             ,CASE 
			WHEN '''
			,@DISCOUNT_VIEW
			,''' = ''PROGRAM''
				THEN RS_NAME
			ELSE ''PRICE PROTECTION''
			END AS RS_NAME
	,RM.RS_CONTRACT_SID
                FROM       '
				,@P_ACTUAL_TABLE
				,' NAD
				INNER JOIN #CCP C ON C.CCP_DETAILS_SID = NAD.CCP_DETAILS_SID
                INNER JOIN RS_CONTRACT RM ON RM.RS_CONTRACT_SID = NAD.RS_CONTRACT_SID			--GAL-1163
				AND EXISTS (SELECT 1 FROM #PPA_RS_DATA A WHERE A.RS_CONTRACT_SID = RM.RS_CONTRACT_SID)
                INNER JOIN #PERIOD P ON P.PERIOD_SID = NAD.PERIOD_SID
				AND P.PERIOD_SID BETWEEN COALESCE( '
			,@ACT_START_PERIOD_SID
			,','
			,@PROJ_START_PERIOD_SID
			,')
		AND '
			,@ACT_END_PERIOD_SID
			,'
                GROUP      BY P.PERIOD,
                              P.YEAR,PARENT_HIERARCHY_NO,HIERARCHY_NO
	                  ,LEVEL_NAME
	             ,CASE 
			WHEN '''
			,@DISCOUNT_VIEW
			,''' = ''PROGRAM''
				THEN RS_NAME
			ELSE ''PRICE PROTECTION''
			END 
	,RM.RS_CONTRACT_SID)A
							  JOIN PPA_SALES B  ON A.YEAR = B.YEAR
			AND A.PERIOD = B.PERIOD
			AND A.HIERARCHY_NO = B.HIERARCHY_NO
			AND COALESCE(A.PARENT_HIERARCHY_NO,A.HIERARCHY_NO)=COALESCE(B.PARENT_HIERARCHY_NO,B.HIERARCHY_NO)
			AND A.LEVEL_NAME = B.LEVEL_NAME
			AND A.RS_CONTRACT_SID = B.RS_CONTRACT_SID' 
				)
	
		EXEC SP_EXECUTESQL @SQL

			IF OBJECT_ID('TEMPDB..#NM_PPA_PROJECTION') IS NOT NULL
		DROP TABLE #NM_PPA_PROJECTION

	CREATE TABLE #NM_PPA_PROJECTION (
		PPA_PROJECTION_DISCOUNT NUMERIC(22, 6),
		PPA_PROJECTION_RATE NUMERIC(22,6),
		PPA_PROJECTION_RPU NUMERIC(22,6)
		,PERIOD INT
	     ,YEAR INT
		,RS_NAME VARCHAR(100)  
		,RS_CONTRACT_SID INT
		,HIERARCHY_NO VARCHAR(100)
		,LEVEL_NAME VARCHAR(100)
		,PARENT_HIERARCHY_NO VARCHAR(100)
		 )
		

	SET @SQL = ''
		SET @SQL = CONCAT (
				'
				;WITH PPA_SALES AS(
			 SELECT     SUM(PROJECTION_SALES) PROJECTION_SALES,
                           SUM(PROJECTION_UNITS) PROJECTION_UNITS,
					   PERIOD,
					   YEAR,PARENT_HIERARCHY_NO,HIERARCHY_NO
	                  ,LEVEL_NAME
	             ,RS_NAME
	,B.RS_CONTRACT_SID
				FROM   '
				,@S_PROJECTION_TABLE
				,' NAD JOIN (SELECT DISTINCT C.CCP_DETAILS_SID,CASE 
			WHEN '''
			,@DISCOUNT_VIEW
			,''' = ''PROGRAM''
				THEN RS_NAME
			ELSE ''PRICE PROTECTION''
			END  AS RS_NAME ,
                             S.RS_CONTRACT_SID,PARENT_HIERARCHY_NO,HIERARCHY_NO
	                  ,LEVEL_NAME
             FROM   '
				,@P_MASTER_TABLE
				,'  S
                    JOIN RS_CONTRACT RS
                      ON RS.RS_CONTRACT_SID = S.RS_CONTRACT_SID
                    INNER JOIN CCP_DETAILS C ON C.CCP_DETAILS_SID = S.CCP_DETAILS_SID
					INNER JOIN #CCP Cc ON Cc.CCP_DETAILS_SID = s.CCP_DETAILS_SID
					 AND EXISTS (SELECT 1 FROM #PPA_RS_DATA A WHERE A.RS_CONTRACT_SID = RS.RS_CONTRACT_SID)
					  ) B
					   ON NAD.CCP_DETAILS_SID = B.CCP_DETAILS_SID
					    
					   INNER JOIN #PERIOD P
							   ON P.PERIOD_SID = NAD.PERIOD_SID
							   AND P.PERIOD_SID BETWEEN COALESCE( '
			,@ACT_START_PERIOD_SID
			,','
			,@PROJ_START_PERIOD_SID
			,')
		AND '
			,@PROJ_END_PERIOD_SID
			,'
				GROUP  BY PERIOD,
						  YEAR ,
						 PARENT_HIERARCHY_NO,HIERARCHY_NO
	                  ,LEVEL_NAME
	             ,RS_NAME
	,B.RS_CONTRACT_SID)
				
				
				INSERT INTO #NM_PPA_PROJECTION
  (
  PPA_PROJECTION_DISCOUNT ,
		PPA_PROJECTION_RATE, 
		PPA_PROJECTION_RPU 
		,PERIOD 
	     ,YEAR 
		 ,HIERARCHY_NO 
		,LEVEL_NAME 
		,RS_NAME   
		,RS_CONTRACT_SID 
		,PARENT_HIERARCHY_NO			
  )

						SELECT	 PPA_PROJECTION_DISCOUNT,
							 (PPA_PROJECTION_DISCOUNT/NULLIF(PROJECTION_SALES,0))*100 AS PPA_PROJECTION_RATE,
							 (PPA_PROJECTION_DISCOUNT/NULLIF(PROJECTION_UNITS,0)) AS PPA_PROJECTION_RPU,
                           A.PERIOD,
                           A.YEAR,A.HIERARCHY_NO
	                  ,A.LEVEL_NAME,
                           A.RS_NAME
						   ,A.RS_CONTRACT_SID,A.PARENT_HIERARCHY_NO FROM 
                (SELECT     ISNULL(SUM(NAD.PROJECTION_DISCOUNT_DOLLAR),0) AS PPA_PROJECTION_DISCOUNT,
                           P.PERIOD,
                           P.YEAR,HIERARCHY_NO,PARENT_HIERARCHY_NO
	                  ,LEVEL_NAME
	             ,CASE 
			WHEN '''
			,@DISCOUNT_VIEW
			,''' = ''PROGRAM''
				THEN RS_NAME
			ELSE ''PRICE PROTECTION''
			END AS RS_NAME
	,RM.RS_CONTRACT_SID
                FROM       '
				,@P_PROJECTION_TABLE
				,' NAD
				INNER JOIN #CCP C ON C.CCP_DETAILS_SID = NAD.CCP_DETAILS_SID
                INNER JOIN RS_CONTRACT RM ON RM.RS_CONTRACT_SID = NAD.RS_CONTRACT_SID			--GAL-1163
				AND EXISTS (SELECT 1 FROM #PPA_RS_DATA A WHERE A.RS_CONTRACT_SID = RM.RS_CONTRACT_SID)
                INNER JOIN #PERIOD P ON P.PERIOD_SID = NAD.PERIOD_SID
				AND P.PERIOD_SID BETWEEN COALESCE( '
			,@ACT_START_PERIOD_SID
			,','
			,@PROJ_START_PERIOD_SID
			,')
		AND '
			,@PROJ_END_PERIOD_SID
			,'
                GROUP      BY P.PERIOD,
                              P.YEAR,PARENT_HIERARCHY_NO,HIERARCHY_NO
	                  ,LEVEL_NAME
	             ,CASE 
			WHEN '''
			,@DISCOUNT_VIEW
			,''' = ''PROGRAM''
				THEN RS_NAME
			ELSE ''PRICE PROTECTION''
			END 
	,RM.RS_CONTRACT_SID)A
							  JOIN PPA_SALES B  ON A.YEAR = B.YEAR
			AND A.PERIOD = B.PERIOD
			AND A.HIERARCHY_NO = B.HIERARCHY_NO
			AND COALESCE(A.PARENT_HIERARCHY_NO,A.HIERARCHY_NO)=COALESCE(B.PARENT_HIERARCHY_NO,B.HIERARCHY_NO)
			AND A.LEVEL_NAME = B.LEVEL_NAME
			AND A.RS_CONTRACT_SID = B.RS_CONTRACT_SID' 
				)
	
		EXEC SP_EXECUTESQL @SQL



	

IF OBJECT_ID('TEMPDB..#NM_ACTUAL_SALES') IS NOT NULL
		DROP TABLE #NM_ACTUAL_SALES

	CREATE TABLE #NM_ACTUAL_SALES (
		ACTUAL_SALES NUMERIC(22, 6)
		,ACTUAL_UNITS NUMERIC(22, 6)
		,NM_COGS_ACTUAL NUMERIC(22, 6)
		,PERIOD VARCHAR(50)
		,YEAR INT
		,RS_NAME VARCHAR(100)  
		,RS_CONTRACT_SID INT
		,HIERARCHY_NO VARCHAR(100)
		,LEVEL_NAME VARCHAR(100)
		,PARENT_HIERARCHY_NO VARCHAR(100)
		)

	SET @D_SQL = CONCAT (
			' INSERT INTO #NM_ACTUAL_SALES
  (
   ACTUAL_SALES    ,    
   ACTUAL_UNITS		,
   NM_COGS_ACTUAL	,
   PERIOD			,
   YEAR				,
   HIERARCHY_NO		,
   LEVEL_NAME		
   ,RS_NAME
	,RS_CONTRACT_SID
	,PARENT_HIERARCHY_NO
  )
	 SELECT SUM(ACTUAL_SALES) ACTUAL_SALES,
					   SUM(ACTUAL_UNITS) ACTUAL_UNITS,
					   SUM(ACTUAL_UNITS * U.ITEM_PRICE) AS NM_COGS_ACTUAL,
					   PERIOD,
					   YEAR,HIERARCHY_NO
	                  ,LEVEL_NAME
	             ,RS_NAME
	,B.RS_CONTRACT_SID,PARENT_HIERARCHY_NO
				FROM   '
				,@S_ACTUAL_TABLE
				,' NAD JOIN (SELECT DISTINCT C.CCP_DETAILS_SID,CASE 
			WHEN '''
			,@DISCOUNT_VIEW
			,''' = ''PROGRAM''
				THEN RS_NAME
			ELSE PRICE_GROUP_TYPE
			END  AS RS_NAME ,
                             S.RS_CONTRACT_SID,C.ITEM_MASTER_SID,PARENT_HIERARCHY_NO,HIERARCHY_NO
	                  ,LEVEL_NAME
             FROM   '
				,@D_MASTER_TABLE
				,'  S
                    JOIN RS_CONTRACT RS
                      ON RS.RS_CONTRACT_SID = S.RS_CONTRACT_SID
                    INNER JOIN CCP_DETAILS C ON C.CCP_DETAILS_SID = S.CCP_DETAILS_SID
					INNER JOIN #CCP Cc ON Cc.CCP_DETAILS_SID = S.CCP_DETAILS_SID
					 AND EXISTS (SELECT 1 FROM #DISCOUNT_RS_DATA A WHERE A.RS_CONTRACT_SID = RS.RS_CONTRACT_SID)
					  ) B
					   ON NAD.CCP_DETAILS_SID = B.CCP_DETAILS_SID
					   INNER JOIN #PERIOD P
							   ON P.PERIOD_SID = NAD.PERIOD_SID
							    AND P.PERIOD_SID BETWEEN COALESCE( '
			,@ACT_START_PERIOD_SID
			,','
			,@PROJ_START_PERIOD_SID
			,')
		AND '
			,@ACT_END_PERIOD_SID
			,'
		INNER JOIN #ITEM_PRICING U ON B.ITEM_MASTER_SID = U.ITEM_MASTER_SID
	AND P.PERIOD_SID = U.PERIOD_SID
				GROUP  BY PERIOD,
						  YEAR ,PARENT_HIERARCHY_NO
						 ,HIERARCHY_NO
	                  ,LEVEL_NAME
	             ,RS_NAME
	,B.RS_CONTRACT_SID')

		EXEC SP_EXECUTESQL @D_SQL
		
IF OBJECT_ID('TEMPDB..#NM_SALES_PROJECTION') IS NOT NULL
		DROP TABLE #NM_SALES_PROJECTION

	CREATE TABLE #NM_SALES_PROJECTION (
		PROJECTION_SALES NUMERIC(22, 6)
		,PROJECTION_UNITS NUMERIC(22, 6)
		,NM_COGS_PROJECTED NUMERIC(22, 6)
		,PERIOD VARCHAR(50)
		,YEAR INT
		,RS_NAME VARCHAR(100)  
		,RS_CONTRACT_SID INT
		,HIERARCHY_NO VARCHAR(100)
		,LEVEL_NAME VARCHAR(100)
		,PARENT_HIERARCHY_NO VARCHAR(100)
		)

SET @D_SQL = CONCAT (
			'INSERT INTO #NM_SALES_PROJECTION
(
  PROJECTION_SALES  ,
  PROJECTION_UNITS	,
  NM_COGS_PROJECTED	,
  PERIOD			,
  YEAR				,
   HIERARCHY_NO		,
   LEVEL_NAME		
   ,RS_NAME
	,RS_CONTRACT_SID,PARENT_HIERARCHY_NO		
)

SELECT SUM(PROJECTION_SALES) PROJECTION_SALES
	,SUM(PROJECTION_UNITS) PROJECTION_UNITS
	,SUM(PROJECTION_UNITS * U.ITEM_PRICE) AS NM_COGS_PROJECTED,
	 PERIOD,
					   YEAR,HIERARCHY_NO
	                  ,LEVEL_NAME
	             ,RS_NAME
	,B.RS_CONTRACT_SID,PARENT_HIERARCHY_NO
				FROM   '
				,@S_PROJECTION_TABLE
				,' NAD JOIN (SELECT DISTINCT C.CCP_DETAILS_SID,CASE 
			WHEN '''
			,@DISCOUNT_VIEW
			,''' = ''PROGRAM''
				THEN RS_NAME
			ELSE PRICE_GROUP_TYPE
			END  AS RS_NAME ,
                             S.RS_CONTRACT_SID,C.ITEM_MASTER_SID,PARENT_HIERARCHY_NO,HIERARCHY_NO
	                  ,LEVEL_NAME
             FROM   '
				,@D_MASTER_TABLE
				,'  S
                    JOIN RS_CONTRACT RS
                      ON RS.RS_CONTRACT_SID = S.RS_CONTRACT_SID
                    INNER JOIN CCP_DETAILS C ON C.CCP_DETAILS_SID = S.CCP_DETAILS_SID
					INNER JOIN #CCP Cc ON Cc.CCP_DETAILS_SID = S.CCP_DETAILS_SID
					 AND EXISTS (SELECT 1 FROM #DISCOUNT_RS_DATA A WHERE A.RS_CONTRACT_SID = RS.RS_CONTRACT_SID)
					  ) B
					   ON NAD.CCP_DETAILS_SID = B.CCP_DETAILS_SID
					   INNER JOIN #PERIOD P
							   ON P.PERIOD_SID = NAD.PERIOD_SID
							   AND P.PERIOD_SID BETWEEN COALESCE( '
			,@ACT_START_PERIOD_SID
			,','
			,@PROJ_START_PERIOD_SID
			,')
		AND '
			,@PROJ_END_PERIOD_SID
			,'
		INNER JOIN #ITEM_PRICING U ON B.ITEM_MASTER_SID = U.ITEM_MASTER_SID
	AND P.PERIOD_SID = U.PERIOD_SID
				GROUP  BY PERIOD,
						  YEAR,PARENT_HIERARCHY_NO 
						 ,HIERARCHY_NO
	                  ,LEVEL_NAME
	             ,RS_NAME
	,B.RS_CONTRACT_SID')
	EXEC SP_EXECUTESQL @D_SQL
	
	IF Object_id('TEMPDB..#SALES') IS NOT NULL
		DROP TABLE #SALES

	SELECT FD.YEAR
		,FD.PERIOD
		,FD.PARENT_HIERARCHY_NO
		,FD.HIERARCHY_NO
		,FD.LEVEL_NAME
		,RD.RS_NAME,
		RD.RS_CONTRACT_SID
		,COALESCE((NSP.PROJECTION_SALES), 0) as PROJECTION_SALES
		,COALESCE((NSP.PROJECTION_UNITS), 0) as PROJECTION_UNITS 
		,COALESCE((NAS.ACTUAL_SALES), 0) As ACTUAL_SALES 
		,COALESCE((NAS.ACTUAL_UNITS), 0) AS ACTUAL_UNITS 
		,NM_COGS_PROJECTED AS COGS_PROJECTED  
		,NM_COGS_ACTUAL AS COGS_ACTUAL 
		,COALESCE((NAS.ACTUAL_SALES), 0) AS NM_ACTUAL_SALES 
		,COALESCE((NSP.PROJECTION_SALES), 0) AS NM_PROJECTED_SALES 
		,COALESCE((NAS.ACTUAL_UNITS), 0) AS NM_ACTUAL_UNITS 
		,COALESCE((NSP.PROJECTION_UNITS), 0) AS NM_PROJECTED_UNITS 
	INTO #SALES
	FROM #DATA_TABLE1 FD
	JOIN #DISCOUNT_RS_DATA  RD
	ON RD.HIERARCHY_NO = FD.HIERARCHY_NO
	AND  COALESCE(RD.PARENT_HIERARCHY_NO,RD.HIERARCHY_NO)=COALESCE(FD.PARENT_HIERARCHY_NO,FD.HIERARCHY_NO)
		AND RD.LEVEL_NAME = FD.LEVEL_NAME
		AND RD.YEAR = FD.YEAR
		AND RD.PERIOD = FD.PERIOD
	LEFT JOIN #NM_SALES_PROJECTION NSP ON NSP.HIERARCHY_NO = FD.HIERARCHY_NO
	 AND COALESCE(NSP.PARENT_HIERARCHY_NO,NSP.HIERARCHY_NO)=COALESCE(FD.PARENT_HIERARCHY_NO,FD.HIERARCHY_NO)
		AND NSP.LEVEL_NAME = FD.LEVEL_NAME
		AND NSP.YEAR = FD.YEAR
		AND NSP.PERIOD = FD.PERIOD
		AND NSP.RS_CONTRACT_SID = RD.RS_CONTRACT_SID
	LEFT JOIN #NM_ACTUAL_SALES NAS ON NAS.HIERARCHY_NO = FD.HIERARCHY_NO
	AND COALESCE(NAS.PARENT_HIERARCHY_NO,NAS.HIERARCHY_NO)=COALESCE(FD.PARENT_HIERARCHY_NO,FD.HIERARCHY_NO)
		AND NAS.LEVEL_NAME = FD.LEVEL_NAME
		AND NAS.YEAR = FD.YEAR
		AND NAS.PERIOD = FD.PERIOD
		AND NAS.RS_CONTRACT_SID = RD.RS_CONTRACT_SID


IF Object_id('TEMPDB..#DISCOUNT') IS NOT NULL
		DROP TABLE #DISCOUNT

	SELECT FD.YEAR
		,FD.PERIOD
		,FD.PARENT_HIERARCHY_NO
		,COALESCE((NSP.PROJECTION_SALES), 0) AS PROJECTION_SALES 
		,COALESCE((NAS.ACTUAL_SALES), 0) AS ACTUAL_SALES 
		,FD.RS_NAME
		,FD.RS_CONTRACT_SID
		,FD.HIERARCHY_NO
		,FD.LEVEL_NAME
	INTO #DISCOUNT
	FROM #DISCOUNT_RS_DATA FD
	LEFT JOIN #NM_ACTUAL_DISCOUNT NAS ON NAS.HIERARCHY_NO = FD.HIERARCHY_NO
	AND COALESCE(NAS.PARENT_HIERARCHY_NO,NAS.HIERARCHY_NO)=COALESCE(FD.PARENT_HIERARCHY_NO,FD.HIERARCHY_NO)
		AND NAS.LEVEL_NAME = FD.LEVEL_NAME
		AND NAS.YEAR = FD.YEAR
		AND NAS.PERIOD = FD.PERIOD
		AND NAS.RS_NAME = FD.RS_NAME
		AND NAS.RS_CONTRACT_SID = FD.RS_CONTRACT_SID
	LEFT JOIN #NM_DISCOUNT_PROJECTION NSP ON NSP.HIERARCHY_NO = FD.HIERARCHY_NO
	AND COALESCE(NSP.PARENT_HIERARCHY_NO,NSP.HIERARCHY_NO)=COALESCE(FD.PARENT_HIERARCHY_NO,FD.HIERARCHY_NO)
		AND NSP.LEVEL_NAME = FD.LEVEL_NAME
		AND NSP.YEAR = FD.YEAR
		AND NSP.PERIOD = FD.PERIOD
		AND FD.RS_NAME = NSP.RS_NAME
		AND FD.RS_CONTRACT_SID = NSP.RS_CONTRACT_SID
	WHERE FD.DISC = 'NM'

	IF Object_id('TEMPDB..#PPA_SUPP_MANDATED') IS NOT NULL
		DROP TABLE #PPA_SUPP_MANDATED

	SELECT FD.YEAR
		,FD.PERIOD
		,FD.RS_NAME
		,FD.PARENT_HIERARCHY_NO
		,FD.RS_CONTRACT_SID
		,COALESCE((NSP.PPA_PROJECTION_DISCOUNT), 0) AS PPA_PROJECTION_DISCOUNT 
		,COALESCE((NAS.PPA_ACTUAL_DISCOUNT), 0) AS PPA_ACTUAL_DISCOUNT 
		,COALESCE((NSP.PPA_PROJECTION_RATE), 0) AS PPA_PROJECTION_RATE 
		,COALESCE((NAS.PPA_ACTUAL_RATE), 0) AS PPA_ACTUAL_RATE 
		,COALESCE((NSP.PPA_PROJECTION_RPU), 0) AS PPA_PROJECTION_RPU 
		,COALESCE((NAS.PPA_ACTUAL_RPU), 0) AS PPA_ACTUAL_RPU
		,FD.HIERARCHY_NO
		,FD.LEVEL_NAME
	INTO #PPA_SUPP_MANDATED
	FROM #PPA_RS_DATA FD
	LEFT JOIN #NM_PPA_ACTUAL NAS ON NAS.HIERARCHY_NO = FD.HIERARCHY_NO
	AND COALESCE(NAS.PARENT_HIERARCHY_NO,NAS.HIERARCHY_NO)=COALESCE(FD.PARENT_HIERARCHY_NO,FD.HIERARCHY_NO)
		AND NAS.LEVEL_NAME = FD.LEVEL_NAME
		AND NAS.YEAR = FD.YEAR
		AND NAS.PERIOD = FD.PERIOD
		AND NAS.RS_NAME = FD.RS_NAME
		AND NAS.RS_CONTRACT_SID = FD.RS_CONTRACT_SID
	LEFT JOIN #NM_PPA_PROJECTION NSP ON NSP.HIERARCHY_NO = FD.HIERARCHY_NO
	AND COALESCE(NSP.PARENT_HIERARCHY_NO,NSP.HIERARCHY_NO)=COALESCE(FD.PARENT_HIERARCHY_NO,FD.HIERARCHY_NO)
		AND NSP.LEVEL_NAME = FD.LEVEL_NAME
		AND NSP.YEAR = FD.YEAR
		AND NSP.PERIOD = FD.PERIOD
		AND NSP.RS_NAME = FD.RS_NAME
		AND NAS.RS_CONTRACT_SID = FD.RS_CONTRACT_SID
	WHERE FD.DISC = 'PPA'
		
	
	IF OBJECT_ID('TEMPDB..#DISCOUNT_FILE_DATA') IS NOT NULL
		DROP TABLE #DISCOUNT_FILE_DATA

	CREATE TABLE #DISCOUNT_FILE_DATA (
		PERIOD INT
		,YEAR INT
		,RS_NAME VARCHAR(50)
		,RS_CONTRACT_SID int
		,GTS_SALES_ACTUALS NUMERIC(22, 6)
		,GTS_SALES_PROJECTED NUMERIC(22, 6)
		,HIERARCHY_NO VARCHAR(50)
		,LEVEL_NAME VARCHAR(50)
		,PARENT_HIERARCHY_NO VARCHAR(100)
		)

	SET @SQL = CONCAT (
			'INSERT INTO #DISCOUNT_FILE_DATA (PERIOD,YEAR,RS_NAME,RS_CONTRACT_SID,GTS_SALES_ACTUALS,GTS_SALES_PROJECTED,HIERARCHY_NO,LEVEL_NAME,PARENT_HIERARCHY_NO)'
			,'(SELECT P.PERIOD,P.YEAR,B.RS_NAME,b.RS_CONTRACT_SID,GTS_SALES_ACTUALS = SUM(EXFACTORY_ACTUAL_SALES),
                                 GTS_SALES_PROJECTED = SUM(COALESCE(EXFACTORY_FORECAST_SALES, EXFACTORY_ACTUAL_SALES))
                                 ,HIERARCHY_NO,LEVEL_NAME,PARENT_HIERARCHY_NO
                              FROM   '
			,@PRODUCT_TABLE
			,' PF JOIN (SELECT DISTINCT ITEM_MASTER_SID,
                             S.RS_CONTRACT_SID,CASE 
			WHEN '''
			,@DISCOUNT_VIEW
			,''' = ''PROGRAM''
				THEN RS_NAME
			ELSE PRICE_GROUP_TYPE
			END AS RS_NAME,PARENT_HIERARCHY_NO,HIERARCHY_NO,LEVEL_NAME
             FROM   '
			,@D_MASTER_TABLE
			,'  S
                    JOIN RS_CONTRACT RS
                      ON RS.RS_CONTRACT_SID = s.RS_CONTRACT_SID
                    JOIN CCP_DETAILS CD
                      ON CD.CCP_DETAILS_SID = S.CCP_DETAILS_SID
					   INNER JOIN #CCP C ON C.CCP_DETAILS_SID = S.CCP_DETAILS_SID 
					  WHERE EXISTS (SELECT 1 FROM  #DISCOUNT_RS_DATA D   WHERE  D.RS_CONTRACT_SID = Rs.RS_CONTRACT_SID)
					  ) B
         ON pf.ITEM_MASTER_SID = B.ITEM_MASTER_SID
		 JOIN #PERIOD P ON P.PERIOD_SID = PF.PERIOD_SID 
			 GROUP  BY B.RS_NAME,b.RS_CONTRACT_SID,P.PERIOD,P.YEAR,PARENT_HIERARCHY_NO,HIERARCHY_NO,LEVEL_NAME
							  )'
			)

	EXEC SP_EXECUTESQL @SQL
	

	IF OBJECT_ID('TEMPDB..#PPA_FILE_DATA') IS NOT NULL
		DROP TABLE #PPA_FILE_DATA

	CREATE TABLE #PPA_FILE_DATA (
		PERIOD INT
		,YEAR INT
		,RS_NAME VARCHAR(50)
		,RS_CONTRACT_SID int
		,GTS_SALES_ACTUALS NUMERIC(22, 6)
		,GTS_SALES_PROJECTED NUMERIC(22, 6)
		,HIERARCHY_NO VARCHAR(50)
		,LEVEL_NAME VARCHAR(50)
		,PARENT_HIERARCHY_NO VARCHAR(100)
		)

	SET @SQL = CONCAT (
			'INSERT INTO #PPA_FILE_DATA (PERIOD,YEAR,RS_NAME,RS_CONTRACT_SID,GTS_SALES_ACTUALS,GTS_SALES_PROJECTED,HIERARCHY_NO,LEVEL_NAME,PARENT_HIERARCHY_NO)'
			,'(SELECT P.PERIOD,P.YEAR,B.RS_NAME,b.RS_CONTRACT_SID,GTS_SALES_ACTUALS = SUM(EXFACTORY_ACTUAL_SALES),
                                 GTS_SALES_PROJECTED = SUM(COALESCE(EXFACTORY_FORECAST_SALES, EXFACTORY_ACTUAL_SALES))
                                 ,HIERARCHY_NO,LEVEL_NAME,PARENT_HIERARCHY_NO
                              FROM   '
			,@PRODUCT_TABLE
			,' PF JOIN (SELECT DISTINCT ITEM_MASTER_SID,
                             S.RS_CONTRACT_SID,CASE 
			WHEN '''
			,@DISCOUNT_VIEW
			,''' = ''PROGRAM''
				THEN RS_NAME
			ELSE ''PRICE PROTECTION''
			END AS RS_NAME,HIERARCHY_NO,LEVEL_NAME,PARENT_HIERARCHY_NO
             FROM   '
			,@P_MASTER_TABLE
			,'  S
                    JOIN RS_CONTRACT RS
                      ON RS.RS_CONTRACT_SID = s.RS_CONTRACT_SID
                    JOIN CCP_DETAILS CD
                      ON CD.CCP_DETAILS_SID = S.CCP_DETAILS_SID
				   INNER JOIN #CCP C ON C.CCP_DETAILS_SID = S.CCP_DETAILS_SID 
					  WHERE EXISTS (SELECT 1 FROM  #PPA_RS_DATA D   WHERE  D.RS_CONTRACT_SID = Rs.RS_CONTRACT_SID)
					  ) B
         ON pf.ITEM_MASTER_SID = B.ITEM_MASTER_SID
		 JOIN #PERIOD P ON P.PERIOD_SID = PF.PERIOD_SID 
			 GROUP  BY B.RS_NAME,b.RS_CONTRACT_SID,P.PERIOD,P.YEAR,PARENT_HIERARCHY_NO,HIERARCHY_NO,LEVEL_NAME
							  )'
			)

	EXEC SP_EXECUTESQL @SQL
	IF Object_id('TEMPDB.DBO.#RESULT', 'U') IS NOT NULL
		DROP TABLE #RESULT;

	CREATE TABLE #RESULT (
		PROJECTION_MASTER_SID INT
		,HIERARCHY_NO VARCHAR(100)
		,PARENT_HIERARCHY_NO VARCHAR(100)
		,LEVEL_NAME VARCHAR(100)
		,CP_INDICATOR VARCHAR(10)
		,YEAR INT
		,PERIOD INT
		,RS_NAME VARCHAR(100)
		,TOTAL_DISCOUNT NUMERIC(22, 6)
		,TOTAL_DISCOUNT_PROJECTED NUMERIC(22, 6)
		,TOTAL_DISCOUNT_PERCENTAGE NUMERIC(22, 6)
		,TOTAL_DISCOUNT_PROJECTED_PERCENTAGE NUMERIC(22, 6)
		,TOTAL_RPU NUMERIC(22, 6)
		,TOTAL_PROJECTED_RPU NUMERIC(22, 6)
		,DISCOUNT_OF_EX_FACTORY_ACTUALS NUMERIC(22, 6)
		,DISCOUNT_OF_EX_FACTORY_PROJECTED NUMERIC(22, 6)
		,RS_CONTRACT_SID INT
		)

	INSERT INTO #RESULT (
		PROJECTION_MASTER_SID
		,HIERARCHY_NO
		,PARENT_HIERARCHY_NO 
		,LEVEL_NAME
		,CP_INDICATOR
		,YEAR
		,PERIOD
		,RS_NAME
		,TOTAL_DISCOUNT
		,TOTAL_DISCOUNT_PROJECTED
		,TOTAL_DISCOUNT_PERCENTAGE
		,TOTAL_DISCOUNT_PROJECTED_PERCENTAGE
		,TOTAL_RPU
		,TOTAL_PROJECTED_RPU
		,DISCOUNT_OF_EX_FACTORY_ACTUALS
		,DISCOUNT_OF_EX_FACTORY_PROJECTED
		,RS_CONTRACT_SID 
		)
	SELECT @FIRST_PROJ_SID
		,RD.HIERARCHY_NO
		,ND.PARENT_HIERARCHY_NO
		,RD.LEVEL_NAME
		,@CP_INDICATOR
		,ND.YEAR
		,ND.PERIOD
		,ND.RS_NAME
		,ND.ACTUAL_SALES
		,ND.PROJECTION_SALES
		,COALESCE(ND.ACTUAL_SALES / NULLIF(RD.ACTUAL_SALES, 0), 0) * 100
		,COALESCE(ND.PROJECTION_SALES / NULLIF(RD.PROJECTION_SALES, 0), 0) * 100
		,COALESCE(ND.ACTUAL_SALES / NULLIF(RD.ACTUAL_UNITS, 0), 0)
		,COALESCE(ND.PROJECTION_SALES / NULLIF(RD.PROJECTION_UNITS, 0), 0)
		,COALESCE(ND.ACTUAL_SALES / NULLIF(tfh.GTS_SALES_ACTUALS, 0), 0) * 100
		,COALESCE(ND.PROJECTION_SALES / NULLIF(tfh.GTS_SALES_PROJECTED, 0), 0) * 100
		,ND.RS_CONTRACT_SID
	FROM #DISCOUNT ND
	INNER JOIN #SALES RD ON RD.YEAR = ND.YEAR
	AND COALESCE(RD.PARENT_HIERARCHY_NO,RD.HIERARCHY_NO)=COALESCE(ND.PARENT_HIERARCHY_NO,ND.HIERARCHY_NO)
		AND RD.PERIOD = ND.PERIOD
		AND RD.HIERARCHY_NO = ND.HIERARCHY_NO
		AND RD.LEVEL_NAME = ND.LEVEL_NAME
	AND RD.RS_CONTRACT_SID = ND.RS_CONTRACT_SID
	INNER JOIN #DISCOUNT_FILE_DATA tfh ON tfh.YEAR = ND.YEAR
	AND COALESCE(tfh.PARENT_HIERARCHY_NO,tfh.HIERARCHY_NO)=COALESCE(ND.PARENT_HIERARCHY_NO,ND.HIERARCHY_NO)
		AND tfh.PERIOD = ND.PERIOD
		AND tfh.HIERARCHY_NO = ND.HIERARCHY_NO
		AND tfh.LEVEL_NAME = ND.LEVEL_NAME
		AND tfh.RS_CONTRACT_SID = ND.RS_CONTRACT_SID
	
	UNION ALL
	
	SELECT @FIRST_PROJ_SID
		,PD.HIERARCHY_NO
		,PD.PARENT_HIERARCHY_NO
		,PD.LEVEL_NAME
		,@CP_INDICATOR
		,PD.YEAR
		,PD.PERIOD
		,PD.RS_NAME
		,PD.PPA_ACTUAL_DISCOUNT
		,PD.PPA_PROJECTION_DISCOUNT
		,PPA_ACTUAL_RATE
		,PPA_PROJECTION_RATE
		,PPA_ACTUAL_RPU
		,PPA_PROJECTION_RPU
		,COALESCE(PD.PPA_ACTUAL_DISCOUNT / NULLIF(tfh.GTS_SALES_ACTUALS, 0), 0) * 100
		,COALESCE(PD.PPA_PROJECTION_DISCOUNT / NULLIF(tfh.GTS_SALES_PROJECTED, 0), 0) * 100
		,PD.RS_CONTRACT_SID
	FROM #PPA_SUPP_MANDATED PD
	INNER JOIN #PPA_FILE_DATA tfh ON tfh.YEAR = PD.YEAR
	AND COALESCE(PD.PARENT_HIERARCHY_NO,PD.HIERARCHY_NO)=COALESCE(tfh.PARENT_HIERARCHY_NO,tfh.HIERARCHY_NO)
		AND tfh.PERIOD = PD.PERIOD
		AND tfh.HIERARCHY_NO = PD.HIERARCHY_NO
		AND tfh.LEVEL_NAME = PD.LEVEL_NAME
		AND tfh.RS_CONTRACT_SID = PD.RS_CONTRACT_SID
		-------------------------------

--------------------------------------------------------- DETAILS_TOTAL_DISCOUNT-----------------------------------------------
	IF Object_id('TEMPDB..#NM_SALES_PROJECTION1') IS NOT NULL
		DROP TABLE #NM_SALES_PROJECTION1

	CREATE TABLE #NM_SALES_PROJECTION1 (
		PROJECTION_SALES NUMERIC(22, 6)
		,PROJECTION_UNITS NUMERIC(22, 6)
		,NM_COGS_PROJECTED NUMERIC(22, 6)
		,PERIOD VARCHAR(50)
		,YEAR INT
		,HIERARCHY_NO VARCHAR(100)
		,LEVEL_NAME VARCHAR(100)
		,PARENT_HIERARCHY_NO VARCHAR(100)
		)

	SET @D_SQL = CONCAT (
			'INSERT INTO #NM_SALES_PROJECTION1
(
  PROJECTION_SALES  ,
  PROJECTION_UNITS	,
  NM_COGS_PROJECTED	,
  PERIOD			,
  YEAR				,
  HIERARCHY_NO		,
  
  LEVEL_NAME,
  PARENT_HIERARCHY_NO		
)

SELECT SUM(PROJECTION_SALES) PROJECTION_SALES
	,SUM(PROJECTION_UNITS) PROJECTION_UNITS
	,SUM(PROJECTION_UNITS * U.ITEM_PRICE) AS NM_COGS_PROJECTED
	,PERIOD
	,YEAR
	,HIERARCHY_NO
	,LEVEL_NAME
	,PARENT_HIERARCHY_NO

FROM '
			,@S_PROJECTION_TABLE
			,' NSP
INNER JOIN #CCP C ON C.CCP_DETAILS_SID = NSP.CCP_DETAILS_SID
	
	AND NSP.PERIOD_SID BETWEEN '
			,@PROJ_START_PERIOD_SID
			,'
		AND '
			,@PROJ_END_PERIOD_SID
			,'
INNER JOIN #CCP_DETAILS_TEMP CC ON C.CCP_DETAILS_SID = CC.CCP_DETAILS_SID
INNER JOIN #PERIOD P ON P.PERIOD_SID = NSP.PERIOD_SID
INNER JOIN #ITEM_PRICING U ON CC.ITEM_MASTER_SID = U.ITEM_MASTER_SID
	AND NSP.PERIOD_SID = U.PERIOD_SID
GROUP BY PERIOD
	,YEAR
	,PARENT_HIERARCHY_NO
	,HIERARCHY_NO
	,LEVEL_NAME'
			)

	EXEC sp_executesql @D_SQL

	IF Object_id('TEMPDB..#NM_ACTUAL_SALES1') IS NOT NULL
		DROP TABLE #NM_ACTUAL_SALES1

	CREATE TABLE #NM_ACTUAL_SALES1 (
		ACTUAL_SALES NUMERIC(22, 6)
		,ACTUAL_UNITS NUMERIC(22, 6)
		,NM_COGS_ACTUAL NUMERIC(22, 6)
		,PERIOD VARCHAR(50)
		,YEAR INT
		,HIERARCHY_NO VARCHAR(100)
		,LEVEL_NAME VARCHAR(100)
		,PARENT_HIERARCHY_NO VARCHAR(100)
		)

	SET @D_SQL = CONCAT (
			' INSERT INTO #NM_ACTUAL_SALES1
  (
   ACTUAL_SALES    ,    
   ACTUAL_UNITS		,
   NM_COGS_ACTUAL	,
   PERIOD			,
   YEAR				,
   HIERARCHY_NO		,
  
   LEVEL_NAME,PARENT_HIERARCHY_NO		
  )

SELECT SUM(ACTUAL_SALES) ACTUAL_SALES
	,SUM(ACTUAL_UNITS) ACTUAL_UNITS
	,SUM(ACTUAL_UNITS * U.ITEM_PRICE) AS NM_COGS_ACTUAL
	,PERIOD
	,YEAR
	,HIERARCHY_NO
	,LEVEL_NAME
	,PARENT_HIERARCHY_NO
FROM '
			,@S_ACTUAL_TABLE
			,' NAD
INNER JOIN #CCP C ON C.CCP_DETAILS_SID = NAD.CCP_DETAILS_SID
	
	AND NAD.PERIOD_SID BETWEEN COALESCE( '
			,@ACT_START_PERIOD_SID
			,','
			,@PROJ_START_PERIOD_SID
			,')
		AND '
			,@ACT_END_PERIOD_SID
			,'

INNER JOIN #CCP_DETAILS_TEMP CC ON C.CCP_DETAILS_SID = CC.CCP_DETAILS_SID
INNER JOIN #PERIOD P ON P.PERIOD_SID = NAD.PERIOD_SID
INNER JOIN #ITEM_PRICING U ON CC.ITEM_MASTER_SID = U.ITEM_MASTER_SID
	AND NAD.PERIOD_SID = U.PERIOD_SID
GROUP BY PERIOD
	,YEAR
	,PARENT_HIERARCHY_NO
	,HIERARCHY_NO
	,LEVEL_NAME'
			)

	EXEC sp_executesql @D_SQL

	IF Object_id('TEMPDB..#SALES1') IS NOT NULL
		DROP TABLE #SALES1

	SELECT FD.YEAR
		,FD.PERIOD
		,FD.HIERARCHY_NO
		,FD.PARENT_HIERARCHY_NO
		,FD.LEVEL_NAME
		,COALESCE((NSP.PROJECTION_SALES), 0) as PROJECTION_SALES
		,COALESCE((NSP.PROJECTION_UNITS), 0) as PROJECTION_UNITS 
		,COALESCE((NAS.ACTUAL_SALES), 0) As ACTUAL_SALES 
		,COALESCE((NAS.ACTUAL_UNITS), 0) AS ACTUAL_UNITS 
		,NM_COGS_PROJECTED AS COGS_PROJECTED  
		,NM_COGS_ACTUAL AS COGS_ACTUAL 
		,COALESCE((NAS.ACTUAL_SALES), 0) AS NM_ACTUAL_SALES 
		,COALESCE((NSP.PROJECTION_SALES), 0) AS NM_PROJECTED_SALES 
		,COALESCE((NAS.ACTUAL_UNITS), 0) AS NM_ACTUAL_UNITS 
		,COALESCE((NSP.PROJECTION_UNITS), 0) AS NM_PROJECTED_UNITS 
	INTO #SALES1
	FROM #DATA_TABLE1 FD
	LEFT JOIN #NM_SALES_PROJECTION1 NSP ON NSP.HIERARCHY_NO = FD.HIERARCHY_NO
	AND  COALESCE(FD.PARENT_HIERARCHY_NO,FD.HIERARCHY_NO)=COALESCE(NSP.PARENT_HIERARCHY_NO,NSP.HIERARCHY_NO)
		AND NSP.LEVEL_NAME = FD.LEVEL_NAME
		AND NSP.YEAR = FD.YEAR
		AND NSP.PERIOD = FD.PERIOD
	LEFT JOIN #NM_ACTUAL_SALES1 NAS ON NAS.HIERARCHY_NO = FD.HIERARCHY_NO
	AND  COALESCE(FD.PARENT_HIERARCHY_NO,FD.HIERARCHY_NO)=COALESCE(NAS.PARENT_HIERARCHY_NO,NAS.HIERARCHY_NO)
		AND NAS.LEVEL_NAME = FD.LEVEL_NAME
		AND NAS.YEAR = FD.YEAR
		AND NAS.PERIOD = FD.PERIOD



	IF Object_id('TEMPDB..#TOTAL_NM_DISCOUNT_PROJECTION1') IS NOT NULL
		DROP TABLE #TOTAL_NM_DISCOUNT_PROJECTION1

	CREATE TABLE #TOTAL_NM_DISCOUNT_PROJECTION1 (
		PROJECTION_SALES NUMERIC(22, 6)
		,PERIOD VARCHAR(50)
		,YEAR INT
		,HIERARCHY_NO VARCHAR(100)
		,LEVEL_NAME VARCHAR(100)
		,PARENT_HIERARCHY_NO VARCHAR(100)
		)

	SET @D_SQL = CONCAT (
			'INSERT INTO #TOTAL_NM_DISCOUNT_PROJECTION1
(
 PROJECTION_SALES ,
 PERIOD           ,
 YEAR				,
 HIERARCHY_NO     ,
 LEVEL_NAME	
 ,PARENT_HIERARCHY_NO	 
)
SELECT SUM(PROJECTION_SALES) AS PROJECTION_SALES
	,PERIOD
	,YEAR
	,HIERARCHY_NO
	,LEVEL_NAME
	,PARENT_HIERARCHY_NO
FROM (
	SELECT NDP.PROJECTION_SALES
		,P.PERIOD
		,P.YEAR
		,C.HIERARCHY_NO
		,C.LEVEL_NAME
		,PARENT_HIERARCHY_NO
	FROM '
			,@D_PROJECTION_TABLE
			,' NDP
	INNER JOIN #CCP C ON C.CCP_DETAILS_SID = NDP.CCP_DETAILS_SID
	INNER JOIN '
			,@D_MASTER_TABLE
			,' NDPM ON NDPM.CCP_DETAILS_SID = NDP.CCP_DETAILS_SID
		AND NDPM.RS_CONTRACT_SID = NDP.RS_CONTRACT_SID
		
		AND NDP.PERIOD_SID BETWEEN '
			,@PROJ_START_PERIOD_SID
			,'
			AND '
			,@PROJ_END_PERIOD_SID
			,'
	INNER JOIN #PERIOD P ON P.PERIOD_SID = NDP.PERIOD_SID
	WHERE  EXISTS (
			SELECT 1
			FROM #RS_DATA A
			WHERE CASE 
					WHEN '''
			,@DISCOUNT_VIEW
			,'''= ''PROGRAM''
						THEN CAST(NDP.RS_CONTRACT_SID AS VARCHAR(20))
					ELSE NDPM.PRICE_GROUP_TYPE
					END = A.RS_CONTRACT_SID
			)
		
	) A
GROUP BY PARENT_HIERARCHY_NO,HIERARCHY_NO
	,LEVEL_NAME
	,PERIOD
	,YEAR'
			)

	EXEC sp_executesql @D_SQL

	IF Object_id('TEMPDB..#TOTAL_NM_ACTUAL_DISCOUNT1') IS NOT NULL
		DROP TABLE #TOTAL_NM_ACTUAL_DISCOUNT1

	CREATE TABLE #TOTAL_NM_ACTUAL_DISCOUNT1 (
		ACTUAL_SALES NUMERIC(22, 6)
		,PERIOD VARCHAR(50)
		,YEAR INT
		,HIERARCHY_NO VARCHAR(100)
		,LEVEL_NAME VARCHAR(100)
		,PARENT_HIERARCHY_NO VARCHAR(100)
		)

	SET @D_SQL = CONCAT (
			'INSERT INTO #TOTAL_NM_ACTUAL_DISCOUNT1
(
 ACTUAL_SALES ,
 PERIOD           ,
 YEAR				,
 HIERARCHY_NO     ,
 LEVEL_NAME	,PARENT_HIERARCHY_NO	  
)
SELECT SUM(ACTUAL_SALES) AS ACTUAL_SALES
	,PERIOD
	,YEAR
	,HIERARCHY_NO
	,LEVEL_NAME
	,PARENT_HIERARCHY_NO

FROM (
	SELECT NAD.ACTUAL_SALES
		,P.PERIOD
		,P.YEAR
		,C.HIERARCHY_NO
		,C.LEVEL_NAME
		,PARENT_HIERARCHY_NO
	FROM '
			,@D_ACTUAL_TABLE
			,' NAD
	INNER JOIN #CCP C ON C.CCP_DETAILS_SID = NAD.CCP_DETAILS_SID
	INNER JOIN '
			,@D_MASTER_TABLE
			,' NDPM ON NDPM.CCP_DETAILS_SID = NAD.CCP_DETAILS_SID
		AND NDPM.RS_CONTRACT_SID = NAD.RS_CONTRACT_SID
		AND NAD.PERIOD_SID BETWEEN COALESCE( '
			,@ACT_START_PERIOD_SID
			,','
			,@PROJ_START_PERIOD_SID
			,')
			AND '
			,@ACT_END_PERIOD_SID
			,'
	INNER JOIN #PERIOD P ON P.PERIOD_SID = NAD.PERIOD_SID
	WHERE  EXISTS (
			SELECT 1
			FROM #RS_DATA A
			WHERE CASE 
					WHEN '''
			,@DISCOUNT_VIEW
			,''' = ''PROGRAM''
						THEN CAST(NAD.RS_CONTRACT_SID AS VARCHAR(20))
					ELSE NDPM.PRICE_GROUP_TYPE
					END = A.RS_CONTRACT_SID
			)
		
	) A
GROUP BY PARENT_HIERARCHY_NO,HIERARCHY_NO
	,LEVEL_NAME
	,PERIOD
	,YEAR'
			)

	EXEC sp_executesql @D_SQL

	IF Object_id('TEMPDB..#TOTAL_NM_PPA_PROJECTION1') IS NOT NULL
		DROP TABLE #TOTAL_NM_PPA_PROJECTION1

	CREATE TABLE #TOTAL_NM_PPA_PROJECTION1 (
		PROJECTION_DISCOUNT_DOLLAR NUMERIC(22, 6)
		,PPA_RPU_PROJECTED NUMERIC(22, 6)
		,PPA_PROJECTION_SALES1 NUMERIC(22, 6)
		,PPA_PROJECTION_UNITS1 NUMERIC(22, 6)
		,PERIOD VARCHAR(50)
		,YEAR INT
		,HIERARCHY_NO VARCHAR(100)
		,LEVEL_NAME VARCHAR(100)
		,PARENT_HIERARCHY_NO VARCHAR(100)
		)

	SET @D_SQL = CONCAT (
			' INSERT INTO #TOTAL_NM_PPA_PROJECTION1
  (
   PROJECTION_DISCOUNT_DOLLAR,
   PPA_RPU_PROJECTED		,
   PPA_PROJECTION_SALES1	,
   PPA_PROJECTION_UNITS1	,
   PERIOD					 ,
   YEAR						 ,
   HIERARCHY_NO				 ,
   LEVEL_NAME				,
   PARENT_HIERARCHY_NO
  )
SELECT SUM(PROJECTION_DISCOUNT_DOLLAR) PROJECTION_DISCOUNT_DOLLAR
	,PPA_RPU_PROJECTED = SUM(PPA_RPU_PROJECTED)
	,PPA_PROJECTION_SALES1 = SUM(PPA_PROJECTION_SALES1)
	,PPA_PROJECTION_UNITS1 = SUM(PPA_PROJECTION_UNITS1)
	,PERIOD
	,YEAR
	,HIERARCHY_NO
	,LEVEL_NAME
	,PARENT_HIERARCHY_NO

FROM (
	SELECT NSP.PROJECTION_DISCOUNT_DOLLAR PROJECTION_DISCOUNT_DOLLAR
		,PPA_RPU_PROJECTED = PROJECTION_RATE
		,PPA_PROJECTION_SALES1 = NS.PROJECTION_SALES
		,PPA_PROJECTION_UNITS1 = NS.PROJECTION_UNITS
		,PERIOD
		,YEAR
		,HIERARCHY_NO
		,LEVEL_NAME
		,PARENT_HIERARCHY_NO
	FROM '
			,@P_PROJECTION_TABLE
			,' NSP
	INNER JOIN '
			,@P_MASTER_TABLE
			,' NDPM ON NDPM.CCP_DETAILS_SID = NSP.CCP_DETAILS_SID
		AND NDPM.RS_CONTRACT_SID = NSP.RS_CONTRACT_SID
		
	INNER JOIN '
			,@S_PROJECTION_TABLE
			,' NS ON NS.CCP_DETAILS_SID = NSP.CCP_DETAILS_SID
		AND NS.PERIOD_SID = NSP.PERIOD_SID
	INNER JOIN #CCP C ON C.CCP_DETAILS_SID = NSP.CCP_DETAILS_SID
		AND NSP.PERIOD_SID BETWEEN '
			,@PROJ_START_PERIOD_SID
			,'
			AND '
			,@PROJ_END_PERIOD_SID
			,'
	INNER JOIN #PERIOD P ON P.PERIOD_SID = NSP.PERIOD_SID
	WHERE EXISTS (
			SELECT 1
			FROM #RS_DATA A
			WHERE CASE 
					WHEN '''
			,@DISCOUNT_VIEW
			,'''= ''PROGRAM''
						THEN CAST(NSP.RS_CONTRACT_SID AS VARCHAR(20))
					ELSE ''PRICE PROTECTION''
					END = A.RS_CONTRACT_SID
			)
		
	) A
GROUP BY PARENT_HIERARCHY_NO,HIERARCHY_NO
	,LEVEL_NAME
	,PERIOD
	,YEAR'
			)

	EXEC sp_executesql @D_SQL

	IF Object_id('TEMPDB..#TOTAL_NM_ACTUAL_PPA1') IS NOT NULL
		DROP TABLE #TOTAL_NM_ACTUAL_PPA1

	CREATE TABLE #TOTAL_NM_ACTUAL_PPA1 (
		ACTUAL_DISCOUNT_DOLLAR NUMERIC(22, 6)
		,PERIOD VARCHAR(50)
		,YEAR INT
		,PPA_ACTUAL_SALES1 NUMERIC(22, 6)
		,PPA_ACTUAL_UNITS1 NUMERIC(22, 6)
		,HIERARCHY_NO VARCHAR(100)
		,LEVEL_NAME VARCHAR(100)
		,PARENT_HIERARCHY_NO VARCHAR(100)
		)

	SET @D_SQL = CONCAT (
			'INSERT INTO #TOTAL_NM_ACTUAL_PPA1
  (
  ACTUAL_DISCOUNT_DOLLAR,
  PERIOD	,			
  YEAR	,				
  PPA_ACTUAL_SALES1	,	
  PPA_ACTUAL_UNITS1	,	
  HIERARCHY_NO	,		
  LEVEL_NAME,
  PARENT_HIERARCHY_NO			
  )
SELECT SUM(ACTUAL_DISCOUNT_DOLLAR) AS ACTUAL_DISCOUNT_DOLLAR
	,PERIOD
	,YEAR
	,PPA_ACTUAL_SALES1 = SUM(PPA_ACTUAL_SALES1)
	,PPA_ACTUAL_UNITS1 = SUM(PPA_ACTUAL_UNITS1)
	,HIERARCHY_NO
	,LEVEL_NAME
	,PARENT_HIERARCHY_NO

FROM (
	SELECT NAD.ACTUAL_DISCOUNT_DOLLAR
		,PERIOD
		,YEAR
		,HIERARCHY_NO
		,LEVEL_NAME
		,NAD.RS_CONTRACT_SID
		,PPA_ACTUAL_SALES1 = NS.ACTUAL_SALES
		,PPA_ACTUAL_UNITS1 = NS.ACTUAL_UNITS
		,PARENT_HIERARCHY_NO
	FROM '
			,@P_ACTUAL_TABLE
			,' NAD
	INNER JOIN '
			,@P_MASTER_TABLE
			,' NDPM ON NDPM.CCP_DETAILS_SID = NAD.CCP_DETAILS_SID
		AND NDPM.RS_CONTRACT_SID = NAD.RS_CONTRACT_SID
		
	INNER JOIN '
			,@S_ACTUAL_TABLE
			,' NS ON NS.CCP_DETAILS_SID = NAD.CCP_DETAILS_SID
		
		AND NS.PERIOD_SID = NAD.PERIOD_SID
	INNER JOIN #CCP C ON C.CCP_DETAILS_SID = NAD.CCP_DETAILS_SID
		AND NAD.PERIOD_SID BETWEEN COALESCE( '
			,@ACT_START_PERIOD_SID
			,','
			,@PROJ_START_PERIOD_SID
			,')
			AND '
			,@ACT_END_PERIOD_SID
			,'
	--	AND NAD.PERIOD_SID BETWEEN @PROJ_START_PERIOD_SID
	--AND @PROJ_END_PERIOD_SID
	INNER JOIN #PERIOD P ON P.PERIOD_SID = NAD.PERIOD_SID
	WHERE EXISTS (
			SELECT 1
			FROM #RS_DATA A
			WHERE CASE 
					WHEN'''
			,@DISCOUNT_VIEW
			,'''= ''PROGRAM''
						THEN CAST(NAD.RS_CONTRACT_SID AS VARCHAR(20))
					ELSE ''PRICE PROTECTION''
					END = A.RS_CONTRACT_SID
			)
		
	) A
GROUP BY PARENT_HIERARCHY_NO,HIERARCHY_NO
	,LEVEL_NAME
	,PERIOD
	,YEAR'
			)

	EXEC sp_executesql @D_SQL

	IF Object_id('TEMPDB..#TOTAL_DISCOUNT1') IS NOT NULL
		DROP TABLE #TOTAL_DISCOUNT1

	SELECT FD.YEAR
		,FD.PERIOD
		,FD.PARENT_HIERARCHY_NO
		, COALESCE((NSP.PROJECTION_SALES), 0) AS PROJECTION_SALES 
		, COALESCE((NAD.ACTUAL_SALES), 0) AS ACTUAL_SALES 
		,FD.HIERARCHY_NO
		,FD.LEVEL_NAME
	INTO #TOTAL_DISCOUNT1
	FROM #DATA_TABLE1 FD
	LEFT JOIN #TOTAL_NM_DISCOUNT_PROJECTION1 NSP ON NSP.HIERARCHY_NO = FD.HIERARCHY_NO
	AND COALESCE(FD.PARENT_HIERARCHY_NO,FD.HIERARCHY_NO)=COALESCE(NSP.PARENT_HIERARCHY_NO,NSP.HIERARCHY_NO)
		AND NSP.LEVEL_NAME = FD.LEVEL_NAME
		AND NSP.HIERARCHY_NO = FD.HIERARCHY_NO
		AND NSP.YEAR = FD.YEAR
		AND NSP.PERIOD = FD.PERIOD
	LEFT JOIN #TOTAL_NM_ACTUAL_DISCOUNT1 NAD ON NAD.HIERARCHY_NO = FD.HIERARCHY_NO
	AND COALESCE(FD.PARENT_HIERARCHY_NO,FD.HIERARCHY_NO)=COALESCE(NAD.PARENT_HIERARCHY_NO,NAD.HIERARCHY_NO)
		AND NAD.LEVEL_NAME = FD.LEVEL_NAME
		AND NAD.HIERARCHY_NO = FD.HIERARCHY_NO
		AND NAD.YEAR = FD.YEAR
		AND NAD.PERIOD = FD.PERIOD

	IF Object_id('TEMPDB..#TOTAL_PPA_SUPP_MANDATED1') IS NOT NULL
		DROP TABLE #TOTAL_PPA_SUPP_MANDATED1

	SELECT FD.YEAR
		,FD.PERIOD
		,FD.PARENT_HIERARCHY_NO
		,COALESCE((NSP.PROJECTION_DISCOUNT_DOLLAR), 0) AS PPA_DISCOUNT_PROJECTED 
		,COALESCE((NAS.ACTUAL_DISCOUNT_DOLLAR), 0) AS PPA_ACTUAL_SALES 
		,COALESCE((NSP.PPA_RPU_PROJECTED), 0) AS PPA_RPU_PROJECTED 
		,COALESCE((PPA_ACTUAL_SALES1), 0) AS PPA_ACTUAL_SALES1 
		,COALESCE((PPA_ACTUAL_UNITS1), 0) AS PPA_ACTUAL_UNITS1 
		,COALESCE((PPA_PROJECTION_SALES1), 0) AS PPA_PROJECTION_SALES1
		,COALESCE((PPA_PROJECTION_UNITS1), 0) AS PPA_PROJECTION_UNITS1 
		,FD.HIERARCHY_NO
		,FD.LEVEL_NAME
	INTO #TOTAL_PPA_SUPP_MANDATED1
	FROM #DATA_TABLE1 FD
	LEFT JOIN #TOTAL_NM_PPA_PROJECTION1 NSP ON NSP.HIERARCHY_NO = FD.HIERARCHY_NO
	AND COALESCE(FD.PARENT_HIERARCHY_NO,FD.HIERARCHY_NO)=COALESCE(NSP.PARENT_HIERARCHY_NO,NSP.HIERARCHY_NO)
		AND NSP.LEVEL_NAME = FD.LEVEL_NAME
		AND NSP.HIERARCHY_NO = FD.HIERARCHY_NO
		AND NSP.YEAR = FD.YEAR
		AND NSP.PERIOD = FD.PERIOD
	LEFT JOIN #TOTAL_NM_ACTUAL_PPA1 NAS ON NAS.HIERARCHY_NO = FD.HIERARCHY_NO
	AND COALESCE(FD.PARENT_HIERARCHY_NO,FD.HIERARCHY_NO)=COALESCE(NAS.PARENT_HIERARCHY_NO,NAS.HIERARCHY_NO)
		AND NAS.LEVEL_NAME = FD.LEVEL_NAME
		AND NAS.HIERARCHY_NO = FD.HIERARCHY_NO
		AND NAS.YEAR = FD.YEAR
		AND NAS.PERIOD = FD.PERIOD

	-------------------------------------------------------------------------------------------
	IF Object_id('TEMPDB..#TEMP_FINAL') IS NOT NULL
		DROP TABLE #TEMP_FINAL

	SELECT PERIOD
		,GTS.YEAR
		,SUM(INVENTORY_ACTUAL_SALES) AS ACT_AMOUNT_WITHDRAWN 
		, SUM(INVENTORY_ACTUAL_UNITS) AS ACT_UNITS_WITHDRAWN 
		, SUM(isnull(INVENTORY_FORECAST_SALES, INVENTORY_ACTUAL_SALES)) AS FOR_AMOUNT_WITHDRAWN
		, SUM(isnull(INVENTORY_FORECAST_UNITS, INVENTORY_ACTUAL_UNITS)) AS FOR_UNITS_WITHDRAWN 
		,SUM(DEMAND_ACTUAL_SALES) AS DEMAND_SALES_ACTUAL 
		, SUM(DEMAND_ACTUAL_UNITS) AS ACT_GROSS_UNITS 
		,SUM(isnull(DEMAND_FORECAST_SALES, DEMAND_ACTUAL_SALES)) AS DEMAND_SALES_PROJECTED 
		, SUM(isnull(DEMAND_FORECAST_UNITS, DEMAND_ACTUAL_UNITS)) AS FOR_GROSS_UNITS 
		,SUM(EXFACTORY_ACTUAL_SALES) AS GTS_SALES_ACTUALS 
		, SUM(isnull(EXFACTORY_FORECAST_SALES, EXFACTORY_ACTUAL_SALES)) AS GTS_SALES_PROJECTED
		, SUM(ISNULL(EXFACTORY_FORECAST_UNITS, EXFACTORY_ACTUAL_UNITS)) AS UNITS 
	INTO #TEMP_FINAL
	FROM #TEMP_GTS_DETAILS GTS
	GROUP BY PERIOD
		,YEAR
	ORDER BY YEAR
		,PERIOD

	IF Object_id('TEMPDB..#TEMP_FINAL_HIERARCHY') IS NOT NULL
		DROP TABLE #TEMP_FINAL_HIERARCHY

	SELECT PARENT_HIERARCHY_NO,HIERARCHY_NO
		,LEVEL_NAME
		,PERIOD
		,GTS.YEAR
		,SUM(EXFACTORY_ACTUAL_SALES) AS GTS_SALES_ACTUALS 
		,SUM(ISNULL(EXFACTORY_FORECAST_SALES, EXFACTORY_ACTUAL_SALES)) AS GTS_SALES_PROJECTED 
	INTO #TEMP_FINAL_HIERARCHY
	FROM #TEMP_GTS_DETAILS GTS
	JOIN ITEM_MASTER IM ON GTS.ITEMID = IM.ITEM_ID
	JOIN (
		SELECT HIERARCHY_NO
			,LEVEL_NAME
			,ITEM_MASTER_SID
			,PARENT_HIERARCHY_NO
		FROM #TEMP_CCP
		GROUP BY PARENT_HIERARCHY_NO,HIERARCHY_NO
			,LEVEL_NAME
			,ITEM_MASTER_SID
		) HI ON HI.ITEM_MASTER_SID = IM.ITEM_MASTER_SID
	GROUP BY PARENT_HIERARCHY_NO,HIERARCHY_NO
		,LEVEL_NAME
		,PERIOD
		,YEAR

	INSERT INTO #PIVOT_RESULT (
		PROJECTION_MASTER_SID
		,HIERARCHY_NO
		,LEVEL_NAME
		,CP_INDICATOR
		,YEAR
		,PERIOD
		,CONTRACT_SALES_ACTUALS
		,CONTRACT_SALES_PROJECTED
		,CONTRACT_UNITS_ACTUALS
		,CONTRACT_UNITS_PROJECTED
		,EX_FACTORY_SALES_ACTUALS
		,EX_FACTORY_SALES_PROJECTED
		,GTS_UNITS
		,TOTAL_DISCOUNT
		,TOTAL_DISCOUNT_PROJECTED
		,TOTAL_DISCOUNT_PERCENTAGE
		,TOTAL_DISCOUNT_PROJECTED_PERCENTAGE
		,EX_FACTORY_SALES_ACTUALS_PERCENT
		,EX_FACTORY_SALES_PROJECTED_PERCENT
		,PPA_DISCOUNT
		,PPA_DISCOUNT_PROJECTED
		,PPA_DISCOUNT_PERCENTAGE
		,PPA_DISCOUNT_PROJECTED_PERCENTAGE
		,DEMAND_SALES_PROJECTED
		,NET_SALES
		,NET_SALES_PROJECTED
		,DEMAND_SALES_ACTUAL
		,INVENTORY_WITHDRAWAL_ACTUAL
		,INVENTORY_WITHDRAWAL_PROJECTED
		,DEMAND_SALES_ACTUAL_PERCENT
		,DEMAND_SALES_PROJECTED_PERCENT
		,INVENTORY_WITHDRAWAL_SALES_ACTUAL_PERCENT
		,INVENTORY_WITHDRAWAL_SALES_PROJECTED_PERCENT
		,TOTAL_DISCOUNT_RPU_ACTUALS
		,TOTAL_DISCOUNT_RPU_PROJECTED
		,TOTAL_PPA_RPU_ACTUALS
		,TOTAL_PPA_RPU_PROJECTED
		,TOTAL_RPU_ACTUAL
		,TOTAL_PROJECTED_RPU
		,COGS_ACTUAL
		,COGS_PROJECTED
		,NET_PROFIT_ACTUAL
		,NET_PROFIT_PROJECTED
		,RETURNS_ACTUAL_AMOUNT
		,RETURNS_ACTUAL_PERCENTAGE
		,RETURNS_PROJECTED_AMOUNT
		,RETURNS_PROJECTED_PERCENTAGE
		,TOTAL_RETURNS_RPU_ACTAULS
		,TOTAL_RETURNS_RPU_PROJECTED
		,NET_SALES_OF_EX_FACTORY_ACTUALS
		,NET_SALES_OF_EX_FACTORY_PROJECTED
		,DISCOUNT_OF_EX_FACTORY_ACTUALS
		,DISCOUNT_OF_EX_FACTORY_PROJECTED
		
		)
	SELECT DISTINCT @FIRST_PROJ_SID
		,S.HIERARCHY_NO
		,S.LEVEL_NAME
		,@CP_INDICATOR
		,S.YEAR
		,S.PERIOD
		, Isnull(S.ACTUAL_SALES, 0) AS CONTRACT_SALES_ACTUALS
		, Isnull(S.PROJECTION_SALES, 0) AS CONTRACT_SALES_PROJECTED 
		, Isnull(S.ACTUAL_UNITS, 0) AS CONTRACT_UNITS_ACTUALS 
		,Isnull(S.PROJECTION_UNITS, 0) AS CONTRACT_UNITS_PROJECTED 
		, Isnull(TF.GTS_SALES_ACTUALS, 0) AS EX_FACTORY_SALES_ACTUALS 
		, Isnull(TF.GTS_SALES_PROJECTED, 0) as EX_FACTORY_SALES_PROJECTED
		,Isnull(TF.UNITS, 0) as GTS_UNITS 
		,Isnull(ND.ACTUAL_SALES, 0) + Isnull(PSM.PPA_ACTUAL_SALES, 0) as TOTAL_DISCOUNT 
		, Isnull(ND.PROJECTION_SALES, 0) + Isnull(PPA_DISCOUNT_PROJECTED, 0) as TOTAL_DISCOUNT_PROJECTED 
		,(Isnull((Isnull(ND.ACTUAL_SALES, 0) + Isnull(PPA_ACTUAL_SALES, 0)) / NULLIF(S.ACTUAL_SALES, 0), 0)) * 100 as TOTAL_DISCOUNT_PERCENTAGE 
		,(Isnull((Isnull(ND.PROJECTION_SALES, 0) + Isnull(PPA_DISCOUNT_PROJECTED, 0)) / NULLIF(S.PROJECTION_SALES, 0), 0)) * 100 as TOTAL_DISCOUNT_PROJECTED_PERCENTAGE 
		,(Isnull(S.ACTUAL_SALES / NULLIF(TF.GTS_SALES_ACTUALS, 0), 0)) * 100 as EX_FACTORY_SALES_ACTUALS_PERCENT 
		, (Isnull(S.PROJECTION_SALES / NULLIF(TF.GTS_SALES_PROJECTED, 0), 0)) * 100 as EX_FACTORY_SALES_PROJECTED_PERCENT 
		, Isnull(PSM.PPA_ACTUAL_SALES, 0) as PPA_DISCOUNT 
		, Isnull(PSM.PPA_DISCOUNT_PROJECTED, 0) as PPA_DISCOUNT_PROJECTED
		, Isnull(PSM.PPA_ACTUAL_SALES / NULLIF(PSM.PPA_ACTUAL_SALES1, 0), 0) * 100 as PPA_DISCOUNT_PERCENTAGE 
		,Isnull(PSM.PPA_DISCOUNT_PROJECTED / NULLIF(PSM.PPA_PROJECTION_SALES1, 0), 0) * 100 as PPA_DISCOUNT_PROJECTED_PERCENTAGE 
		,Isnull(TF.DEMAND_SALES_PROJECTED, 0) as DEMAND_SALES_PROJECTED 
		, Isnull(S.ACTUAL_SALES, 0) - (Isnull(ND.ACTUAL_SALES, 0) + Isnull(PSM.PPA_ACTUAL_SALES, 0)) as NET_SALES 
		, Isnull(S.PROJECTION_SALES, 0) - (Isnull(ND.PROJECTION_SALES, 0) + Isnull(PSM.PPA_DISCOUNT_PROJECTED, 0)) as NET_SALES_PROJECTED
		, Isnull(TF.DEMAND_SALES_ACTUAL, 0) as DEMAND_SALES_ACTUAL 
		,Isnull(TF.ACT_AMOUNT_WITHDRAWN, 0) as INVENTORY_WITHDRAWAL_ACTUAL 
		,Isnull(TF.FOR_AMOUNT_WITHDRAWN, 0) as INVENTORY_WITHDRAWAL_PROJECTED 
		, (Isnull(S.ACTUAL_SALES / NULLIF(TF.DEMAND_SALES_ACTUAL, 0), 0)) * 100 as DEMAND_SALES_ACTUAL_PERCENT 
		, (Isnull(S.PROJECTION_SALES / NULLIF(TF.DEMAND_SALES_PROJECTED, 0), 0)) * 100 as DEMAND_SALES_PROJECTED_PERCENT 
		,(Isnull(S.ACTUAL_SALES / NULLIF(TF.ACT_AMOUNT_WITHDRAWN, 0), 0)) * 100 as INVENTORY_WITHDRAWAL_SALES_ACTUAL_PERCENT 
		,(Isnull(S.PROJECTION_SALES / NULLIF(TF.FOR_AMOUNT_WITHDRAWN, 0), 0)) * 100 as INVENTORY_WITHDRAWAL_SALES_PROJECTED_PERCENT 
		,(Isnull(ND.ACTUAL_SALES / NULLIF(S.ACTUAL_UNITS, 0), 0)) as TOTAL_DISCOUNT_RPU_ACTUALS 
		,(Isnull(ND.PROJECTION_SALES / NULLIF(S.PROJECTION_UNITS, 0), 0)) as TOTAL_DISCOUNT_RPU_PROJECTED 
		, (Isnull(PSM.PPA_ACTUAL_SALES / NULLIF(PSM.PPA_ACTUAL_UNITS1, 0), 0)) as TOTAL_PPA_RPU_ACTUALS
		,(Isnull(PSM.PPA_DISCOUNT_PROJECTED / NULLIF(PSM.PPA_PROJECTION_UNITS1, 0), 0)) as TOTAL_PPA_RPU_PROJECTED 
		, (Isnull((Isnull(ND.ACTUAL_SALES, 0) + Isnull(PSM.PPA_ACTUAL_SALES, 0)) / NULLIF(S.ACTUAL_UNITS, 0), 0)) as TOTAL_RPU_ACTUAL 
		, (Isnull((Isnull(ND.PROJECTION_SALES, 0) + Isnull(PPA_DISCOUNT_PROJECTED, 0)) / NULLIF(S.PROJECTION_UNITS, 0), 0)) as TOTAL_PROJECTED_RPU 
		,Isnull(S.COGS_ACTUAL, 0) as COGS_ACTUAL
		,Isnull(S.COGS_PROJECTED, 0) as COGS_PROJECTED 
		, ((Isnull(S.ACTUAL_SALES, 0) - (Isnull(ND.ACTUAL_SALES, 0) + Isnull(PSM.PPA_ACTUAL_SALES, 0)) - Isnull(S.COGS_ACTUAL, 0))) as NET_PROFIT_ACTUAL
		, ((Isnull(S.PROJECTION_SALES, 0) - (Isnull(ND.PROJECTION_SALES, 0) + Isnull(PSM.PPA_DISCOUNT_PROJECTED, 0))) - (Isnull(S.COGS_PROJECTED, 0))) as NET_PROFIT_PROJECTED
		, 000000.0 as RETURNS_ACTUAL_AMOUNT 
		, 000000.0 as RETURNS_ACTUAL_PERCENTAGE
		, 000000.0 as RETURNS_PROJECTED_AMOUNT 
		, 000000.0 as RETURNS_PROJECTED_PERCENTAGE 
		, 000000.0 as TOTAL_RETURNS_RPU_ACTAULS 
		, 000000.0 as TOTAL_RETURNS_RPU_PROJECTED 
		, coalesce((Isnull(S.ACTUAL_SALES, 0) - (Isnull(ND.ACTUAL_SALES, 0) + Isnull(PSM.PPA_ACTUAL_SALES, 0))) / nullif(TFH.GTS_SALES_ACTUALS, 0), 0) * 100 as NET_SALES_OF_EX_FACTORY_ACTUALS 
		, coalesce((Isnull(S.PROJECTION_SALES, 0) - (Isnull(ND.PROJECTION_SALES, 0) + Isnull(PSM.PPA_DISCOUNT_PROJECTED, 0))) / nullif(TFH.GTS_SALES_PROJECTED, 0), 0) * 100 as NET_SALES_OF_EX_FACTORY_PROJECTED 
		, COALESCE((Isnull(ND.ACTUAL_SALES, 0) + Isnull(PSM.PPA_ACTUAL_SALES, 0)) / NULLIF(TFH.GTS_SALES_ACTUALS, 0), 0) * 100 as DISCOUNT_OF_EX_FACTORY_ACTUALS 
		, COALESCE((Isnull(ND.PROJECTION_SALES, 0) + Isnull(PPA_DISCOUNT_PROJECTED, 0)) / NULLIF(TFH.GTS_SALES_PROJECTED, 0), 0) * 100 as DISCOUNT_OF_EX_FACTORY_PROJECTED 
		
	FROM #SALES1 S
	LEFT JOIN #TOTAL_DISCOUNT1 ND ON S.YEAR = ND.YEAR
		AND S.PERIOD = ND.PERIOD
		AND S.HIERARCHY_NO = ND.HIERARCHY_NO
		AND COALESCE(ND.PARENT_HIERARCHY_NO,ND.HIERARCHY_NO)=COALESCE(S.PARENT_HIERARCHY_NO,S.HIERARCHY_NO)
		AND S.LEVEL_NAME = ND.LEVEL_NAME
	LEFT JOIN #TOTAL_PPA_SUPP_MANDATED1 PSM ON S.YEAR = PSM.YEAR
		AND S.PERIOD = PSM.PERIOD
		AND S.HIERARCHY_NO = PSM.HIERARCHY_NO
		AND COALESCE(PSM.PARENT_HIERARCHY_NO,PSM.HIERARCHY_NO)=COALESCE(S.PARENT_HIERARCHY_NO,S.HIERARCHY_NO)
		AND S.LEVEL_NAME = PSM.LEVEL_NAME
	LEFT JOIN #TEMP_FINAL TF ON TF.YEAR = S.YEAR
		AND TF.PERIOD = S.PERIOD
	LEFT JOIN #TEMP_FINAL_HIERARCHY TFH ON TFH.YEAR = S.YEAR
		AND TFH.PERIOD = S.PERIOD
		AND S.HIERARCHY_NO = TFH.HIERARCHY_NO
		AND COALESCE(TFH.PARENT_HIERARCHY_NO,TFH.HIERARCHY_NO)=COALESCE(S.PARENT_HIERARCHY_NO,S.HIERARCHY_NO)
		AND S.LEVEL_NAME = TFH.LEVEL_NAME

----------------------------------------------------------------------
	IF @VIEW = 'DETAIL_TOTAL_DISCOUNT'
	BEGIN
		SELECT PROJECTION_MASTER_SID
			,p.HIERARCHY_NO
			,p.LEVEL_NAME
			,CP_INDICATOR
			,YEAR
			,PERIOD
			,CONTRACT_SALES_ACTUALS
			,CONTRACT_SALES_PROJECTED
			,CONTRACT_UNITS_ACTUALS
			,CONTRACT_UNITS_PROJECTED
			,EX_FACTORY_SALES_ACTUALS
			,EX_FACTORY_SALES_PROJECTED
			,GTS_UNITS
			,TOTAL_DISCOUNT
			,TOTAL_DISCOUNT_PROJECTED
			,TOTAL_DISCOUNT_PERCENTAGE
			,TOTAL_DISCOUNT_PROJECTED_PERCENTAGE
			,EX_FACTORY_SALES_ACTUALS_PERCENT
			,EX_FACTORY_SALES_PROJECTED_PERCENT
			,PPA_DISCOUNT
			,PPA_DISCOUNT_PROJECTED
			,PPA_DISCOUNT_PERCENTAGE
			,PPA_DISCOUNT_PROJECTED_PERCENTAGE
			,DEMAND_SALES_PROJECTED
			,NET_SALES
			,NET_SALES_PROJECTED
			,DEMAND_SALES_ACTUAL
			,INVENTORY_WITHDRAWAL_ACTUAL
			,INVENTORY_WITHDRAWAL_PROJECTED
			,DEMAND_SALES_ACTUAL_PERCENT
			,DEMAND_SALES_PROJECTED_PERCENT
			,INVENTORY_WITHDRAWAL_SALES_ACTUAL_PERCENT
			,INVENTORY_WITHDRAWAL_SALES_PROJECTED_PERCENT
			,TOTAL_DISCOUNT_RPU_ACTUALS
			,TOTAL_DISCOUNT_RPU_PROJECTED
			,TOTAL_PPA_RPU_ACTUALS
			,TOTAL_PPA_RPU_PROJECTED
			,TOTAL_RPU_ACTUAL
			,TOTAL_PROJECTED_RPU
			,COGS_ACTUAL
			,COGS_PROJECTED
			,NET_PROFIT_ACTUAL
			,NET_PROFIT_PROJECTED
			,RETURNS_ACTUAL_AMOUNT
			,RETURNS_ACTUAL_PERCENTAGE
			,RETURNS_PROJECTED_AMOUNT
			,RETURNS_PROJECTED_PERCENTAGE
			,TOTAL_RETURNS_RPU_ACTAULS
			,TOTAL_RETURNS_RPU_PROJECTED
			,NET_SALES_OF_EX_FACTORY_ACTUALS
			,NET_SALES_OF_EX_FACTORY_PROJECTED
			,DISCOUNT_OF_EX_FACTORY_ACTUALS
			,DISCOUNT_OF_EX_FACTORY_PROJECTED
			,c.PARENT_HIERARCHY_NO
		FROM #PIVOT_RESULT p
		JOIN (
			SELECT DISTINCT HIERARCHY_NO
				,LEVEL_NAME
				,PARENT_HIERARCHY_NO
				,level_no
			FROM #CCP
			) c ON p.HIERARCHY_NO = c.HIERARCHY_NO
			
		ORDER BY c.level_no
			,c.PARENT_HIERARCHY_NO
			,p.HIERARCHY_NO
			,p.LEVEL_NAME
			,[YEAR]
			,PERIOD
	END
	ELSE IF (@ORDER_FLAG = 1)
	BEGIN
		SELECT PROJECTION_MASTER_SID
			,p.HIERARCHY_NO
			,p.LEVEL_NAME
			,CP_INDICATOR
			,YEAR
			,PERIOD
			,RS_NAME
			,TOTAL_DISCOUNT
			,TOTAL_DISCOUNT_PROJECTED
			,TOTAL_DISCOUNT_PERCENTAGE
			,TOTAL_DISCOUNT_PROJECTED_PERCENTAGE
			,TOTAL_RPU
			,TOTAL_PROJECTED_RPU
			,c.PARENT_HIERARCHY_NO
			,DISCOUNT_OF_EX_FACTORY_ACTUALS
			,DISCOUNT_OF_EX_FACTORY_PROJECTED
			,RS_CONTRACT_SID
		FROM #RESULT p
		JOIN (
			SELECT DISTINCT HIERARCHY_NO
				,LEVEL_NAME
				,PARENT_HIERARCHY_NO
				,level_no
			FROM #CCP
			) c ON p.HIERARCHY_NO = c.HIERARCHY_NO
		ORDER BY c.level_no
			,c.PARENT_HIERARCHY_NO
			,p.HIERARCHY_NO
			,p.LEVEL_NAME
			,[YEAR]
			,PERIOD
	END
	ELSE
	BEGIN
		SELECT PROJECTION_MASTER_SID
			,p.HIERARCHY_NO
			,p.LEVEL_NAME
			,CP_INDICATOR
			,YEAR
			,PERIOD
			,RS_NAME
			,TOTAL_DISCOUNT
			,TOTAL_DISCOUNT_PROJECTED
			,TOTAL_DISCOUNT_PERCENTAGE
			,TOTAL_DISCOUNT_PROJECTED_PERCENTAGE
			,TOTAL_RPU
			,TOTAL_PROJECTED_RPU
			,c.PARENT_HIERARCHY_NO
			,DISCOUNT_OF_EX_FACTORY_ACTUALS
			,DISCOUNT_OF_EX_FACTORY_PROJECTED
			,RS_CONTRACT_SID
		FROM #RESULT p
		JOIN (
			SELECT DISTINCT HIERARCHY_NO
				,LEVEL_NAME
				,PARENT_HIERARCHY_NO
				,level_no
			FROM #CCP
			) c ON p.HIERARCHY_NO = c.HIERARCHY_NO
		ORDER BY c.level_no
			,c.PARENT_HIERARCHY_NO
			,p.HIERARCHY_NO
			,RS_NAME
			,p.LEVEL_NAME
			,[YEAR]
			,PERIOD
	END


	END
GO


