IF EXISTS (SELECT 'X'
           FROM   INFORMATION_SCHEMA.ROUTINES
           WHERE  ROUTINE_NAME = 'PRC_DISC_ALTERNATE_HIST'
                  AND ROUTINE_SCHEMA = 'DBO')
  BEGIN
      DROP PROCEDURE [DBO].[PRC_DISC_ALTERNATE_HIST]
  END

GO

CREATE PROCEDURE [dbo].[PRC_DISC_ALTERNATE_HIST] ( 
@PROJECTION_MASTER_SID INT,
@FREQUENCY VARCHAR(20) ,
@USER_ID   INT,
@SESSION_ID varchar(50))

AS
BEGIN
	SET NOCOUNT ON

	BEGIN TRY

DECLARE @DISC_ALLOCATION VARCHAR(200)= CONCAT('ST_DISC_ALTERNATE_HIST_ALLOCATION_', @user_id, '_', @session_id,'_',replace(convert(varchar(50),getdate(),2),'.','')),
		@D_PROJECTION_TABLE    VARCHAR(200) = Concat('ST_NM_DISCOUNT_PROJECTION_', @USER_ID, '_', @SESSION_ID,'_',replace(convert(varchar(50),getdate(),2),'.','')),
		@ACTUAL_TABLE        VARCHAR(200) = Concat('ST_NM_ACTUAL_DISCOUNT_', @USER_ID, '_', @SESSION_ID,'_',replace(convert(varchar(50),getdate(),2),'.','')),
		@SQL      NVARCHAR(MAX),
		@PRODUCT_TABLE      VARCHAR(200)=Concat('ST_PRODUCT_FILE_', @USER_ID, '_', @SESSION_ID, '_', Replace(CONVERT(VARCHAR(50), Getdate(), 2), '.', ''))


BEGIN

SET @FREQUENCY        =  LEFT(@FREQUENCY,1)  


	-------------------------------GAL-808------------------------------
	--DECLARE @COMPANY_ID INT
	--	SELECT @BUSINESS_UNIT=BUSINESS_UNIT,
	--	@COMPANY_ID=PM.COMPANY_MASTER_SID FROM
	--	PROJECTION_MASTER PM
	--	WHERE PROJECTION_MASTER_SID=@PROJECTION_MASTER_SID
	--	---------------------------------------------------------
	--SELECT TOP 1 @FORECAST_NAME = FT.FORECAST_NAME
	--	,@FORECAST_VERSION = FT.[VERSION]
	--FROM FILE_MANAGEMENT FT
	--INNER JOIN HELPER_TABLE HT ON HT.HELPER_TABLE_SID = FT.FILE_TYPE
	--WHERE (
	--		CONVERT(DATE, FT.FROM_PERIOD) <= CONVERT(DATE, GETDATE())
	--		AND FT.FROM_PERIOD IS NOT NULL
	--		)
	--	AND (
	--		CONVERT(DATE, FT.TO_PERIOD) >= CONVERT(DATE, GETDATE())
	--		OR FT.TO_PERIOD IS NULL
	--		)
	--	AND HT.LIST_NAME = 'FILE_TYPE'
	--	AND HT.DESCRIPTION = 'EX-FACTORY SALES'
	--	AND FT.BUSINESS_UNIT=@BUSINESS_UNIT
	--	AND FT.COMPANY=@COMPANY_ID
	--ORDER BY FT.FROM_PERIOD DESC
	--REMOVED COMPANY_ID PART ON 4/22/2016
	--SELECT @FORECAST_NAME AS FN
	--SELECT @FORECAST_VERSION AS FV
	--SELECT @COMPANY_ID = COMPANY_ID
	--FROM COMPANY_MASTER CM
	--JOIN PROJECTION_MASTER PM ON PM.COMPANY_MASTER_SID = CM.COMPANY_MASTER_SID
	--JOIN PROJECTION_DETAILS PD ON PD.PROJECTION_MASTER_SID = PM.PROJECTION_MASTER_SID
	--WHERE PD.PROJECTION_DETAILS_SID IN (SELECT U.TOKEN FROM UDF_SPLITSTRING( @PROJECTION_DETAILS_SID ,',') U)

	--SELECT @COMPANY_ID

	set @sql=concat('SELECT DISTINCT IM.ITEM_MASTER_SID
	FROM ITEM_MASTER IM
	JOIN CCP_DETAILS CD ON IM.ITEM_MASTER_SID = CD.ITEM_MASTER_SID
	
	WHERE CD.CCP_DETAILS_SID IN (SELECT SDAHA.CCP_DETAILS_SID FROM  
	',@DISC_ALLOCATION,' SDAHA  WHERE SDAHA.CHECK_RECORD = 1 )')


		

	--SELECT * FROM @ITEM_DETAILS
	IF OBJECT_ID('TEMPDB.DBO.#TEMP_CALC', 'U') IS NOT NULL
		DROP TABLE #TEMP_CALC;


		CREATE TABLE #TEMP_CALC
		  (
			 ITEM_MASTER_SID    INT,
			 PERIOD_SID         INT,
			 YEAR               INT,
			 GTS_ACTUAL_SALES   NUMERIC(22, 6),
			 GTS_FORECAST_SALES NUMERIC(22, 6),
			 RN                 INT
		  ) 
    
		SET @SQL=CONCAT('  INSERT INTO #TEMP_CALC
		(
		ITEM_MASTER_SID ,  
		PERIOD_SID ,       
		YEAR ,             
		GTS_ACTUAL_SALES  ,
		GTS_FORECAST_SALES,
		RN                
		)

	SELECT ITEM_MASTER_SID,P.PERIOD_SID ,P.YEAR AS YEAR
		,COALESCE(ACTUAL_GTS_UNITS, 0) AS GTS_ACTUAL_SALES
	    ,COALESCE(FORECAST_GTS_UNITS, 0) AS GTS_FORECAST_SALES
		,DENSE_RANK() OVER (
			PARTITION BY ITEM_MASTER_SID, CASE WHEN @FREQUENCY = ''M'' THEN P.YEAR
			                                   WHEN @FREQUENCY = ''Q'' THEN P.YEAR
											   WHEN @FREQUENCY = ''S'' THEN P.YEAR
			                                   ELSE NULL
											   END
			 ORDER BY CASE 
					WHEN @FREQUENCY = ''M''
						THEN P.MONTH
					WHEN @FREQUENCY = ''Q''
						THEN P.QUARTER
					WHEN @FREQUENCY = ''S''
						THEN P.SEMI_ANNUAL
					ELSE P.YEAR
					END
			) AS RN
	
	FROM ',@PRODUCT_TABLE,' U
	JOIN PERIOD P ON P.PERIOD_SID = U.PERIOD_SID')
	--WHERE P.YEAR = 2014
	----	AND ITEM_MASTER_SID = 3550
	--GROUP BY ITEM_MASTER_SID
	--    ,P.PERIOD_SID
	--	,P.MONTH
	--	,P.QUARTER
	--	,P.SEMI_ANNUAL
	--	,P.YEAR


	EXEC SP_EXECUTESQL @SQL,N'@FREQUENCY VARCHAR(20)',
	                        @FREQUENCY=@FREQUENCY
END



IF OBJECT_ID('TEMPDB.DBO.#TEMP_FINAL', 'U') IS NOT NULL
	DROP TABLE #TEMP_FINAL;

SELECT ITEM_MASTER_SID, YEAR
	,SUM(GTS_ACTUAL_SALES) AS SUM_GTS_ACTUAL_SALES
	,SUM(GTS_FORECAST_SALES) AS SUM_GTS_FORECAST_SALES
	,RN
INTO #TEMP_FINAL
FROM #TEMP_CALC
GROUP BY ITEM_MASTER_SID,YEAR
	,RN




IF OBJECT_ID('TEMPDB.DBO.#TEMP_FINAL_CALC', 'U') IS NOT NULL
	DROP TABLE #TEMP_FINAL_CALC;


SELECT A.ITEM_MASTER_SID,
     A.PERIOD_SID,
     B.YEAR
	,A.GTS_ACTUAL_SALES
	,A.GTS_FORECAST_SALES
	,B.SUM_GTS_ACTUAL_SALES
	,B.SUM_GTS_FORECAST_SALES
	,COALESCE ((A.GTS_ACTUAL_SALES / NULLIF(B.SUM_GTS_ACTUAL_SALES,0)),CASE WHEN @FREQUENCY = 'M' THEN 1.00
	                                                                        WHEN @FREQUENCY = 'Q' THEN 1/3.00
																			WHEN @FREQUENCY = 'S' THEN 1/6.00
																			ELSE 1/12.00
																			END  ) AS GTS_ACTUAL_PERCENT
	
	
	,COALESCE ((A.GTS_FORECAST_SALES / NULLIF(B.SUM_GTS_FORECAST_SALES,0)),CASE WHEN @FREQUENCY = 'M' THEN 1.00
	                                                                        WHEN @FREQUENCY = 'Q' THEN 1/3.00
																			WHEN @FREQUENCY = 'S' THEN 1/6.00
																			ELSE 1/12.00
																			END  ) AS GTS_FORECAST_PERCENT
	,B.RN
INTO #TEMP_FINAL_CALC
FROM #TEMP_CALC A
JOIN #TEMP_FINAL B ON A.ITEM_MASTER_SID = B.ITEM_MASTER_SID
AND A.YEAR= B.YEAR
	AND A.RN = B.RN

------------------------------------------------------AGGREGATION STARTS -------------------------------------------------------------


IF OBJECT_ID('TEMPDB.DBO.#TEMPER', 'U') IS NOT NULL
	DROP TABLE #TEMPER;

	CREATE TABLE #TEMPER
	(
	CCP_DETAILS_SID           INT,
	RS_CONTRACT_SID           INT,   
	PERIOD_SID                INT,
	YEAR                      int,
	SUM_ACTUAL_AMOUNT         NUMERIC(22,6), 
	SUM_PROJECTION_AMOUNT     NUMERIC(22,6)
	)


 SET @SQL=CONCAT( 'INSERT INTO #TEMPER
  (
  CCP_DETAILS_SID        ,
  RS_CONTRACT_SID        ,
  PERIOD_SID             ,
  YEAR                   ,
  SUM_ACTUAL_AMOUNT      ,
  SUM_PROJECTION_AMOUNT 
  )
 SELECT 
	     SDAHA.CCP_DETAILS_SID
		,SDAHA.RS_CONTRACT_SID
		,(SDAHA.PERIOD_SID) AS PERIOD_SID
		,P.YEAR
		, SUM(SDAHA.ACTUAL_AMOUNT)  OVER (PARTITION BY P.YEAR ,SDAHA.CCP_DETAILS_SID, SDAHA.RS_MODEL_SID, CASE WHEN ''',@FREQUENCY,''' = ''M'' THEN P.MONTH
                                                                     WHEN ''',@FREQUENCY,''' = ''Q'' THEN P.QUARTER
                                                                     WHEN ''',@FREQUENCY,''' = ''S'' THEN P.SEMI_ANNUAL
                                                                     ELSE P.YEAR
                                                                     END   ORDER BY SDAHA.CCP_DETAILS_SID) AS SUM_ACTUAL_AMOUNT
       
	   , SUM(SDAHA.PROJECTION_AMOUNT)  OVER (PARTITION BY P.YEAR , SDAHA.CCP_DETAILS_SID, SDAHA.RS_MODEL_SID,CASE WHEN ''',@FREQUENCY,''' = ''M'' THEN P.MONTH
                                                                       WHEN ''',@FREQUENCY,''' = ''Q'' THEN P.QUARTER
                                                                       WHEN ''',@FREQUENCY,''' = ''S'' THEN P.SEMI_ANNUAL
                                                                       ELSE P.YEAR
                                                                       END   ORDER BY SDAHA.CCP_DETAILS_SID) AS SUM_PROJECTION_AMOUNT

	FROM ',@DISC_ALLOCATION,' SDAHA
	
	JOIN CCP_DETAILS CD ON CD.CCP_DETAILS_SID = SDAHA.CCP_DETAILS_SID
	JOIN PERIOD P ON P.PERIOD_SID = SDAHA.PERIOD_SID
	JOIN #TEMP_FINAL_CALC TFC ON TFC.ITEM_MASTER_SID = CD.ITEM_MASTER_SID
		AND TFC.PERIOD_SID = SDAHA.PERIOD_SID
		AND SDAHA.CCP_DETAILS_SID IN (SELECT SDAHA.CCP_DETAILS_SID FROM ',@DISC_ALLOCATION,' SDAHA  WHERE SDAHA.CHECK_RECORD = 1 )
		
    GROUP BY SDAHA.CCP_DETAILS_SID
	        ,SDAHA.RS_CONTRACT_SID
			,SDAHA.PERIOD_SID
			,P.YEAR
			,CASE
             WHEN ''',@FREQUENCY,''' = ''M'' THEN P.MONTH
             WHEN ''',@FREQUENCY,''' = ''Q'' THEN P.QUARTER
             WHEN ''',@FREQUENCY,''' = ''S'' THEN P.SEMI_ANNUAL
             ELSE P.YEAR
             END
			,SDAHA.ACTUAL_AMOUNT
			,SDAHA.PROJECTION_AMOUNT')

			EXEC sp_executesql @SQL


IF OBJECT_ID('TEMPDB.DBO.#ULTIMATE', 'U') IS NOT NULL
	DROP TABLE #ULTIMATE;


SELECT 
DISTINCT
T.CCP_DETAILS_SID , 
       T.RS_CONTRACT_SID, 
	   T.PERIOD_SID , 
	   T.SUM_ACTUAL_AMOUNT ,
	   T.SUM_PROJECTION_AMOUNT,
	   TFC.GTS_ACTUAL_PERCENT,
	   (T.SUM_ACTUAL_AMOUNT  *  TFC.GTS_ACTUAL_PERCENT) AS FINAL_ACTUAL_AMOUNT,
	   (T.SUM_PROJECTION_AMOUNT  *  TFC.GTS_FORECAST_PERCENT)AS FINAL_PROJECTION_AMOUNT
	   INTO #ULTIMATE
FROM #TEMP_FINAL_CALC TFC 
JOIN CCP_DETAILS CD ON TFC.ITEM_MASTER_SID = CD.ITEM_MASTER_SID 
JOIN #TEMPER T ON T.CCP_DETAILS_SID = CD.CCP_DETAILS_SID
JOIN PERIOD P ON P.PERIOD_SID = T.PERIOD_SID
AND P.PERIOD_SID =  TFC.PERIOD_SID 


--SELECT * FROM #ULTIMATE
 ---------------------------------------------UPDATES INTO FINAL TARGET TABLES--------------------------------------------------------------------
SET @SQL=CONCAT('UPDATE SNAD
SET  SNAD.ACTUAL_SALES = A.FINAL_ACTUAL_AMOUNT
FROM ',@ACTUAL_TABLE,' SNAD
JOIN #ULTIMATE A
	ON  SNAD.CCP_DETAILS_SID = A.CCP_DETAILS_SID
	AND SNAD.RS_CONTRACT_SID = A.RS_CONTRACT_SID
	AND SNAD.PERIOD_SID = A.PERIOD_SID
	')
	EXEC sp_executesql @SQL


-----------------------------------------------------------------------------------------------------------------------
SET @SQL='UPDATE SNDP
SET SNDP.PROJECTION_SALES = A.FINAL_PROJECTION_AMOUNT
FROM '+@D_PROJECTION_TABLE+' SNDP
JOIN  #ULTIMATE A 
	ON  SNDP.CCP_DETAILS_SID = A.CCP_DETAILS_SID
	AND SNDP.RS_CONTRACT_SID = A.RS_CONTRACT_SID
	AND SNDP.PERIOD_SID = A.PERIOD_SID'
	EXEC sp_executesql @SQL
-----------------------------------------------------------------------------------------------------------------------

	END TRY

	BEGIN CATCH
		DECLARE @ERRORMESSAGE NVARCHAR(4000);
		DECLARE @ERRORSEVERITY INT;
		DECLARE @ERRORSTATE INT;
		DECLARE @ERRORNUMBER INT;
		DECLARE @ERRORPROCEDURE VARCHAR(200);
		DECLARE @ERRORLINE INT;

		EXEC USPERRORCOLLECTOR

		SELECT @ERRORMESSAGE = ERROR_MESSAGE()
			,@ERRORSEVERITY = ERROR_SEVERITY()
			,@ERRORSTATE = ERROR_STATE()
			,@ERRORPROCEDURE = ERROR_PROCEDURE()
			,@ERRORLINE = ERROR_LINE()
			,@ERRORNUMBER = ERROR_NUMBER()

		RAISERROR (
				@ERRORMESSAGE
				,-- MESSAGE TEXT.
				@ERRORSEVERITY
				,-- SEVERITY.
				@ERRORSTATE
				,-- STATE.
				@ERRORPROCEDURE
				,-- PROCEDURE_NAME.
				@ERRORNUMBER
				,-- ERRORNUMBER
				@ERRORLINE -- ERRORLINE
				);
	END CATCH
END












