<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
 <properties>
    <property name="filename">$${sys:user.home}/log/r2_app.log</property>
  </properties>
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>   
    
    <FastRollingFile name="FastRollingFile" fileName="${filename}"
                 filePattern="$${sys:user.home}/log/$${date:yyyy-MM}/app-%d{yyyy-MM-dd-HH}-%i.log.gz">
       <!-- filePattern="logs/$${date:yyyy-MM}/app-%d{yyyy-MM-dd-HH}-%i.log.gz" -->
      <PatternLayout>
        <pattern>%d %p %c{1.} [%t] %m%n</pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy  interval="6" modulate="true"/>
        <SizeBasedTriggeringPolicy size="250 MB"/>
      </Policies>
    </FastRollingFile>
  </appenders>
  <loggers>
   <logger name="com.stpl.app" level="trace">
      <appender-ref ref="Console"/>
       <appender-ref ref="FastRollingFile"/>
    </logger>
    <root level="error">
      <appender-ref ref="Console"/>
      <appender-ref ref="FastRollingFile"/>
    </root>
  </loggers>
</configuration>