@import "../valo/valo.scss";

@mixin stpl {
  @include valo;
  
  .v-window-header{
	color: #ffffff;
  }
  
  .v-window-outerheader {
  background: #428bca;}
  
  
 .v-window-closebox,.v-window-maximizebox,.v-window-restorebox{ 
 color: #FFFFFF;
 background: #428bca;
 background-color: transparent;
 }
 
 
 
 .v-popupbutton .v-popup-indicator{
 background: transparent url(img/sprites.png) no-repeat -5px -10px;
 }
 
 .v-textfield.searchText,.v-textfield.searchicon{
background-image: url(img/imgsearchh-icon.png);
background-position: right;
background-repeat: no-repeat;
cursor: pointer;
 }
 
  label {
    font-weight: normal;
}

.v-textfield {
border-radius: 0px;
}

.v-scrollable.v-table-body-wrapper.v-table-body {
    overflow: auto;
}

 .v-datefield{
 height: 27px;
 }
 
 .v-filterselect {
 border-radius: 0px;
 }
 
.v-loading-indicator {
    background-color: #e4ca1f;
}
}