@import "../valo/valo.scss";

@mixin stpl {
  @include valo;
  
  .v-window-header{
	color: #ffffff;
  }
  
  .v-window-outerheader {
  background: #428bca;}
  
  
 .v-window-closebox,.v-window-maximizebox,.v-window-restorebox{ 
 color: #FFFFFF;
 background: #428bca;
 background-color: transparent;
 }
 
 
 
 .v-popupbutton .v-popup-indicator{
 background: transparent url(img/sprites.png) no-repeat -5px -10px;
 }
 
 .v-textfield.searchText,.v-textfield.searchicon{
background-image: url(img/imgsearchh-icon.png);
background-position: right;
background-repeat: no-repeat;
cursor: pointer;
 }
 
  label {
    font-weight: normal;
}

.v-textfield {
border-radius: 0px;
}

.v-scrollable.v-table-body-wrapper.v-table-body {
    overflow: auto;
}

 .v-datefield{
 height: 27px;
 }
 
 .v-filterselect {
 border-radius: 0px;
 }
 
.v-loading-indicator {
    background-color: #e4ca1f;
}

.v-menubar > .v-menubar-menuitem:first-child  > .v-menubar-menuitem-caption{
     overflow: hidden;
}

.v-treegrid-column-header-content,.v-treegrid-column-footer-content {
 vertical-align: inherit;
}

.v-grid-column-header-content {
 vertical-align: inherit;
 font-weight: bold;
 font-size: 12px;
}

.v-grid-column-footer-content {
 vertical-align: inherit;
 }

	th.v-grid-cell {
height: auto!important;
}

	th.v-treegrid-cell {
height: auto!important;
}

.v-window > .popupContent .v-datefield [class*="textfield"] {
height: 137%!important;
}
.v-window > .popupContent .v-datefield [class*="button"] {
height: 137%!important;
}

.v-grid-cell .v-horizontallayout .v-textfield.v-widget.v-has-width{
margin-left: -18px;
}

.v-window > .popupContent .v-grid-cell .v-horizontallayout .v-textfield.v-datefield-textfield {
margin-left: 0px;
}

.v-window > .popupContent .v-grid-cell .v-horizontallayout .v-datefield.v-datefield-popupcalendar {
margin-left: -18px;
}
.v-grid-scroller::-webkit-scrollbar-thumb {
border-radius: 0px !important;
border: 3px solid transparent;
}

.datefieldcentered >input {
    text-align: center;
}

.v-grid-cell {
    font-size: 13px; 
}
.v-treegrid-cell {
    font-size: 13px; 
}
.v-treegrid-column-header-content,.v-treegrid-column-footer-content{
    font-size: 12px; 
    font-weight: 600;
}
.v-grid-column-header-content,.v-grid-column-footer-content {
    font-size: 12px; 
    font-weight: 600; 
}
.v-textfield-custom-report{
     margin-left: -18px !important;
     height : 39px !important;
     margin-top: -5px !important;
}
.v-combobox-custom-report{
    margin-left: 7px !important;
}
.v-layout-custom-report{
    padding-left: 4px !important;
}
.v-layout-report-custom{
    padding-left: 42px !important;
}
.v-report-save-lookup{
    height: 26px !important;
    margin-left: 10px !important;
}
.v-vertical-layout-report-save-lookup{
    padding-left: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-top: 12px;
}
.v-h-layout-report-save-lookup{
   margin-left: -7px !important;
}
#reportCustomViewLookup_custom_Variable_OptionGroup>span:nth-child(1){
	margin-right: 52px;

}
#valueConfigHorizontal #reportOptionsTabComparisonOptions_value{
	margin-left: 10px;
}
.v-margin-custom-style-10{
 margin-left: 10px;
 margin-right: 10px;
 margin-top: 10px;
 margin-bottom: 10px;
}
.v-report-display-pagination{
    margin-left: -57px !important;
}
.v-report-display-pagination-button{
    margin-left: -15px !important;
    margin-top: -7px !important;
}
.v-report-display-pagination-label{
   margin-left: -15px !important; 
}
.v-report-display-pagination-button-top{    
    margin-top: -7px !important;
}
.v-report-display-selection-profile{
    margin-left: -49px !important;
}
.v-report-display-selection-comparison{
    margin-left: -12px !important;
}
.v-report-display-selection-variables{
    margin-left: -10px !important;
}
.v-report-display-selection-comparison-search{
    min-width: 186px !important;
    width: 186px !important;
    margin-left: 30px !important;
}
.v-report-display-selection-profile-search{
    width: 186px !important;
}
.v-report-custom-view{
    margin-left: -40px !important;
}
.v-report-display-selection-variable-category{
    margin-left: 32px !important;
}
.v-report-display-selection-comparison-basis{
    margin-left: 6px !important;
}
.v-report-display-selection-variables-combo{
    margin-left: 49px !important;
}
.v-report-display-selection-annual-totals{
    margin-left: 20px !important;
}
.v-report-display-selection-freq{
    margin-left: 5px !important;
}
.v-report-display-selection-freq-combo{
    margin-left: 17px !important;
}
.v-report-display-selection-prt{
    margin-left: 4px !important;
}
.v-report-display-selection-from{
    margin-left: -29px !important;
    margin-top: 7px !important;
}
.v-report-data-selection-from-combo{
    margin-left: 105px !important;
    margin-top: -42px !important;
}
.v-report-display-selection-to{
    margin-left: -18px !important;
    margin-top: 7px !important;
}
.v-report-data-selection-to-combo{
    margin-left: 105px !important;
    margin-top: -46px !important;
}
.v-report-data-selection-private{
    margin-left: -25px !important;
}
.v-report-data-selection-public{
    margin-left: -29px !important;
}
.v-report-data-selection-company{
    margin-left: -26px !important;   
}
.v-report-data-selection-company-combo{
    margin-left: 144px !important;
    margin-top: -45px !important;
}
.v-report-data-selection-reportdatasource{
    margin-left: 58px !important;
    
}
.v-position-fixed {
position: fixed!important;

}
.v-report-filter-options{
margin-left: -50px !important;
}
.v-report-reportoptions-hseq{
    margin-left: -34px !important;
}
.v-report-reportoptions-hseq-combo{
   margin-left: 75px !important;
 
}
.v-report-reportoptions-comparison{
    margin-left: 1px !important;
    margin-top:  3px !important;
}
.v-report-reportoptions-vseq{
    margin-left: 5px !important;
}
.v-report-excel-button{
    margin-left: -30px ! important;
}
.v-report-options-vb{
    margin-top: 3px !important;
}
.v-treegrid-cell-content {
	display: inline-block;
	vertical-align: text-top;
}
.v-treegrid-scroller::-webkit-scrollbar-thumb {
border-radius: 0px !important;
border: 3px solid transparent;
}
.v-report-comparisonOption-width{
	min-width: 170px !important;
}
.v-report-comparisonOption-combowidth{
	width: 170px !important;
}
.v-reportLandingScreen-PrivateView{
	margin-left: 100px;
	margin-top: -25px;
	min-width: 150px!important;
	width: 150px!important;
}
.v-reportLandingScreen-companyLayout{
	margin-left: 10px;
	margin-top: 10px;
}
.v-reportLandingScreen-company{
	margin-left:90px;
	margin-top:-25px;
	min-width: 150px!important;
	width: 150px!important;
}
.v-reportLandingScreen-dataSourceLayout{
	margin-left:10px;
	margin-top: 10px;
}
.v-reportLandingScreen-dataSource{
	margin-left:130px;
	margin-top:-25px;
	min-width: 150px!important;
	width: 150px!important;
}
.v-reportLandingScreen-reportSelectionLayout1{
	margin-top:-21px;
}
.v-publicViewTextField{
	margin-left:100px;
	margin-top: -25px;
	min-width: 150px!important;
	width: 150px!important;
}
.v-bu{
	margin-left:90px;
	margin-top:-25px;
	min-width: 150px!important;
	width: 150px!important;
}
.v-BU-layout{
	margin-left:10px;
}
.v-fromToMainLayout{
	margin-left:-5px;
	margin-top:4px;
}
.v-reportLandingScreen-fromPeriodLayout{
	margin-left:-35px;
	margin-top: 10px;
}
.v-reportLandingScreen-fromPeriod{
	margin-left:110px;
	margin-top:-45px;
}
.v-reportLandingScreen-toPeriodComboBox{
	margin-left:110px;
	margin-top:-45px;
}


.v-report-width-200{
	width : 200px!important;
	}
.v-report-width-170 {
	width : 170px !important;
	}

.v-report-data-assumption-excel{
    margin-left: 16px !important;
    margin-top: -35px ! important;
    
}
.v-report-data-assumption-date-field{ 
    margin-top: -5px !important;
}
.v-report-overflow-auto{
	overflow : auto!important;
	}
.v-report-margin--2{
	margin-left :-2px!important;
	}
.v-report-margin--5{
	margin-right :-15px!important;
	width: 32%!important;
	}
.v-report-filter-option-combo-width {
	width: 150px !important;
	}
.v-report-filter-option-customer-filter {
	margin-left: 26px !important;
	}
.v-report-bottomlayout{	
margin-left: -10px;
}
.v-report-comparsion-search-topLayout{
	margin-left: 125px;
	margin-top: -30px;
	width: 120px;
	height: 26px;
}
.v-report-layout{
	
	margin-top:30px;
}

}