@import "../valo/valo.scss";

@mixin stpl {
  @include valo;
  
  .v-window-header{
	color: #ffffff;
  }
  
  .v-window-outerheader {
  background: #428bca;}
  
  
 .v-window-closebox,.v-window-maximizebox,.v-window-restorebox{ 
 color: #FFFFFF;
 background: #428bca;
 background-color: transparent;
 }
 
 
 
 .v-popupbutton .v-popup-indicator{
 background: transparent url(img/sprites.png) no-repeat -5px -10px;
 }
 
 .v-textfield.searchText,.v-textfield.searchicon{
background-image: url(img/imgsearchh-icon.png);
background-position: right;
background-repeat: no-repeat;
cursor: pointer;
 }
 
  label {
    font-weight: normal;
}

.v-textfield {
border-radius: 0px;
}

.v-scrollable.v-table-body-wrapper.v-table-body {
    overflow: auto;
}

 .v-datefield{
 height: 27px;
 }
 
 .v-filterselect {
 border-radius: 0px;
 }
 
.v-loading-indicator {
    background-color: #e4ca1f;
}

.v-menubar > .v-menubar-menuitem:first-child  > .v-menubar-menuitem-caption{
     overflow: hidden;
}

.v-treegrid-column-header-content,.v-treegrid-column-footer-content {
 vertical-align: inherit;
}

.v-grid-column-header-content {
 vertical-align: inherit;
 font-weight: bold;
 font-size: 12px;
}

.v-grid-column-footer-content {
 vertical-align: inherit;
 }

	th.v-grid-cell {
height: auto!important;
}

	th.v-treegrid-cell {
height: auto!important;
}

.v-window > .popupContent .v-datefield [class*="textfield"] {
height: 137%!important;
}
.v-window > .popupContent .v-datefield [class*="button"] {
height: 137%!important;
}

.v-grid-cell .v-horizontallayout .v-textfield.v-widget.v-has-width{
margin-left: -18px;
}

.v-window > .popupContent .v-grid-cell .v-horizontallayout .v-textfield.v-datefield-textfield {
margin-left: 0px;
}

.v-window > .popupContent .v-grid-cell .v-horizontallayout .v-datefield.v-datefield-popupcalendar {
margin-left: -18px;
}
.v-grid-scroller::-webkit-scrollbar-thumb {
border-radius: 0px !important;
border: 3px solid transparent;
}

.datefieldcentered >input {
    text-align: center;
}

.v-grid-cell {
    font-size: 13px; 
}
.v-treegrid-cell {
    font-size: 13px; 
}
.v-treegrid-column-header-content,.v-treegrid-column-footer-content{
    font-size: 12px; 
    font-weight: 600;
}
.v-grid-column-header-content,.v-grid-column-footer-content {
    font-size: 12px; 
    font-weight: 600; 
}
#reportCustomViewLookup_custom_Variable_OptionGroup>span:nth-child(1){
	margin-right: 52px;
}
#valueConfigHorizontal #reportOptionsTabComparisonOptions_value{
	margin-left: 10px;
}
.v-margin-custom-style-10{
 margin-left: 10px;
 margin-right: 10px;
 margin-top: 10px;
 margin-bottom: 10px;
}
}