@import "stpl.scss";

.stpl {
  @include stpl;

}

  .v-slot, .v-spacing {
    display: inline;
    padding-right: 5px;
}

.v-loading-indicator {
    background-color: #e4ca1f;
}

 .v-table-captionspans-container {
     font-weight: bold;
     font-size: 12px;
 }
 .v-table-caption-container {
   font-weight: bold;
   font-size: 12px;
}