/* SML custom css */
.stpl .v-loading-indicator
{
	background-color: #fcd124;
}
.v-slot, .v-spacing
{
	display:inline;
	padding-right:5px;
}

.pagedtable-itemsperpagecombobox {
    margin-top: 2px;
}
.stpl .v-filterselect-suggestpopup .gwt-MenuItem-selected {
    background-image: -webkit-linear-gradient(top, #458de6 2%, #3464a0 98%);
    background-image: linear-gradient(to bottom, #458de6 2%, #3464a0 98%);
}
.stpl .v-table-cell-content{
    box-sizing:border-box; 
}
#cssLayout #massCheck+.v-widget,#cssLayout #MassDate,#cssLayout #massValue
{
    margin-left:5px;
}
.stpl .bootstrap .v-button {
  background-image: none;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  position: relative;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.15s ease 0s, border-color 0.15s ease 0s, opacity 0.15s ease 0s;
  vertical-align: middle;
  background-color: #428bca;
  font: 13px/16px "Segoe UI",Arial,Helvetica,sans-serif;
  border: 0px;
  border-bottom: 2px solid #3876ac;
  box-shadow:none;
}
.stpl .v-table-resizer {
    height: 37px;
    width: 4px;
    cursor: e-resize;
    cursor: col-resize;
    position: relative;
    z-index: 1;
    right: -2px;
    margin-left: -4px;
}
.stpl .v-treetable [class*="cell-content"] {
    padding-left: 13px;
    padding-right: 12px;
    -webkit-padding-start: 12px;
}
.stpl .v-treetable [class*="caption-container"]
{
	min-height:25px;
}
.stpl .bootstrap .v-button.pagedtable-button:hover:after, .stpl .bootstrap .v-button.pagedtable-button:active:after ,.stpl .bootstrap .v-button.pagedtable-button:focus:after 
{
  box-shadow: none;
}
.stpl .bootstrap .v-button:hover, .stpl .bootstrap .v-button:active {
  background-color: #3676ad;
  border-bottom: 2px solid #428bca;
  font: 13px/16px "Segoe UI",Arial,Helvetica,sans-serif; }

.stpl .bootstrap .v-label {
  -moz-user-select: text;
  padding-left: 2px;
  padding-right: 12px;
  text-align: right;
  white-space: normal;
  font: 14px/24px "Segoe UI",Arial,Helvetica,sans-serif; }
.stpl .bootstrap .v-widget~.v-label
{
	padding-right: 19px;
}
.stpl .bootstrap .v-gridlayout .v-label
{
	padding-right: 12px;
}
.stpl .v-required-field-indicator {
    display: none;
}
.v-label.v-widget.v-has-width {
  text-align: left; }
.stpl input[type="text"]:focus {
    outline: none;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-color: #197de1;
    -webkit-box-shadow: 0 0 0 2px rgba(25, 125, 225, 0.5), inset 0 1px 0 #f7f7f7, 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0 2px rgba(25, 125, 225, 0.5), inset 0 1px 0 #f7f7f7, 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0 0 0 2px rgba(25, 125, 225, 0.5);
    box-shadow: 0 0 0 2px rgba(25, 125, 225, 0.5);
}
.stpl .bootstrap-forecast .v-label.v-widget.v-has-width {
  text-align: right; }

.stpl .bootstrap .v-filterselect {
  height: 26px;
  margin-bottom: 0px;
  position: relative;
  white-space: nowrap;
  }
  .stpl .v-filterselect [class*="input"] {
  font-size: 13px !important;
  }
  .stpl .v-datefield {
    position: relative;
    min-width: 199px;
    height: 27px;
    border-radius: 4px;
    margin-bottom: 10px;
}
.stpl .v-filterselect [class$="button"],.stpl .v-datefield [class*="button"]
{
	height:26px;
	width:36px;
}
.stpl .v-table-header-wrap, .stpl .v-table-footer-wrap, .stpl .v-table-header-drag {
  background-color: #f2f2f2 !important;
  background-image: linear-gradient(to bottom, #f8f8f8 0%, #ececec 100%);
  font-size: 12px ;
  font-weight: 600; 
}
.stpl .v-table-header-wrap span.v-table-captionspans-container
{
	line-height:20px;
}
.stpl .v-table-cell-wrapper {
    line-height: 1;
    padding: 0 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 0 !important;
    font: 13px/16px "Segoe UI",Arial,Helvetica,sans-serif ;
}
.stpl .v-window-closebox, .stpl .v-window-maximizebox, .stpl .v-window-restorebox
{
	background-color:#428bca;
	color:#fff;
}
.stpl .v-window-closebox:hover, .stpl .v-window-maximizebox:hover, .stpl .v-window-restorebox:hover
{
	color:#fff;
}
.stpl .v-select-optiongroup .v-radiobutton, .stpl .v-select-optiongroup .v-checkbox
{
	margin-top:4px !important;
	margin: 4px 16px 0 5px;
}
.stpl .v-filterselect-compact [class*="input"], .stpl .v-filterselect-small [class*="input"]
{
	max-width:100%;
}
.stpl .v-filterselect-compact [class$="button"], .stpl .v-filterselect-small [class$="button"]
{
	width:31px;
}
.stpl .v-tabsheet-tabitemcell .v-caption
{
	font-size:13px;
}
/* Width 199px only for building blocks */
.v-app .bootstrap-bb input[type="text"] {
  height: 26px;
  width: 199px;
  font: 13px/16px "Segoe UI",Arial,Helvetica,sans-serif;margin-bottom:5px; }
.stpl .v-textfield.v-disabled
{
	min-width:199px;
}
.v-label-error {
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  color: #a94442;
  text-align: left !important; }

.bootstrap-search-criteria {
  /* border: 1px solid #ddd; */
  padding: 4px;
  }

.v-button.v-widget.link.v-button-link {
  background: none;
  border: 0 none;
  color: #0000FF;
  text-shadow: none; 
  min-width: 31px;
  width: auto}

/* Additional Info */
.v-verticallayout-addInfoBtnSpace {
  margin-bottom: 10px;
  margin-top: 10px; }

@media (min-width: 1300px) {
  .v-horizontallayout-addInfo {
    width: 700px; }

  .v-textarea-addInfoText {
    width: 500px !important; } }
@media (max-width: 1300px) and (min-width: 620px) {
  .v-horizontallayout-addInfo {
    width: 700px; }

  .v-textarea-addInfoText {
    width: 500px !important; } }
@media (max-width: 290px) {
  .v-horizontallayout-addInfo {
    width: 700px; } }
/* Media Queries for search criteria */
@media (min-width: 1280px) {
  .sidebar-min .v-horizontallayout-responsiveGrid {
    width: 1200px; } }
@media (min-width: 1430px) {
  .sidebar-max .v-horizontallayout-responsiveGrid {
    width: 1200px; } }
@media (max-width: 1280px) and (min-width: 850px) {
  .sidebar-min .v-horizontallayout-responsiveGrid {
    width: 800px; } }
@media (max-width: 1430px) and (min-width: 1040px) {
  .sidebar-max .v-horizontallayout-responsiveGrid {
    width: 800px; } }
@media (max-width: 850px) and (min-width: 420px) {
  .sidebar-min .v-horizontallayout-responsiveGrid {
    width: 400px; } }
@media (max-width: 1040px) and (min-width: 420px) {
  .sidebar-max .v-horizontallayout-responsiveGrid {
    width: 400px; } }
@media (max-width: 420px) {
  .v-horizontallayout-responsiveGrid {
    width: 220px; } }
/* Media queries for tabsheet grid */
@media (min-width: 1300px) {
  .sidebar-min .v-horizontallayout-responsiveTabGrid {
    width: 1200px; } }
@media (min-width: 1450px) {
  .sidebar-max .v-horizontallayout-responsiveTabGrid {
    width: 1200px; } }
@media (max-width: 1300px) and (min-width: 870px) {
  .sidebar-min .v-horizontallayout-responsiveTabGrid {
    width: 800px; } }
@media (max-width: 1450px) and (min-width: 1060px) {
  .sidebar-max .v-horizontallayout-responsiveTabGrid {
    width: 870px; } }
@media (max-width: 870px) and (min-width: 440px) {
  .sidebar-min .v-horizontallayout-responsiveTabGrid {
    width: 400px; } }
@media (max-width: 1060px) and (min-width: 450px) {
  .sidebar-max .v-horizontallayout-responsiveTabGrid {
    width: 400px; } }
@media (max-width: 450px) {
  .v-horizontallayout-responsiveTabGrid {
    width: 220px; } }
/* Media query for window extended from tabsheet grid */
@media (min-width: 850px) {
  .v-window .v-horizontallayout-responsiveTabGrid {
    width: 800px; } }
@media (max-width: 850px) and (min-width: 450px) {
  .v-window .v-horizontallayout-responsiveTabGrid {
    width: 400px; } }
/* Media query for responsive dataTransferGrid */
@media (min-width: 1350px) {
  .NavButtons {
    width: 92px !important; } }
@media (max-width: 1350px) {
  .NavButtons {
    width: auto !important; }

  .v-horizontallayout-dataTransferGrid {
    width: 870px; } }
/* Edit list window styles */
.stpl .editList .v-label {
  min-width: 130px; }

@media (min-width: 370px) {
  .stpl .v-window-editList .v-table {
    width: 360px !important; } }
.prev-next-layout {
  float: right;
  margin-right: 17px; }

.v-tabsheet-tabcontainer table {
  max-width: none; }

.stpl .bootstrap .responsivePagedTable .v-filterselect-pagedtable-itemsperpagecombobox {
  min-width: 90px;
  width: 90px; }

.stpl .bootstrap .responsivePagedTable .v-label {
  width: initial;
  min-width: initial; }

.stpl .bootstrap .responsivePagedTable .v-textfield-pagedtable-pagefield {
  width: 40px !important; }

.stpl .bootstrap .responsivePagedTable .v-csslayout div, .stpl .bootstrap .responsivePagedTable .v-csslayout input {
  vertical-align: middle;
  margin: auto; }

.v-button.v-widget.prev-column-button.v-button-prev-column-button, .v-button.v-widget.next-column-button.v-button-next-column-button {
  background-color: #ccc !important;
  border: none !important;
  box-shadow: 0 1px 0 white inset, 0 -1px 0 #e7e7e7 inset, 0 2px 3px rgba(0, 0, 0, 0.05) !important;
  color: #999 !important;
  height: 30px;
  margin: 0 4px;
  padding: 0;
  background-image: none !important;
  width: 38px; }

.v-button.v-widget.prev-column-button.v-button-prev-column-button:hover, .v-button.v-widget.next-column-button.v-button-next-column-button:hover {
  background-color: transparent !important;
  border: none !important;
  box-shadow: 0 1px 0 white inset, 0 -1px 0 #e7e7e7 inset, 0 2px 3px rgba(0, 0, 0, 0.05) !important;
  color: #000 !important;
  height: 30px;
  margin: 0 4px;
  padding: 0;
  width: 38px;
  background-image: none !important; }

@media (max-width: 800px) {
  .v-horizontallayout-dataTransferGridForPS {
    width: 420px; }

  .NavButtonsforPS {
    width: auto; } }
@media (min-width: 800px) {
  .NavButtonsforPS {
    width: 92px; } }
@media (max-width: 1000px) {
  .v-horizontallayout-dataTransferGridForIFP {
    width: 440px; }

  .NavButtonsForIFP {
    width: auto; } }
@media (min-width: 1000px) {
  .NavButtonsForIFP {
    width: 92px; } }
@media (max-width: 1200px) {
  .v-horizontallayout-dataTransferGridForCT {
    width: 450px; }

  .NavButtonsForCT {
    width: auto; } }
@media (min-width: 1200px) {
  .NavButtonsForCT {
    width: 92px; } }
.v-caption-ActualLabel {
  display: block; }

/* NM newstyles */
.bootstrap-nm div.v-layout.v-horizontal.v-widget {
  white-space: normal; }

.bootstrap .v-table-column-selector {
  display: none !important; }

.stpl .bootstrap .v-splitpanel-horizontal .v-filterselect {
  min-width: initial;
  width: initial; }

.stpl .filters-panel {
  height: 38px !important; }

.stpl .v-table .filters-panel input.v-textfield.v-widget, .stpl .v-window .v-table .filters-panel input.v-textfield.v-widget {
  height: 38px !important;
  margin-right: 0px;
  }

.stpl .bootstrap-nm .v-filterselect {
  min-width: initial; }

.v-textfield.searchText {
  background-image: url(../../images/stpl/imgsearchh-icon.png);
  background-position: right;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 26px;
  width: 200px;
  padding: 0;
  margin: 0;
  position: absolute;
  color: black !important;
  opacity: 5 !important;
  padding-right: 20px !important; }

.uploadId input[type="file"] {
  opacity: 0;
  width: 210px;
  height: 26px;
  padding: 0;
  margin: 0; }

.v-image.Image-Disabled {
  opacity: 0.5; }

.v-image.Image-Enabled {
  opacity: 1; }



.stpl .v-select-optiongroup-horizontaladd {
  white-space: nowrap !important;
  min-width: 199px  }

.stpl .v-select-optiongroup-horizontaladd .v-radiobutton, .stpl .v-select-optiongroup-horizontal .v-checkbox {
  display: inline-block; }

.stpl .v-select-optiongroup-horizontaladd.v-has-width {
  white-space: normal; }

.stpl .v-select-optiongroup-horizontaladd.v-has-width label {
  white-space: nowrap; }

.stpl .bootstrap-bb .v-horizontallayout-responsiveTabGrid .v-button {
  margin: 0px 10px 0px 0px;
  }
.stpl .bootstrap .v-textfield+.v-button
{
	margin-left:10px;	
}
.stpl .bootstrap-bb .v-horizontallayout-dataTransferGridForIFP .v-button {
  margin: 10px 10px 10px 10px !important; }

.stpl .bootstrap-bb .v-horizontallayout-dataTransferGridForPS .v-button:not(.v-popupbutton) {
margin: 10px 10px 10px 10px !important;
} 
  
.stpl .bootstrap-bb .v-horizontallayout-dataTransferGridForCT .v-button {
  margin: 10px 10px 10px 10px !important; }

.TableCheckBox.v-table-TableCheckBox .checkbox {
  padding-left: 0px !important; }

.stpl .bootstrap .responsivePagedTable .v-label {
  min-width: 50px !important;
  width: auto !important; }

.stpl .bootstrap .responsivePagedTable .v-textfield-pagedtable-pagefield {
  min-width: 22px !important;
  width: 22px !important; }

.stpl .bootstrap .responsivePagedTable .pagedtable-button {
  padding: 0 5px; }

.stpl .bootstrap-bb .v-verticallayout-dataTransferGridForIFP .v-button {
  margin: -4px 10px 10px 10px !important; }

.stpl .bootstrap-bb .v-horizontallayout-dataTransferGrid .v-button {
  margin: 10px 10px 10px 10px !important; }
.stpl .bootstrap-bb .v-horizontallayout-responsiveTabGrid .v-select-optiongroup-horizontal~.v-button,.stpl .bootstrap-bb .v-horizontallayout-responsiveTabGrid .v-select-optiongroup-horizontal~input[type="text"]
{
	margin-left:10px;	
}
#bexs_null_null {
  display: none; }

.stpl .bootstrap-bb .v-label {
  width: 180px;
  min-width: 180px; }

.stpl .bootstrap-bb .v-filterselect {
  min-width: 199px;
  max-width: 199px;
  width: 199px; }

/* For AC file mgmt table*/
.stpl .v-table-header-wrap, .stpl .v-table-footer-wrap, .stpl .v-table-header-drag {
  background-color: #f2f2f2 !important;
  background-image: linear-gradient(to bottom, #f8f8f8 0%, #ececec 100%);
  font-size: 12px !important;
  font-weight: bold !important; }

/*Added for the table filter buttons */
.stpl .bootstrap .filters-wrap .v-button:hover, .stpl .bootstrap .filters-wrap .v-button:active,.stpl .bootstrap .filters-wrap .v-button.v-popupbutton.v-pressed {
  color: #3876ac;
  background-color: #fff;
  border-bottom: 2px solid #99AABA;
  border-radius:0;
  height:37px !important ; 
  }

.stpl .bootstrap .filters-wrap .v-button {
  color: #a3a3a3;
  background-color: #fff;
  border: 1px solid #b5b5b5;
  text-align: left;
  font: 14px/16px "Segoe UI",Arial,Helvetica,sans-serif; 
  padding-left:2px;
  border-radius:0;
  height:37px; 
  }
.stpl .bootstrap .filters-wrap .v-filterselect
{
  max-width: initial;
} 
.stpl .bootstrap .filters-wrap .datefilterpopup .v-popupbutton .v-popup-indicator {
    height: 26px;
    background-position: -5px -6px;
}
.stpl .bootstrap .filters-wrap .v-button .v-button-caption
{
    font: 14px/26px "Segoe UI",Arial,Helvetica,sans-serif;
    text-shadow: none;
    height: 28px;
    padding-top: 0;
}
.stpl .bootstrap-bb .v-filterselect {
  min-width: 199px;
  width: 206px; 
  margin-bottom:5px;

}
.stpl .v-table-caption-container, .stpl .v-table-header-drag
{
	font-weight:600;
}

/* For AC File Management */
.stpl .fileMgmt .massupdate .v-label {
  min-width: 70px;
  width: 70px; }

.width-auto {
  width: auto !important; }

.stpl .bootstrap-forecast .v-textfield {
  height: 26px;
  width: 199px; }

.stpl .bootstrap-forecast .ds-selection .v-panel {
  width: auto !important; }

.stpl .bootstrap-forecast .ds-selection .v-panel .v-panel-content {
  margin: 0px 12px 0px 0px; }

.stpl .bootstrap-forecast .projectionTable .freeze-paged-filter-tree-table {
  background: #f1f1f1; }

.stpl .bootstrap-forecast .projectionTable .filters-panel .v-filterselect {
  height: inherit; }

.stpl .bootstrap-forecast .projectionTable .filters-panel .v-filterselect [class*="input"] {
  max-width: 100%; }

.stpl .bootstrap-forecast .projectionTable .filters-panel .v-filterselect .v-filterselect-input {
  padding-right: 0px; }


.stpl .bootstrap-forecast .projectionTable .v-table-body {
  overflow-x: scroll; }

.stpl .triple-filtertable .filters-panel, .stpl .v-window .triple-filtertable .filters-panel {
  height: 38px !important; }

.stpl .triple-filtertable .filters-panel input.v-textfield.v-widget, .stpl .v-window .triple-filtertable .filters-panel input.v-textfield.v-widget {
  height: 38px !important; }

.stpl .nmAssumptionsDivider {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px; }

.stpl .bootstrap-forecast .alternateHistoryLookup {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px; }

.stpl .bootstrap-nm .pmpy .adjust-label .v-label {
  width: 150px; }

#rightAligned, .stpl .bootstrap-nm .pmpy .float-right {
  float: right; }

.stpl .bootstrap-nm .pmpy .pmpycriteria {
  margin-top: 8px;
  margin-left: 6px; }

.stpl .adjustCaption .v-caption {
  margin-top: 6px; }

.stpl .dataselection .v-label, .stpl .nmDiscountProjection-adjust .v-label {
  width: 115px; }

.adjust {
  width: 2px; }


/* Custom Window newstyle */
.stpl .v-window-minimizebox, .stpl .v-window-minimizebox:active, .stpl .v-window-minimizebox:hover {
  color: #fff !important;
  background: #428bca !important; }

.spaceLayout .v-label {
  width: 120px; }


.spaceLayout {
  margin-top: 7px;
  margin-bottom: 7px; }

.bootstrap-forecast .custom-table-header-alignment .v-table-captionspans-container {
  float: none;
  margin-left: 0px; }

.v-textfield-txtRightAlign {
  text-align: right !important; }

/* For AC file mgmt table*/
.stpl .bootstrap-admin-console .v-filterselect {
  border-radius: 1px;
  height: 40px;
  margin-bottom: 10px;
  position: relative;
  white-space: nowrap; }

.stpl .horizontalLayoutButton {
  padding-top: 10px; }

.admin-responsive .v-select-optiongroup {
  width: 199px; }

.v-label.v-widget.v-label-undef-w.leftalign {
  text-align: left; }


.move-button-group-allignment-ifp {
  margin-top: 35px;
  margin-bottom: 35px; }

.move-button-group-allignment-ps {
  margin-top: 90px;
  margin-bottom: 90px; }

.stpl .forecast-dataselection .v-label {
  width: auto; }

.stpl .forecast-sales-projection .v-label {
  width: 125px; }


.stpl .forecast-sales-projection-results .v-label {
  width: 155px; }

.stpl .forecast-discount-projection .v-label, .stpl .forecast-assumptions .v-label, .stpl .forecast-additional-info .v-label, .stpl .forecast-ppa .v-label {
  width: 115px; }

.stpl .forecast-discount-projection-results .v-label, .stpl .forecast-ppa-results .v-label, .stpl .forecast-projection-results .v-label, .stpl .forecast-projection-variance .v-label {
  width: 135px; }

.forecast-tab-adjust .v-button, .stpl .forecast-dataselection .ds-rt-margin {
  margin-right: 10px !important; }

.test {
  width: 0px; }

.stpl .bootstrap-ac .v-label.v-widget.v-has-width {
  text-align: right; }

.stpl .bootstrap-adminConsole .v-label {
  padding-right: 5px; }

.qualifierlable {
  width: 183px !important; }

.valo-theme-extfiltertable .v-table-captionspans-container {
  margin: 3px 0px 0px; }

.stpl .valo-theme-extfiltertable .v-table-header-wrap .v-checkbox, .stpl .valo-theme-extfiltertable .v-table-header-wrap .v-radiobutton {
  float: left; }


/* popup screen align */

.v-window.v-widget.v-has-width.v-has-height.bootstrap.v-window-bootstrap.bootstrap-bb.v-window-bootstrap-bb.fileMgmt.v-window-fileMgmt.popupwinwidth.v-window-popupwinwidth {
    /*width: 80% !important;*/
}
.v-panel-filelookup-leftpanel .excepttable .v-label {
    min-width: 125px !important;
    width: 115px !important;
}

.v-panel-filelookup-leftpanel .excepttable  input[type="text"] {
    width: 170px !important;
}

.v-panel.v-widget.filelookup-leftpanel.v-panel-filelookup-leftpanel.v-has-width.v-has-height {
   /* width: 47%!important;
	padding:10px;
	height:842px!important;*/
}

.v-panel.v-widget.filelookup-leftpanel .v-horizontallayout.v-layout.v-horizontal.v-widget.responsiveTabGrid.v-horizontallayout-responsiveTabGrid, .v-panel.v-widget.filelookup-rightpanel .v-horizontallayout.v-layout.v-horizontal.v-widget.responsiveTabGrid.v-horizontallayout-responsiveTabGrid {
    padding: 10px;
}

.v-panel.v-widget.filelookup-leftpanel .v-table-captionspans-container {
    margin-left: 0;
}

.v-panel-filelookup-leftpanel  .excepttable .v-datefield {
    min-width: 175px !important;
    width: 175px !important;
}

.v-panel-filelookup-rightpanel .excepttable .v-label {
    min-width: 110px !important;
    width: 110px !important;
	text-align:right;
}

.v-panel-filelookup-rightpanel .excepttable .v-textfield {
    width: 145px!important;
}

.v-panel-filelookup-rightpanel .v-filterselect.v-disabled.v-widget {
    min-width: 150px;
    width: 150px;
}

.v-panel.v-widget.filelookup-rightpanel.v-panel-filelookup-rightpanel.v-has-width.v-has-height {
    /*width: 47%!important;
	height:auto!important;*/
}
.v-panel-content.v-panel-content-filelookup-leftpanel.v-scrollable, .v-panel-content.v-panel-content-filelookup-rightpanel.v-scrollable {
    overflow: hidden;
}

.v-panel-filelookup-rightpanel .excepttable .v-radiobutton.v-select-option {
    display: inline-block;
}
.v-panel-filelookup-rightpanel .stpl .bootstrap-bb .v-filterselect {
    min-width: auto;
    width: auto;
}
.v-panel-filelookup-rightpanel .stpl .bootstrap-admin-console .v-filterselect {
height:auto;
min-width: auto;
width: auto;
}
.v-panel-filelookup-leftpanel .v-csslayout.v-layout.v-widget {
    padding-top: 10px;
}
.v-panel-filelookup-rightpanel .v-csslayout.v-layout.v-widget {
    padding-top: 10px;
}
.v-horizontallayout.v-layout.v-horizontal.v-widget.v-margin-top.v-margin-right.v-margin-bottom.v-margin-left {
    padding: 10px !important;
}
.v-csslayout.v-layout.v-widget.v-has-width.rightsummary {
    width: 77% !important;
}
.rightsummary .v-label.v-widget.v-has-width {
    width: 175px !important;
}
/*
.v-panel-filelookup-leftpanel .v-table-header-cell {
    min-width: 170px !important;
    width: 170px;
}

.v-panel-filelookup-leftpanel .v-table-captionspans-container {
    margin-left: 10px;
}
.v-panel-filelookup-rightpanel .v-table-header-cell {
    min-width: 185px!important;
}
.v-panel-filelookup-rightpanel .v-textfield .v-widget .v-textfield-prompt {
min-width:185px!important;
}*/
.v-panel-filelookup-rightpanel .filters-panel .v-filterselect-input, .v-panel-filelookup-rightpanel .filters-panel .v-filterselect-button {
    height: 38px !important;
}
/*.v-panel-filelookup-rightpanel .v-textfield.v-widget.v-textfield-prompt {
    width: 185px !important;
}*/

.fileManagementLookupTable .v-filterselect{
  min-width: 38px !important;
}

.fileManagementLookupTable .v-textfield{
  min-width:10px !important;
}
.fileManagementLookupTable .v-filterselect-input{
max-width: 100% !important;
}
.button-padding {
    margin-right: 10px ! important;
} 

.contract-dashboard-contract-no {
    min-width: 90px!important;
    width: 90px!important;
}
.stpl .filters-wrap .v-filterselect {
  min-width: 0 !important; }

.stpl .filters-wrap .v-filterselect [class*="input"] {
  height: 38px !important; 
  max-width: 100%; }

.stpl .filters-wrap .v-filterselect [class$="button"] {
  height: 44px; }

.v-table-freeze-spacer {
  min-height: 1px;
}

.labelresultalign {
  text-align: left !important; }
  
.v-panel-alternate-history-panel .v-panel-content {
	padding: 8px 8px 0 8px !important;}
	
.v-horizontallayout-component-layout{
 padding: 8px 4px 4px 4px !important;}
 
 .stpl .selection-panel .v-slot-comboxsize,.stpl .selection-panel .v-textfield{
margin-top: 5px;}

.v-textfield.searchicon  {
	background-image: url(../../images/stpl/imgsearchh-icon.png);
	background-position:right;
	background-repeat:no-repeat;
	cursor:pointer;
}

.v-textfield-fieldPosition {
  margin-top: 50px !important;
  left: -1px;
}

	
.stpl .bootstrap .responsivePagedTable .v-filterselect-pagedtable-itemsperpagecombobox
 {
  min-width: 90px;
  width: 90px;
 }
 .stpl .bootstrap .responsivePagedTable .v-label {
  width: initial;
  min-width: initial;
 }

.stpl .bootstrap .responsivePagedTable .v-textfield-pagedtable-pagefield {
  width: 40px !important;
 }

.stpl .bootstrap .responsivePagedTable .v-csslayout div, .stpl .bootstrap .responsivePagedTable .v-csslayout input 
{
  vertical-align: middle;
  margin: auto;
}

.v-panel-na-baseline-methodology {
  width: 50% !important; }
 
 .uploadIdBB input[type="file"] {
opacity: 0;
width: 210px;
height: 23px;
padding: 0;
margin: 0; 
vertical-align: top;
display: inline-block;
}
.navbar-static-top.dockbar {
  position: static!important;
}

.stpl .bootstrap-bb .minWidth50px .v-label {
		min-width: 50px; 
}

/* Media Queries for admin console file management */

@media (min-width: 1911px) {
    .sidebar-max  .filemanagement-index .v-horizontallayout-responsiveGrid{
        width:1585px;
    }
}
@media (min-width: 1911px) {
    .sidebar-min  .filemanagement-index .v-horizontallayout-responsiveGrid{
        width:1585px;
    }
}
@media (min-width: 1430px) {
    .sidebar-max .filemanagement-index .v-horizontallayout-responsiveGrid{
        width:1585px;
    }
}
@media (max-width:1551px) and (min-width:1910px) {
    .sidebar-max .filemanagement-index .v-horizontallayout-responsiveGrid{
        width:1550px;
    }
}
@media (max-width:1280px) and (min-width:850px) {
    .sidebar-min .filemanagement-index .v-horizontallayout-responsiveGrid {
        width:800px;
    }
}

@media (max-width:1430px) and (min-width:1040px) {
    .sidebar-max .filemanagement-index .v-horizontallayout-responsiveGrid {
        width:800px;
    }
}

@media (max-width: 850px) and  (min-width: 420px) {
    .sidebar-min .filemanagement-index .v-horizontallayout-responsiveGrid {
        width:400px;
    }
}

@media (max-width:1040px) and (min-width:420px) {
    .sidebar-max .filemanagement-index .v-horizontallayout-responsiveGrid {
        width:400px;
    }
}

@media (max-width:420px) {
    .v-horizontallayout-responsiveGrid{
        width:220px;
    }
}
.nameAlign {
  text-align: left !important;
}


/* updated Media Queries for search criteria in file management*/
@media (min-width: 1595px) {
  .sidebar-max .v-horizontallayout-responsiveGridFileMgntSearch {
    width: 1250px; } }
@media (max-width: 1595px) and (min-width: 1040px) {
  .sidebar-max .v-horizontallayout-responsiveGridFileMgntSearch {
    width: 625px; } }
@media (max-width: 1040px) and (min-width: 420px) {
  .sidebar-max .v-horizontallayout-responsiveGridFileMgntSearch {
    width: 400px; } }
@media (min-width: 1440px) {
  .sidebar-min .v-horizontallayout-responsiveGridFileMgntSearch {
    width: 1250px; } }
@media (max-width: 850px) and (min-width: 420px) {
  .sidebar-min .v-horizontallayout-responsiveGridFileMgntSearch {
    width: 400px; } }
@media (max-width: 1440px) and (min-width: 850px) {
  .sidebar-min .v-horizontallayout-responsiveGridFileMgntSearch {
    width: 625px; } }
	
@media (max-width: 420px) {
  .v-horizontallayout-responsiveGridFileMgntSearch {
    width: 220px; } }

 .filemanagement-selectedfile {
	width: 100px !important;
	min-width: 100px !important;
  }
  
    
.v-textfield.searchText-nonabsolute {
  background-image: url(../../images/stpl/imgsearchh-icon.png);
  background-position: right;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 0;
  margin: 0;
 /* position: absolute;
  height: 26px;
  width: 200px; */
  color: black !important;
  opacity: 5 !important;
  padding-right: 20px !important; }
  
  
  .lableright{
  text-align: right !important;
  }
  .stpl .comparisonlookup{
  padding-bottom:37px;
  padding-top:37px;  
  }
  .stpl .v-label-mandatoryField {
white-space:nowrap !important;
}
.labelwidthadjust{
   width: 120px !important;
   min-width: 120px !important;
 }
 .noteslabel{
   width: 115px !important;
   min-width: 115px !important;
 }
 .noteshistory{
   width: 100px !important;
   min-width: 100px !important;
 }
 .addAttachment{
   width: 120px !important;
   min-width: 120px !important;
 }
 .attachment{
   width: 100px !important;
   min-width: 100px !important;
 }
 .filenamelable{
   width: 95px !important;
   min-width: 95px !important;
 }
 .stpl .v-panel-content-attachmentpanel {
min-height: 423px;


}
 
 .table-header-center .v-table-caption-container{
text-transform: capitalize !important;
text-align: center !important;
}

.dateField-align-center .v-datefield-textfield{
  text-align: center !important;
}

.v-textfield-txtRightAlign{
text-align:right !important;
}
@media (min-width: 1150px) {
  .NavButtonsCFP {
    width: 92px !important; } }
@media (max-width: 1150px) {
  .NavButtonsCFP {
    width: auto !important; }
.v-horizontallayout-dataTransferGrid {
    width: 870px; } }
	

@media (min-width: 1300px) {
  .sidebar-min .v-horizontallayout-responsiveTabGridPS {
    width: 1200px; } }
@media (min-width: 1450px) {
  .sidebar-max .v-horizontallayout-responsiveTabGridPS {
    width: 1200px; } }
@media (max-width: 1300px) and (min-width: 870px) {
  .sidebar-min .v-horizontallayout-responsiveTabGridPS {
    width: 800px; } }
@media (max-width: 1450px) and (min-width: 1060px) {
  .sidebar-max .v-horizontallayout-responsiveTabGridPS {
    width: 870px; } }
@media (max-width: 870px) and (min-width: 440px) {
  .sidebar-min .v-horizontallayout-responsiveTabGridPS {
    width: 400px; } }
@media (max-width: 1060px) and (min-width: 450px) {
  .sidebar-max .v-horizontallayout-responsiveTabGridPS {
    width: 400px; } }
@media (max-width: 450px) {
  .v-horizontallayout-responsiveTabGridPS {
    width: 220px; } }

/* Forecast dashboard styles start */
	
	.stpl  .forecast-dashboard .v-button {
  height: 46px;
  /* color: #197de1 !important; */
  font-weight:400;
}

.stpl .remove-Text-Decoration{
text-decoration: none;
}

.forecastDashBoard .portlet {
  /*background-color: #549ed1; */
  color: white;
  /*border: 2px;
  border-color: cornflowerblue;
  border-style: solid;*/
  background-color: #5284bb; /* Old browsers */
  }
  
 .forecastDashBoard .portlet-title {
  margin-left: 10px;
  font-size: 18px;
  line-height: 25px;
}

.v-panel-content-center > div {
  text-align: center;
  margin: auto;
}

.forecastDashBoard .portlet-topper {
  position: relative;
  /* border-bottom: 2px solid #3875a0; */	
}

.forecastDashBoard  .v-verticallayout-mainLayout .v-slot {
    padding-right: 0px;
}

.forecastDashBoard .portlet-boundary{
     margin-bottom: 5px;
}

.forecastDashBoard .v-button-selected {
  border-color: #197de1;
  -webkit-box-shadow: 0 0 0 2px rgba(25, 125, 225, 0.5);
  box-shadow: 0 0 0 2px rgba(25, 125, 225, 0.5);
  transition: none;
}

.forecastDashBoard .forecastConfigLabelComponent{
  background-color: #d5eeff;
  border-bottom: 2px solid #8fbbdd;
  border-top: 2px solid #8fbbdd;
  text-align: center;
  width:100%;
  margin-bottom:5px;
  margin-top:10px;
  padding:5px;
  }
 
 .optiongroupwidth .v-select-option{
width:80px !important;
}
.disablelabel .v-radiobutton-disabled label{
  opacity: 1;
}
.disablelabel .v-radiobutton-disabled label:before{
  visibility: hidden;
}
.disablelabel .v-radiobutton-disabled input{
  visibility: hidden;
}  

.v-textfield-fieldPositionWac {
  top: 19px !important;
  }
.v-filterselect-fieldPositionfreq {
   margin-top: -28px !important;
  }
 
.table-header-height .v-table-header {
height:40px !important;
}
.v-filterselect-fieldPositionWac {
  top: 19px !important;
  }

  
  .stpl .bootstrap-bb .minWidth10px .v-label {
		min-width: 10px !important; 
}

  .leftMagin{
  margin-left:4px !important
  }
	
	.left-table .v-table-table{
	width: 100%;
}
	
/*  .stpl .center-check.valo-theme-extfiltertable .v-table-header-wrap .v-checkbox , .stpl .valo-theme-extfiltertable .v-table-header-wrap  {
float:none;
}*/




.stpl .center-check .v-table-header-wrap .hascheckbox .v-table-caption-container-align-center .v-checkbox, 
.stpl .center-check .v-table-header-wrap .v-table-caption-container-align-center .v-table-captionspans-container {
	float: none; 
  }

   .stpl .bootstrap-bb .mvRgt{
 float:right;
 }
 
 .stpl .bootstrap-bb .fromTo{
	width: 40px;
	min-width: 40px;
 }

.stpl .bootstrap-bb .levelField{
 width: 168px;
  min-width: 168px;
 }
 
 .v-gridlayout .v-layout .v-widget.v-gridlayout-slot .hierarchyDdlb{
 left: 180px; top: 0px;
 }
  .stpl .bootstrap-bb .mandatory:after
{
    content: "*";
	color: #ed473b;
}
.stpl .bootstrap-bb .UpdatedInflation{
	width: 184px;
	min-width: 184px;
}
.excludeNullPadding {
 left: -102px !important;
}

.stpl .bootstrap-bb .UpdatedInflationLabel{
 width: 184px;
  min-width: 184px;
 }
 .stpl .bootstrap-bb .ReportOpDesc{
 width: 184px;
  min-width: 184px;
 }.stpl .v-select-optiongroup-ScenarioGrpType .v-radiobutton {
 margin-left: 0px;
 }
 .doNotDelete {
 left: -218px !important;
}
.v-slot-pi-mass-update-comp-layout{
  padding-top: 5px;
  padding-left: 10px;
}

.v-label-pi-mass-update-label{
    width: 50px !important;
    min-width: 40px !important;
	max-width: 80px !important;
}

.v-textfield-change-font-color{
color: red !important;
}

.v-table-cell-content-edited-cell .v-table-cell-wrapper .v-textfield{
color: red !important;
} 

.v-textarea-editListTextArea {
    width: 500px !important;
    height: 80px !important;  
}
	
.v-verticallayout-custom-margin {
 padding: 15px;
}	

.v-table-cell-content-notesIcon .v-table-cell-wrapper{
  background-image:url('/html/icons/notes.png'); 
  background-repeat: no-repeat;
}

.stpl .v-table-captionspans-container 	{
    white-space: nowrap;
	min-width:100px;
 }
.v-datefield-datefieldcentered .v-textfield{
text-align: center;}

.stpl .v-menubar-custommenumulticheck {
    width: 178px;
    /* border: 1px solid #f00; */
    border-radius: 0px;
    height: 30px;
    line-height: 1;
    font-size: 14px;
    padding-left: 0px;
}

.custommenumulticheck .v-menubar-menuitem{
padding: 0 0px !important;
}

.custommenumulticheck .v-menubar-menuitem-caption:after {
    font-size: 1.2em !important;
   border-left: 1px solid #ccc;
    padding: 0px 8px; 
    line-height: 1.5;
    /* padding-top: 10px; */
    margin-left: 1.3em !important;
	padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 6px;
}

.custommenumulticheck .v-menubar-menuitem-checked .v-menubar-menuitem-caption ,.v-menubar-menuitem-unchecked  .v-menubar-menuitem-caption{
	padding-left: 30px !important;
}


.custommenumulticheck .v-menubar-menuitem-caption{
	    color: #171515 ;
		padding-left: 6px;
}

.custommenumulticheck .v-menubar-menuitem-selected{
	border-radius: 0px !important;
	background-image: linear-gradient(to bottom, #fafafa 2%, #efefef 98%) !important;
    background-color: #D9DCDE !important;
    box-shadow: inset 0 0px 0 #4d98e6, inset 0 0px 0 #166bca !important;
	-webkit-box-shadow: inset 0 0px 0 #4d98e6, inset 0 0px 0 #166bca !important;
	border: 0px !important;
}

.labelsize{  
   width: 90px;
   min-width: 80px;
  -moz-user-select: text;
   padding-left: 2px;
   padding-right: 12px;
   text-align: right;
   white-space: normal;
   font: 14px/24px "Segoe UI",Arial,Helvetica,sans-serif;
}

.table-header-padding .v-table-header .v-table-caption-container {
line-height:0;
}

.v-filterselect-suggestpopup-popupContentComboSize .popupContent{
width:auto !important;
}
.LeftAlignImportant .v-table-captionspans-container{
	margin-left: 0px !important;
}

.stableheader .right-table .v-table-header-wrap span.v-table-captionspans-container{
    /*  float: left !important; */
    text-align: left;
}
.datefieldcentered >input{
  text-align: center;
}
.optiongroupextrawidth .v-select-option {
  width: 100px !important; }
.stpl .comboBox-Allignment .v-filterselect {min-width: 177px; width:151px;}
.minWidthLabelImportant {
  min-width: 50px !important; }
 
 .valo-theme-extfiltertable-center .v-table-caption-container 
{
  
        white-space: nowrap;
        
        float: left;
            
        text-align: center;

}
.v-menubar.customMenuBarWidth-199 {
	width: 199px;
    height: 26px;
    font-size: 14px;
    line-height: 21px;
    padding: 0 !important;
	margin-right: 7px;
} 
.stpl .v-menubar > .v-menubar-menuitem-selected
{
	width: 100%;
    text-align: left;
}
.v-menubar.customMenuBarWidth-199 .v-menubar-menuitem
{
	padding: 0;
    padding-left: 10px;
}

.stpl .v-menubar.customMenuBarWidth-199  .v-menubar-menuitem-caption:after
{
    font-family: FontAwesome;
    content: "\f078";
    font-size: 0.7em;
    vertical-align: 0.15em;
    margin: 0 -0.2em 0 0.5em;
    opacity: 0.5;
    position: absolute;
    left: 154px;
    width: 37px;
    font-size: 17px;
    color: #474747;
    text-align: center;
    height: 100%;
	padding-top: 1px;
}
.stpl .v-menubar > .v-menubar-menuitem-selected  .v-menubar-menuitem-caption:after
{
	color:#fff;
}
.v-menubar-submenu.v-menubar-submenu-customMenuBarWidth-199 .v-menubar-menuitem-caption
{
	padding-left:10px !important;
}



  .custommenumulticheckAlignment  {
	      /* margin-right: 7px; */
  }
  
 .custommenumulticheckAlignment.v-menubar-custommenumulticheckAlignment span.v-menubar-menuitem
 { width: 100%;
    text-align: left;
    padding: 4px 9px !important;
  
 }
  .stpl .v-menubar.custommenumulticheckAlignment.v-menubar-custommenumulticheckAlignment .v-menubar-submenu-indicator + .v-menubar-menuitem-caption:after
  {
      position: absolute;
    top: 1px;
    right: 0;
    bottom: 4px;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    padding-top: 1px !important;
	width: 19px;
  }
  
  .valo-theme-extfiltertable .filters-panel .datefilterpopup .v-popupbutton{
	  width: 100%;
  }
  
  .menuleft.v-menubar-custommenumulticheck
{
	left: 7px !important;
	
	
}

.tradeClassDdlb .v-filterselect-input {
  width: 198px !important;
}
.custommenumulticheck .v-menubar-menuitem-caption:after
{
    float: right;
    height: 26px !important;
    box-sizing: border-box;
    width: 43px !important;
    line-height: 1.3;
}
.custommenumulticheck .v-menubar-menuitem-caption
{
    /*width: 100%;*/
    display: block;
    height: 28px;
    text-align: left;
    line-height: 28px;
    font-size:14px;
}
.custommenumulticheck .v-menubar-menuitem
{
    width: 100%;
}
.custommenumulticheck .v-menubar-menuitem-caption:after {
    position: absolute;
    right: 0;
}
.tx-win-header
{
 padding-bottom:0px !important;
 padding-top: 23px !important;
}
.tx-win-header .v-caption
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
    background: #428bca;
}
 
.tx-win-header .v-captiontext
{
    line-height: 36px;
    padding-left: 12px;
    margin-right: 74px;
    color: #fff !important;
}

.width-178 .v-filterselect-input
{
                width: 178px !important;
}
.mandatory:after {
  content: "*";
  color: #ed473b; }
  
.datefilterpopup .v-popupbutton .v-popup-indicator{
	top: 50%;
	transform: translateY(-50%);
}

body[class*="modal-custom-window-"] div[id="wrapper"]{
	position:fixed;
	left:0;
	top:0;
        z-index:1;
}

/* for GlobalFiles */

.gtnGrid-DualList-Buttons.v-csslayout.v-layout.v-widget {
    margin-top: 99px !important;
    display: inline-block;
} 

.mass-populate-lyt
{
    padding-bottom:10px;
}

.mass-populate-lyt>.v-horizontallayout.gtnFrameworkCol-5.gtnGrid-single-ln-layout-1 .v-widget.v-has-caption.v-caption-on-top
{
    float:right;
}

.buttonCustomStyle-1
{
    margin-top:25px;
}

.padding-left10
{
    padding-left:10%  	
}

.iygdsaygkhya 
{
    width:100px;
    display:inline-block;
}

.gtnGrid-DualList-Buttons>div {
    margin-bottom: 19px;
    display: block;
}

.v-caption-gtnFrameworkMandatory:after {
    content: "*";
    color: #ed473b;
} 


.stpl .bootstrap-bb .profile {
 min-width: 10px !important;
}


.v-csslayout.v-layout.v-widget {
    margin-left: 6px ;
    margin-right: 6px ;
    margin-bottom: 6px !important;
    margin-top: 6px !important;
}

.filedRightMargin{
	 height: 30px !important;
    width: 173px !important;
    margin-right: 10px !important;
	
}

.filters-wrap .filters-panel .v-button {
    width: 100%;
}
.buttonCustomStyle{
	 margin-top: 6px !important;
	 margin-bottom: 6px !important;
	 margin-left: 10px !important;
	 margin-right: 10px !important;
	
}

/* Commanded because not required in new theme
.stpl .bootstrap-forecast .v-textfield {
       height: 30px !important;
    width: 173px ;
    margin-right: 10px ;
}
.stpl .bootstrap-nm .v-filterselect{
    height: 30px !important;
    width: 179px ;
    margin-right: 3px ;
} */


/* For Returns ForesCast */
.panel-time-period-rtn-for {
  margin-top: 15px; }

.panel-time-period-rtn-for .v-panel-content {
  padding-top: 12px;
  padding-bottom: 12px; }

.panel-time-period-rtn-for .gtnGrid-single-ln-layout .v-slot .v-caption {
  text-align: left;
  padding-left: 10px;
  width: 60px !important;
  min-width: 60px !important; }

.gtn-massupdate .gtnGrid-single-ln-layout-1 .v-slot .v-widget .v-caption {
  min-width: 130px !important;
  width: 130px !important; }

.gtn-massupdate > .gtnGrid-single-ln-layout-1 {
  width: 18%; }

.remove-left-spacing-level .v-slot .v-widget .v-caption {
  width: 100px !important;
  min-width: 100px !important; }

.stpl .v-table-cell-content {
    padding-left: 1px;
    -webkit-padding-start: 0px;
}
.custommenumulticheck {
    min-width: 180px;
}
.hideLabel span:nth-child(6) label::before, .hideLabel span:nth-child(6) label::after, .hideLabel span:nth-child(3) label::before, .hideLabel span:nth-child(3) label::after {
display: none;
visibility: hidden;
opacity : 100;
background : white
}

